<div class="inner-block">
  <h2 class="text text--heading text--large">Claiming for abuse, physical or sexual</h2>
  <p class="text">Every single instance of sexual or physical abuse is different and it can happen to anyone. We understand how hard it can be to talk to someone about what you've suffered. So when you're ready, one of our compassionate and understanding solicitors will be here ready to talk to you. Below are some of the most common forms of abuse our specialists have dealt with:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Abuse suffered as a child in local authority or foster care, or failure by social services to protect a child from abuse
    </li>
    <li class="bullet-list__item">
      Abuse suffered as a child by someone who's in a position of responsibility and trust, such as a priest, teacher or sports coach
    </li>
    <li class="bullet-list__item">
      Abuse suffered as a child within organisations such as sporting clubs and scout groups
    </li>
    <li class="bullet-list__item">
      Abuse suffered within the family
    </li>
    <li class="bullet-list__item">
      Abuse or assaults by doctors and medical professionals 
    </li>
    <li class="bullet-list__item">
      Abuse of elder/older people by a health professional, member of staff, visitor, or another care home resident
    </li>
    <li class="bullet-list__item">
      Abuse suffered as an adult
    </li>
    <li class="bullet-list__item">
      A single incident of a sexual or physical assault
    </li>
  </ul>
  <p class="text">If the above or a similar situation has happened to you or a loved one, our legal experts are here to listen. <a href="/personal-injury-claim/sexual-criminal-abuse/confidentiality-anonymity/" class="link link--inline"><span class="link__text">Read more about confidentiality and anonymity here</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Claiming for injuries caused by a violent crime</h2>
  <p class="text">If you've been injured severely due to a violent crime we may be able to help you claim rightful compensation through the Criminal Injury Compensation Authority (CICA). Slater and Gordon are one of the UK's leading injury compensation specialist law firms, and one of our helpful lawyers are here to talk to you about your incident as soon as you are ready. We'll be able to advise on whether or not you have a case and how best to proceed.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is CICA?</h2>
  <p class="text">CICA stands for Criminal Injury Compensation Authority. It's an arm of the UK Government, designed to help innocent victims of abuse and violent crime claim for rightful compensation. For more information on <a href="/personal-injury-claim/sexual-criminal-abuse/abuse-criminal-injury/cica-faq/" class="link link--inline"><span class="link__text">the CICA claims process click here</span></a>, alternatively contact one of our legal experts today. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much compensation am I likely to receive?</h2>
  <p class="text">The amount of compensation you are likely to receive for an abuse claim differs significantly as every case is different, so until we know the circumstances of your claim it's impossible to say. However, your claim will be dealt with by one of our specialists in abuse law who will provide advice on how much you are likely to receive once they have all the circumstances.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long do I have to make a claim?</h2>
  <p class="text">Generally, the time limit for pursuing a claim for personal injury in the UK is three years. However, there are exceptions for cases of abuse, so even if it happened a very long time ago, it's still possible to make a claim for compensation. So, please don't worry if your case happened a long time ago. Speak to one of our specialists in confidence today about making a compensation claim.</p>
</div>
