<div class="inner-block">
  <p class="text"> Slater and Gordon has extensive experience of supporting those who have suffered from abuse and criminal injury. The damage caused by abusers and violent criminals can have a long lasting effect on your life or that of a loved one. Our service is guaranteed to be confidential, and our specialist lawyers aim to bring you justice and compensation.Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts.</p>
</div>
