<div class="inner-block">
  <h2 class="text text--heading text--large">What should you do if you have an accident and it's your fault?</h2>
  <p class="text">If you have a road traffic accident that was your fault you must contact your insurers as soon as you're able. They will then deal with the matter on your behalf.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if you're accused of a road traffic offence?</h2>
  <p class="text">Road traffic offences are defined under the Road Traffic Acts and other relevant legislation. Usual offences are careless driving, dangerous driving and causing death by dangerous driving. <a href="/driving-offences/dangerous-and-careless-driving/" class="link link--inline"><span class="link__text">You can read more on defending dangerous driving charges here</span></a>.</p>
  <p class="text">The police will investigate the matter to determine who was at fault. If they find that they have sufficient evidence to convict you they will forward the case to the CPS (the Crown Prosecution Service). The CPS will then decide whether you should be charged with the offence.</p>
  <p class="text">Depending on the terms of your insurance policy, your insurers may arrange for a lawyer to represent you when being interviewed by the police and at any court hearing. Where the offence is causing death by dangerous driving, they may also provide representation at the inquest. The maximum penalty for the offence of death by dangerous driving is a custodial sentence, meaning you may face spending time in prison. It is therefore strongly recommended that you have a lawyer present with you during any interview or hearing. </p>
  <p class="text">If the terms of your insurance policy don't include representation, you can seek alternative legal advice from a specialist lawyer who deals with road traffic defence.</p>
  <p class="text"><a href="/media-centre/blog/2018/03/car-accidents-determining-fault-by-location-of-damage/" class="link link--inline"><span class="link__text">We have written this handy guide</span></a>, on determining fault by location of damage to vehicles involved in a collision.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if you were only partially at fault for the accident?</h2>
  <p class="text">There are cases where both parties are partially to blame and neither are willing to accept full responsibility for the accident. In legal terms, liability means who is at fault for the accident and where parties can't agree, this is known as a 'liability dispute'.</p>
  <p class="text">The way in which liability dealt with is by both parties gathering evidence in support of their liability claim. This is why it's so important to ensure you obtain the contact details of any independent witnesses who may have seen the accident take place. Photographs and other evidence taken at the scene may also assist.</p>
  <p class="text">Lawyers for each party will then negotiate based on their evidence. If they come to an agreement it's likely that they'll agree a split liability. This means that blame will be apportioned to each party as a percentage. For example, if you were found 25% to blame for the accident, it would be a 75/25 split on liability in your favour.</p>
  <p class="text">If parties are unable to reach an agreement on liability, the case would go to a liability hearing at court where a judge would make the decision.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How does compensation work when there's a split in liability?</h2>
  <p class="text">If you were to make a compensation claim, and were held 25% liable for the accident, you would only receive 75% of the compensation you were awarded. For example, if your claim was valued and settled at £10,000, the compensation which would be awarded to you would be £7,500.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">A guide to motor insurance legal policy</h2>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/guide-to-insurance-and-motor-claims/" class="link link--inline"><span class="link__text">Step 1: Taking out motor insurance and what to do if you are involved in an accident</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/legal-expense-insurance-claims/" class="link link--inline"><span class="link__text">Step 2: How can I pay for my claim and what can I claim for?</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/accident-fault/" class="link link--inline"><span class="link__text">Step 3: Determining who was at fault for a road traffic accident</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/process/" class="link link--inline"><span class="link__text">Step 4: Road traffic accident claims process</span></a></p>
</div>
