<div class="inner-block">
  <h2 class="text text--heading text--large">I've had an accident at work. Can I claim?</h2>
  <p class="text">Many workplaces are dangerous to a certain extent, which is why there are now <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">strict health and safety rules to govern</span></a> everything from how needles are disposed of in hospitals to who is allowed to build scaffolding on construction sites. Unfortunately, safe working practices aren't always followed and safety equipment isn't always up to scratch. In these cases, accidents can and do happen, often leaving workers with serious injuries or illnesses that can lead to loss of earnings, and sometimes even loss of life. That's when you need to talk to a legal firm with the experience to help you seek the compensation you deserve.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Will I have to pay to make a compensation claim?</h2>
    <p class="text">We believe that everyone should be able to afford justice when they are injured through no fault of their own. That's why we handle almost all personal injury cases on a<a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text"> No Win No Fee basis</span></a>. This means there'll be no cost to you if you were to lose you case and therefore, seeking justice will have no financial risk.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Is my employer responsible for my accident at work?</h2>
    <p class="text">Even if your accident was caused by a colleague's actions or negligence, your employer is ultimately responsible for keeping you from harm in the workplace. That shouldn't put you off from making a compensation claim for an accident at work. Every employer, by law, has to have <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">employers' liability insurance</span></a>, to make sure they can pay compensation for any accidents at work that result in illness or injury, without it affecting the firm financially.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What is my accident at work claim worth?</h2>
    <p class="text">Naturally, every compensation claim depends on the <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">seriousness of the injury</span></a> as well as the chances of you making a full recovery. Other factors that might affect the value of your claim might be lost earnings or any unexpected medical expenses you may have had. Our goal is always to get you the highest possible amount of compensation to ensure you can move on with your life.</p>
</div>
