<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for an accident on a plane?</h2>
  <p class="text">Air travel is incredibly safe, with serious accidents few and far between. Having said that, we have acted for many clients who have been injured during business and holiday flights in the UK and abroad. Typically, this involves:</p>
  <p class="text">·   Overhead locker door injuries</p>
  <p class="text">·   Overhead baggage falling</p>
  <p class="text">·   Slips or trips – on or off the plane</p>
  <p class="text">·   Burns or scalds from food service</p>
  <p class="text">·   Trolley accidents</p>
  <p class="text">·   In-flight turbulence</p>
  <p class="text">·   Heavy landings</p>
  <p class="text">·   Injuries caused by other passengers</p>
  <p class="text">·   Allergy reaction to in-flight meals </p>
  <p class="text">Naturally, there are also many other ways in which injuries can arise from an aeroplane flight. So if you have been harmed on a plane and feel that someone else was to blame, ask us about making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee Claim</span></a> today. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for domestic flights as well as overseas flights?</h2>
  <p class="text">When you're injured on a plane, it doesn't really matter whether you are flying inside the UK or abroad. That's because of something called <a href="/personal-injury-claim/holiday-accident-claims/travel-conventions-treaties/" class="link link--inline"><span class="link__text">the Montreal Convention 1999</span></a>. The Montreal Convention 1999 governs international carriage by air and imposes a form of strict liability on the airline in respect of accidents causing injury.</p>
  <p class="text">At first glance the regime seems to be very consumer friendly but matters get a little trickier when attempting to establish that an accident has occurred. This is because the passenger needs to prove:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      The accident itself was unusual or unexpected (outside the ordinary course of events)
    </li>
    <li class="bullet-list__item">
      The accident was external to the passenger (it was not caused due to their internal reaction i.e. Deep Vein Thrombosis)
    </li>
    <li class="bullet-list__item">
      The accident took place upon the aircraft or during the process of embarkation or disembarkation
    </li>
  </ul>
  <p class="text">A few examples of accidents of common accidents, for which the Convention usually allows you to claim are; being hit by luggage from the overhead locker, or being struck by the drinks trolley.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Is there a time limit to claim?</h2>
  <p class="text">The Montreal Convention 1999 has a strict time limit for which you can bring a claim, which is two years from the date of the accident. It is advisable, however, that if you have been injured upon an aircraft, or during embarkation, or disembarkation, that you seek advice on making a claim without delay.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
  <p class="text">It's difficult to say how much compensation you might receive for an injury that resulted from a flight as it depends on the extent of your injuries and how long it's expected a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any lost earnings as well as the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment or rehabilitation</span></a> that may be required.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long does a compensation claim take?</h2>
  <p class="text">This all depends on how <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">serious your injuries are</span></a> as well as whether the airline accepts responsibility. However, we always aim to pursue justice for our clients as quickly and efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin rehabilitation as soon as possible.  </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div>