<div class="inner-block">
  <h2 class="text text--heading text--large">Asbestosis, mesothelioma and other related lung conditions</h2>
  <p class="text">Asbestos can cause serious lung conditions which can be both life changing and devastating. If you've been exposed to asbestos and are now suffering from an asbestos related condition, call Slater and Gordon. We are one of the UK's leading asbestos compensation specialists, with experienced lawyers who could help you on a No Win No Fee basis. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Am I at risk of asbestosis?</h2>
  <p class="text">If you've been exposed to asbestos during your working life, there are significant risks that you could develop mesothelioma or another asbestos related condition such as asbestos related lung cancer, asbestosis, pleural thickening or pleural plaques. If you know or suspect that this happened to you, particularly if you worked in the building or construction industries in the 1970s to 1990s, you should seek medical advice, even if you don't have any symptoms of lung problems. If you believe you may have an asbestos related disease, you can also speak to one of our experts for advice regarding a compensation claim.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Which professions are most at risk from asbestos?</h2>
  <p class="text">Asbestos was very common as a building material in the last century, largely for its fire-retardant properties. For this reason, almost any occupation that involved work on buildings from before the year 2000 could have meant exposure to asbestos. According to the <a href="http://www.hse.gov.uk/asbestos/risk.htm" class="link link--inline" target="_blank"><span class="link__text">Health and Safety Executive</span></a> (HSE), members of all these professions may have been affected:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Heating and ventilation engineers
    </li>
    <li class="bullet-list__item">
      Demolition workers
    </li>
    <li class="bullet-list__item">
      Carpenters and joiners
    </li>
    <li class="bullet-list__item">
      Plumbers
    </li>
    <li class="bullet-list__item">
      Roofing contractors
    </li>
    <li class="bullet-list__item">
      Painters and decorators
    </li>
    <li class="bullet-list__item">
      Plasterers
    </li>
    <li class="bullet-list__item">
      Construction workers
    </li>
    <li class="bullet-list__item">
      Fire and burglar alarm installers
    </li>
    <li class="bullet-list__item">
      Shop fitters
    </li>
    <li class="bullet-list__item">
      Gas fitters
    </li>
    <li class="bullet-list__item">
      Computer and data installers
    </li>
    <li class="bullet-list__item">
      General maintenance staff eg caretakers
    </li>
    <li class="bullet-list__item">
      Telecommunications engineers
    </li>
    <li class="bullet-list__item">
      Architects, building surveyors, and other such professionals
    </li>
    <li class="bullet-list__item">
      Cable layers
    </li>
    <li class="bullet-list__item">
      Electricians
    </li>
  </ul>
  <p class="text">In recent years, we've also seen an increasing number of teachers and lecturers working in schools and colleges who have gone on to develop an asbestos related condition after being exposed in those buildings which contained asbestos and where asbestos was disturbed. See the video below.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Where was the greatest asbestos risk?</h2>
  <p class="text">According to the HSE, there are a number of factors that put workers at risk from asbestos fibres. These include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      working on buildings from before 2000
    </li>
    <li class="bullet-list__item">
      working on an unfamiliar site
    </li>
    <li class="bullet-list__item">
      where asbestos containing materials were not identified before a job was started
    </li>
    <li class="bullet-list__item">
      where asbestos containing materials were identified, but this information was withheld<a href="http://www.hse.gov.uk/asbestos/risk-assessments.htm" class="link link--inline" target="_blank"><span class="link__text"></span></a>
    </li>
    <li class="bullet-list__item">
      <a href="http://www.hse.gov.uk/asbestos/risk-assessments.htm" class="link link--inline" target="_blank"><span class="link__text"></span></a>where workers weren't trained to recognise and work safely with asbestos
      <ul class="bullet-list">
        <li class="bullet-list__item">
          where proper procedures simply weren't followed
        </li>
      </ul>
    </li>
  </ul>
  <p class="text">If you believe that you may have been made ill by exposure to asbestos fibres for any of these reasons, talk to us about starting a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a> today. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">My exposure to asbestos didn't take place at work. Can I still make a claim?</h2>
  <p class="text">There are various ways in which you could have been exposed to asbestos when you were not in work. However, if you've been exposed to asbestos and someone else was at fault, regardless if you were for the company who exposed you, you may still have the right to claim compensation. Examples of this would be:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Wives washing their husbands' overalls which were covered with asbestos dust - there have been many examples of this over the years. In this case, the company where your husband worked would be responsible. 
    </li>
    <li class="bullet-list__item">
      Residents of an area where a nearby asbestos factory who found asbestos around their property - unfortunately we've also seen cases where factories are responsible for exposure as processes were not in place to prevent asbestos fibres being airborne to nearby residents. 
    </li>
    <li class="bullet-list__item">
      Professional builders carrying out building work on a property which contained asbestos - most building companies when coming across asbestos will follow the health and safety regulations and ensure risks are minimised. However, if they don't there can be catastrophic consequences. 
    </li>
  </ul>
  <p class="text">If someone else has been negligent for your exposure to asbestos, regardless of whether it happened at work, you may still have the right to compensation. If you're not sure of your rights and whether you have a claim, <a href="/contact-us/" class="link link--inline"><span class="link__text">contact one of our specialists</span></a> who will provide you with all the expert advice you need. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What products contain asbestos fibres?</h2>
  <p class="text">The Asbestos Information Centre<span class="text--bold"> </span>has compiled a list of nearly 70 types of products that were manufactured with an element of asbestos fibres between the 1940s and 1999. This list is fairly exhaustive, and includes a number of surprising sources of asbestos fibres, including everything from packaging to plaster and from tiling to theatre props. It's worth <a href="https://www.aic.org.uk/list-typical-asbestos-containing-materials-acms/" class="link link--inline" target="_blank"><span class="link__text">checking the list they give here</span></a>, if you believe you might have been exposed to asbestos fibres. You can also speak to one of our specialist asbestos solicitors if you believe you may have been made ill through exposure to asbestos.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to an expert</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Does asbestos cause many deaths?</h2>
    <p class="text">One of the worst things about asbestos related illnesses is that the symptoms can emerge many years after the original exposure occurred. That's why, even though asbestos materials have been illegal for over 20 years, a significant number of asbestos related illnesses and deaths are still occurring. According to HSE figures for 2018, there were over 500 asbestos related disease deaths, including those from mesothelioma, lung cancer and asbestosis.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">More information</h2>
    <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
