<div class="inner-block">
  <h2 class="text text--heading text--large">Life after serious limb injuries and amputations</h2>
  <p class="text">As specialists in compensation claims for serious limb injuries and amputations, we never underestimate the challenges you will face. Losing a limb can mean losing the ability to earn a living, as well as much of the mobility that most people take for granted. We're not just here to pursue financial compensation on your behalf; we're here to help provide all of the support, understanding and rehabilitation you will need to overcome such life-changing injuries. <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">Click here to find out more about what you can claim for</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What kind of limb injury can I claim for?</h2>
  <p class="text">Serious limb injuries can be recovered from - as is usually the case with broken arms and legs - or can lead to amputations, where soft tissue and blood vessels are damaged beyond repair. In either case, overcoming the accident can be an emotional struggle as well as a financial one. That's why, when negligence has been a cause or contributing factor, we provide specialist support for those who've suffered limb damage and amputation in a variety of cases, the most common of which are:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Limb damage sustained in road traffic accidents</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Limb damage sustained in the workplace</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/injury-in-public/slips-trips-falls/" class="link link--inline"><span class="link__text">Broken limbs due to slips, trips and falls</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/clinical-and-medical-negligence-solicitors/" class="link link--inline"><span class="link__text">Amputations due to medical negligence</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/military/" class="link link--inline"><span class="link__text">Limb damage due to military accident</span></a>
    </li>
  </ul>
  <a href="/contact-us/" class="button button--secondary">Contact our legal experts today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much can I claim for a limb injury?</h2>
    <p class="text">As you would expect, compensation payments for limb injuries and amputations vary greatly, as factors such as loss of mobility, loss of earnings and trauma suffered are all taken into account. However, our specialist solicitors fully understand the complexities and difficulties of every limb injury, and so will always seek to claim <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">compensation that enables rehabilitation</span></a> to begin at the earliest possible stage, and for you to get on with the rest of your life to the fullest extent possible. </p>
    <p class="text">Where there are future needs, such as <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">house adaptations and modifications</span></a>, rehabilitation and treatment as well as any loss of earnings, we will always factor those costs into your compensation claim.</p>
</div>
