<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading compensation claim legal firms, dedicated to supporting people as they rebuild their lives after serious limb injuries or an amputation. Call us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your injury</span></a> and we will call you.</p>
</div>
