<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of injuries are caused by animals?</h2>
  <p class="text">As you might expect, most animal injuries in the UK are caused by dogs, either by attacking people, or by running into the road and causing a vehicle to swerve. Royal Mail says that more than <a href="https://www.royalmail.com/personal/dog-awareness" class="link link--inline" target="_blank"><span class="link__text">2,000 postal workers are bitten by dogs every year</span></a>, and that is very much the thin end of the wedge. However, it isn't just dogs that cause injuries to humans. Livestock, horses, zoo animals and even cats also cause a large number of injuries every year. Some of the compensation claims we deal with typically involve:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Road traffic accidents caused by runaway animals</span></a>
    </li>
    <li class="bullet-list__item">
      Horse riding accidents
    </li>
    <li class="bullet-list__item">
      Injuries caused by livestock
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/farm/" class="link link--inline"><span class="link__text">Accidents on farms and in stables</span></a>
    </li>
    <li class="bullet-list__item">
      Accidents in zoos and wildlife parks
    </li>
    <li class="bullet-list__item">
      Children injured at petting zoos and farms
    </li>
  </ul>
  <p class="text">To find out if your animal injury might entitle you to seek compensation, <a href="/contact-us/" class="link link--inline"><span class="link__text">talk to an expert today.</span></a></p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I've been injured by an animal. Who do I claim against?</h2>
  <p class="text">Every animal owner has a duty of care to keep it under control and prevent it from causing injury or damage. If they do not keep their animal under control and it causes injury, you can make a claim against the animal owner. In certain cases, especially if the animal concerned is a dangerous one, the <a href="http://www.legislation.gov.uk/ukpga/1971/22" class="link link--inline" target="_blank"><span class="link__text">Animal Act 1971</span></a> may come into play. This law applies particularly to dangerous species, particularly where there has been negligence or the owner has provoked the animal. In either case, whether you have been injured in your workplace or anywhere else, the owner is liable to pay compensation for injuries or damage caused by any animal they own or keep.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I've been injured by an animal at work. Should I still claim?</h2>
  <p class="text">Many people are frightened to make a claim against their employer when they have been injured by an animal in the workplace, for fear that it will be held against them. However, it's worth bearing two facts in mind if you find yourself in this position:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Your employer has a Duty of Care to protect you, not to mention <a href="/personal-injury-claim/injury-in-public/public-liability-insurance/" class="link link--inline"><span class="link__text">employer's liability insurance</span></a> to pay for claims like this. They should also understand that animals are unpredictable and that some events, such as a horse kicking a groom, for example, are only to be expected
    </li>
    <li class="bullet-list__item">
      Employment laws strictly prohibit you from being dismissed as the result of claiming compensation for an injury
    </li>
  </ul>
  <p class="text">So if you have been injured by an animal in the workplace, you should talk to us about making an injury compensation claim against your employer's liability insurance. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
    <p class="text">There is no set rule for how much compensation you might receive for an injury caused by an animal. It very much depends on the extent of your injuries and how long it is expected that a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">cost of any medical treatment or rehabilitation</span></a> that may be required.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long do I have to make a claim?</h2>
    <p class="text">The law generally sets a time limit of three years from the date of an injury in which to start a claim, though longer may be allowed if you are <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claiming on behalf of a child</span></a> or someone with mental impairment.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long does an animal injury claim take?</h2>
    <p class="text">This usually depends on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a> as well as whether the negligent party's insurers accept liability. However, we always aim to pursue justice for our clients as efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin rehabilitation as soon as possible.  </p>
    <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div>