<div class="inner-block">
  <p class="text"> Slater and Gordon has a team of military experts who specialise in AFCS claims and can provide professional advice and assistance when making an application. Call us today on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/#" class="link link--inline"><span class="link__text">contact us online</span></a>.</p>
</div>
