<div class="inner-block">
  <h2 class="text text--heading text--large">What is the Armed Forces Compensation Scheme(AFCS)?</h2>
  <p class="text">The AFCS is a Government scheme managed by Veterans UK, which provides a set amount of compensation for any injury, illness or death that has been caused by service in the military either on or after 6 April 2005. It's a 'no fault' scheme, which means that responsibility for the incident causing the injury or illness will not be admitted but the MOD will look to compensate you for your injuries suffered during service. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who can make an AFCS claim?</h2>
  <p class="text">The scheme is available to all current and former members of the UK Armed Forces, including Reservists. In order to claim, you don't have to have left the armed forces, you can still be serving. </p>
  <p class="text">You can also make a claim in the event that you've lost a loved one due to an incident whilst they were in service. Guidelines state that those eligible would be "someone with whom you are cohabiting in an exclusive and substantial relationship, with financial and wider dependence". If you're unsure whether or not you can make a claim, contact our military experts on freephone {{{meta.phonenumber.contentLink}}} who will advise you if you're eligible. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What type of injuries can you claim AFCS for?</h2>
  <p class="text">If you're taking part in military activities such as training or organised sports, and suffer any injury or illness, whether a minor condition, a more serious condition or a mental condition, you can make an AFCS claim. The seriousness of the condition will obviously depend on the amount of compensation you'll be achieve. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much AFCS compensation could you receive?</h2>
  <p class="text">'Lump-sum payments' are awarded for pain and suffering with the amount depending on the severity of the injury. Currently lump sum payments range from £1,236 to £650,000 with £650,000 being the absolute maximum you could receive. <a href="https://www.gov.uk/government/publications/armed-forces-compensation/armed-forces-compensation-what-you-need-to-know" class="link link--inline" target="_blank"><span class="link__text">More info on the .gov website</span></a>.</p>
  <p class="text">When a serious injury or illness causes a significant loss of earning capacity, monthly tax-free payments known as Guaranteed Income Payments (GIP) may also be awarded. There are a number of factors which will determine the level of GIP you'll receive and will constitute a percentage of your salary. These payments will also be adjusted annually as inflation and cost of living increases are considered.</p>
  <p class="text">Our military claim experts can advise you further once they have details of your case. Call on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are you able to appeal an AFCS decision?</h2>
  <p class="text">If the injury or illness you sustained worsened following an AFCS decision, there are circumstances in which the decision could be reviewed. If you're unhappy with a decision it's possible to apply for reconsideration and if still unsatisfied, appeal to an independent tribunal. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are there any time limits when making an AFSC claim?</h2>
  <p class="text">Whilst there are exceptions, the claim should be made within seven years of the date the injury occurred or, in respect of an illness (<a href="/personal-injury-claim/accident-at-work-compensation/military/ptsd/" class="link link--inline"><span class="link__text">such as PTSD</span></a>), the date you first requested medical advice for your illness. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Why choose Slater and Gordon to act on your behalf?</h2>
  <p class="text">Making an AFCS claim can be a long and complex procedure. Our experts in military claims are here to help reduce the burden of dealing with this procedure at, what can be, a difficult time. Our specialist lawyers have a great deal of expertise in military claims and making AFCS claims.</p>
  <p class="text">As we're experts in this field, we can ensure that the correct evidence is submitted to enable you to receive the maximum amount of compensation possible, and we will challenge decisions where we don't believe this has been achieved.</p>
  <p class="text">We also handle all AFCS claims on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>, meaning there's no financial risk to you: as if your claim is unsuccessful, there will be no cost payable by you. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to an expert today</a>
</div>