<div class="inner-block">
  <h2 class="text text--heading text--large">Asbestos in the UK</h2>
  <p class="text">Mesothelioma and other asbestos related diseases are still a serious problem in the UK, despite asbestos having been banned since 1999. The current UK asbestos regulations are designed to ensure safe handling and disposal of asbestos, to help reduce future cases of mesothelioma, asbestos related lung cancer, asbestosis and pleural thickening.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the The UK Asbestos Regulations?</h2>
  <p class="text">Asbestos was widely used in a variety of construction materials throughout the 20th century. So while its use has been banned since 1999, many buildings - both residential and commercial - still contain a lot of asbestos materials. These are generally safe as long as they remain undisturbed. However, where demolition or renovation projects are taking place, particularly in large commercial buildings such as offices and factories, the UK has strict regulations to control how, and by whom, asbestos is removed, called the <a href="https://www.aic.org.uk/asbestos-regulations-2012/" class="link link--inline" target="_blank"><span class="link__text">Control of Asbestos Regulations 2012</span></a>. Where these regulations have not been followed, and workers have been exposed to asbestos dust and fibres, it's often possible to make a claim for asbestos related illnesses such as mesothelioma, asbestos related lung cancer, asbestosis and pleural thickening.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What do the UK Asbestos Regulations insist on?</h2>
  <p class="text"><span class="text--bold"></span><a href="http://www.legislation.gov.uk/uksi/1999/2373/made" class="link link--inline" target="_blank"><span class="link__text">Since 1999</span></a><span class="text--bold"></span>, the asbestos safety regulations have stated all of the below:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      If existing asbestos containing materials are in good condition and are not likely to be damaged, they may be left in place; but their condition must be monitored and managed to ensure they are not disturbed
    </li>
    <li class="bullet-list__item">
      If you're responsible for maintenance of non-domestic premises, you have a 'duty to manage' the asbestos in them
    </li>
    <li class="bullet-list__item">
      If you want to do any building or maintenance work in premises, or on a plant or equipment that might contain asbestos, you need to identify where it is, its type and its condition; assess the risks, and manage and control these risks
    </li>
    <li class="bullet-list__item">
      The requirements for licensed work remain the same: in the majority of cases, work with asbestos needs to be done by a licensed contractor. If you're carrying out non-licensed asbestos work, this still requires effective controls.
    </li>
    <li class="bullet-list__item">
      The control limit for asbestos is 0.1 asbestos fibres per cubic centimetre of air (0.1 f/cm3)
    </li>
    <li class="bullet-list__item">
      Training is mandatory for anyone liable to be exposed to asbestos fibres at work. 
    </li>
  </ul>
  <p class="text">However, the regulations were updated in 2012, and now additionally state that:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      From 6 April 2012, some non-licensed work needs to be notified to the relevant enforcing authority.
    </li>
    <li class="bullet-list__item">
      From 6 April 2012, brief written records should be kept of non-licensed work, which has to be notified 
    </li>
    <li class="bullet-list__item">
      By April 2015, all workers/self employed doing notifiable non-licensed work with asbestos must be under health surveillance by a doctor
    </li>
  </ul>
  <p class="text">If you want to know more about the UK's asbestos regulations, you will find them fully explained on the <a href="http://www.hse.gov.uk/asbestos/regulations.htm" class="link link--inline" target="_blank"><span class="link__text">HSE website.</span></a> And if you believe that you have been made ill by an employer failing in their duty of care to follow these regulations, you should talk to a specialist asbestos claims solicitor right away.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How dangerous is asbestos?</h2>
  <p class="text">Asbestos was first associated with serious illnesses as far back as 1924, though it was not until 1999 that its use was banned in the UK. While asbestos has superb fire-retardant qualities, it also contains tiny fibres that when breathed in over a prolonged period can have extremely damaging effects on the lungs, leading to diseases including mesothelioma, asbestos related lung cancer, asbestosis and pleural thickening. If you or a loved one has developed any of these conditions, you may be able to claim asbestos related illness compensation. <a href="/personal-injury-claim/industrial-disease/asbestosis-mesothelioma/asbestos-timeline-history/" class="link link--inline"><span class="link__text">Read more on the history of asbestos here</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who do the UK Asbestos Regulations affect?</h2>
  <p class="text">In short, if you have a 'duty to manage' the maintenance of any non-domestic building, you are also responsible for making sure that it's safe and undamaged, or that it is removed safely. It's also useful to understand that even though it's been illegal to use asbestos in the UK since 1999, some rogue builders and contractors are known to have used it since then. So even when managing a commercial premises built since 2000, care needs to be exercised to ensure that asbestos is not present. The Health and Safety Executive says that if you have a 'duty to manage', you must:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      take reasonable steps to find out if there are materials containing asbestos and if so, its amount, where it is and what condition it is in
    </li>
    <li class="bullet-list__item">
      presume materials contain asbestos unless there is strong evidence that they do not
    </li>
    <li class="bullet-list__item">
      make, and keep up-to-date, a record of the location and condition of the asbestos- containing materials - or materials that are presumed to contain asbestos
    </li>
    <li class="bullet-list__item">
      assess the risk of anyone being exposed to fibres from the materials identified
    </li>
    <li class="bullet-list__item">
      prepare a plan that sets out in detail how the risks from these materials will be managed
    </li>
    <li class="bullet-list__item">
      take the necessary steps to put the plan into action
    </li>
    <li class="bullet-list__item">
      periodically review and monitor the plan and the arrangements to act on it so that the plan remains relevant and up-to-date
    </li>
    <li class="bullet-list__item">
      provide information on the location and condition of the materials to anyone who is liable to work on or disturb them
    </li>
  </ul>
  <p class="text">However, if you are in any doubt about the existence, extent or safety of asbestos in a building that you manage, the HSE says that you should arrange for a <a href="http://www.hse.gov.uk/asbestos/surveys.htm" class="link link--inline" target="_blank"><span class="link__text">Management Survey.</span></a></p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">More information</h2>
  <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
