<div class="inner-block">
  <h2 class="text text--heading text--large">What is asbestos?</h2>
  <p class="text">Asbestos is a mineral that has been mined for hundreds of years and was used due to its fireproof qualities. There are three common types of asbestos which are white (chrysotile), brown (amosite) and blue (crocidolite).</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Where might I have come across asbestos?</h2>
  <p class="text">It's often difficult to identify where someone might have been exposed to asbestos as it was once used everywhere, and was widely used in the UK during the 1930s through to the 1970s. It was used at home, in schools and in other public places. </p>
  <p class="text">The majority of people who go on to develop an asbestos related illness have been exposed to asbestos many years ago when they were working as engineers, plumbers, joiners, laggers, dockyard workers etc. </p>
  <p class="text">Exposure to asbestos dust occurs when a product containing asbestos is disturbed and asbestos fibres are released into the air. Someone exposed to asbestos may not have disturbed the asbestos dust themselves, but may have been close-by someone, or washed the clothes of someone who did.</p>
  <p class="text">Read our page <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/am-i-at-risk/" class="link link--inline"><span class="link__text">Am I at Risk</span></a> for more information about where you might have come across asbestos. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What asbestos related diseases can you get from exposure to asbestos?</h2>
  <p class="text">There are a number of illnesses which you can get from exposure to asbestos, when you inhale asbestos fibres. You can get full details of these illnesses, their symptoms and available treatment, by clicking on the links below:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/mesothelioma/" class="link link--inline"><span class="link__text">Mesothelioma </span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestos-lung-cancer" class="link link--inline"><span class="link__text">Asbestos related lung cancer </span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestosis/" class="link link--inline"><span class="link__text">Asbestosis </span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/pleural-thickening/" class="link link--inline"><span class="link__text">Pleural thickening</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/scottish-pleural-plaques/" class="link link--inline"><span class="link__text">Pleural plaques</span></a> 
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What help is available if you've been diagnosed with an asbestos related illness?</h2>
  <p class="text">Being diagnosed with an asbestos related disease can be extremely distressing, for the person diagnosed and their family. However, there is help available:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/support/" class="link link--inline"><span class="link__text">Charities and support organisations</span></a> - When first diagnosed with an asbestos related disease, it's often difficult to know what to do. There are a number of helpful support groups and charitable organisations who offer a range of advice and assistance to those who have been diagnosed. Click the link for detailed information.
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/benefits" class="link link--inline"><span class="link__text">Benefits and one-off payments</span></a> - When diagnosed with an asbestos related illness, you can often worry about how it will affect your finances. There are a number of benefits and one-off payments which are available for those suffering with an asbestos related condition. Click the link for detailed information.
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/contact-us/" class="link link--inline"><span class="link__text">Compensation</span></a> - It's only right that if you have been diagnosed with an asbestos related illness that is down to someone else's negligence, that you're compensated for your pain and suffering. It also allows you to feel a sense of justice and gives you peace of mind that your family will not suffer any financial hardship. Our asbestos specialists have many years' experience dealing with asbestos related illnesses and are on hand to provide you with the best available legal representation. For your right to compensation, click the link to contact our experts now. 
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/turner-newall/" class="link link--inline"><span class="link__text">Turner Newall</span></a> - This is a specific scheme that allows you to claim if you were exposed to asbestos as a result of Turner Newall, a large manufacturing company formerly based in Manchester. There may be other schemes that cover other companies, so do not hesitate to get in touch with questions.
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much does it cost to make a claim for compensation?</h2>
  <p class="text">Slater and Gordon offer all our clients with an asbestos related illness funding on a No Win No Fee basis. What this means is that if you were to lose your case, you would not have to pay any legal fees so it's risk free. </p>
  <p class="text">In addition to offering No Win No Fee, Slater and Gordon will not charge our clients suffering from an asbestos related illness any costs if you win your case, so you will also get to keep 100% of your compensation. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to an expert</a>
</div>