<div class="inner-block">
  <h2 class="text text--heading text--large">Asbestos related lung cancer</h2>
  <p class="text">There are various causes of lung cancer, such as smoking, which is the most common cause. However, if you've been exposed to asbestos, for instance, if you used to work with asbestos many years ago, your lung cancer may be asbestos related. This guide provides you with details of what you may need to know before deciding to pursue a claim for compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is asbestos related lung cancer?</h2>
  <p class="text">With asbestos related lung cancer, asbestos fibres become lodged in the lung tissue and scar over time and develop into tumors. It's caused by breathing in asbestos dust. The asbestos fibres become lodged in the lung tissue and scar over time, causing irritation, and eventually develop into tumors. </p>
  <p class="text">Lung cancer will only be caused by asbestos where the amount of exposure to asbestos dust has been very heavy.</p>
  <p class="text">Asbestos is the most common cause of lung cancer after smoking and they often act together which increases the risk of lung cancer occurring. In many cases, asbestos and smoking will both be the cause of lung cancer rather than one or the other. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of asbestos related lung cancer?</h2>
  <p class="text">The most common cause of lung cancer is smoking and there are no physical differences between lung cancer caused by smoking and lung cancer caused by exposure to asbestos.</p>
  <p class="text">The symptoms of lung cancer would usually include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Persistent chest infections
    </li>
    <li class="bullet-list__item">
      Persistent coughing 
    </li>
    <li class="bullet-list__item">
      Breathlessness
    </li>
    <li class="bullet-list__item">
      Chest pain or discomfort
    </li>
    <li class="bullet-list__item">
      Bloodstained phlegm
    </li>
    <li class="bullet-list__item">
      Pain when taking in a deep breath
    </li>
    <li class="bullet-list__item">
      Wheezing 
    </li>
    <li class="bullet-list__item">
      Loss of appetite and weight loss.
    </li>
  </ul>
  <p class="text">If you have any of the symptoms attributable to lung cancer, you should visit your GP as soon as possible. In the event that you're diagnosed with asbestos related lung cancer, contact one of our asbestos related disease experts. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How is asbestos related lung cancer usually diagnosed?</h2>
  <p class="text">A diagnosis of lung cancer will be made by a chest consultant following investigations which normally include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      X-rays
    </li>
    <li class="bullet-list__item">
      A bronchoscopy 
    </li>
    <li class="bullet-list__item">
      A CT scan 
    </li>
    <li class="bullet-list__item">
      A PET scan
    </li>
  </ul>
  <p class="text">If an x-ray shows something abnormal, the consultant may ask you to have a bronchoscopy, which is when the consultant looks inside the airways by putting a narrow flexible tube down the nose or throat.</p>
  <p class="text">The consultant may also ask for a CT scan or a PET scan which takes pictures of the inside of the body and provides much more information. If these tests lead to a diagnosis of lung cancer, further tests may be requested to see whether the cancer has spread and help the consultant</p>
  <p class="text">decide on the best treatment.</p>
  <p class="text">It's important when you're having investigations to make sure you tell GP and any medical expert you see about any history of asbestos exposure. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What treatment is available for asbestos related lung cancer?</h2>
  <p class="text">Treatment offered will depend on how advanced the cancer is, your general health and fitness and your personal preference.</p>
  <p class="text">Treatments which may be available include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Surgery – Surgery may be an option, where a surgeon removes a section of the lung, the lobe or the full lung
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Radiotherapy - This treatment is a high dose of radiation used to kill some of the cancer cells
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Chemotherapy – This treatment is the use of drugs to destroy cancer cells. It can shrink the tumour and relieve some of the symptoms too
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Other Treatments - There are other treatments available such as biological therapy, radio frequency ablation or photodynamic therapy. 
    </li>
  </ul>
  <p class="text">It's important to note that treatments and clinical trials change often so you should always speak to your consultant about your treatment options.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are there benefits available for people with asbestos related lung cancer?</h2>
  <p class="text">Yes. There are a number of benefits available for people who have asbestos related lung cancer. There's also a one off payment which you may be entitled to which is the Pneumoconiosis Etc. (Workers Compensation) Act 1979 payment.</p>
  <p class="text">For more information about the benefits and payments you may be entitled to, read our <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/benefits" class="link link--inline"><span class="link__text">Benefits and Payments guide</span></a>. </p>
  <p class="text">As well as benefits and payments from the Government, you may be entitled to compensation for your pain and suffering. </p>
  <p class="text">Slater and Gordon has a team of experts who have specialised in asbestos related illness for many years and understand the complexities which can be faced. We have a strong reputation when it comes finding insurers of companies which have been out of business for many years and securing the best possible outcome to your case. </p>
  <p class="text">We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
  <a href="/contact-us/" class="button button--secondary">Contact one of our experts today</a>
</div>