<div class="inner-block">
  <h2 class="text text--heading text--large">Asbestosis</h2>
  <p class="text">A chronic inflammatory medical condition affecting the tissue of the lungs. It occurs after long-term, heavy exposure to asbestos and is regarded as an occupational lung disease. The main symptom is shortness of breath, initially on exertion but later even at rest. Others include tiredness, a cough, chest tightness and chest pain. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Bronchoscopy</h2>
  <p class="text">A test in which a thin, flexible instrument (bronchoscope) is used to view the airways and diagnose lung disease. It may also be used during the treatment of some lung conditions..</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Chest drain</h2>
  <p class="text">Is a flexible plastic tube that is inserted through the side of the chest into the pleural space. It's used to remove air (pneumothorax) or fluid (effusion), or pus (empyema) from within the thorax or chest.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Chronic obstructive pulmonary disease (COPD)</h2>
  <p class="text">An 'umbrella' term for people with chronic bronchitis, emphysema, or both. With COPD the airflow to the lungs is restricted (obstructed). COPD is usually caused by smoking. Symptoms include a cough and breathlessness. Most COPD patients are advised by their medical advisers to stop smoking.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Mesothelioma</h2>
  <p class="text">Is a rare form of cancer in which malignant (cancerous) cells are found in the mesothelium, a protective sac that covers most of the body's internal organs. Most people who develop mesothelioma have worked on jobs where they inhaled asbestos particles.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Metastasis</h2>
  <p class="text">Metastasis (or metastases, pleural) means that a cancer has left its primary site and spread to a different part of a body.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Pleural Effusion</h2>
  <p class="text">Is excess fluid that accumulates in the pleural cavity. Excessive amounts of such fluid can impair breathing by limiting the expansion of the lungs during inhalation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Pleural thickening</h2>
  <p class="text">The pleura is a two-layered membrane which surrounds the lungs and lines the inside of the rib cage. Some asbestos fibres inhaled into lungs work their way out to the pleura and may cause fibrosis, or scarring, to develop there. This causes the pleura to thicken and this may show up on a chest X-ray or CT scan. Diffuse pleural thickening extends over a large area and may restrict expansion of the lungs, leading to breathlessness.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Pleural plaques</h2>
  <p class="text">Pleural plaques are localised areas of scar tissue attaching to the outer wall of the lung and are totally benign. In the majority, they don't cause symptoms or lung disability unless very widespread. They show up clearly on a chest x-ray. The prognosis for uncomplicated benign pleural plaques is excellent. Plaques don't become malignant and turn into mesothelioma but are often present in patients with mesothelioma or other asbestos related diseases.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Pleurodesis</h2>
  <p class="text">A procedure that causes the membranes around the lung to stick together and prevents the build up of fluid in the space between the membranes. This procedure is done in cases of severe recurrent pleural effusion.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Pneumothorax</h2>
  <p class="text">The lungs are lined with a double layer of membrane (pleura) separating them from the chest wall. If air gets between these two layers, it's called a Pneumothorax. This makes the lung collapse, causing chest pain and making breathing difficult.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Pulmonary fibrosis</h2>
  <p class="text">Fibrosis means scarring throughout the lungs. Gradually, the air sacs of the lungs become replaced by fibrotic tissue. When the scar forms, the tissue becomes thicker causing an irreversible loss of the tissue's ability to transfer oxygen into the bloodstream. It can be caused by many conditions including chronic inflammatory processes, infections, environmental agents (asbestos, silica, exposure to certain gases), exposure to ionizing radiation, chronic conditions (lupus, rheumatoid arthritis), and certain medications.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Radiotherapy</h2>
  <p class="text">A treatment for cancer that uses beams of radiation to kill cancer cells. It may be done alone or in combination with other treatments such as surgery or Chemotherapy.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">More information</h2>
  <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
