<div class="inner-block">
  <h2 class="text text--heading text--large">Overview of asbestos</h2>
  <p class="text">Asbestos was used throughout various industries and in the early 1900s was haled to be a wonder substance. Asbestos is a naturally occurring fibre that is mined and has many useful properties including use as a strengthener and as a heat resistant substance. The word asbestos comes from the Latin 'unquenchable'.</p>
  <p class="text">The 1931 Asbestos Industry Regulations were a real turning point within heavy industry. However, they were heavily influenced by the asbestos manufacturers. The Regulations actually applied to only a small minority of individual workers who were directly exposed to dust in asbestos factories.</p>
  <p class="text">The controls were inadequately policed and enforced and in the meantime, products and materials containing asbestos used in the manufacturing industries continued to grow.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Prehistoric use</h2>
  <p class="text">Since it is a naturally occurring mineral, it has always been relatively easy for humans to find and use asbestos. Flecks and fibres of asbestos have been found alongside human civilisation for centuries. Mummies have been wrapped in asbestos cloths to reduce deterioration and stone age debris have been found to contain asbestos fibres.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Asbestos use commercial timeline</h2>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      1880s. The start of commercial importation of asbestos initially used for the textile industry.
    </li>
    <li class="bullet-list__item">
      1898. Factory Inspector Report produced as the annual report of the Chief Inspecting Officer of Factories for 1898. The report is critical of dusty conditions in factories and the adverse impact that it may have on the health of workers. The statement was repeated in the annual reports for a number of years following - demonstrating that from a very early stage the potentially dangerous effects of asbestos were noted.
    </li>
    <li class="bullet-list__item">
      1899. Ferodo Ltd is established in Derbyshire. This is a leading producer of asbestos brake linings, who eventually become a subsidiary of <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/turner-newall/" class="link link--inline"><span class="link__text">Turner and Newall Ltd</span></a>.
    </li>
    <li class="bullet-list__item">
      1907. Report of the Departmental Committee for Industrial Disease by Dr H Montague Murray. The report was given in evidence to the Home Office Departmental Committee on compensation for industrial diseases. Dr Montague Murray performed a post mortem on an unnamed worker who had worked for 14 years in the asbestos industry. The lungs were stiff and black with fibrosis caused by inhalation of asbestos dust. The worker previously told Murray that he was the only survivor from 10 others in his work room. Dr Murray prepared his report following this post mortem.
    </li>
    <li class="bullet-list__item">
      1906. The Compensation Act first introduced in 1897 is updated to include six Industrial Diseases to the Workmen's Compensation Act, however still none of them are asbestos related.
    </li>
    <li class="bullet-list__item">
      1920. Turner and Newall Ltd are established in Rochdale, Lancashire and are to become the world's leading producer of asbestos products.
    </li>
    <li class="bullet-list__item">
      1924. Nellie Kershaw, an English textile worker, is the first published medical case as an Asbestos related death due to pulmonary asbestosis.
    </li>
    <li class="bullet-list__item">
      At the same time fibrosis of the lung due to inhalation of asbestos dust by W. E. Cooke is published in the British Medical Journal. A further 1927 report, again by W. E. Cooke published in the British Medical Journal introduced the term asbestosis to describe characteristic lung fibrosis attributable to asbestos.
    </li>
    <li class="bullet-list__item">
      1929. The annual report of Chief Inspecting Officer of Factories 1928 notes reports of cases involving pulmonary fibrosis attributed to asbestos exposure.
    </li>
    <li class="bullet-list__item">
      1930. The Government commissioned a report entitled 'Report on the Effects of Asbestos Dust on the Lungs and the Suppression in the Asbestos Industry' by Mereweather. A well considered and in depth study considering the risk of fibrosis resulting from exposure to asbestos. The findings are that high levels of asbestosis in asbestos factory workers are becoming more common and legislation is recommended.
    </li>
    <li class="bullet-list__item">
      1931. The Asbestos Industry Regulations receive Royal Assent and come into force on 1 March 1932. This is the first recognised substantial piece of legislation to be passed which is dedicated to the control of asbestos concentrating on the use of asbestos within factories.
    </li>
    <li class="bullet-list__item">
      1933. The annual report of the Chief Inspecting Officer of Factories in 1932 reports the updated number of known deaths attributed to asbestosis and silicosis.
    </li>
    <li class="bullet-list__item">
      1948. <a href="https://www.legislation.gov.uk/uksi/1948/1145/contents/made" class="link link--inline" target="_blank"><span class="link__text">Building (Safety, Health and Welfare) Regulations 1948</span></a> come into force on 1 October 1948. Regulation 82 refers to the use of asbestos within the building industry.
    </li>
    <li class="bullet-list__item">
      1948. National Insurance (Industrial Injuries) Act 1946 finally comes into effect replacing the Workmen's Compensation Scheme with the Industrial Injuries Scheme.
    </li>
    <li class="bullet-list__item">
      1955. Report of R Doll entitled 'Mortality from Lung Cancer in Asbestos Workers' published in the British Medical Journal demonstrates the link between asbestos dust and cancer. The report follows the growing emergence of the link between lung cancers and asbestos exposure and follows on from a number of further annual reports from the Chief Inspecting Officer of Factories.
    </li>
    <li class="bullet-list__item">
      1960. Wagner produces his report 'Diffuse Pleural Mesothelioma and Asbestos Exposure in a North Western Cape Province'. This is published in the British Journal of Medicine. This is South African research and reports a clear association between exposure of blue asbestos (Crocidolite) and mesothelioma.
    </li>
    <li class="bullet-list__item">
      1961. <a href="http://www.legislation.gov.uk/uksi/1960/1932/made" class="link link--inline" target="_blank"><span class="link__text">The Ship Building and Ship Repairing Regulations </span></a>come into force on 31 March 1961. This is additional to the Factories Act 1937 and specifically governs the use of asbestos in the shipbuilding industry.
    </li>
    <li class="bullet-list__item">
      1967. Voluntary industry ban on the import of blue (Crocidolite) asbestos.
    </li>
    <li class="bullet-list__item">
      1968. The British Occupational Hygiene Society suggests a safety standard for white (Chrysotile) asbestos of 0.2 fibres/ml. The asbestos industry conducts a single survey at Turner and Newall's Rochdale plant and comes up with the level of 2 fibres/ml to be incorporated into the 1969 Asbestos Regulations. Later work suggests that 1 in 10 workers could contract asbestos related disease at this level.
    </li>
    <li class="bullet-list__item">
      1969. Asbestos Regulations 1969 come into force on 14 May 1970 and give guidance on the first quantitative limits for asbestos dust exposure. The duties imposed under these regulations were far wider than any previous legislation and applied to all factories, building operations and works of engineering construction. They imposed stringent requirements with regard to preventing the inhalation of asbestos fibres.
    </li>
    <li class="bullet-list__item">
      1974. The Health and Safety at Work Act provides for more far reaching duties on the employer.
    </li>
    <li class="bullet-list__item">
      1983. The Asbestos (Licensing) Regulations are enacted, they cover the most hazardous jobs such as asbestos stripping or removal.
    </li>
    <li class="bullet-list__item">
      1985. The import of brown and blue asbestos is banned.
    </li>
    <li class="bullet-list__item">
      1987. <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestos-regulations/" class="link link--inline"><span class="link__text">The Control of Asbestos at Work Regulations</span></a> 1987 are introduced which means further tightening of dust limits and controls regarding the use of asbestos at work.
    </li>
    <li class="bullet-list__item">
      1995. Turner and Newall sells its last asbestos business, the company comprises of numerous subsidiaries and other groups. The firm is acquired by Federal Mogul in 1998. Both firms of which are now in insolvent administration.
    </li>
    <li class="bullet-list__item">
      2002. <a href="http://www.legislation.gov.uk/uksi/2002/2675/made" class="link link--inline" target="_blank"><span class="link__text">The Control of Asbestos at Work Regulations are further updated</span></a>.
    </li>
    <li class="bullet-list__item">
      2009. The Turner and Newall Scheme of Arrangements is introduced.
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">More information</h2>
  <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
