<div class="inner-block">
  <h2 class="text text--heading text--large">What is asbestos?</h2>
  <p class="text">Asbestos is a mineral that has been mined for hundreds of years and was used due to its fireproof qualities. There are three common types of asbestos which are white (chrysotile), brown (amosite) and blue (crocidolite).</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">When was it banned in the UK?</h2>
  <p class="text">In 1985 blue (crocidolite) and brown (amosite) asbestos were banned in the UK as it was believed these caused more harm than other forms of asbestos. In <a href="http://www.legislation.gov.uk/uksi/1992/3067/made/data.html" class="link link--inline" target="_blank"><span class="link__text">1992 </span></a>the regulations were updated and placed some restrictions on the use of white (chrysotile) asbestos. Finally, in 1999 the importation and use of any asbestos was banned in the UK. <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestos-timeline-history/" class="link link--inline"><span class="link__text">Click here for more on the history of asbestos</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Is it banned world wide?</h2>
  <p class="text">Unfortunately not. More than 50 countries have banned the use of asbestos including the UK, Australia, Canada and all of the member states of the European Union. Some other countries however simply have strong restrictions and regulations in place, but allow its use in certain cases or certain forms. Some countries regard white asbestos as being safer than its other forms and have less restrictions on it. </p>
  <p class="text">The United States of America is one country that doesn't ban the importation and use of asbestos and it can be found in many American products such as gaskets, roofing products, fireproof clothing and brake pads. However, there are strict regulations on its use in place.</p>
  <p class="text">In 2013 it was estimated that Russia was the world's leading exporter, having exported over 600,000 metric tons of asbestos whilst Kazakhstan and Brazil were the two largest importers.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Deaths from asbestos related diseases</h2>
  <p class="text">Data released by the Health and Safety Executive shows that asbestos related deaths have been growing steadily since the 1980's. And even though the use and importation of the substance was fully banned in 1999, mesothelioma deaths are currently peaking at an all time high.</p>
  <p class="text">This is because the disease can take many years to develop meaning that today's sufferers may have not been in contact with any asbestos fibres in over 40 years.</p>
  <p class="text">Since mesothelioma is so strongly related to asbestos, those who died as a result give a very strong indication of the number of people dying due to asbestos related diseases.</p>
  <p class="text">While new cases of exposure to asbestos fibres are fairly rare, it's believed we're very near the peak in asbestos related deaths per year and expect to start to see a decline in the coming decade.</p>
  <p class="text">The Health and Safety Executive estimates:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      There are over 5,000 asbestos related deaths per year currently, this includes mesothelioma, lung cancer and asbestosis.
    </li>
    <li class="bullet-list__item">
      In 2016 there were 2,595 mesothelioma deaths, the HSE suspects there were a similar number of lung cancer deaths linked to asbestos exposure.
    </li>
    <li class="bullet-list__item">
      In 2016 there were a reported 500 asbestosis deaths.
    </li>
  </ul>
  <p class="text"><a href="http://www.hse.gov.uk/statistics/causdis/asbestos-related-disease.pdf" class="link link--inline" target="_blank"><span class="link__text">Click here to view the full report.</span></a></p>
  <p class="text">A separate report, again by the Health and Safety Executive shows that the vast majority of mesothelioma deaths are male, but the number of deaths of both sexes have been steadily increasing since the late 1960's. A loose approximation suggests that the male, female split is 80/20.</p>
  <p class="text"><a href="http://www.hse.gov.uk/statistics/causdis/mesothelioma/mesoarea1981to2015.pdf" class="link link--inline" target="_blank"><span class="link__text">Click here to view the full report.</span></a></p>
  <p class="text">In the UK the vast majority of cases reported are either in the North of England or along the Southern coastline of England. The NHS Trusts that have recorded the highest mesothelioma rates include Portsmouth, Plymouth, Southampton, Sheffield, East Yorkshire, London, Leicester and Northumbria.</p>
  <p class="text"><a href="https://statistics.blf.org.uk/mesothelioma" class="link link--inline" target="_blank"><span class="link__text">According to the British Lung Foundation</span></a>, the majority of people diagnosed with mesothelioma are over 70, over 20% are aged 51-60 and very few are diagnosed under the age of 50. It's estimated that over 85% of mesothelioma deaths occur to the over 65's.</p>
  <p class="text"><a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/am-i-at-risk/" class="link link--inline"><span class="link__text">Click here to find out more around who may be at risk</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">More information</h2>
  <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
