<div class="inner-block">
  <p class="text">Asbestosis is a serious condition which is caused by exposure to large amounts of asbestos dust. If you've been exposed to asbestos, even if it was many years ago, you're at risk of developing an asbestos related illness such as asbestosis. This is a guide which gives you as much information as possible about this asbestos related illness. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is asbestosis?</h2>
  <p class="text">Asbestosis is a long-term lung condition caused by inhaling asbestos dust. It's a form of scarring on the lungs, also known as fibrosis, which leads to your lungs shrinking and hardening. This makes it difficult for the lungs to work effectively.</p>
  <p class="text">Asbestosis can take on average approximately 20 to 30 years following exposure to asbestos to develop, and the effects are irreversible. Studies show that in order to develop asbestosis you must have been exposed to a large quantity of asbestos dust. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of mesothelioma?</h2>
  <p class="text">Although it usually takes many years after your exposure to asbestos for you to develop symptoms, when they do develop, they typically include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Shortness of breath, 
    </li>
    <li class="bullet-list__item">
      Tiredness 
    </li>
    <li class="bullet-list__item">
      A persistent cough
    </li>
    <li class="bullet-list__item">
      Wheezing 
    </li>
    <li class="bullet-list__item">
      Pain in your chest or shoulders 
    </li>
    <li class="bullet-list__item">
      Swollen fingertips (in more serious cases)
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How is asbestosis usually diagnosed?</h2>
  <p class="text">A diagnosis of asbestosis will usually be made by a chest consultant following investigations which normally include x-rays and a CT Scan.</p>
  <p class="text">If an x-ray shows some shadowing, the consultant may ask for you to have a CT scan which takes pictures of the inside of the body and provides much more information.</p>
  <p class="text">Some conditions look similar on an x-ray to asbestosis and therefore the consultant should take a history of your asbestos exposure before diagnosing you with asbestosis.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What treatment is available for mesothelioma?</h2>
  <p class="text">Many people think that asbestosis is cancer. It's not. There's a risk that people suffering from asbestosis may go on to develop either <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestos-lung-cancer" class="link link--inline"><span class="link__text">asbestos related lung cancer</span></a> or <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/mesothelioma/" class="link link--inline"><span class="link__text">mesothelioma</span></a>.</p>
  <p class="text">Regular monitoring through x-rays and lung function tests will show progression, and if the disease does progress, treatment such as steroids or oxygen may be offered.</p>
  <p class="text">Please note that treatments change often and it's therefore important that you speak to your consultant about your treatment options.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are there benefits available for people with mesothelioma?</h2>
  <p class="text">Yes. There are a number of benefits available to people who have asbestosis. There's also a one-off payment which you may be entitled to which is the Pneumoconiosis Etc. (Workers Compensation) Act 1979 payment.</p>
  <p class="text">For more information about the benefits and payments you may be entitled to, read our <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/benefits" class="link link--inline"><span class="link__text">Benefits and Payments guide</span></a>. </p>
  <p class="text">As well as benefits and payments from the Government, you may be entitled to compensation for your pain and suffering. </p>
  <p class="text">Slater and Gordon has a team of experts who have specialised in asbestos related illness for many years and understand the complexities which can be faced. We have a strong reputation when it comes finding insurers of companies which have been out of business for many years and securing the best possible outcome to your case. </p>
  <p class="text">We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
