<div class="inner-block">
  <h2 class="text text--heading text--large">Industrial Injuries Disablement Benefit (IIDB)</h2>
  <p class="text">This is a <a href="https://www.gov.uk/industrial-injuries-disablement-benefit" class="link link--inline" target="_blank"><span class="link__text">weekly benefit</span></a> which is paid to those who worked with asbestos after 4th July 1948 and developed mesothelioma as a result.This weekly benefit is paid to those who have developed lung cancer. have asbestosis or diffuse pleural thickening, so long as you have had exposure to asbestos in the workplace for many years.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Pneumoconiosis Etc. (Workers Compensation) Act 1979</h2>
  <p class="text">This is a <a href="https://www.legislation.gov.uk/ukpga/1979/41/contents" class="link link--inline" target="_blank"><span class="link__text">one-off lump sum payment</span></a> made to mesothelioma sufferers or their dependents where the mesothelioma, lung cancer, asbestosis or pleural thickening was caused by employment. This payment is only available if court action has not begun, there has been an award of IIDB, and the employer stopped trading or the sufferer's employment with them was more than 20 years ago.</p>
  <p class="text">If this payment is awarded and the claim goes on to be successful, this amount will be deducted from the compensation payment and paid back to the Government.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">The Diffuse Mesothelioma 2018 Scheme</h2>
  <p class="text">This Scheme pays a lump sum of compensation to mesothelioma sufferers who are not eligible to receive a payment under the <a href="https://www.gov.uk/industrial-injuries-disablement-benefit/further-information" class="link link--inline" target="_blank"><span class="link__text">1979 Act Scheme</span></a> above.</p>
  <p class="text">To receive this payment the exposure to asbestos dust needs to have happened in the UK and the sufferer must not have received compensation from elsewhere. The scheme works in a similar way to the 1979 Act Scheme.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">The Diffuse Mesothelioma Scheme (DMPS)</h2>
  <p class="text">This scheme pays a lump sum payment if you were diagnosed with mesothelioma on or after 25 July 2012 and <a href="https://www.gov.uk/diffuse-mesothelioma-payment" class="link link--inline" target="_blank"><span class="link__text">can't find the employer responsible</span></a> for your contact with asbestos, or their insurer. </p>
  <p class="text">Again to receive this payment, the exposure to asbestos dust needs to have happened in the UK and the sufferer must not have received compensation from elsewhere.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Constant Attendance Allowance (CAA)</h2>
  <p class="text">This is a weekly benefit you can claim if the effects of your asbestos related illness means that <a href="https://www.gov.uk/constant-attendance-allowance" class="link link--inline" target="_blank"><span class="link__text">you need daily care and attention</span></a> for most of the time due to your disability.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Exceptionally Severe Disablement Benefit (ESDB)</h2>
  <p class="text">This is a weekly payment which you will be awarded if you have an asbestos related illness and qualify for the exceptional rate CAA.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Attendance Allowance (AA)</h2>
  <p class="text">This is a weekly benefit which you can receive if you're aged 65 or older and have an asbestos related illness and a disability which is severe enough for you to have care needs. <a href="https://www.gov.uk/attendance-allowance" class="link link--inline" target="_blank"><span class="link__text">If you receive AA</span></a>, you may also be eligible for extra pension credit, housing benefit or council tax reduction.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Personal Independence Payment (PIP)</h2>
  <p class="text"><a href="https://www.gov.uk/pip" class="link link--inline" target="_blank"><span class="link__text">This is a monthly benefit </span></a>which you may be eligible for if you're aged between 16 and 64 and have a disability which has caused you difficulties with daily living or getting around.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Carer's Allowance (CA)</h2>
  <p class="text"><a href="https://www.gov.uk/carers-allowance" class="link link--inline" target="_blank"><span class="link__text">CA is a weekly benefit </span></a>which you may be eligible for if you care for someone for at least 25 hours per week. You don't have to be related to or live with the person you care for and you won't be paid an additional payment if you care for more than one person.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Blue Badge for parking</h2>
  <p class="text"><span class="text--bold"></span>If your mesothelioma, asbestos related lung cancer, asbestosis or pleural thickening has left you with limited mobility, it may be possible that your local council will consider you eligible for a Blue Badge which enables you to use disabled parking spaces and to park on some yellow lines. You can find out how to apply to your local council on the <a href="https://www.gov.uk/apply-blue-badge" class="link link--inline" target="_blank"><span class="link__text">Government's</span></a> website.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What should I do if I think I have an asbestos related illness?</h2>
  <p class="text">Contact us today. We have a team of experts who have specialised in asbestos related illness for many years and understand the complexities which can be faced. We have a strong reputation when it comes finding insurers of companies which have been out of business for many years and securing the best possible outcome to your case. </p>
  <p class="text">We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
  <a href="/contact-us/" class="button button--secondary">Contact a legal expert today</a>
</div>