<div class="inner-block">
  <h2 class="text text--heading text--large">What are the Six Pack health and safety regulations?</h2>
  <p class="text">The Six Pack is the term generally used for the six most commonly quoted health and safety regulations. These came into effect following six EU directives in 1993, and were updated in 1999. They comprise the:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="http://www.legislation.gov.uk/uksi/1999/3242/contents/made" class="link link--inline" target="_blank"><span class="link__text">Management of Health and Safety at Work Regulations 1999</span></a><span class="text--bold">: </span>the main set of regulations
    </li>
    <li class="bullet-list__item">
      <a href="http://www.hse.gov.uk/msd/backpain/employers/mhor.htm" class="link link--inline" target="_blank"><span class="link__text">Manual Handling Operations Regulations</span></a><span class="text--bold">:</span> covering handling of heavy or awkward loads
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Display Screen Equipment (DSE) Regulations:</span> covering the safe use of computer screens and keyboards
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Workplace (Health, Safety and Welfare) Regulations:</span> covering the environments people are asked to work in
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Provision and Use of Work Equipment Regulations:</span> covering the suitability of equipment in the workplace
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Personal Protective Equipment (PPE) Regulations</span>: covering the use of protective equipment
    </li>
  </ul>
  <p class="text">These regulations are all essential to us as accident work specialists, because they clearly set out every employer's legal obligations when it comes to keeping people safe. In doing so they help make it possible for us to prove negligence on your behalf where these obligations haven't been met.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Management of Health and Safety at Work Regulations 1999</h2>
  <p class="text">This is the overarching set of Six Pack regulations, which you may also hear being referred to as 'Management Regs.' While these regulations cover many areas of health and safety, the central part of them lays out the legal duty of every employer to carry out a full risk assessment to ensure that your workplace is safe.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Manual Handling Operations Regulations</h2>
  <p class="text">Heavy lifting is a major cause of injury in the workplace. So these regulations are intended to help avoid the need for any manual handling or lifting that involves a risk of injury. It helps employers to reduce risk to the lowest possible level, but also requires employees to follow the safe working practices that are put in place as a result.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Display Screen Equipment (DSE) Regulations</h2>
  <p class="text">These regulations help to ensure that health and safety training is provided for DSE users and that every worker's daily routine is planned to include regular rest breaks away from monitors and keyboards, including breaks to do other types of work. They also require employers to pay for affected workers to have sight tests and any special spectacles or contact lenses that are needed as a result.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Workplace (Health, Safety and Welfare) Regulations</h2>
  <p class="text">These regulations cover a broad area of factors affecting the environment you have to work in. This includes things like lighting, heating, ventilation, seating, windows, rest areas, escape routes, washing facilities, changing rooms and access to clean drinking water. You have a right to work in decent conditions, and these regulations make sure that you do.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Provision and Use of Work Equipment Regulations</h2>
  <p class="text">Put simply, these regulations are designed to ensure that any equipment provided for you to use in the workplace is fit for purpose. That includes the need to maintain equipment as well as logging all routine maintenance, and making sure that users and supervisors are fully trained in how to use the equipment, as well as how to handle any foreseeable problems that might arise while they are doing so.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Personal Protective Equipment (PPE) Regulations</h2>
  <p class="text">These regulations cover Personal Protective Equipment (PPE), which must be provided wherever there are risks that can't be controlled by any other means. It ensures that where it is necessary, PPE is suitable, compatible with other PPE if more than one piece is required, properly maintained and used appropriately. In turn, employees have a duty to use PPE in the way they have been trained, and to report any loss or defect to the employer immediately.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Want to know more about safety regulations?</h2>
  <p class="text">While compensation and rehabilitation is absolutely essential, it's better to avoid illness and injuries as much as possible in the first place. So if you would like to know more about the sort of accidents that lead to injury claims in the workplace, here are a few relevant guides to things covered by the <a href="http://www.hse.gov.uk/pubns/hse40.pdf" class="link link--inline" target="_blank"><span class="link__text">Employers' Liability (Compulsory Insurance) Act 1969</span></a>, and the <a href="http://www.hse.gov.uk/legislation/hswa.htm" class="link link--inline" target="_blank"><span class="link__text">Health and Safety at Work Act</span></a> 1974.</p>
</div>
