<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading consumer law firms with workplace accident compensation specialists with the expertise and understanding you need to help you claim for your injuries and loss of earnings. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your accident</span></a> at work and we will call you.</p>
</div>
