<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's best-known compensation claim legal firms, with extensive, specialist experience of helping those with serious burns, lacerations or scars. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts<span class="text--bold">.</span></p>
</div>
