<div class="inner-block">
  <h2 class="text text--heading text--large">Can I get compensation for burns, scars or lacerations?</h2>
  <p class="text">While early medical intervention is crucial if you have suffered burns, scarring or a serious laceration, immediate legal help is also essential. That's because all of these injuries have the potential to affect your life and finances, thanks to the <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">recovery time and rehabilitation they can require</span></a>. So where someone else is to blame for serious injuries like these, you owe it to yourself - or your loved one, if you're <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">acting on their behalf</span></a> - to talk to specialist compensation solicitors as early as possible.</p>
  <p class="text">Our legal experts can help with injury claims resulting in burns scars and lacerations that have occured in many different scenarios, but the most common tend to be:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Road traffic accidents</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Accidents at work</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/clinical-and-medical-negligence-solicitors/" class="link link--inline"><span class="link__text">Medical negligence</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/military/" class="link link--inline"><span class="link__text">Military</span></a>
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much can I claim for a burn, laceration or scarring?</h2>
  <p class="text">As with all serious injuries, the amount of compensation that you might be able to claim depends on a number of factors. These include the seriousness of the injury, the prognosis for recovery and the amount of rehabilitation or other long-term care you might need. However, where liability is accepted by the party at fault, our specialist injury claim solicitors <a href="/personal-injury-claim/serious/interim-payments/" class="link link--inline"><span class="link__text">will usually seek interim payments</span></a> to help pay for urgent medical treatment and loss of earnings at the earliest possible stage.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How will I pay for long-term care?</h2>
  <p class="text">If you or a loved one has received a serious burns injury or laceration, it's natural that in addition to worrying about your recovery, you'll be concerned about how to pay for long-term care, should it be required. That's why expenses such as the cost of nursing care, medical costs and aftercare over the injured person's lifetime are generally part of the calculation when a compensation settlement is being considered. Expenses such as those for rehabilitation and<span class="text--bold"> </span>even <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">modifications to accommodation</span></a> can also be included in your claim. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How are burn injuries categorised?</h2>
  <p class="text">When someone suffers a burn injury, the level of severity is categorised as first degree, second degree or third degree. These mean: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">First degree burns:</span> damage to the outer layer of skin only, with severe pain at first but a good chance that scarring won't occur
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Second degree burns: </span>damage to two layers of skin leading to blistering. If the burn is to more than 10% of the body, patients may go into shock due to fluid loss
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Third degree burns: </span>destruction of all<span class="text--bold"> </span>three layers of skin, causing serious trauma and often permanent scarring
    </li>
  </ul>
  <p class="text">Naturally, the degree and extent of a burn will greatly affect the prognosis for recovery, which will also impact on the amount of rehabilitation you may need and the compensation you might receive. Once you have taken the first step to contact us about making a claim, we will then arrange a <a href="/personal-injury-claim/medical-assessment/" class="link link--inline"><span class="link__text">medical consultation to assess the extent of you injury</span></a> which will be done at no cost to you.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div>