<div class="inner-block">
  <h2 class="text text--heading text--large">How long do I have to claim for car accident injuries?</h2>
  <p class="text">Generally speaking, you can start a claim for compensation within three years of a car accident, though you may be allowed longer if you're <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claiming on behalf</span></a> of a child or someone with diminished mental capacity. Time limits may vary if claiming through the <a href="/personal-injury-claim/sexual-criminal-abuse/criminal-injury/cica-process/" class="link link--inline"><span class="link__text">Criminal Injuries Compensation Authority</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim if a car accident was partly my fault?</h2>
  <p class="text">Many car accidents are caused by a combination of errors. Even if you believe you were at fault as a driver, that may not be the case in purely legal terms. So it's always worth talking to us about <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation</span></a>, even if you may have been partially at fault.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long does a car accident claim take?</h2>
  <p class="text">This all depends on how <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">serious your injuries</span></a> are - ranging from <a href="/personal-injury-claim/road-traffic-accidents/whiplash-neck/" class="link link--inline"><span class="link__text">whiplash injuries</span></a> to permanent disability - as well as whether the other party's insurers accept liability. However, where a claim for compensation is likely to be straightforward as your injuries are relatively minor, we handle every No Win No Fee car accident claim through our expedited <a href="/personal-injury-claim/road-traffic-accidents/fast-track/" class="link link--inline"><span class="link__text">fast track team</span></a> to help our clients get the compensation they need as quickly as possible. </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much accident compensation can I claim?</h2>
    <p class="text">Again, this depends on the severity of any injuries. It's also important to know <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">you can claim for a number of losses</span></a> caused by a car accident, including general damages, additional travel expenses and loss of earnings. You may also be able to claim for the cost of any physiotherapy or other essential rehabilitation.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What if I was injured on public transport.</h2>
    <p class="text">Accidents involving public transport such as collisions with taxis or Ubers and even busses can happen and aren't uncommon. If you were involved in one of these collisions even if you were a pedestrian or in another vehicle, Slater and Gordon could help you get the compensation you deserve to get you back on your feet.</p>
    <p class="text">Call us today freephone on {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>.</p>
    <a href="/personal-injury-claim/road-traffic-accidents/public-transport/" class="button button--secondary">Public transport accidents</a>
</div>