<div class="inner-block">
  <h2 class="text text--heading text--large">What is carbon monoxide poisoning?</h2>
  <p class="text">Carbon monoxide is an odourless, colourless gas that is usually produced by badly serviced gas boilers, car exhaust pipes and blocked flues. Also known as 'the silent killer', it is responsible for thousands of cases of carbon monoxide poisoning every year, a few of which result in permanent brain damage or even death. In most of these cases, <a href="/personal-injury-claim/illness/carbon-monoxide/landlord-legal-requirements/" class="link link--inline"><span class="link__text">the cause is a failure of landlords or letting agencies</span></a> to get boilers serviced and flues checked, though some cases are also caused by faulty workmanship by plumbers and gas engineers. </p>
  <p class="text">If you are <a href="/personal-injury-claim/illness/carbon-monoxide/what-to-do-if-worried-about-co/" class="link link--inline"><span class="link__text">worried about carbon monoxide poisoning</span></a> act immediately! </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I prove I have carbon monoxide poisoning?</h2>
  <p class="text">One of the difficulties of carbon monoxide poisoning is that symptoms can be missed even by experienced medical professionals. It isn't unknown for doctors to assume patients are suffering from ME when in fact they are being slowly poisoned by a faulty gas boiler. It is also common for insurance companies to deny all liability for carbon monoxide poisoning. That's why our specialist claims solicitors work with toxicologists, neurologists and liability engineers to prove carbon monoxide poisoning and its causes.</p>
  <p class="text">Read our expert guide on <a href="/personal-injury-claim/illness/carbon-monoxide/expert-guide/" class="link link--inline"><span class="link__text">claiming for carbon monoxide poisoning here</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What will carbon monoxide poisoning compensation cover?</h2>
  <p class="text">We take on most carbon monoxide poisoning cases on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>, and seek to claim compensation for our clients' pain and suffering, as well as expenses to cover things like <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">medical treatment, prescriptions, loss of earnings and travel expenses</span></a>. The amount you might eventually receive depends on the severity of your condition and the chances of a full recovery; and while there are rarely quick and easy resolutions to these cases, we often seek interim payments to help our clients while a final compensation figure is being agreed. [Button]<a href="/contact-us/" class="link link--inline"><span class="link__text">Talk to an expert</span></a><span class="text--bold"> </span></p>
</div>
