<div class="inner-block">
  <p class="text"> Slater and Gordon represents a large number of clients in a wide variety of carbon monoxide poisoning compensation claims. However you or a family member have been affected, call us on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to tell us about the incident.</p>
</div>
