<div class="inner-block">
  <h2 class="text text--heading text--large">How we can help</h2>
  <p class="text">If you have ever suffered from food poisoning, you know how serious it can be. Slater and Gordon are here to help you avoid food poisoning at home - and claim compensation for food poisoning elsewhere on a No Win No Fee basis. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How can I avoid food poisoning?</h2>
  <p class="text">You can't always avoid food poisoning if you're eating out or grabbing a sandwich. But viruses and bacteria that are present in the food we consume at home can also be dangerous, unless you follow a few important steps to help you avoid these common forms of food poisoning:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Salmonella:</span> high risk foods for this include undercooked eggs, chicken and beef and unpasteurised milk. Cooking food well will kill the salmonella bacterium
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Shigella: </span>this bowel infection lives in faeces and is usually spread by people failing to wash their hands after going to the toilet
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">E.coli:</span> infections can be avoided by washing hands thoroughly after going to the toilet or touching animals, particularly farm animals
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Giardia: </span>this parasite is a tummy bug that causes diarrhoea, which is spread by food washed in dirty water, and people swallowing water in lakes and rivers 
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Norovirus: </span>also called the winter vomiting bug, this is spread by close contact with others. Stay off work and away from hospitals if you think you might have it
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Rotavirus: </span>Spread by faeces, this nasty virus is common in babies and small children and is hard to avoid in nursery and daycare environments
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Campylobacter: </span>The most common cause of food poisoning in the UK, it can be prevented by cooking meat and poultry thoroughly and avoiding unpasteurised milk and untreated water
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Cryptosporidium: </span>Usually seen in the under-fives, this parasite is resistant to chlorine, so it can be caught in swimming pools, as well as by contact with infected lambs and calves at petting farms 
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What steps should you take to avoid food poisoning?</h2>
  <p class="text"><a href="/personal-injury-claim/illness/food-poisoning/restaurant-guidelines/" class="link link--inline"><span class="link__text">Restaurants should be taking a wide variety of steps to ensure their food is safe to eat</span></a>, however a lot of the rules and regulations they follow can easily be implemented at home to make your kitchen safer. So regardless if you are at home or if you are out and about, the below steps can help you keep safe from food poisoning.</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Always wash your hands -</span> It is important that you take care and do this correctly, thankfully <a href="https://www.nhs.uk/live-well/healthy-body/best-way-to-wash-your-hands/" class="link link--inline" target="_blank"><span class="link__text">the NHS has put together this helpful guide</span></a>. This step alone is the most important to stop spreading a wide variety of bugs and illnesses.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Thoroughly clean kitchen surfaces -</span> Make sure you are cleaning kitchen surfaces properly, using the right chemicals for the job, especially if you have been preparing anything that is likely to be contaminated such as raw meat.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Wash and change dishcloths regularly -</span> if these are left damp and bunched up they can be a breeding ground for a wide variety of bacteria.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Separate chopping boards - </span> have a specific chopping board for raw meat and fish and do not use it to prepare anything else.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Store raw meats correctly - </span>ideally raw meats should be separated from ready-to-eat foods and should never be stored above other foods in the fridge as they can drip.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Cook food thoroughly - </span> Meat should be cooked thoroughly, regardless of whether you cooked it yourself or ordered it in a restaurant. If you aren't sure, cook it a little more to be on the safe side.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Respect use by dates - </span>they are there for a reason
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Make sure your fridge temperature is below 5C - </span>The colder the temperature the slower bacteria can grow and spread
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Do not leave food out - </span>If not serving food straight away, it should be cooled quickly and not left out for extended periods of time before storing.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Reheat food correctly - </span> Some foods such as rice need to be reheated thoroughly as they can sometimes contain certain bacteria that can survive the cooking process.
    </li>
  </ul>
</div>
