<div class="inner-block">
  <h2 class="text text--heading text--large">What is chemical poisoning at work?</h2>
  <p class="text">Chemical poisoning is the term used to describe the effects of exposure to a broad range of substances, including:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Dangerous chemicals and products containing chemicals
    </li>
    <li class="bullet-list__item">
      Vapour, fume or dust from hazardous materials
    </li>
    <li class="bullet-list__item">
      A wide variety of industrial gases
    </li>
    <li class="bullet-list__item">
      Bacteria, viruses and other biological agents
    </li>
  </ul>
  <p class="text">Exposure to any of these chemicals or by-products can lead to a variety of serious illnesses including:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/" class="link link--inline"><span class="link__text">Mesothelioma and other asbestos related diseases</span></a>
    </li>
    <li class="bullet-list__item">
      Nasal cancer
    </li>
    <li class="bullet-list__item">
      Bladder Cancer
    </li>
    <li class="bullet-list__item">
      Skin Cancer
    </li>
    <li class="bullet-list__item">
      Lung Cancer (non asbestos related)
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/skin-conditions-dermatitis/" class="link link--inline"><span class="link__text">Occupational dermatitis</span></a> (or any other skin condition)
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/occupational-asthma/" class="link link--inline"><span class="link__text">Occupational asthma</span></a>
    </li>
    <li class="bullet-list__item">
      Allergies
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/serious/burns-scars-lascerations/" class="link link--inline"><span class="link__text">Burns</span></a>
    </li>
    <li class="bullet-list__item">
      Internal organ damage
    </li>
    <li class="bullet-list__item">
      Respiratory problems
    </li>
    <li class="bullet-list__item">
      Illnesses such as Leptospirosis or Legionnaires Disease
    </li>
  </ul>
  <p class="text">If you believe you've been made ill by any form of chemical poisoning at work, or have suffered from symptoms including breathing difficulties, wheezing, coughing, sickness, or dizziness, talk to a specialist solicitor right away. <a href="/personal-injury-claim/industrial-disease/work-related-cancer/" class="link link--inline"><span class="link__text">Read more on work related cancers here</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Does my employer have a duty of care?</h2>
  <p class="text">The law says that every employer has a duty of care to protect employees from suffering harm in the workplace. Where your employer failed to foresee the harm that could be caused by your occupation, or provide the protective gear specified, they could be said to have failed in their duty of care. Read more on the health and safety regulations designed to protect you in the workplace.</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">The six key health and safety regulations</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/coshh/" class="link link--inline"><span class="link__text">What is COSHH</span></a>
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do I need a specialist chemical poisoning lawyer?</h2>
  <p class="text"><span class="text--bold"></span><a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">Industrial disease claims</span></a><span class="text--bold"></span> are quite a specialised area of the law, so it makes sense to deal with solicitors who have extensive experience and a track record of successful claims. Slater and Gordon employs specialist lawyers in every area of industrial disease compensation claims. Just as importantly, we understand the impact that a diagnosis of industrial disease can have on victims and their families, and aim to be as considerate and supportive as possible throughout the claims process.</p>
</div>
