<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's most well known chemical injury compensation specialists, with unsurpassed knowledge of the claims process. Contact us right away on freephone {{{meta.phonenumber.contentLink}}} or tell us about your exposure to hazardous materials and we will call you.</p>
</div>
