<div class="inner-block">
  <p class="text"> Slater and Gordon Lawyers has extensive experience of supporting those who've suffered from abuse. Our service is guaranteed to be confidential, and our specialist lawyers aim to bring you justice and compensation. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts.</p>
</div>
