<div class="inner-block">
  <h2 class="text text--heading text--large">Who can I talk to about child abuse?</h2>
  <p class="text">As experienced abuse solicitors, we understand the deep hurt that sufferers of child abuse feel, however long ago the events took place. We know that many people don't feel able to talk about things until they're adults, and even then it's far from easy. That's why our promise to you is that when you seek compensation through Slater and Gordon, you will always be treated with absolute discretion and understanding, by solicitors who have helped many, many people in similar situations to you over the years. When you're ready to talk, we're here to listen.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is historic child abuse?</h2>
  <p class="text">This is a term that describes abuse that took place in the past when you were a child. Also referred to as 'non-recent abuse', it's commonly used when describing child abuse, as many people who have suffered child abuse are unable to talk about it until they are much older. This abuse can have taken many different forms, though we most commonly help people who have suffered from:</p>
  <p class="text">• Physical abuse</p>
  <p class="text">• Sexual abuse</p>
  <p class="text">• Childhood neglect</p>
  <p class="text">If you would like to talk to someone about your experience, in absolute confidence, please contact us on our dedicated abuse line {{{meta.phonenumber.contentLink}}}<span class="text--bold">,</span> or you can also use <a href="/contact-us/" class="link link--inline"><span class="link__text">the contact form</span></a> and an experienced abuse solicitor will get in touch with you.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the most common areas of child abuse?</h2>
  <p class="text">Sadly, abuse can take place almost anywhere by anyone. These are the most common areas of child abuse:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Abuse in sports clubs 
    </li>
    <li class="bullet-list__item">
      Abuse in religious organisations
    </li>
    <li class="bullet-list__item">
      Abuse in schools and colleges
    </li>
    <li class="bullet-list__item">
      Neglect by Social Services
    </li>
    <li class="bullet-list__item">
      Abuse in children's care homes
    </li>
    <li class="bullet-list__item">
      Abuse in scouts clubs and other youth groups
    </li>
    <li class="bullet-list__item">
      Abuse by Individuals, including celebrities and public figures
    </li>
  </ul>
  <p class="text">We know this because Slater and Gordon's dedicated Abuse Team specialise in fighting for those who've suffered all forms of abuse. <a href="/our-experts/richard-scorer/" class="link link--inline"><span class="link__text">Richard Scorer, Head of the Abuse Team at Slater and Gordon</span></a>, is one of Britain's leading specialists in child abuse litigation, and is supported by a team with a wealth of experience in this area. Richard has written and lectured extensively on the subject of child abuse. His book 'Betrayed: The English Catholic Church and the Sex Abuse Crisis' was published in 2014 and he also co-authored the APIL Guide to Child Abuse Compensation Claims published in 2011.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will my case stay confidential?</h2>
  <p class="text">We are committed to protecting your privacy as well as helping you to obtain justice; treating every single case as 100% confidential. Your right to confidentiality is also protected in law, and we can testify from experience that victims of abuse are never named in public or the media, even in the most high profile cases involving extremely well known predators.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who would I have to talk to?</h2>
  <p class="text">The person you will speak to at Slater and Gordon will be one of our specialist abuse claims solicitors. Every one of them has helped many abuse sufferers, and appreciate just how hard it is for you to talk about your experience. They have the time to listen to everything you want to say, and there will be no pressure to start a case until you're absolutely sure you're ready to. If you'd like to see the sort of person you would be talking to, just watch the video below. It doesn't just talk about what we might be able to do for you, it explains why it matters to us to help people in your situation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">We campaign for Mandatory Reporting</h2>
  <p class="text">Slater and Gordon's specialist team of abuse lawyers have been campaigning for the introduction of mandatory reporting on child abuse and neglect since 2013, in the wake of Jimmy Savile's horrific crimes. A survey we carried out in February 2014 showed that 96% of the public support a legal change to introduce mandatory reporting and in July 2016 a Government Consultation was launched, looking at options for reform of the Child Protection system in England.</p>
</div>
