<div class="inner-block">
  <h2 class="text text--heading text--large">Acting as a Litigation Friend</h2>
  <p class="text">When a child has been injured and has the right to compensation, they obviously are unable to act on behalf of themselves. Someone who will act in the child's best interests needs to be appointed to bring the claim on their behalf. This person is known as their 'litigation friend'. </p>
  <p class="text">A litigation friend is usually a parent or guardian, however, a professional person can also be appointed to act on a child's behalf. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Early settlements and parental indemnities</h2>
  <p class="text">There are cases where the insurance company of those negligent for the child's injury wish to settle the case early in order to bring matters to a close and their compensation offer may seem reasonable to the litigation friend acting in the child's best interests. </p>
  <p class="text">Insurers often make these offers and ask the litigation friend to agree to the claim being settled by signing a 'Parental Indemnity' agreement. Signing this form basically means that you're agreeing to settle the case on behalf of the child without seeking approval from the court. </p>
  <p class="text">The problem with this is, although as a litigation friend you would have acted in the best interests of the child, if you have received poor advice and have made the wrong decision by settling early and not seeking court approval, the litigation friend is then open to a claim being made against them. </p>
  <a href="https://www.justice.gov.uk/" class="button button--secondary" target="_blank">Click here for more information</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Court approval</h2>
    <p class="text">We would therefore always recommend that as a litigation friend, you seek court approval. How this works is, when the insurance company of those negligent make an offer to settle the case, and we have negotiated settlement on your behalf and reached an agreement, a hearing known as an 'Infant Approval Hearing' will be arranged. </p>
    <p class="text">A judge will review all the evidence in the case, including medical evidence, and details of the agreement reached. At the Infant Approval Hearing, the judge will then decide whether the settlement terms agreed are reasonable, fair and in the child's best interests. </p>
    <p class="text">If the judge considers that the settlement is too low, they will reject it on behalf of the child and the insurers will then have to increase their offer. </p>
    <p class="text">The court approval process is therefore something that we would recommend as it's in place to protect children and ensure that they're not disadvantaged in any way by the settlement reached. It also protects the litigation friend from any potential claim against them as they have sought court approval rather than settling the claim by signing a parental indemnity agreement.  </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Court Funds Office</h2>
    <p class="text">The Court Funds Office is an office in England and Wales that looks after money held on behalf of clients who are unable to look after it themselves, such as those who don't have mental capacity to look after their own financial affairs or for children, and it provides a banking and investment service. <a href="https://www.gov.uk/court-money-children" class="link link--inline" target="_blank"><span class="link__text">The litigation friend will be responsible</span></a> for liaising with the Court Funds office until the child turns 18. </p>
    <p class="text">As any settlement money belongs to the child, the judge will often arrange for the money to be invested with the Court Funds Office until the child reaches 18 years old, when the money will be released to them. </p>
    <p class="text">For a free consultation about making a personal injury claim on behalf of a child call Slater and Gordon 24/7 on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>.</p>
</div>
