<div class="inner-block">
  <h2 class="text text--heading text--large">Why has my insurance company recommended a solicitor?</h2>
  <p class="text">Many insurance companies have what they call 'panels' of solicitors and other law firms, who they recommend to their clients in the event that they wish to make a claim for injury compensation. There's absolutely nothing wrong with them doing this, but it's important for you to understand that you don't have to use the legal firm that your insurers prefer.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Why should I consider Slater and Gordon?</h2>
  <p class="text">We are one of the UK's leading accident claims solicitors, and the majority of the injury compensation claims we handle are dealt with under a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee agreement</span></a>, so there's no financial risk to you. We are also a nationwide business, with the resources to fight for the <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation and medical support</span></a> you may need, as well as the financial compensation you deserve.</p>
  <p class="text">Just as importantly, you have to feel comfortable with the accident claims solicitors who act on your behalf. You need to trust them, and believe that they have the expertise and the resources to get the best result for you. That's why you have the legal right to choose your own claims solicitor.</p>
  <p class="text">So if you want to appoint your own preferred law firm, contact us today on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your accident</span></a> online and we will phone you instead. </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What exactly can Slater and Gordon offer me?</h2>
    <p class="text">Slater and Gordon is one of the UK's leading injury compensation claim specialists. We believe that we are approachable as well as knowledgeable, and have built our services around the needs of valued customers like you.</p>
</div>
