<div class="inner-block">
  <p class="text"> Slater and Gordon is an independent and impartial road traffic accident law firm, so we can help you claim the injury compensation you deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your accident</span></a> and we will call you.</p>
</div>
