<div class="inner-block">
  <h2 class="text text--heading text--large">Will a solicitor understand my chronic pain?</h2>
  <p class="text">One of the most difficult things for people with chronic pain to deal with is that there may be no outward signs of the distressing pain that they are in, and even the best GPs can struggle to understand something they can't see. Even so, our specialist legal team has encountered enough people suffering with chronic pain to know that an injury doesn't have to be visible to be real. Some of the injuries that have been linked to chronic pain include:</p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Road traffic accidents</span></a></p>
  <p class="text"><a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Accidents at work</span></a></p>
  <p class="text"><a href="/clinical-and-medical-negligence-solicitors/" class="link link--inline"><span class="link__text">Medical negligence</span></a></p>
  <p class="text"><a href="/personal-injury-claim/accident-at-work-compensation/military/" class="link link--inline"><span class="link__text">Military accidents</span></a></p>
  <p class="text"><a href="/personal-injury-claim/injury-in-public/slips-trips-falls/" class="link link--inline"><span class="link__text">Broken limbs due to slips, trips and falls</span></a></p>
  <p class="text">So if you suffer from chronic pain that it resulted from someone else's actions or negligence, you can <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us</span></a>, secure in the knowledge that we understand what you're going through and will do our best to seek the compensation you need whenever possible. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What conditions cause chronic pain?</h2>
    <p class="text">It is now well understood that while previous injuries can lead to chronic pain, there are a number of other medical conditions that may be responsible. These include:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        Chronic pain syndrome
      </li>
      <li class="bullet-list__item">
        <a href="https://www.nhs.uk/conditions/complex-regional-pain-syndrome/" class="link link--inline" target="_blank"><span class="link__text">Complex regional pain syndrome</span></a>
      </li>
      <li class="bullet-list__item">
        Chronic fatigue syndrome (CFS)
      </li>
      <li class="bullet-list__item">
        Somatoform disorder
      </li>
      <li class="bullet-list__item">
        Fibromyalgia
      </li>
    </ul>
    <p class="text">Even if you have been told that the pain you are feeling is 'all in the mind' - perhaps even by a respected doctor or specialist - medical science now fully accepts that chronic pain has many causes. As specialist lawyers, we also believe that where your chronic pain has been caused by someone else's actions or negligence, it's often appropriate to seek financial compensation to help you with any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation that may help to ease the pain</span></a>, and to live your life to the fullest again.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How much can I claim for my chronic pain?</h2>
    <p class="text">The claim value depends on a wide variety of factors such as the severity of an injury and what <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">other expenses need to be claimed for, such as loss of earnings</span></a>, any <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">house adaptations or modifications</span></a> that may be necessary and any medical costs.</p>
</div>
