<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading compensation claim legal firms, with expertise that encompasses everything from serious illness to chronic pain compensation. Call us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your condition</span></a> and we will call you.</p>
</div>
