<div class="inner-block">
  <h2 class="text text--heading text--large">What is the CICA scheme?</h2>
  <p class="text">The CICA is a Government funded scheme designed to compensate blameless victims of violent crime in Great Britain. It doesn't cost anything to submit an application but the incident must have happened in England, Wales or Scotland and have been reported to the police.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is the eligibility criteria for CICA claims?</h2>
  <p class="text">The CICA have set criteria which enables you to claim under their scheme, which includes:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      You must have suffered the injury as a result of a crime of violence
    </li>
    <li class="bullet-list__item">
      The incident must have happened in England, Wales or Scotland 
    </li>
    <li class="bullet-list__item">
      The incident must have been reported to the police as soon as practically possible
    </li>
    <li class="bullet-list__item">
      You must fully cooperate with the police and the CICA
    </li>
    <li class="bullet-list__item">
      Your injuries just be serious enough to meet the minimum requirements of the CICA scheme
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who can apply for CICA compensation?</h2>
  <p class="text">The people who can apply for compensation under the scheme include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      A person who has suffered an injury 
    </li>
    <li class="bullet-list__item">
      A close relative of someone who passed away as a result of their injuries
    </li>
    <li class="bullet-list__item">
      A witness of a crime or someone who arrived at the scene of the crime immediately afterwards and has suffered a psychological injury
    </li>
    <li class="bullet-list__item">
      A person who has paid funeral expenses of someone who passed away as a result of their injuries 
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are there time limits to applying for CICA compensation?</h2>
  <p class="text">If you were an adult at the time of the incident, you should apply within <a href="https://www.gov.uk/claim-compensation-criminal-injury/eligibility" class="link link--inline" target="_blank"><span class="link__text">two years of the date of the incident</span></a>. However, the time limit can be extended if there were exceptional circumstances which prevented you from applying earlier and the evidence to support the application means it can be determined without further extensive enquiries. </p>
  <p class="text">If you were a child under 18 years old at the time of the incident, the two year time limit doesn't apply. If the incident was reported to the police before the child turned 18, then the two year limit would run from the date the child turned 18, i.e. they would have to make the claim before their 20th birthday. </p>
  <p class="text">The CICA will consider extending time limits where you can prove that you were unable to make the claim earlier, for example, if you had a psychological illness as a result of the incident. So it's always best to check with the CICA first to see if it's still possible to bring a claim, even if you're outside of the applied time limit. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What information do you need to provide when applying for CICA compensation?</h2>
  <p class="text">You will need the : </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Date and location of the crime
    </li>
    <li class="bullet-list__item">
      Name of the police station where the crime was reported
    </li>
    <li class="bullet-list__item">
      Crime reference number
    </li>
    <li class="bullet-list__item">
      GP's name and address
    </li>
    <li class="bullet-list__item">
      Dentist's name and address (if you had dental treatment because of your injuries)
    </li>
    <li class="bullet-list__item">
      Details of any previous applications you've made to CICA
    </li>
    <li class="bullet-list__item">
      Details of any unspent criminal convictions
    </li>
    <li class="bullet-list__item">
      Proof of identity for you or anyone you're responsible for, such as a birth or marriage certificate, power of attorney or deed poll
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What happens once you've completed and submitted your CICA application form?</h2>
  <p class="text">Once you've submitted your completed <a href="https://www.gov.uk/claim-compensation-criminal-injury" class="link link--inline" target="_blank"><span class="link__text">CICA application</span></a> form, the CICA will usually request the police file and your consent to access your medical records to assess the injuries you sustained. You may also be asked to attend a medical examination to determine the severity of your injuries and any lasting effects they'll have on your life along with further treatment you may need.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What happens once the CICA have all the information they need to process the claim?</h2>
  <p class="text">When all the information about your case and injuries has been obtained by the CICA, they'll review it and come to a conclusion on whether your case will be compensated and for how much. This process can take any length of time from a few months to a couple of years depending on the complexity and circumstances of your case. </p>
</div>
