<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading industrial disease specialists. Contact us right away on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your industrial disease</span></a>  - or that of a loved one - and we will call you.</p>
</div>
