<div class="inner-block">
  <h2 class="text text--heading text--large">How do I claim for injuries caused by faulty products?</h2>
  <p class="text">If you or a family member has been injured by a faulty product - from an inflammable mobile phone to a contaminated jar of face cream - you may be able to claim injury compensation from the manufacturers. Naturally, the faulty product itself is the best proof of your claim, but there are a number of things that can assist in ensuring your compensation claim will be successful.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What proof do I need for a product liability claim?</h2>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Keeping receipts always helps</span>
    </li>
  </ul>
  <p class="text">It's good practice to always keep receipts for everything you buy, whether it's a major purchase or not, as well as returning the guarantee card to the manufacturer on occasions when you've bought an electrical product. </p>
  <p class="text">In the event that an injury claim has to be made against the manufacturer, your receipt will help your solicitor to prove exactly when and where you bought the product. This is crucial, because if you can't prove that you bought the product, proving the right to injury compensation may be more complex.</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Keep as much of the product - and the packaging - as possible</span>
    </li>
  </ul>
  <p class="text">Making a defective product liability claim successfully relies on proving that the manufacturer is to blame for your injury. So even if you are tempted to throw the product away - as it's unlikely that you'd want to keep an unstable stepladder or contaminated cosmetics - it's essential to keep it somewhere safe, in the best condition possible, so that it can be assessed by our experts, the manufacturer's own experts, and perhaps even by the court in serious cases.</p>
  <p class="text">It's also helpful if all packaging, including any instructions or guarantees can accompany your evidence.</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Keep an accurate record of everything that happened</span>
    </li>
  </ul>
  <p class="text">Whether a defective product liability case is settled between legal firms or in court, clear, reliable evidence is an essential part of making a claim successful. So as soon as practically possible after an injury has been caused by a defective product, you should write down every relevant fact, and take photos to back up the facts whenever possible. Your notes should include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Where and when you bought the product
    </li>
    <li class="bullet-list__item">
      How often you've used it
    </li>
    <li class="bullet-list__item">
      What you were doing when the injury occurred
    </li>
    <li class="bullet-list__item">
      What injury you sustained 
    </li>
    <li class="bullet-list__item">
      What medical help you sought
    </li>
    <li class="bullet-list__item">
      Any medical records to accompany your own notes
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Get all the evidence to your solicitor</h2>
  <p class="text">While claiming a refund for faulty goods from a retailer is usually a simple matter, where an injury has been caused, we recommend that you talk to a solicitor specialising in defective product injury claims about seeking compensation, rather than the manufacturer of the product. They have their reputation to protect, and will seldom be pleased to hear about a potentially damaging product liability claim, That's why, in the event that you've been injured by a defective product, it's generally better to speak to an experienced claims solicitor with a track record of success. In the majority of cases, Slater and Gordon will be happy to act for you on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>.</p>
</div>
