<div class="inner-block">
  <h2 class="text text--heading text--large">How do I know if I have a claim?</h2>
  <p class="text">Even this stage in the claims process can be difficult. After an accident neither party may admit fault which can slow the process down. It is key at this stage that you keep all relevant information and photographs well organised and make notes as you may struggle to remember clearly at a later date. Then get in touch with us as soon as possible so we can help you establish whether or not you have a claim.</p>
  <a href="/personal-injury-claim/road-traffic-accidents/what-to-do-in-accident/" class="button button--secondary">What to do after an accident</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How does the claims process work?</h2>
</div>
