<div class="inner-block">
  <h2 class="text text--heading text--large">How can I claim if the other driver isn't insured?</h2>
  <p class="text">Driving without insurance is a serious offence, and rightly so. If you've been injured by an uninsured driver, a stolen car, or even by a driver that hit and run, you probably think that you're on your own. Fortunately, at Slater and Gordon we have extensive experience of successfully pursuing claims like this for our clients through the Motor Insurers' Bureau (MIB). </p>
  <a href="/contact-us/" class="button button--secondary">Start an MIB claim</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What is the Motor Insurers' Bureau?</h2>
    <p class="text">The <a href="https://www.mib.org.uk/making-a-claim/what-we-do/" class="link link--inline" target="_blank"><span class="link__text">Motor Insurers Bureau</span></a> runs a fund that every motor insurer pays into, providing around £30 million a year with which to pay compensation for the recklessness of uninsured drivers. As one of the UK's leading injury claim legal firms, we have extensive experience of dealing with the MIB: proving that accidents and injuries have actually occurred, and helping to make sure that the victims of uninsured drivers receive the compensation they need and deserve.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What is my Motor Insurers' Bureau claim worth?</h2>
    <p class="text">Claiming against an uninsured driver through the Motor Insurers' Bureau should make no difference compared to claiming through your own insurance with regards to the value of your compensation. This is mainly dependent on the severity of any injuries as well as any damage to your property and loss of earnings you may incur.</p>
    <a href="/contact-us/" class="button button--secondary">Make a No Win No Fee Claim</a>
</div>