<div class="inner-block">
  <p class="text">Slater and Gordon is one of Britain's leading personal injury claim firms, so we're here to help you help your friend or loved one to receive the compensation they deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts today.</p>
</div>
