<div class="inner-block">
  <h2 class="text text--heading text--large">What is Uber?</h2>
  <p class="text">Uber has grown rapidly since its launch in 2011 and unlike regular taxi companies, Uber doesn't describe itself as a 'private hire taxi firm' but as a 'ride-sharing service', connecting those needing a ride to drivers offering one. Uber customers use a smartphone app to submit journey requests, to which drivers equipped with Uber's technology platform can respond.</p>
  <p class="text">Uber considers drivers to be independent contractors rather than employees. All drivers must use their own vehicles and take out their own insurance, meaning Uber does not keep a check on the conduct of their drivers or the condition of the vehicles driven under the Uber brand.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do you claim for injuries sustained in an Uber road accident?</h2>
  <p class="text">Users who download the Uber app must agree to a host of <a href="https://www.uber.com/legal/gbr/terms" class="link link--inline" target="_blank"><span class="link__text">terms and conditions</span></a> which include a limitation of liability clause, in which Uber state they "will not be liable to you in any way."</p>
  <p class="text">People wishing to get in touch with Uber after an accident in one of their taxis can be left very frustrated as the company doesn't provide any customer service phone numbers, only a 'support' email address and a contact form on their website.</p>
  <p class="text">If you've been injured as a passenger in an Uber, contact an experienced <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">road traffic accident lawyer</span></a> as soon as possible. Slater and Gordon has expert lawyers who can advise you on the necessary steps in pursuing a personal injury claim against Uber or one of their drivers.</p>
  <p class="text">Slater and Gordon offer a free consultation to anyone injured in an accident through no fault of their own. The majority of claims are dealt with on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee</span></a> basis, meaning there's no financial risk to you.</p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/public-transport/" class="link link--inline"><span class="link__text">Click here for more information on other forms of public transport injury claims</span></a>.</p>
  <p class="text">Call us 24/7 on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> and we'll be happy to help you.</p>
</div>
