<div class="inner-block">
  <p class="text"> Product liability compensation claims can be a complex subject to tackle by yourself. Our legal experts have put together the below guide, answering the commonly asked questions relating to defective product claims. If you've been injured by a faulty product and want to claim, call us on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to a legal expert today.</p>
</div>
