<div class="inner-block">
  <h2 class="text text--heading text--large">Industrial disease claims process</h2>
  <p class="text">We fully understand the difficulties that those suffering with an industrial disease can face and that the claims process can seem daunting. This brief guide is designed to provide a reference point to help you understand the process involved and the ways in which our experienced solicitors will help you seek justice and compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Deciding to make a claim for compensation</h2>
  <p class="text">Every employer has a duty of care to protect their employees from harm. Where employers have failed in that duty, and you have suffered an industrial disease as a result, you may have the right to compensation. </p>
  <p class="text">Slater and Gordon has a large team of specialists across the country who have a vast amount of experience when it comes to cases of industrial disease. Some of the most common cases of industrial disease we work on include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/" class="link link--inline"><span class="link__text">Asbestos related illnesses</span></a>, such as mesothelioma, asbestos related lung cancer, asbestosis and pleural thickening - we also deal with pleural plaques in Scotland
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/work-related-cancer/" class="link link--inline"><span class="link__text">Occupational cancers</span></a>, such as bladder cancer, lung cancer, nasal cancer and skin cancer
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/occupational-asthma/" class="link link--inline"><span class="link__text">Occupational asthma and other respiratory illnesses</span></a> 
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/skin-conditions-dermatitis/" class="link link--inline"><span class="link__text">Occupational dermatitis and other skin conditions</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/chemical-poisoning/" class="link link--inline"><span class="link__text">Chemical poisoning</span></a> 
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/vibration-injury/" class="link link--inline"><span class="link__text">Hand arm vibration syndrome / vibration white finger</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/industrial-deafness-tinnitus/" class="link link--inline"><span class="link__text">Occupational hearing loss and tinnitus</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/repetitive-strain-injury/" class="link link--inline"><span class="link__text">Repetitive strain injury</span></a> 
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/silicosis/" class="link link--inline"><span class="link__text">Silicosis</span></a> 
    </li>
  </ul>
  <p class="text">This list is not exhaustive, so no matter what your illness, if it's been caused because of your employers' failure in their duty of care, <a href="/contact-us/" class="link link--inline"><span class="link__text">contact our specialist industrial disease team </span></a>who will advise you on whether or not you have a claim for compensation. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">No Win No Fee agreements</h2>
  <p class="text">Once you've decided to make a claim, the first thing we will need to do is protect you from any financial risks. This is why we offer all our industrial disease clients funding under a No Win No Fee agreement, meaning if your case is lost, you won't have to pay a penny and therefore, there's no financial risk to you. </p>
  <p class="text">Not only do we offer all our clients who have an asbestos related disease funding under a No Win No Fee agreement, but we'll also not charge anything if you win your case, meaning you'll get to keep 100% of your compensation. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Making a statement</h2>
  <p class="text">Firstly, we'll need to take a statement from you. To do this, we'll have to take a full details of illness including your diagnosis, any symptoms and any affect on your everyday life. We'll also take full details of your work history and how you came to suffer your illness. </p>
  <p class="text">With cases such as asbestos related illnesses, where exposure happened many years' ago, it can often be difficult to remember some of the details. It can help to initially write down a timeline, try to remember who you worked with and projects you may have worked on there. This may help you remember.  </p>
  <p class="text">Also, if you do remember anyone you worked with at the time, we can look at contacting them to see if they're happy to make a witness statement in support of your claim. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Informing those responsible</h2>
  <p class="text">We'll need to send a letter to the company we believe is responsible for your illness and this letter is known as a 'letter of claim'. This will inform them that you've developed an illness which was caused by your employment with them. </p>
  <p class="text">Companies have insurance called 'employer's liability insurance' which cover them for such cases. They'll therefore send this letter to their insurance company to deal with the claim on their behalf. The insurers will either deal with the claim themselves, or pass it to their solicitors to represent them. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Companies that are no longer trading</h2>
  <p class="text">As with many industrial diseases, the cause of the illness happened many years ago, so it's often the case that the companies responsible have gone out of business. There's no need to worry if this is the case. Research will be undertaken to find which insurers provided employers' liability insurance to the company at the time you worked there and will send the letter of claim directly to that insurance company. </p>
  <p class="text">Slater and Gordon has a fantastic reputation when it comes to tracing insurance companies. We often assist other law firms in tracing insurers when they are unable to. </p>
  <p class="text">If you worked for a <a href="/personal-injury-claim/industrial-disease/turner-newall/" class="link link--inline"><span class="link__text">Turner and Newall</span></a> company, claims have to go through a trust called the T&N UK Asbestos Trust. Click the Turner and Newall link to learn more about those cases. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Medical evidence</h2>
  <p class="text">In order to prove you have an industrial disease, we must obtain medical evidence. Firstly, we'll access your medical records (of course with your consent) and will review them accordingly. </p>
  <p class="text">We'll then arrange for you to see a medical expert who specialises in your illness and also in arranging reports which are used by the court. Such reports are called 'medico legal reports'. </p>
  <p class="text">In some cases, you may have to see more than one type of medical expert - depending on your illness, or the same expert more than once - if we need to see what progress has been made. </p>
  <p class="text">The insurers or solicitors of those responsible may also decide they want their own medical evidence. If this is the case, you may also have to attend a medical appointment with their medico legal expert.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Schedule of loss</h2>
  <p class="text">Once we have all the necessary evidence in the case, we can work out how much compensation you should receive so we can request this from the other side's insurers. To do this, we draw up a document called a 'schedule of loss'. </p>
  <p class="text">This document is usually split into two sections:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">General damages </span>
    </li>
  </ul>
  <p class="text">General damages is the amount you receive for your pain, suffering and loss of enjoyment of life. In order to reach this figure, there are guidelines in place known as the Judicial College Guidelines and we also use previous similar cases which have appeared in court. By using your statement and medical evidence we can review what your general damages are worth. </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Special damages </span>
    </li>
  </ul>
  <p class="text">Special damages are designed to put you in the same financial position as you would have been but for developing your illness. Therefore, any financial expenses you've incurred, whether you've incurred them already or are likely to incur them in the future, are listed in the special damages section. Such expenses can include:  </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Loss of any earnings and future loss of earnings
    </li>
    <li class="bullet-list__item">
      Loss of pension and future loss of earnings 
    </li>
    <li class="bullet-list__item">
      Rehabilitation / treatment and future rehabilitation / treatment 
    </li>
    <li class="bullet-list__item">
      Care costs and future care costs 
    </li>
    <li class="bullet-list__item">
      Aids and equipment and future aids and equipment
    </li>
    <li class="bullet-list__item">
      Travel expenses to medical appointments 
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Registering your claim with the court</h2>
  <p class="text">Although it's not necessary on certain cases, in the majority, once we have the initial evidence, we'll register your claim with the court. This is because once the claim has been registered with the court, they'll put strict time limits in place in which both parties must submit evidence, reach a settlement, etc. This protects you from your case dragging on unnecessarily. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Admission of liability</h2>
  <p class="text">An admission of liability is where the other side admit they were responsible for causing your illness. In some cases, the other side can make an admission of liability rather quickly, whereas in other cases, arguments can go back and forth for some time, and on some rare occasions, even have to go to court for a 'liability hearing', so a judge can decide who's at fault. </p>
  <p class="text">As soon as we do have an admission of liability, we're able to apply to the other side for something known as an 'interim payment'. Interim payments are where the other side release part of your compensation monies to you before the case reaches a final settlement. This is usually to pay for treatment and/or rehabilitation costs or to help with any financial burdens. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Negotiations and settlement</h2>
  <p class="text">We'll obviously begin negotiating your case as soon as all the evidence we need is to hand and we know what compensation you deserve. Offers may be made by us and also by the other side. How long this will take is difficult to say as it depends on how close the amount each side has put forward is. However, if the claim has been registered with the court, there will be a strict time frame in which each party have to do this. </p>
  <p class="text">It's rare that an agreement isn't reached within the time frame fixed by the court, but in those circumstances, it may be necessary to attend a court hearing for a judge to decide. If this were to happen, your specialist lawyer would be by your side every step of the way. </p>
  <p class="text">With Slater and Gordon you can rest assured that as our team have specialised in industrial disease for many years, we'll achieve the absolute best settlement available for you.</p>
  <p class="text">Should you wish to call one of our specialist industrial disease lawyers, call freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. </p>
</div>
