<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim injury compensation for someone else?</h2>
  <p class="text">The law recognises that sometimes people who are entitled to claim injury compensation are unable to do so for themselves. That's why it is possible for close family or even friends to act on their behalf in order to help them to claim the injury compensation they deserve. There are a number of circumstances that might lead to this, as we explain below. And, if you want to discuss the possibility of making a claim on someone else's behalf, our expert solicitors will be happy to discuss the situation with you.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim on behalf of a child?</h2>
  <p class="text">Some of the most tragic cases we deal with involve children. In these cases, it's right and proper for the parents or guardians to pursue injury compensation on the child's behalf acting as their 'Litigation Friend'. The law also prohibits compensation claims by anyone below the age of 18, so you can often help younger friends and family members to claim rightful compensation. Sometimes <a href="/personal-injury-claim/claiming-behalf/children-court-approval/" class="link link--inline"><span class="link__text">court approval may be needed in order to claim on behalf of a child</span></a>.</p>
  <p class="text">However, it's worth knowing that those injured when they are below the age of 18 have the right to claim injury compensation in their own right for three years from the date of their 18th birthday, which means until the day before their 21st birthday. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim on behalf of someone with diminished mental capacity?</h2>
  <p class="text">There are all sorts of reasons why someone might not be able to claim injury compensation for themself, and diminished mental capacity, whether it was caused by the injury or not, is one of them. That's why <a href="https://www.legislation.gov.uk/ukpga/2005/9/introduction" class="link link--inline" target="_blank"><span class="link__text">the Mental Capacity Act 2005</span></a> enables you to make a compensation claim on behalf of a friend or family member who lacks mental capacity as a result of:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      A brain injury
    </li>
    <li class="bullet-list__item">
      An illness such as Alzheimer's or Dementia 
    </li>
    <li class="bullet-list__item">
      A mental illness or learning difficulties 
    </li>
  </ul>
  <p class="text">If you want to know more about claiming on someone else's behalf under the Mental Capacity Act 2005, talk to one of our claims experts today. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim on behalf of someone with life-changing injuries?</h2>
  <p class="text">When someone suffers such <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">serious injuries</span></a><span class="text--bold"> </span>that they would be unable to pursue an injury compensation claim on their own behalf, it's perfectly normal for a close friend or family member to act for them on their behalf. Our experienced and understanding legal experts can tell you more.</p>
  <a href="/contact-us/" class="button button--secondary">Find out about claiming injury compensation for others.</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Claiming after a fatal accident</h2>
    <p class="text">If you were to lose a loved one due to an accident that was not their fault, you may be able to claim compensation, especially if you were related to them, cohabiting and financially dependent upon them. <a href="/personal-injury-claim/serious/fatal/" class="link link--inline"><span class="link__text">Click here for more information on claiming for a loved one who has suffered a fatal accident</span></a>.</p>
</div>
