<div class="inner-block">
  <h2 class="text text--heading text--large">Can I make a personal injury claim in Scotland?</h2>
  <p class="text">Whilst there are many similarities between English and Scottish law, there are some key differences and intricacies which is why <a href="/contact-us/edinburgh/" class="link link--inline"><span class="link__text">we have specialist Scottish team based in Edinburgh</span></a>. Our expert lawyers are waiting to take your call; to start your claim we simply need some initial information about your or your loved one's injury, such as what happened, where it happened and who else was involved. Our expert care team can help by explaining everything we need to start your claim, so get in touch today.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Time limits for scottish personal injury claims</h2>
  <p class="text">It's important to note that there are time limits in making a claim for personal injury. In Scotland, the "<a href="https://www.gov.scot/news/prescription-bill-introduced/" class="link link--inline" target="_blank"><span class="link__text">Prescription and Limitation (Scotland) Act</span></a>" sets rules about when claims should be made. The general rule is that a claim should be made within three years from the date the incident occurred or the date you first realised you had suffered an injury due to someone else's negligence.</p>
  <p class="text">If you're a family member claiming on behalf of someone who has died, the claim must be made within three years of the date of their death. In Scotland, time limits for children don't begin until they reach 16 years old and in cases where the injured person lacks mental capacity, there's no time limit.</p>
  <p class="text">When bringing a case which took place whilst abroad, local laws may apply and time limits may vary. It's therefore important if you've suffered a personal injury to contact Slater and Gordon's specialist personal injury lawyers as soon as possible once the incident has occurred. We'll be able to let you know if you can make a claim.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">About our personal injury solicitors in Scotland</h2>
  <p class="text">Our team of personal injury solicitors in Scotland, based in our Edinburgh office, have particular expertise in accidents at work, including industrial diseases such as asbestosis and mesothelioma, road traffic accidents and whiplash claims, accidents in public places and claims against highway authorities.</p>
  <p class="text">We use all our combined legal expertise to get the best possible results for those injured in accidents across Scotland and the rest of the UK due to someone else's negligence.</p>
  <p class="text">Slater and Gordon Lawyers have secured hundreds of millions of pounds in personal injury compensation for people injured in accidents ranging from cycling and road traffic accident claims to brain injury, industrial disease and spinal injury compensation claims.</p>
</div>
