<div class="inner-block">
  <p class="text">Slater and Gordon Lawyers is one of the UK's largest and most well-known consumer law firms, with offices in Scotland, England and Wales. Our Scottish solicitors can operate a No Win No Fee service and can assist you in making a No Win No Fee claim. You can trust us to get you the compensation you deserve. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our specialists today.</p>
</div>
