<div class="inner-block">
  <h2 class="text text--heading text--large">Can you guarantee my anonymity?</h2>
  <p class="text">It takes bravery to stand up to abusers. We recognise that fact and guarantee confidentiality and anonymity to every client.</p>
  <p class="text">We understand the need for anonymity in any abuse case, so our specialist legal team are all trained to put confidentiality and consideration for your feelings at the heart of everything we do. You should also rest assured that the law is firmly on your side when it comes to protecting the confidentiality and anonymity of those who have suffered from abuse, even in high profile cases where the abuser is a well-known public figure. Victims of any sexual offence have the automatic right to permanent anonymity under <a href="https://www.theguardian.com/commentisfree/libertycentral/2009/jun/01/sexual-offences-act-2003" class="link link--inline" target="_blank"><span class="link__text">the Sexual Offences Act 2003</span></a>, and we're here to make sure that right applies to every one of our clients in these sensitive cases. So when you're ready to talk, you have nothing to fear from speaking to us.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do you guarantee my privacy?</h2>
  <p class="text">Where any element of sexual abuse has taken place, every case is automatically covered by the Sexual Offences Act 2003, which means that a case can't be reported by newspapers or discussed anywhere in public, such as on internet forums. In cases where abuse has been as a result of an assault or neglect, we can apply to the court for an Anonymity Order, which gives exactly the same lifetime protection.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can criminal cases be held anonymously?</h2>
  <p class="text">Where abuse has taken place, we're able to apply to the Crown Court for cases to be held 'in camera' which is a legal term meaning 'in private'. This means that the court will be sealed, with no press or public allowed in, and only the court officers, lawyers and those who are party to the case will be allowed in. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can you keep all of my data private?</h2>
  <p class="text">As one of Britain's leading consumer legal firms, we take client privacy and confidentiality very seriously. All of our email servers are totally secure, and we follow all of the relevant data <a href="/media-centre/blog/2017/08/gdpr-and-the-new-data-protection-bill-what-you-need-to-know/" class="link link--inline"><span class="link__text">privacy laws under the GDPR</span></a>. The only time when client data is ever shared with anyone else, is if it is for legal reasons and with your permission, such as when we are asked by the police to cooperate with their enquiries or if we need to consult with a medical expert for evidence to support your case. </p>
</div>
