<div class="inner-block">
  <h2 class="text text--heading text--large">What sorts of injuries can I claim for?</h2>
  <p class="text">Despite all of the advances that have been made in recent years, construction sites are still among Britain's most dangerous places to work. Accidents and injuries occur all the time, and many of them are down to other people not following all of <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">the safety rules</span></a>. The most common construction site injuries are caused by:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/defective-equipment/" class="link link--inline"><span class="link__text">Defective equipment</span></a>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/accident-at-work-compensation/electrocution/" class="link link--inline"><span class="link__text">Electrocution</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/accident-at-work-compensation/fall-heights-objects/" class="link link--inline"><span class="link__text">Falling object or falls from scaffolding/heights</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/accident-at-work-compensation/forklift/" class="link link--inline"><span class="link__text">Forklift truck injuries</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/accident-at-work-compensation/health-safety-dangerous-practices/" class="link link--inline"><span class="link__text">Health and safety violations</span></a><span class="text--bold"></span>
    </li>
  </ul>
  <p class="text">Other injuries include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Defective scaffolds
    </li>
    <li class="bullet-list__item">
      Falls down holes and shafts
    </li>
    <li class="bullet-list__item">
      Crush Injuries
    </li>
    <li class="bullet-list__item">
      Unsafe plant and machinery
    </li>
    <li class="bullet-list__item">
      Falling objects
    </li>
    <li class="bullet-list__item">
      Electric shocks
    </li>
    <li class="bullet-list__item">
      Heavy lifting
    </li>
    <li class="bullet-list__item">
      Safety harness failure
    </li>
    <li class="bullet-list__item">
      Roofs not fenced off
    </li>
    <li class="bullet-list__item">
      Forklift/dumper truck hits
    </li>
    <li class="bullet-list__item">
      Chemical spillage
    </li>
    <li class="bullet-list__item">
      Poor layout of site
    </li>
    <li class="bullet-list__item">
      Inadequate safety briefings
    </li>
  </ul>
  <p class="text">So if any of these failures  - or any other obvious negligence - have caused you to sustain an injury on site - talk to one of our specialist lawyers about starting a compensation claim today. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who is responsible for building site safety?</h2>
  <p class="text">The honest answer to this question is: quite a lot of people are responsible. This includes the construction company, the architect, the constructions regulations co-ordinator and the site manager. Having said that, it's always possible that your injury may have been caused by an independent contractor working on the site, or even an equipment manufacturer, in the case of a faulty tool or piece of plant. The key fact is that if your injury has been caused by someone else's negligence, you will generally have a right to claim compensation for your injuries.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is employers' liability insurance?</h2>
  <p class="text">This is an insurance policy that every employer is required to have, by law. It ensures that money is available to compensate workers if they suffer any illness or injury due to their employer's negligence. </p>
  <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="button button--secondary">Click here to find out more</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much is my construction injury claim worth?</h2>
    <p class="text">Every injury claim is different, and the final figure for compensation depends upon the <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">seriousness of the injury</span></a>, as well as how much it might affect your ability to work in the future, and how much any rehabilitation might cost. However, we take most construction site injury cases on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>, and seek interim payments to help you avoid hardship if you are prevented from working as a result of your injuries.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
    <p class="text">The law states the time limit in which to bring a claim for construction site injury compensation is generally three years from the date the accident occurred. However, there are exceptions to this rule, such as if the person injured suffers a brain injury and as a result suffers diminished mental capacity or in the event of someone's death. Also, if working abroad, the time limits differ in different countries, so it's always important that you speak to a specialist lawyer with expertise in accidents at work as soon as possible. </p>
    <a href="/contact-us/" class="button button--secondary">Claim for your injury</a>
</div>