<div class="inner-block">
  <p class="text">If you've lost a loved one due to someone else's negligence, we not only will help you seek the justice and compensation you deserve, but will help you access organisations who can help you and your family with your grief. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us what happened</span></a> and we will contact you.</p>
</div>
