<div class="inner-block">
  <h2 class="text text--heading text--large">Organisations with expertise in coping with bereavement</h2>
  <p class="text">There's no one way to tell someone how they should deal with a bereavement. Everyone is different and everyone grieves in their own way. However, talking to someone about your grief can help you process and cope with what has happened. There are a number of organisations who specialise in helping people cope with grief. Such organisations include: </p>
  <p class="text"><span class="text--bold">Child Bereavement UK: </span>Child Bereavement UK is a charity which not only supports parents who have lost children, but also children who have suffered a bereavement. </p>
  <p class="text"><a href="https://www.childbereavementuk.org/" class="link link--inline" target="_blank"><span class="link__text">https://www.childbereavementuk.org/</span></a></p>
  <p class="text"><span class="text--bold">Sands: </span>Sands is a stillbirth and neonatal death charity which supports parents who've been affected by the loss of a baby and provides professionals with support services. </p>
  <p class="text"><a href="https://www.sands.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.sands.org.uk/</span></a></p>
  <p class="text"><span class="text--bold">Sudden: </span>Sudden is a charity which supports people who've been affected by a sudden and unexpected death, such as families and carers. </p>
  <p class="text"><a href="http://www.suddendeath.org/" class="link link--inline" target="_blank"><span class="link__text">http://www.suddendeath.org/</span></a></p>
  <p class="text"><span class="text--bold">Widowed and Young: </span>Widowed and Young is a charity which offers bereavement support to people aged 50 and under when their partner has passed away. </p>
  <p class="text"><a href="https://www.widowedandyoung.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.widowedandyoung.org.uk/</span></a></p>
  <p class="text"><span class="text--bold">Once Upon a Smile: </span>Once Upon a Smile is a bereavement charity which offers support to children who have suffered a bereavement of a loved one. </p>
  <p class="text"><a href="https://www.onceuponasmile.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.onceuponasmile.org.uk/</span></a></p>
  <p class="text"><span class="text--bold">Roadpeace: </span>Roadpeace is a charity which helps bereaved families who have lost loved ones due to road traffic collisions. They also campaign for road justice. </p>
  <p class="text"><a href="http://www.roadpeace.org/" class="link link--inline" target="_blank"><span class="link__text">http://www.roadpeace.org/</span></a></p>
  <p class="text"><span class="text--bold">Brake: </span>Brake the road safety charity offers support to families of victims who've been injured or killed on the road. They also offer training and support to professionals. </p>
  <p class="text"><a href="http://www.brake.org.uk/" class="link link--inline" target="_blank"><span class="link__text">http://www.brake.org.uk/</span></a></p>
  <p class="text"><span class="text--bold">Victim Support: </span>Victim Support is a charity which supports people affected by crimes or traumatic events and families of those who have lost their lives as a result.</p>
  <p class="text"><a href="https://www.victimsupport.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.victimsupport.org.uk/</span></a></p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Asbestos Support Groups</h2>
  <p class="text">Slater and Gordon works with a number of asbestos support groups across the UK. These groups offer help and support sufferers of asbestos related illnesses, such as mesothelioma, lung cancer, asbestosis and pleural thickening. As well as supporting those diagnosed with an asbestos related illness, they also offer a vast amount of help and support to bereaved families. For more information about asbestos support groups<span class="text--bold">, </span><a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/support/" class="link link--inline"><span class="link__text">click here</span></a><span class="text--bold">.</span></p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Compensation and Financial Support</h2>
  <p class="text">When someone has passed away as a result of someone else's negligence, depending on the circumstances, there are various claims which can be made. </p>
  <p class="text"><span class="text--bold">Damages for the estate: </span>A claim for damages can be brought on behalf of the Estate of your loved one. This includes compensation for their pain and suffering and any out of pocket expenses.</p>
  <p class="text"><span class="text--bold">Bereavement damages: </span>This is a statutory award for the loss of a loved one. The amount due depends on the date of death. In England and Wales, bereavement damages are only available to specific family members, such as: a spouse, civil partner or parent (if the child is under 18 years' old). In Scotland, bereavement damages are not restricted to specific family members and they're reviewed on a case by case basis. </p>
  <p class="text"><span class="text--bold">Loss of dependency: </span>A person is a dependent if they were reliant upon the person who has died for income and/or services such as assistance with household chores or in caring for a relative. Compensation awarded would be to replace the loss of income and/or to provide alternative assistance.</p>
  <p class="text"><span class="text--bold">Human Rights Act: </span>Not all family members are entitled to bring a claim for bereavement damages and where a family was not dependent upon their loved one, this can leave them effectively uncompensated for a negligent death. Therefore, in certain circumstances, a claim can currently be brought under the Human Rights Act 1998. However, there's a special</p>
  <p class="text">time limit for doing so of one year from the date of the incident that led to death.</p>
  <p class="text"><span class="text--bold">Psychiatric injury: </span>If you witnessed the incident involving your loved one, and have suffered a recognised psychiatric injury, you may be categorised as a secondary victim, and may be able to claim in your own right.</p>
  <p class="text">In addition, a compensation claim can also cover:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Funeral expenses
    </li>
    <li class="bullet-list__item">
      Loss of earnings 
    </li>
    <li class="bullet-list__item">
      Any other expenses which have been incurred or will be incurred as a result of your loved one's death
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Fatal personal injury claims</h2>
  <p class="text">When a loved one has passed away, making a claim for personal injury will most definitely not be at the forefront of your mind. However, when a loved one loses their life due to someone else's negligence, those they leave behind can often feel they need a sense of justice and in many cases can also cause them financial difficulties </p>
  <p class="text">Slater and Gordon has empathetic and compassionate experts who specialise in many areas of fatal injury or illness, including: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Road traffic collisions 
    </li>
    <li class="bullet-list__item">
      Accidents at work
    </li>
    <li class="bullet-list__item">
      Accidents abroad 
    </li>
    <li class="bullet-list__item">
      Asbestos related illness 
    </li>
    <li class="bullet-list__item">
      Military accidents 
    </li>
    <li class="bullet-list__item">
      Medical negligence 
    </li>
    <li class="bullet-list__item">
      Criminal injuries and terrorist attacks
    </li>
  </ul>
  <p class="text">Not only can we help secure compensation and get the justice you deserve, but can also offer you the support you need at such a difficult time. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Inquests</h2>
  <p class="text">An inquest is an independent judicial inquiry carried out by a coroner to establish: </p>
  <p class="text">a)	The identity of the person who has died;</p>
  <p class="text">b)	The place and time of their death; and </p>
  <p class="text">c)	The cause of their death. </p>
  <p class="text">An inquest can be a very daunting and upsetting prospect for a bereaved family and are therefore able to have legal representation at the inquest. </p>
  <p class="text">Slater and Gordon has a team of specialist lawyers with a vast amount of experience at inquests where someone has passed away as a result of someone else's negligence. They can guide you through the process and ensure that all your questions are addressed</p>
  <p class="text">with empathy and understanding and that the events are thoroughly investigated.</p>
  <p class="text">If a loved one has passed away as a result of someone else's negligence and you would like representation at the inquest, <a href="/contact-us/" class="link link--inline"><span class="link__text">please contact us</span></a>.</p>
</div>
