<div class="inner-block">
  <h2 class="text text--heading text--large">What is COSHH?</h2>
  <p class="text">The Control of Substances Hazardous to Health Regulations 2020 or COSHH is a law that requires employers to prevent or reduce employee exposure to such substances whilst at work in environments where substance usage is unavoidable. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">When might exposure to a substance lead to a claim for compensation?</h2>
  <p class="text">Many substances can be hazardous and which is why COSHH is in place for all employers to adhere to, such as:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Reading and understanding the safety sheets on all products. 
    </li>
    <li class="bullet-list__item">
      Completing a hazard checklist
    </li>
    <li class="bullet-list__item">
      Carrying out a thorough risk assessment
    </li>
    <li class="bullet-list__item">
      Putting control measures in place 
    </li>
    <li class="bullet-list__item">
      Checking and maintaining equipment (i.e. ventilation, personal protective equipment (PPE), to remain in control
    </li>
    <li class="bullet-list__item">
      Ensuring staff have adequate training, instruction and information 
    </li>
    <li class="bullet-list__item">
      Arranging for regular health checks and monitoring exposure
    </li>
  </ul>
  <p class="text">If your employer failed to follow the <a href="http://www.hse.gov.uk/coshh/basics.htm" class="link link--inline" target="_blank"><span class="link__text">COSHH regulations</span></a> and you've suffered an industrial disease or an injury as a result, you may have the right to claim compensation. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of substances does the COSHH cover?</h2>
  <p class="text">COSHH doesn't cover substances such as lead, asbestos or radioactive substances. However, other substances included in the COSHH which can cause harm to employers if the COSHH regulations are not adhered to include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Chemicals
    </li>
    <li class="bullet-list__item">
      Products containing chemicals
    </li>
    <li class="bullet-list__item">
      Fumes
    </li>
    <li class="bullet-list__item">
      Dusts
    </li>
    <li class="bullet-list__item">
      Vapours
    </li>
    <li class="bullet-list__item">
      Mists
    </li>
    <li class="bullet-list__item">
      Nanotechnology
    </li>
    <li class="bullet-list__item">
      Gases 
    </li>
    <li class="bullet-list__item">
      Biological agents
    </li>
    <li class="bullet-list__item">
      Germs that cause disease 
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is PPE?</h2>
  <p class="text">PPE stands for <a href="http://www.hse.gov.uk/toolbox/ppe.htm" class="link link--inline" target="_blank"><span class="link__text">Personal Protective Equipment</span></a>. When employees are working with hazardous substances, employers should ensure, as part of their control measures procedure, to provide employees with PPE. The COSHH states that "PPE should be used when all other measures are inadequate to control exposure".  </p>
  <p class="text">Types of PPE include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Protective clothing and footwear
    </li>
    <li class="bullet-list__item">
      Eye protection 
    </li>
    <li class="bullet-list__item">
      Protective gloves 
    </li>
    <li class="bullet-list__item">
      Respirators 
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if I'm injured at work because my employer hasn't taken preventative safety measures?</h2>
  <p class="text">If you're injured at work because your employer hasn't taken the appropriate measures to ensure your safety and prevent you from harm, you may be entitled to make a claim for your injuries. </p>
  <p class="text">If your case is successful, your compensation will be paid from your <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">employer's liability insurance </span></a>and if you're able to return to work, your employer is required to make reasonable adjustments so you can carry out your work with ease and they legally aren't allowed to treat you any differently from any other employees just because you've made a claim.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What can I claim for?</h2>
  <p class="text">When you're injured at work, it can often lead to time off work to recover. There are cases where you might not be paid during your recovery period and can lead to financial worries. Compensation is designed to put you in the same financial position you would have been but for the accident. Therefore, as well as seeking compensation for pain and suffering, we also seek compensation for:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Loss of income
    </li>
    <li class="bullet-list__item">
      Loss of future income if you're unable to return to work
    </li>
    <li class="bullet-list__item">
      Medical expenses
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">Rehabilitation</span></a>
    </li>
    <li class="bullet-list__item">
      Treatment 
    </li>
  </ul>
  <p class="text"><a href="" class="link link--inline" target="_blank"><span class="link__text"></span></a>Depending on the severity of your injury, your lawyer may be able to seek interim payments to pay for urgent treatment or home adaptations to aid your recovery as soon as possible. </p>
</div>
