<div class="inner-block">
  <h2 class="text text--heading text--large">I've been injured by a pavement or pothole. What are my rights?</h2>
  <p class="text">The law demands that local councils and the Highways Agency keep roads and pavements in a good condition. Unfortunately, this is a huge task, and faulty sections of paving and dangerous potholes exist all over the UK, leading to a multitude of accidents and injuries every year. In cases where a pothole causes damage your car, you are best-advised to take it up with your local council directly, using <a href="/personal-injury-claim/injury-in-public/council-highways-agency/potholes/" class="link link--inline"><span class="link__text">the advice we give here</span></a>. However, if tripping on an unsafe pavement or perhaps <a href="/personal-injury-claim/road-traffic-accidents/cycling-accident-claims/" class="link link--inline"><span class="link__text">cycling into a pothole on the road</span></a> has caused you an injury, we may be able to make a compensation claim on your behalf if it can be proven that the council has been negligent.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I know if the council has been negligent?</h2>
  <p class="text">There is no universal standard for how smooth and even roads or pavements have to be, but most councils accept that a pothole 4cm (approximately 1.6 inches) deep constitutes a hazard, as does a paving stone that is sticking up by at least one inch, or 2.54cm. This means that we are more likely to be able to prove negligence against a council or the Highways Agency on your behalf where the pothole or pavement that caused your injury meets or exceeds these measurements.</p>
  <p class="text">Naturally, this means you will have to have photographic evidence of the piece of road or pavement that led to your injury, <a href="/personal-injury-claim/injury-in-public/council-highways-agency/potholes/" class="link link--inline"><span class="link__text">as we explain in more detail here</span></a>. In addition to uneven surfaces, you may also have a claim if your injury was caused by roadworks or a <a href="/personal-injury-claim/injury-in-public/slips-trips-falls/" class="link link--inline"><span class="link__text">slip, trip or fall</span></a><a href="/personal-injury-claim/injury-in-public/slips-trips-falls/" class="link link--inline"><span class="link__text"> </span></a><span class="text--bold"></span><a href="/personal-injury-claim/injury-in-public/slips-trips-falls/" class="link link--inline"><span class="link__text">on council property</span></a><span class="text--bold"></span>. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are my local authority responsible for?</h2>
  <p class="text">If you have an accident that takes place on any public land or council property, you may be able to seek compensation from the local authority. That's because they are legally responsible for making sure that all roads, pavements and even bridle paths are properly maintained and kept clear of defects that might cause accidents. Where there has clearly been negligence by the council or local authority, you have every right to talk to our specialist 'public place' injury solicitors. </p>
  <a href="/contact-us/" class="button button--secondary">Get in touch today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much could my claim be worth?</h2>
    <p class="text">How much your claim might be worth depends largely on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a> and how long a full recovery might be expected to take. However, in addition to damages for pain, suffering and loss of amenity, most claims include a sum to cover any loss of earnings as well as the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment, physiotherapy or other necessary rehabilitation</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Is there a time limit for compensation claims?</h2>
    <p class="text">There is a time limit of three years from the date of any accident for you to start a compensation claim, though you can be allowed longer if you are<a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text"> claiming on behalf of a child or someone with mental impairment</span></a>. You should also bear in mind that most injury compensation claims will require evidence to be presented, so you will need to make sure you have photographs, witness statements and medical evidence available to support your claim, even if the accident occurred up to three years ago. </p>
</div>
