<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for an accident on a cruise ship or ferry?</h2>
  <p class="text">Sea travel is quite safe and serious accidents are few and far between, but the sea can sometimes be unpredictable. There are a variety of injuries that can happen, below are some examples of what we have helped our clients claim compensation for:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Due to concerns that the ship's doctor was negligent - for example, misdiagnosing a health problem or failing to spot a serious injury or condition that later worsened
    </li>
    <li class="bullet-list__item">
      Slips, trips and falls on deck or suffered an injury while embarking or disembarking - for example, tripped due to a slippery surface or missing handrail, or had a collision with luggage or other obstacles that should have been removed
    </li>
    <li class="bullet-list__item">
      Fell overboard due to a lapse in the proper safety measures
    </li>
    <li class="bullet-list__item">
      Burns or scalds from food service
    </li>
    <li class="bullet-list__item">
      Accidents during wave turbulence
    </li>
    <li class="bullet-list__item">
      Injuries caused by other passengers
    </li>
    <li class="bullet-list__item">
      Allergic reaction from on board meals
    </li>
  </ul>
  <p class="text">Naturally, there are also many other ways in which injuries can arise from a cruise ship or ferry. So if you've been injured on a ship or boat and feel that someone else was to blame, ask us about making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee Claim</span></a> today. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for accidents in the UK as well as overseas accidents?</h2>
  <p class="text">When it comes to a ferry or cruise ship injury, it doesn't matter where the accident happened. That is because of <a href="/personal-injury-claim/holiday-accident-claims/travel-conventions-treaties/" class="link link--inline"><span class="link__text">the Athens Convention</span></a>. This was introduced in 1974 and updated in 2002 and ensures that cruise liners and ferries have enough insurance in place to cover any accidents. Smaller UK companies that use boats will most likely have <a href="/personal-injury-claim/injury-in-public/public-liability-insurance/" class="link link--inline"><span class="link__text">public liability insurance</span></a> that we will be able to help you claim against. So if you've been injured on a ship and it wasn't your fault, ask us about making a No Win No Fee claim today. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Is there a time limit to claim?</h2>
  <p class="text">The Athens Convention has a time limit for which you can bring a claim. The time limit is normally two years from the date of disembarkation (getting off the ship). It is important to note that the discretion to extend time under the Limitation Act 1980 does not apply to the Athens Convention limit and so it is vital that you seek legal advice as soon as possible. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What's required to make an accident at sea claim?</h2>
  <p class="text">If you suffer an accident at sea, we advise if possible that you take the following steps to help us help you:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Seek medical attention - your health and safety is obviously paramount 
    </li>
    <li class="bullet-list__item">
      Report the accident to a member of the ship's crew and obtain a copy of the report made
    </li>
    <li class="bullet-list__item">
      Take photographs of the accident location and any defect which you consider led to your accident
    </li>
    <li class="bullet-list__item">
      Take the names and addresses of any witnesses to your accident and ask them to confirm that they would be happy for our personal injury lawyers to contact them if necessary
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
  <p class="text">There's no set rule for how much compensation you might receive for an injury resulting from an accident at sea. This all depends on the extent of your injuries and how long it's expected that a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment or rehabilitation</span></a> that may be required.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long does a compensation claim take?</h2>
  <p class="text">This all depends on how <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">serious your injuries are</span></a> as well as whether the ship company accepts responsibility. However, we always aim to pursue justice for our clients as quickly and efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin rehabilitation as soon as possible.  </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What happens if I was not a passenger, but a crew member?</h2>
    <p class="text">If you weren't a passenger on board a vessel but were working at the time, you may still be able to make an accident at sea claim. <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Please take a look at the accidents at work section of our website</span></a> for guidance and useful information.</p>
</div>
