<div class="inner-block">
  <p class="text"> Slater and Gordon specialise in cycling injury compensation claims, so we're here to help and support you on the road to compensation. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>.</p>
</div>
