<div class="inner-block">
  <h2 class="text text--heading text--large">What are the most common causes of cycling accidents?</h2>
  <p class="text">There are many causes of cycling accidents which Slater and Gordon's cycling experts deal with on a regular basis. The most common we deal with include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Road traffic collisions
    </li>
    <li class="bullet-list__item">
      Animals 
    </li>
    <li class="bullet-list__item">
      Defective equipment 
    </li>
    <li class="bullet-list__item">
      Potholes and road defects 
    </li>
    <li class="bullet-list__item">
      Car door collisions
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Injuries whilst cycling</h2>
  <p class="text">Royal Society for the Prevention of Accidents (RoSPA) figures indicate that some 18,500 cyclists are injured in road traffic accidents every year. While many of these are never reported, some lead to serious injuries and even fatalities. </p>
  <p class="text">Where you've been injured in a cycling accident as a result of someone else's negligence, you may have the right to compensation. Even if no one else is involved and you have been injured by a dangerous pothole or other road defect; if <a href="/personal-injury-claim/injury-in-public/council-highways-agency/" class="link link--inline"><span class="link__text">the local council or highways agency has been negligent</span></a> we could get you the compensation you deserve.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long does a cycling injury claim take?</h2>
  <p class="text">There's no hard and fast rule here, as every case depends on the seriousness of your injuries and whether or not a third party accepts liability. </p>
  <a href="/personal-injury-claim/road-traffic-accidents/cycling-claims-guide/" class="button button--secondary">Cycling claims guide</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much compensation can I claim for a cycling accident?</h2>
    <p class="text">Naturally, this depends on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a>. You should also bear in mind that you may be able to claim for the cost of damage to your bike or other equipment, as well as  additional travel expenses and loss of earnings. To help get you back in the saddle as quickly as possible, you may also be able to claim physiotherapy or other essential <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Cycling UK Incident Claims</h2>
    <p class="text"><a href="https://www.cyclinguk.org/incidentline" class="link link--inline" target="_blank"><span class="link__text">Slater and Gordon is affiliated to Cycling UK</span></a>, 'The Cyclist' Champions'. We are proud to have represented Cycling UK members since 2002. In 2018 alone, Slater and Gordon provided personal injury advice to almost 1000 Cycling UK members and have settled a total of £4.3 million in compensation. Cycling UK members are automatically enrolled onto our Legal Advice Scheme, which is totally free to Cycling UK members, regardless of whether you win or lose your case. If you are a Cycling UK member, <a href="/unions-federations-and-charities/ctc/" class="link link--inline"><span class="link__text">find out more about your legal benefits here</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Do I have to pay legal fees when claiming for a cycling accident?</h2>
    <p class="text">Personal injury cases arising from cycling accidents are conducted on a No Win No Fee basis which means if your case isn't successful, you don't need to pay anything. This means there is no financial risk to you when making a claim for compensation.</p>
    <p class="text">If you're a Cycling UK member, you will have access to Slater and Gordon's Cycling UK Incident Line which offers a number of benefits to Cycling UK members. This includes a guarantee that Slater and Gordon will not charge you anything if you win your case, meaning that you'll keep 100% of your compensation. <a href="/unions-federations-and-charities/cycling-uk/cycling-uk-incident-line/" class="link link--inline"><span class="link__text">Find out more about Cycling UK members' legal benefits here</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Why choose Slater and Gordon for your cycling accident claim?</h2>
    <p class="text">Slater and Gordon will provide a sympathetic, professional and honest approach to people who come to us with cycling accident injuries. We handle more cycle accident injury claims than most other UK law firms and have many years' experience dealing with cycling accident claims caused by other motorists, potholes, buses, animals, faulty equipment and road defects. We can also help if your accident was caused by an uninsured or untraced driver. To speak with one of our expert cycling accident lawyers, call Freephone {{{meta.phonenumber.contentLink}}} or request a call back online.</p>
</div>
