<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading road traffic accidents claims firms, with unsurpassed experience and an extensive record of success. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our specialists today.</p>
</div>
