<div class="inner-block">
  <h2 class="text text--heading text--large">What can I claim for as a result of a cycling accident?</h2>
  <p class="text">As well as claiming compensation for your injuries, you can also claim for medical bills and rehabilitation as well as damage to your bicycle or other property, loss of earnings due to your injuries and for additional travel costs if your bike is damaged and you can't use it for your usual commute.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Personal injuries</h2>
  <p class="text">Whether it's a minor injury or something more serious, your personal injury lawyer can help you secure compensation for the pain, discomfort and inconvenience you've experienced. Personal injuries can affect any part of the body, including spinal or head injuries, broken bones or fractures, eye injuries or severe bruising.</p>
  <p class="text">Personal injury doesn't just cover the physical either, as you may also have the right to claim for any psychological damage the accident has caused. Additionally, you can claim for the pain and suffering you've experienced as a result of the accident, as well as the detrimental effect the accident has had on your relationships, hobbies, sports or any other aspect of your life. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Bicycle damage</h2>
  <p class="text">You can claim for the cost of repairing your bike if it is damaged in an accident or the cost of replacing it if the repair bill is more than the bike's original value. </p>
  <p class="text">We can send you a small claims pack which includes:</p>
  <p class="text">•	Information on the small claims procedure</p>
  <p class="text">•	What you need to prove</p>
  <p class="text">•	Evidence needed</p>
  <p class="text">•	Other expenses</p>
  <p class="text">•	Procedure</p>
  <p class="text">•	Court fees</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Property damage</h2>
  <p class="text">It's not only your bike that may be damaged in a road accident. Many people regularly cycle to work, so they carry laptops, phones, tablets, and other valuables with them. Other items commonly damaged in accidents include items of clothing, watches and jewellery, as well as cycling gear such as helmets and shoes. These items can often be expensive to replace, which is why the cost will be taken into account when calculating your compensation award.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Loss of earnings</h2>
  <p class="text">When you are injured in an accident, it will naturally take time for you to recover both physically and emotionally. You are likely to need time off work as a result, leaving you without a full wage in those weeks or months. Compensation is there to recover those lost wages so you won't be out of pocket and will still be able to pay your bills etc.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Additional travel costs</h2>
  <p class="text">Living without your bike for any period of time can be expensive as well as inconvenient for someone who regularly cycles. If your bike is out of action, you may be able to claim compensation for any costs you have to pay for alternative transport such as taxis, public transport or car hire costs for travel to and from work, hospital visits and any other appointments.</p>
  <p class="text">If you've had to pay for travel costs that you wouldn't normally have had to pay for due to your cycling accident, it's important that you keep all receipts and documentation relating to your travel arrangements as these will support your case.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Other damages</h2>
  <p class="text">You may have to pay other expenses following your bike accident, such as:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Adaptations to your home to help you live with a medical condition
    </li>
    <li class="bullet-list__item">
      Medical care and prescriptions
    </li>
    <li class="bullet-list__item">
      Physiotherapy and rehabilitation
    </li>
    <li class="bullet-list__item">
      Household help, care and assistance
    </li>
  </ul>
  <p class="text">Compensation is calculated based on the seriousness of your injuries and any immediate and future care you require to aid your recovery so you can live as full a life as possible following your accident. </p>
  <p class="text">The steps you take immediately following an accident can potentially affect the outcome of your compensation claim. A cyclist involved in a road accident should aim to:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Seek medical attention for your injuries.
    </li>
    <li class="bullet-list__item">
      Report the incident to the police - even if you've only experienced minor injuries, it's important to get an official record of what happened. If possible, keep a copy of the police report to use as evidence in your case.
    </li>
    <li class="bullet-list__item">
      Note down exactly what happened - including the location of the accident, number plates of any vehicles involved and any other details you can remember. 
    </li>
    <li class="bullet-list__item">
      Take down names and contact details of any witnesses and any people involved in the accident. 
    </li>
    <li class="bullet-list__item">
      Take photos of the scene of the accident, the damage to your bike, any other vehicles involved, or whatever it was that caused your accident, and of your injuries. 
    </li>
  </ul>
</div>
