<div class="inner-block">
  <h2 class="text text--heading text--large">What counts as defective equipment?</h2>
  <p class="text">Whether you're <a href="/personal-injury-claim/accident-at-work-compensation/construction-site/" class="link link--inline"><span class="link__text">working in the construction</span></a> or <a href="/personal-injury-claim/accident-at-work-compensation/military/" class="link link--inline"><span class="link__text">serving in the military</span></a>, engineering or manufacturing, you have a right to expect the equipment you use at work is safe. Unfortunately, poor maintenance and inadequate safety procedures mean that some equipment is defective, and therefore likely to cause injuries. Other causes include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Inadequate maintenance
    </li>
    <li class="bullet-list__item">
      Irregular inspections
    </li>
    <li class="bullet-list__item">
      Missing safety guards
    </li>
    <li class="bullet-list__item">
      A lack of personal protective equipment 
    </li>
    <li class="bullet-list__item">
      A lack of health and safety assessments
    </li>
  </ul>
  <p class="text">So, if you've been injured by defective equipment in the workplace and believe that negligence like this may have been the cause, contact us today to speak to an injury claims expert. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What type of injuries are caused?</h2>
    <p class="text">Due to the wide variety of equipment used in industry and the military, there are many, many <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">types of serious injury</span></a> that can occur due to defective equipment. Some of the most common include:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        Broken bones
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/serious/eye-loss-of-sight/" class="link link--inline"><span class="link__text">Blindness</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/serious/amputation-limb-damage/" class="link link--inline"><span class="link__text">Amputations</span></a>
      </li>
      <li class="bullet-list__item">
        Loss of digits
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/accident-at-work-compensation/electrocution/" class="link link--inline"><span class="link__text">Electric shocks / electrocution</span></a>
      </li>
      <li class="bullet-list__item">
        Paralysis
      </li>
    </ul>
    <p class="text">Whatever the injury that you or a loved one sustained due to defective equipment, if someone else's negligence was to blame - or even partly to blame – contact us to discuss the possibility of making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a> with an expert lawyer.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Who is responsible for maintaining equipment?</h2>
    <p class="text">If your employer owns and provides the equipment that you use, then they're responsible for making sure that it's properly maintained and safe to use. Even if they contract maintenance out to a third party, every employer has a duty of care to their employees, meaning that in most cases, any claim for injury compensation will be made against the employers' liability insurance that every employer is legally obliged to hold.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What is employers' liability insurance?</h2>
    <p class="text">This is an insurance policy that every employer is required to have, by law. It ensures that should their employees suffer an injury or illness at work, money is available to compensate those workers.</p>
    <a href="/personal-injury-claim/injury-in-public/public-liability-insurance/" class="button button--secondary">Read more on insurers liability insurance</a>
</div><div class="inner-block">
      <h2 class="text text--heading text--large">How much is my injury claim worth?</h2>
      <p class="text">Every injury claim is different, and the amount of compensation you're likely to receive will be dependent upon the seriousness of the injury, as well as how much it might affect your ability to work in the future, and <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">how much any rehabilitation might cost</span></a>. However, we take most defective equipment injury cases on a No Win No Fee basis, and seek interim payments to help you avoid hardship if you are prevented from working by your injuries.</p>
</div>

<div class="inner-block">
      <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
      <p class="text">With personal injury cases involving defective equipment, the time limit in which to make a compensation claim is three years. However, there are exceptions to this rule such as if the injured party passes away as a result of their injuries or has diminished mental capacity. Also, if working abroad, the time limits differ in different countries, so it's always important that you speak to a specialist lawyer with expertise in accidents at work as soon as possible.. </p>
</div>
