<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading personal injury specialises with significant expertise in defective equipment claims. To help you receive the compensation you deserve call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your injury</span></a> and we will call you.</p>
</div>
