<div class="inner-block">
  <h2 class="text text--heading text--large">How can drugs and medicines be defective?</h2>
  <p class="text">While all new drugs and medicines are tested extensively, the fact is that some defects don't surface until it is too late. <a href="https://www.bbc.co.uk/news/uk-27708295" class="link link--inline" target="_blank"><span class="link__text">Thalidomide is one tragic example of this</span></a>: the drug was approved for use in the treatment of morning sickness, but the trials were deeply flawed and the drug was later found to cause severe birth defects. Slater and Gordon has acted for many victims of Thalidomide, and still continues to fight for the victims of other defective drugs, medicines and medical treatments. If you've been harmed by a drug, medicine or supplement, we may be able to help you claim compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Which drugs and medicines have been found unsafe?</h2>
  <p class="text">Drugs, medicines, medical treatments and even health supplements are all subject to clinical trials before they are approved for sale to the public. However, problems can and do arise, in everything from so-called 'fat-burning' diet supplements to the Human Growth Hormone that was found to have been contaminated with <a href="https://www.nhs.uk/conditions/creutzfeldt-jakob-disease-cjd/" class="link link--inline" target="_blank"><span class="link__text">Creutzfeldt-Jakob Disease (CJD)</span></a>. </p>
  <p class="text">So if you have been made unwell or suffered side-effects from any drug, medicine or supplement, talk to our specialist defective drug solicitors today. Whether your condition has been caused by a defective drug, or through contamination during the manufacturing process, we may be able to claim compensation on your behalf. Importantly, most cases like this are conducted on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>.</p>
</div>
