<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading consumer law firms with specialist personal injury lawyers with the knowledge and expertise to help your receive rightful compensation for injuries caused by defective drugs and supplements. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> and we will call you.</p>
</div>
