<div class="inner-block">
  <h2 class="text text--heading text--large">What causes electric shocks in the workplace?</h2>
  <p class="text">Electric shocks can be dangerous, even from something as small as a 240v hairdryer. So when they occur from much higher voltage equipment, serious injury or even death can occur. The main causes of electric shocks in the workplace are:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      The presence of untested electrical equipment
    </li>
    <li class="bullet-list__item">
      Unqualified staff being asked to work on electrical equipment
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/defective-equipment/" class="link link--inline"><span class="link__text">Faulty or malfunctioning equipment</span></a>
    </li>
  </ul>
  <p class="text">In both cases, where this has happened, your employer has failed in their duty of care to protect you from harm in the workplace, and you may have a case for seeking <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">injury compensation on a No Win No Fee basis</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of injuries do electric shocks cause?</h2>
  <p class="text">In severe cases, a substantial electric shock can prove instantly fatal, which is why the regulations for the use of electrical items in the workplace are so strict. Even where an electric shock is not fatal, any or all of these <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">serious</span></a><a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text"> </span></a><span class="text--bold"></span><a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">symptoms</span></a><span class="text--bold"></span> and effects may occur:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/serious/burns-scars-lascerations/" class="link link--inline"><span class="link__text">Burns: both minor and life-threatening</span></a>
    </li>
    <li class="bullet-list__item">
      Muscle spasms
    </li>
    <li class="bullet-list__item">
      Breathing difficulties
    </li>
    <li class="bullet-list__item">
      Irregular heartbeats
    </li>
    <li class="bullet-list__item">
      Cardiac arrest
    </li>
    <li class="bullet-list__item">
      Broken bones due to muscle spasm
    </li>
    <li class="bullet-list__item">
      Damage to the nervous system
    </li>
  </ul>
  <p class="text">So, if you or a loved one have suffered an electric shock in the workplace, it's essential that you first seek medical treatment, and then talk to an expert lawyer about compensation for your injuries.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who can electric shocks affect?</h2>
  <p class="text">While you might imagine that it's mainly electricians that suffer electric shocks, they are generally too well trained to make a mistake where significant currents are present. In fact, just about any worker can be the victim of an electric shock due to poor maintenance or training, in all of these occupations, and more besides:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Hairdressers
    </li>
    <li class="bullet-list__item">
      Mechanics
    </li>
    <li class="bullet-list__item">
      Engineers
    </li>
    <li class="bullet-list__item">
      Cleaners
    </li>
    <li class="bullet-list__item">
      Construction workers
    </li>
    <li class="bullet-list__item">
      Office staff
    </li>
    <li class="bullet-list__item">
      Care workers
    </li>
    <li class="bullet-list__item">
      Nurses
    </li>
    <li class="bullet-list__item">
      Theatre staff 
    </li>
  </ul>
  <p class="text">If you've had a shock from faulty or untested electrical equipment – or have been hurt while doing a task you were asked to do but unqualified for – talk to us today about making a No Win No Fee compensation claim. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What do I do if a colleague suffers an electric shock?</h2>
    <p class="text">The most important thing is NOT TO TOUCH someone while they are suffering an electric shock. That's because your body will conduct the electricity, and you will also receive a shock, and be unable to help your colleague. Instead, follow these six simple steps:</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What are the regulations for electricity in the workplace?</h2>
    <p class="text">While there are many regulations for the safe use of electricity and electrical items in the workplace, the two most important concern <span class="text--bold">who</span> is allowed to carry out electrical work, and <span class="text--bold">how often</span> all electrical equipment needs to be tested:</p>
    <p class="text">1. You should only be asked to work on electrical installations and equipment if you are<a href="http://www.hse.gov.uk/electricity/withequip.htm" class="link link--inline" target="_blank"><span class="link__text"> </span></a><a href="http://www.hse.gov.uk/electricity/withequip.htm" class="link link--inline" target="_blank"><span class="link__text">suitably qualified</span></a></p>
    <p class="text">2. Every piece of electrical equipment in any workplace - from a kettle to an arc welding unit - must be maintained in good condition. Heavy items on building sites and in factories will need more regular testing than a kettle in a shop kitchen, but they must still be safe. It's therefore good practice for employers to make sure that all electrical equipment is regularly<a href="http://www.hse.gov.uk/electricity/faq-portable-appliance-testing.htm" class="link link--inline" target="_blank"><span class="link__text"> </span></a><a href="http://www.hse.gov.uk/electricity/faq-portable-appliance-testing.htm" class="link link--inline" target="_blank"><span class="link__text">PAT tested</span></a> for safety.</p>
</div>
