<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's biggest workplace accident injury claims firms, with the expertise to help you receive the compensation you deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your injury</span></a> and we will call you. </p>
</div>
