<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's best-known electrical product claim firms, with the experience to help you receive rightful compensation for your injuries. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> and one of our legal experts will be in touch.</p>
</div>
