<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of defective electrical products have caused injury?</h2>
  <p class="text">Manufacturers have a duty to test electrical products to make sure they are both safe and fit for purpose. When a company has failed in this duty, serious injuries and even death can occur. Slater and Gordon has acted for clients in a number of high profile electrical product claims. These include the <a href="https://www.theguardian.com/uk-news/2016/aug/08/defective-beko-tumble-dryer-mishell-moloney-birmingham-coroner-fatal-fire" class="link link--inline" target="_blank"><span class="link__text">tragic case of a mother who died</span></a> of carbon monoxide poisoning when her Beko washing machine caught fire, and another case in which a <a href="https://www.mirror.co.uk/news/uk-news/sparks-were-flying-out-jeans-9059259" class="link link--inline" target="_blank"><span class="link__text">mobile phone burst into flames</span></a> inside a man's trouser pocket. Sadly, these are far from being isolated incidents; many faulty electrical products have been found to cause serious injuries, including:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Mobile Phones  - notably the Galaxy Note 7 
    </li>
    <li class="bullet-list__item">
      Washing machines and tumble dryers
    </li>
    <li class="bullet-list__item">
      E-cigarettes
    </li>
    <li class="bullet-list__item">
      Hoverboards
    </li>
    <li class="bullet-list__item">
      Electric showers
    </li>
  </ul>
  <p class="text">So if you or a loved one has been injured by a faulty electrical product, you may be able to claim for compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Why do electrical product liability claims arise?</h2>
  <p class="text">Electrical product liability claims arise when someone has been injured or even killed by a faulty electrical product. Sometimes this is due to a lack of testing, a simple manufacturing error or sometimes simply bad design. Yet other common reasons for injury claims arising from electrical products include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      The manufacturer failing to recall a product with a known fault
    </li>
    <li class="bullet-list__item">
      A production line error that leads to poor wiring or earthing
    </li>
    <li class="bullet-list__item">
      Failure to display a necessary safety notice on an electrical product
    </li>
  </ul>
  <p class="text">It's also important to realise that electrical manufacturers can't escape responsibility just because a product comes with terms and conditions that discharges them of all blame for injuries. Consumer law says that every product must be of satisfactory quality, fit for purpose and as described. Where it's not, and someone has been injured, you can talk to us about making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do I claim against the manufacturer or the shop?</h2>
  <p class="text"><span class="text--bold"></span>Where an electrical product has failed due to a design or manufacturing defect, but hasn't caused an injury, you can usually return it to the shop it came from and ask for a refund or replacement under <a href="https://www.which.co.uk/consumer-rights/regulation/consumer-rights-act" class="link link--inline" target="_blank"><span class="link__text">the Consumer Rights Act</span></a>. However, if a faulty electrical product has caused an injury, you can only seek compensation from the manufacturer, under the Consumer Protection Act 1987. That's when Slater and Gordon may be able to help you on a No Win No Fee basis.<span class="text--bold"></span></p>
</div>
