<div class="inner-block">
  <h2 class="text text--heading text--large">Asbestos removal work</h2>
  <p class="text">Asbestos fibres have been responsible for hundreds of thousands of deaths worldwide, leading to asbestos being banned in the UK since 1999. Where it's found during any construction or demolition work, employers have a duty of care to stop work immediately and have the asbestos removed by specialists.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is my employer's duty of care when asbestos is found?</h2>
  <p class="text">While the dangers of asbestos fibres have been known for many years, its use wasn't banned entirely in the UK until 1999. This means that many, many buildings - both domestic and commercial - contain materials with some element of asbestos fibres. Under the <a href="http://www.hse.gov.uk/asbestos/regulations.htm" class="link link--inline" target="_blank"><span class="link__text">Control of Asbestos Regulations 2012</span></a>, if any asbestos is found, it must be registered and disposed of by a specialist contractor. </p>
  <p class="text">Unfortunately, there have been a number of cases where asbestos has been found and work has not been stopped, leading to a number of innocent people being exposed to dangerous asbestos fibres. This is a clear breach of the employer's duty of care. If it has happened to you, contact us immediately to talk to one of our asbestos claims experts.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to a legal expert today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What should happen if asbestos is discovered?</h2>
    <p class="text">In the event that asbestos is discovered - or even suspected - work should stop immediately, as asbestos is dangerous if it's disturbed and fibres are released. The Health and Safety Executive (HSE) has created a checklist for all employers to follow if asbestos is discovered or suspected, which <a href="http://www.hse.gov.uk/asbestos/managing/intro.htm" class="link link--inline" target="_blank"><span class="link__text">you can download here</span></a>. They also point out the following facts:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        Asbestos is only dangerous when disturbed - avoid unnecessary disturbance
      </li>
      <li class="bullet-list__item">
        If unsure, presume that material does contain asbestos
      </li>
      <li class="bullet-list__item">
        The duty to manage doesn't require asbestos removal
      </li>
      <li class="bullet-list__item">
        You don't always need a specialist. When you do, get a competent one
      </li>
    </ul>
    <p class="text">If you believe that your employer has failed in its duty of care to stop work when asbestos has been discovered, you should talk to an experienced asbestos claims solicitor right away. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Is it safe for me to remove asbestos if I wear protective gear?</h2>
    <p class="text">Asbestos removal is a highly specialised field requiring special training and highly specialised Personal Protective Equipment (PPE). Unless you have been specially trained in asbestos removal, you should refuse to undertake any work that involves disturbing any asbestos material and ensure that your employer reports the asbestos discovery to the relevant authorities. You can find out where to <a href="http://www.hse.gov.uk/asbestos/faq.htm" class="link link--inline" target="_blank"><span class="link__text">report asbestos to on the HSE website</span></a>. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">More information</h2>
    <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
