<div class="inner-block">
  <h2 class="text text--heading text--large">What is employers' liability insurance?</h2>
  <p class="text">Employers' liability insurance is a policy intended to ensure that compensation can be paid to any employees who are injured or made ill as a result of their jobs. It's legally required for most companies, with the only exceptions being:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Public service employers such as the NHS, Government departments and passenger transport executives
    </li>
    <li class="bullet-list__item">
      Family firms, where all of the employees are related, except when they are Limited companies
    </li>
    <li class="bullet-list__item">
      Businesses that only employ the owner, or a single employee abroad
    </li>
  </ul>
  <p class="text">Employers' liability insurance must offer cover of at least £5 million per claim, but limits of £10 million per claim are not uncommon. This ensures that even in the most serious compensation cases  - where employer negligence is proven and death or a life-changing injury has occurred - every employer has insurance cover to meet the costs of compensation and rehabilitation for an employee.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What does employers' liability insurance cover?</h2>
  <p class="text">Employers' liability insurance offers far more protection to employees than it does to employers. It ensures that a legal minimum of money is available to pay employees compensation for any illness or injury arising out employer negligence. With that in mind, insurers can't refuse to pay a claim simply because your employer:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Hasn't provided reasonable protection to employees
    </li>
    <li class="bullet-list__item">
      Hasn't keep specified records 
    </li>
    <li class="bullet-list__item">
      Has done something the insurers told them not to do - such as admitting liability
    </li>
    <li class="bullet-list__item">
      Hasn't done something they were told to do - like reporting the incident
    </li>
    <li class="bullet-list__item">
      Hasn't met legal requirements connected with protection of employees
    </li>
  </ul>
  <p class="text">However, where an employer has been seriously negligent, many insurance companies reserve the right to sue them to reclaim the cost of the compensation paid to employees.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the consequences for employers who don't have employers' liability insurance?</h2>
  <p class="text">Unless they fall into one of the categories above, <a href="https://www.gov.uk/employers-liability-insurance" class="link link--inline" target="_blank"><span class="link__text">the law</span></a> says that under the <a href="http://www.hse.gov.uk/pubns//hse40.pdf" class="link link--inline" target="_blank"><span class="link__text">Employers' Liability (Compulsory Insurance) Act 1969</span></a>, every UK employer must have employers' liability insurance of at least £5 million, issued by an insurer that is authorised by the Financial Conduct Authority (FCA). If they fail to do so, they can be fined up to £2,500 a day, and even failing to display a valid employers' liability insurance certificate can lead to a £1,000 fine.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Does my employer have employers' liability insurance?</h2>
  <p class="text">Your employer <span class="text--bold">must</span> hold employers' liability insurance <span class="text--bold">and</span> display a certificate somewhere that employees can see it. This is your reassurance that your employer can compensate you for any injuries or illness that arise from your employment. So, if your employer hasn't put this certificate on display, it's worth checking to make sure that they have the right cover, and remind them that they could be fined for failing to have it, as well as for failing to display a certificate.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Talk to us about claiming against your employer</h2>
  <p class="text">If you've had an accident at work that was not your fault Slater and Gordon can help you claim against your employers' liability insurance. <a href="/contact-us/" class="link link--inline"><span class="link__text">Contact us online</span></a> or call us freephone on {{{meta.phonenumber.contentLink}}} today.</p>
</div>
