<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for injuries in Europe from the UK?</h2>
  <p class="text">While laws for compensation claims vary across the EU, <a href="/personal-injury-claim/holiday-accident-claims/travel-conventions-treaties/" class="link link--inline"><span class="link__text">a number of mechanisms exist</span></a> to ensure that EU citizens can claim compensation for injuries suffered in other EU countries. We have extensive experience of helping UK clients claim compensation in the EU in circumstances such as:</p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Road traffic accidents</span></a><span class="text--bold">:</span> where another driver or a badly maintained road surface was to blame</p>
  <p class="text"><a href="/personal-injury-claim/holiday-accident-claims/hotel-resort/" class="link link--inline"><span class="link__text">Holiday accidents</span></a>: such as slips, trips and falls in resorts and hotels</p>
  <p class="text"><a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Accidents at work</span></a><span class="text--bold">:</span> EU employers are under the same duty of care as those in the UK</p>
  <p class="text"><a href="/personal-injury-claim/holiday-accident-claims/winter-skiing/" class="link link--inline"><span class="link__text">Skiing and other sports injuries</span></a><span class="text--bold">:</span> due to another participant's recklessness, faulty equipment or piste maintenance</p>
  <p class="text"><span class="text--bold">Assaults and terrorism:</span> if you have been the victim of an assault or caught up in a terrorist incident</p>
  <p class="text">There are at least as many ways for you to be injured by someone else's negligence in the EU as there are in the UK. So talk to us about starting a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a> for any illness or injury that you or a family member suffered while travelling in Europe.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if I was a victim of crime in the EU?</h2>
  <p class="text">At the time of writing, the UK is still a member of the European Union, and subject to the EU law that requires every member country to maintain a compensation fund for victims of crime. While that remains the case, we may be able to help you claim compensation from the offender during any criminal proceedings, or to claim from the relevant compensation authority for the country in which you were injured as a result of criminal activity.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
  <p class="text">The law in the UK law permits up to three years in which to start a compensation claim for an injury that arose from negligence or a deliberate act. However, while this is also the case in a number of EU countries, time limits can vary. So if you've been injured in an EU country and wish to make a No Win No Fee compensation claim from the UK, we recommend that you begin your claim as soon as possible. </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
    <p class="text">The amount of compensation you may receive for an injury which occurred in Europe, can vary quite significantly. It depends on the extent of your injuries as well as the rules followed by the compensation authority in each EU nation. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment or rehabilitation</span></a> that may be required.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long does a compensation claim take?</h2>
    <p class="text">That all depends on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a> as well as on the compensation authority of the relevant EU country. However, we always aim to pursue justice for our clients as quickly and efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial difficulties, or where you need to begin treatment or rehabilitation as soon as possible.</p>
</div>
