<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's biggest consumer legal firms, with extensive experience of making claims for injuries that were caused in EU countries. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or if you're calling from overseas, on +44 20 7657 1555, or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts today.</p>
</div>
