<div class="inner-block">
  <h2 class="text text--heading text--large">How we can help</h2>
  <p class="text">Carbon monoxide poisoning is a complicated subject; proving negligence and winning compensation requires a well trained legal expert. If you have questions on the subject, the below guide should answer the most commonly asked questions you might have, alternatively you can always <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to a specialist lawyer today.  </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is carbon monoxide?</h2>
  <p class="text">Carbon monoxide is an odourless, colourless gas that is produced in a number of ways. While it is present in car exhaust fumes, cigarette smoke and even paint fumes, the greatest danger for most people comes from badly serviced gas heating equipment and poorly ventilated areas where open fires and wood burning stoves are present.</p>
  <p class="text">Carbon monoxide poisoning can be fatal in some cases, and cause lasting illness in others. If you suspect that you are being exposed to carbon monoxide, you should seek medical advice immediately. <a href="/personal-injury-claim/illness/carbon-monoxide/what-to-do-if-worried-about-co/" class="link link--inline"><span class="link__text">Read our guide on what to do if you suspect CO poisoning</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of carbon monoxide poisoning?</h2>
  <p class="text">The most dangerous thing about carbon monoxide is that you can't see it or smell it. In fact, in many of the fatal cases of carbon monoxide poisoning, victims who are overcome by the fumes simply fall asleep and never wake up. That's why it is essential to recognise the symptoms that could point to a build-up of carbon monoxide:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Headaches 
    </li>
    <li class="bullet-list__item">
      Unexpected drowsiness
    </li>
    <li class="bullet-list__item">
      Dizziness or confusion 
    </li>
    <li class="bullet-list__item">
      Nausea and sickness 
    </li>
    <li class="bullet-list__item">
      Tiredness and lethargy 
    </li>
    <li class="bullet-list__item">
      Shortness of breath 
    </li>
    <li class="bullet-list__item">
      Clumsiness and loss of coordination
    </li>
    <li class="bullet-list__item">
      Abdominal pain
    </li>
    <li class="bullet-list__item">
      Loss of consciousness
    </li>
  </ul>
  <p class="text">If you recognise any of these symptoms in yourself or someone you know, it is essential to seek medical advice and have the premises checked for carbon monoxide immediately. From a legal standpoint, <a href="/personal-injury-claim/illness/carbon-monoxide/landlord-legal-requirements/" class="link link--inline"><span class="link__text">your l</span></a><a href="/personal-injury-claim/illness/carbon-monoxide/landlord-legal-requirements/" class="link link--inline"><span class="link__text">andlord is responsible </span></a><a href="/personal-injury-claim/illness/carbon-monoxide/landlord-legal-requirements/" class="link link--inline"><span class="link__text">for keeping you safe from carbon monoxide</span></a>, so they should also be informed of your suspicions as early as possible.</p>
  <p class="text">In the event that you have been exposed to carbon monoxide, you should also seek legal advice immediately.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who might be to blame for my carbon monoxide poisoning?</h2>
  <p class="text">Carbon monoxide poisoning is almost always the result of somebody else's negligence. If you have been exposed to it in a rental property, the person with legal responsibility to you is your landlord. They are required by law to have a working carbon monoxide detector in every room where solid fuel is burned, and also to ensure that gas appliances are annually serviced and properly ventilated.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I make a claim for carbon monoxide poisoning?</h2>
  <p class="text">In the first instance contact Slater and Gordon, as we are highly experienced in dealing with the complexities of carbon monoxide poisoning compensation claims. We will listen to what you tell us, than advise you on the likelihood of making a successful claim. In the majority of cases like this, we could then agree to pursue your claim on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>, to ensure that there is no financial risk to you. Call us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your illness</span></a> and we will call you.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much is a carbon monoxide poisoning claim worth?</h2>
  <p class="text">As you might expect, the level of compensation you might receive depends on the extent of the poisoning and seriousness of the effects. There is no set figure for carbon monoxide compensation claims, though where lasting after-effects such as brain damage or death have occurred, judgements in the millions of pounds have been made.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long will my carbon monoxide claim take?</h2>
  <p class="text">Again, there is no hard and fast rule for how long a carbon monoxide poisoning compensation claim will take. Where a negligent party accepts liability and has valid insurance, the claim may proceed reasonably quickly. However, where there are serious effects that require toxicology reports or even an inquest, a claim may take some time to settle. However, in these cases, we will always seek interim funding to ensure that victims suffer as little financial hardship as possible. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do you have more worries or concerns about carbon monoxide poisoning?</h2>
</div>
