<div class="inner-block">
  <h2 class="text text--heading text--large">We know how hard it is to live with an eye injury</h2>
  <p class="text">As specialist personal injury solicitors, we understand the enormous challenges people face when they suffer a serious eye injury, especially when it results in significant sight loss or blindness. We know that every eye injury is serious, and it can affect not just the injured person, but every member of their family. That's why, in addition to seeking appropriate financial compensation for our clients, we understand the importance of <a href="/personal-injury-claim/serious/interim-payments/" class="link link--inline"><span class="link__text">seeking interim payments at the earliest opportunity</span></a>, to help you all cope with the life changes that an eye injury can bring.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much can I claim for an eye injury?</h2>
  <p class="text">As you might expect, the amount of compensation for an eye injury depends on the seriousness of the injury and on the prognosis for any future improvement. The calculation for financial compensation also has to take into account factors like <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">loss of earnings, loss of amenity, and the cost of ongoing treatment</span></a>, rehabilitation and support. However, substantial compensation to help you adapt to sight loss and live life to the fullest extent can run into millions of pounds, particularly if you or a loved one have lost their sight as a result of someone else's negligence.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What help is available after an eye injury?</h2>
  <p class="text">Financial compensation for eye injuries and sight loss isn't simply for the pain and suffering you've had to endure. It can also help to pay for medical treatment such as laser eye surgery, prosthetics, specialist medical care, assistance dogs and even <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">adaptations to a property or the purchase of a new property where required</span></a>. That's why it is important to talk to a legal firm that understands all of the ramifications of an eye injury or loss of sight as soon as possible.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Who might be to blame for an eye injury?</h2>
    <p class="text">Sadly, accidents happen, and eye injuries can occur where no one is to blame. However, on many occasions they happen in the workplace due to a lack of safety precautions, such as:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/accident-at-work-compensation/health-safety-dangerous-practices/" class="link link--inline"><span class="link__text">A lack of proper training in safe working practices</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Inadequate or missing goggles, safety glasses or face shields </span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/accident-at-work-compensation/defective-equipment/" class="link link--inline"><span class="link__text">Defective machinery</span></a>
      </li>
      <li class="bullet-list__item">
        Improper storage or handling of dangerous chemicals
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/accident-at-work-compensation/military/" class="link link--inline"><span class="link__text">Military Accidents</span></a>
      </li>
    </ul>
    <p class="text">So if you think that your eye injury - or that of a relative - has been caused by someone else's negligence, either in the workplace or somewhere else, it's worth talking to one of our specialist eye injury lawyers to find out whether it's possible to claim compensation.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What sort of eye injuries can I claim for?</h2>
    <p class="text">Any serious injury that's been caused by someone else's negligence has the potential to give rise to a compensation claim. Eyes are such delicate and essential organs, almost any damage is serious, whether it's caused by an object piercing the eye, scratches to the surface, or sometimes even damage caused by a severe blow to the head. However, these are the eye injuries that we most commonly seek compensation for:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        Full or partial blindness
      </li>
      <li class="bullet-list__item">
        Deterioration due to environmental factors
      </li>
      <li class="bullet-list__item">
        Damage to the cornea
      </li>
      <li class="bullet-list__item">
        Loss of an eye
      </li>
      <li class="bullet-list__item">
        Detached retina
      </li>
    </ul>
    <p class="text">However an eye injury has occurred, and whatever the degree of harm that has occurred, if someone else's negligence has been involved, you should talk to a specialist claims solicitor as soon as possible. </p>
    <a href="/contact-us/" class="button button--secondary">Talk to an expert</a>
</div>