<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading law firms for personal injury compensation, dedicated to supporting clients through even the most life-changing injuries. Call us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your eye injury</span></a> and we will call you.</p>
</div>
