<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's biggest injury claims firms, with a record of success in factory and warehouse compensation claims. Call us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts today.</p>
</div>
