<div class="inner-block">
  <h2 class="text text--heading text--large">What sorts of injury can I claim for?</h2>
  <p class="text">Warehouses and factories are far safer than they used to be, thanks to <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">greatly improved health and safety laws</span></a>. Having said that, the rules and regulations are not always followed as closely as they should be, leading to a wide number of injury claims involving:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Heavy lifting injuries
    </li>
    <li class="bullet-list__item">
      Slips and trips
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/fall-heights-objects/" class="link link--inline"><span class="link__text">Falling from heights or falling objects</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/defective-equipment/" class="link link--inline"><span class="link__text">Dangerous machinery</span></a> 
    </li>
    <li class="bullet-list__item">
      Exposure to dangerous substances
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/serious/burns-scars-lascerations/" class="link link--inline"><span class="link__text">Serious burns</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/electrocution/" class="link link--inline"><span class="link__text">Electric shocks</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/forklift/" class="link link--inline"><span class="link__text">Forklift trucks</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/industrial-deafness-tinnitus/" class="link link--inline"><span class="link__text">Excessive noise</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/serious/amputation-limb-damage/" class="link link--inline"><span class="link__text">Amputations</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">Asbestos</span></a>
    </li>
  </ul>
  <p class="text">However, the UK has an incredibly broad range of factories and warehouses, dealing with all sorts of materials. So however you've been injured or made ill at work, if negligence has been to blame, you may be able to claim compensation on a<a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text"> No Win No Fee basis</span></a>. Speak to an expert solicitor today.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who is responsible for my safety?</h2>
  <p class="text">Your employer is responsible for making sure that your working environment is safe for you to use, and can be held negligent if they fail to protect you. The law says that every employer has a duty of care to their employees, meaning that in most cases, any claim for injury compensation will be made against the employers' liability insurance that your employer is legally obliged to hold.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is employers' liability insurance?</h2>
  <p class="text">This is an insurance policy that every employer is required to have, by law. It ensures that money is available to compensate factory and warehouse workers for illness or injuries caused in the workplace that were not their fault. Read more about <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">employers' liability insurance</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much is my injury claim worth?</h2>
  <p class="text">Every injury claim is different, and the final figure for compensation depends upon the <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">seriousness of the injury</span></a>, as well as loss of earnings, how much it might affect your ability to work in the future and the <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">cost of any rehabilitation you might need</span></a>. We also take most injury cases on a No Win No Fee basis, and can seek interim payments to help you avoid financial hardship if you are prevented from working by your injuries.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
  <p class="text">Generally the law states you have three years following an accident at work in which to make a claim for compensation. There are exceptions to his rule, such as if the accident happened abroad, if the person injured suffers a lack of mental capacity as a result of the accident or in the tragic event that the person goes on to die. We therefore advise that you seek advice from an accident at work specialist lawyer as soon as possible. </p>
</div>
