<div class="inner-block">
  <h2 class="text text--heading text--large">What's the difference between a slip, a trip and a fall?</h2>
  <p class="text">The law is very specific about the difference between a slip, a trip and a fall: as the degree of negligence that caused an injury depends very much on how it occurred. So while it might seem like splitting hairs over language, it's important to understand the legal definitions of slips, trips and falls:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Slips at work: </span>these occur when there is too little grip between footwear and the surface you are walking on, due to water, oil, dust or another 'slippery' material on the floor
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Trips at work</span>: these occur when a worker's foot is brought to an abrupt halt by contact with an object in its path, such as trailing cables, loose carpets, or unexpected objects in walkways
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Falls at work:</span> there are two types of falls at work: those that occur on the same level, such as by falling into a pothole or other depression in the surface; and falls from heights, such as from rooftops, ladders, gantries and scaffolding
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Falling objects: </span>injuries caused by falling objects are different to those when people fall, but they will also generally lead to compensation claims being made
    </li>
  </ul>
  <p class="text">While these definitions are important in law, the most important factor that affects whether you can make a claim for a slip, trip or fall injury at work, is whether someone has been negligent, or your employer has failed in their duty of care towards you. To find out if your slip, trip or fall injury may entitle you to receive compensation, talk to one of our specialist claims solicitors today. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Who is responsible for my injury?</h2>
    <p class="text">While there are many causes for slip, trip and fall injuries in the workplace, the ultimate responsibility usually lies with your employer. They have a duty of care to ensure that your workplace is safe: from the floor coverings all the way up to any rooftop gantries. So if you've been injured and believe that your slip, trip or fall was caused by an unsafe workplace, find out if you might be entitled to receive compensation for your injuries. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What is employers' liability insurance?</h2>
    <p class="text">This is an insurance policy that the law requires every employer to have. It ensures that money is available to compensate workers for illness or injuries that were not their fault. <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">Read more on employers liability insurance</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How much is my injury claim worth?</h2>
    <p class="text">Every injury claim is different, and the final figure for compensation depends upon the <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">seriousness of the injury</span></a>, as well as how much it might affect your ability to work in the future, and <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">how much any rehabilitation might cost</span></a>. However, we take most slip, trip and fall injury cases on a No Win No Fee basis, and will often seek interim payments to help you avoid financial hardship if you're prevented from working by your injuries.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
    <p class="text">There's a general rule of law that states that claims must be brought within three years from the date of the trip, slip or fall. There are exceptions however, such as if you were working abroad when the accident took place, whether you have diminished mental capacity as a result of the accident or in the tragic event that the accident resulted in death. It's therefore important to speak to a specialist accidents at work lawyer as soon as you're able to. </p>
</div>
