<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's biggest injury compensation firms, with the expertise to help you receive the compensation you deserve for slips, trips and falls. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal advisors.</p>
</div>
