<div class="inner-block">
  <h2 class="text text--heading text--large">What steps do I need to take after sustaining an injury due to an accident at work that wasn't my fault?</h2>
  <p class="text">If you sustain an injury due to an accident at work, you should follow these steps:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Seek medical advice for the best way to treat your injuries
    </li>
    <li class="bullet-list__item">
      Report the accident to your employer
    </li>
    <li class="bullet-list__item">
      Make sure the details are reported in the accident book
    </li>
    <li class="bullet-list__item">
      Report the accident to your Health and Safety Representative if there is one
    </li>
    <li class="bullet-list__item">
      Take down the names and contact details of any witnesses (they may need to provide a witness statement as evidence in your case)
    </li>
    <li class="bullet-list__item">
      Contact a lawyer who specialises in accident at work claims if you wish to make a compensation claim and believe your employer or someone else is fully or partly to blame for your injury
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will it cost me anything to make a claim for an accident at work injury?</h2>
  <p class="text">Personal Injury compensation claims following an accident at work can be funded under a No Win No Fee agreement. Meaning, if your case is unsuccessful, you won't have to pay penny and they'll be no financial risk to you. Fees may apply if you do go on to win your case and receive compensation. </p>
  <a href="/personal-injury-claim/no-win-no-fee-claims/" class="button button--secondary">Click here for more information on No Win No Fee claims</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Can I make a compensation claim if my work accident happened overseas?</h2>
    <p class="text">If you've been injured in an accident outside the UK whilst at work, it may still be possible for you to claim personal injury compensation. Depending on the country where your accident took place, there can be conflicts with different jurisdictions and laws. It's very important to ensure that the law firm you choose has experts who specialise in injuries arising from <a href="/personal-injury-claim/holiday-accident-claims/" class="link link--inline"><span class="link__text">accidents overseas </span></a> as they'll have an understanding of foreign laws and the ones which may apply to your case. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Does a claim need to be made within a certain time limit after an accident?</h2>
    <p class="text">Generally in England, Wales and Scotland the time limit to make a claim for personal injury after an accident at work is three years from the date of the accident. However, there are some variations to these time limits, for example:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        If claiming on behalf of someone who has passed away from an injury at work, the claim would need to be made within three years from the date of their death
      </li>
    </ul>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        If claiming on behalf of someone who lacks mental capacity, there's no time limit to make a claim
      </li>
    </ul>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        Different time limits may also apply if your accident happened overseas. For more information about claiming for personal injury whilst working abroad, visit our page on <a href="/personal-injury-claim/holiday-accident-claims/" class="link link--inline"><span class="link__text">accidents abroad</span></a>. 
      </li>
    </ul>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long will my injury compensation claim take to process?</h2>
    <p class="text">Personal injury cases following accidents at work vary in circumstances and so it's difficult to pinpoint exactly how long a single case will take to complete. In part, it will depend on how complex the case is and how severe the injuries are. Another factor which will determine how long a case will take is whether or not responsibility is accepted by the other side. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Can I make a claim on behalf of someone else who has been injured in an accident?</h2>
    <p class="text">In cases where someone has passed away due to injuries caused by an accident at work, you may be able to claim for compensation on their behalf. If a will was made, the Executor of the Estate would be able to make the claim. If there isn't a will, only certain relatives will be able to pursue a claim on behalf of their loved one.</p>
    <p class="text">In cases where the injured person lacks mental capacity and is unable to pursue their own personal injury claim, someone who has Power of Attorney or is a Deputy for that person will be able to <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claim on their behalf</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Will I have to go to court?</h2>
    <p class="text">It's very rare that a personal injury claim following an accident at work will actually go to trial, a large majority settle before a trial takes place. However, if your case doesn't settle before trial, attendance at court may be necessary. We however, will be by your side throughout any necessary court attendance. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Will my lawyer help me source the right treatment or rehabilitation should I need it?</h2>
    <p class="text">Slater and Gordon have many years' experience working on behalf of people who have suffered life changing personal injuries. We see it as an important part of our role to ensure our clients get the best quality support to maximise the chances of recovery and future independence.</p>
    <p class="text">We work closely with case managers, medical experts and approved rehabilitation providers to make sure a tailored programme is put in place and an immediate needs assessment is undertaken as soon as possible so that treatment can begin without delay.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What if I need to pay for treatments, adaptations or other things to aid my recovery before the case has settled?</h2>
    <p class="text">There's no telling how long a case will take to settle but Slater and Gordon understand that our clients may need to pay for treatments or adaptations to a property to aid recovery and future independence as soon as possible.</p>
    <p class="text">Where we've proved that the other side was partly or fully to blame for your injuries, pain and suffering, we can obtain financial assistance in the form of interim payments. These are payments which are made to you before your case reaches settlement.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Will any compensation awarded cover the cost of prosthetics if my accident resulted in limb loss?</h2>
    <p class="text">Today, there are constant developments in prosthetics, for example, a prosthetic leg can cost more than £50,000.</p>
    <p class="text">If your <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">claim is successful</span></a>, compensation can include the cost of prosthetic limbs on a privately funded basis for your lifetime. It can also include the cost of maintenance, repairs, cosmetic covers and spare prosthetics for showering/bathing, swimming and other sports. </p>
</div>
