<div class="inner-block">
  <h2 class="text text--heading text--large">I've been involved in a road traffic accident that wasn't my fault. How do I start a claim for compensation?</h2>
  <p class="text">When you've been injured in a road traffic accident, the most important thing to do is to seek medical attention. When you feel able to speak to, you should speak to a lawyer who specialises in road traffic accidents as soon as possible. Making a claim can often seem like a daunting prospect, but we have specialist legal advisers with many years' experience who can put your mind at ease. All you have to do to start your claim is call us on {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> and we'll take it from there. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What evidence will I need to provide to support my claim?</h2>
  <p class="text">If you were able to take evidence at the scene of the accident, we will ask you to share that evidence with us. That evidence may include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Details of the person at fault / the other driver
    </li>
    <li class="bullet-list__item">
      Details of any witnesses 
    </li>
    <li class="bullet-list__item">
      Photographs of the accident scene
    </li>
    <li class="bullet-list__item">
      Photographs of your injuries. 
    </li>
  </ul>
  <p class="text">You may also be asked to provide details of any medical appointments you've attended and any medication prescribed to help with the treatment of your injuries. We will also need to send you for an independent medical where a medical examiner will examine you and write a report based on your injuries. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I fund a claim for a road traffic accident?</h2>
  <p class="text">The vast majority of road traffic accident claims are funded under a No Win No Fee agreement. Under a No Win No Fee agreement, if your case is unsuccessful, you won't have to pay a penny which means they'll be no financial risk to you. <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">Click here for more information on No Win No Fee claims</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are you able to claim on behalf of someone who has died as a result of a road traffic accident?</h2>
  <p class="text">If a loved one has passed away as a result of a road traffic accident, you may be able to claim on their behalf. If the deceased made a will, the executor of the estate is responsible for pursuing the claim on behalf of any dependents. If there is no will, only certain relations or family members are able to make a claim following the death of a loved one.</p>
  <p class="text">The people who are able to make a claim for compensation are prescribed by law and the list is extensive, but one of our experts in road traffic accidents will be able to advise whether or not you can make a claim. For more information on fatal injuries, please click <a href="/personal-injury-claim/serious/fatal/" class="link link--inline"><span class="link__text">here</span></a>. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I make a compensation claim if I was injured in a road traffic accident but was not wearing a seatbelt?</h2>
  <p class="text">If someone else was at fault for you being injured in a road traffic accident then you can make a claim for compensation. If it's found that not wearing your seatbelt made your injuries worse, then you will be found partially to blame for the accident and your compensation payment will be deducted to represent the percentage of your blame.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim compensation if I was injured in a road traffic accident in another country?</h2>
  <p class="text">If you've been injured in a road traffic accident in another country, whether as a <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">driver</span></a>, cyclist, <a href="/personal-injury-claim/road-traffic-accidents/motorcycle-accident-claims/" class="link link--inline"><span class="link__text">motorcyclist</span></a>, passenger or pedestrian, you may still be able to make a claim for compensation.</p>
  <p class="text">Often in road traffic accidents which happen overseas, there can be conflicts in jurisdictions and law and in many European countries there are laws where fault doesn't need to be proved. This is why it's so important to ensure the law firm you choose has specialists in road traffic accidents abroad who understand the laws which apply and have a network of experts across the globe.  </p>
</div>
