<div class="inner-block">
  <h2 class="text text--heading text--large">Will it cost me anything to make a compensation claim?</h2>
  <p class="text">Slater and Gordon understand that the cost of legal services can be a worry, but there are several options available to fund cases of abuse. The majority of cases are funded under a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee Agreement</span></a> which means if the case is unsuccessful, you will not have to pay anything.</p>
  <p class="text">Criminal Injury Compensation claims (CICA) are funded by a Collective <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">Conditional Fee Agreement</span></a> which means if the case is unsuccessful, you will not have to pay anything.</p>
  <p class="text">Public funding from the <a href="https://www.gov.uk/government/organisations/legal-aid-agency/about" class="link link--inline" target="_blank"><span class="link__text">Legal Aid Agency</span></a> is also available for a small amount of cases of abuse which depends on your financial circumstances and the individual facts of the case. We'll be able to explain the funding options available once we've reviewed your case.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I make a claim for compensation if I don't live in the UK?</h2>
  <p class="text">It doesn't matter where you live. If the abuser or the organisation we're pursuing for compensation lives or is based in the UK, you can still make a claim.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I make a claim for compensation if the abuser doesn't live in the UK?</h2>
  <p class="text">If the abuse occurred in the UK, a claim can still be made but the abuser we're pursuing for compensation must be identifiable and traceable and have the means to satisfy any judgment debt awarded to you in the case.</p>
  <p class="text">If the abuse occurred outside the UK and the abuser we're pursuing for the abuse lives or is based overseas, although it may be more difficult to justify bringing a claim in the UK, it's not impossible. Our team of experts will confirm whether or not it's possible to make a claim once they've reviewed the case.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Is there a time limit on making a claim?</h2>
  <p class="text">There are Acts of Parliament in place which set time limits for making a compensation claim. These vary for different circumstances and there's a discretion with cases of abuse and sexual assault to allow the case to proceed outside the time limit in certain circumstances. Even if the incident happened many years ago, a claim may still be possible. It's therefore important that, as soon as you're able, you seek advice from a specialist abuse and sexual assault lawyer who's familiar with this type of work and the specialist area of law relating to time limits.</p>
  <p class="text">Once our lawyers have reviewed your case, they'll be able to advise you on time limits in your case.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will criminal proceedings affect my claim?</h2>
  <p class="text">We would always encourage anyone who's suffered from abuse or sexual assault to report the incident to the police if you haven't already done so. Criminal proceedings are completely separate from compensation claims but the outcome of criminal proceedings may be relevant to your case.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I make a claim if the abuser hasn't been found guilty or convicted?</h2>
  <p class="text">You may be able to make a claim if the abuser is found not guilty as there can be various reasons why they haven't been convicted. The evidential burden in a civil case is lower and the issues are often different to those in a criminal case. Our experts will be able to advise further on this once we know the circumstances of the case.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will I have to visit my lawyer's office?</h2>
  <p class="text">We understand that visiting a lawyer to talk about what happened to you can be daunting which is why we'll meet you at a place convenient and comfortable for you.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will I have to go to court?</h2>
  <p class="text">The vast majority of compensation claims successfully conclude before reaching the final court hearing which means there would be no need for you to attend. Of course there are occasions when cases do go to court but it is your lawyers' job to fully support and represent you through this process which is very different to a criminal trial. Our specialist abuse lawyers will be able to advise further on this once they know the circumstances of the case.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will I have the right to anonymity?</h2>
  <p class="text">If you're a victim of a sexual offence, <a href="/personal-injury-claim/sexual-criminal-abuse/confidentiality-anonymity/" class="link link--inline"><span class="link__text">you have a guaranteed legal right to anonymity</span></a>. This means that the media can't publish your name or any other details which might identify you unless you choose to waive your anonymity.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do you have more questions about sexual and physical abuse cases? Read our expert guides below.</h2>
</div>
