<div class="inner-block">
  <h2 class="text text--heading text--large">What is a serious injury?</h2>
  <p class="text">A serious injury can mean different things to different people and a lot of injuries can be considered serious. In many personal injury cases the effects of an injury can be short term and compensation can cover any pain and suffering. Usually in the personal injury industry we describe an injury as serious if it has life altering consequences that require interim payments and large sums of compensation required to cover the potentially lifelong future effects of the injury you have sustained.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are common forms of serious injuries?</h2>
  <p class="text">Serious injuries come in many forms, some more visible than others. Some of the most common forms of serious injuries Slater and Gordon specialise in are:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Loss of limbs 
    </li>
    <li class="bullet-list__item">
      Spinal cord injuries 
    </li>
    <li class="bullet-list__item">
      Head/brain injuries 
    </li>
    <li class="bullet-list__item">
      Fatal injuries 
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are interim payments?</h2>
  <p class="text">In some circumstances you may require immediate financial support after an injury. This could be for medical expenses, treatment and rehabilitation, support workers or even house modifications. In a case where fault has been admitted, but the final amount of compensation has not been agreed, our lawyers will attempt to gain interim payments in an effort to ensure you get the financial help you need as quickly as possible. <a href="/personal-injury-claim/serious/interim-payments/" class="link link--inline"><span class="link__text">Click here for more on interim payments</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is a trust?</h2>
  <p class="text">In some cases where a large sum of money is awarded as compensation or in cases where the sufferer of the injury has been left with a diminished mental capacity, a trust can be set up to look after the money. There are a variety of reasons why we may recommend this.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">My loved one has been left with diminished mental capacity after an accident, can I claim on his behalf?</h2>
  <p class="text">When someone has been left with diminished mental capacity after an accident that wasn't their fault, someone is able to make a claim on their behalf. Certain relations would be allowed to do this, such as a parent or guardian. <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">Click here for more information on claiming on behalf of another</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is the impact of a serious injury?</h2>
  <p class="text">In the vast majority of cases when someone has suffered a serious injury, the sufferer may struggle to return to their life as it was before the injury. This may mean limited mobility or diminished mental capacity. It may be difficult to return to work and <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">modifications to one's home or car</span></a> may be required for example. No matter the severity of your injury Slater and Gordon's expert solicitors are there to get you the compensation you deserve.</p>
</div>
