<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for compensation if I've contracted food poisoning?</h2>
  <p class="text">Food poisoning is really quite serious, especially if you have food allergies, for example:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      If you have been served food in a restaurant that didn't have all allergens listed on the menu
    </li>
    <li class="bullet-list__item">
      If allergens were not communicated to you by the waiting staff for you to make an informed decision
    </li>
    <li class="bullet-list__item">
      If food had been contaminated without your knowledge prior to consumption.
    </li>
  </ul>
  <p class="text">If you've contracted food poisoning from a food outlet, you may be entitled to make a compensation claim for the illness you have suffered.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will it cost me anything to make a compensation claim for food poisoning?</h2>
  <p class="text">Food poisoning compensation claims can be funded under a No Win No Fee Agreement. This means if your case is unsuccessful, you won't have to pay a penny and they'll be no financial risk to you. </p>
  <a href="/personal-injury-claim/no-win-no-fee-claims/" class="button button--secondary">Click here for more information on No Win No Fee claims</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Does a claim need to be made within a certain time limit after contracting food poisoning?</h2>
    <p class="text">Generally in England, Wales and Scotland the time limit to make a claim for a food poisoning related illness is three years of the date of the incident. However, there are some variations to these time limits, for example:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        If claiming on behalf of someone who has passed away as a result of food poisoning, the claim would need to be made within three years from the date of their death.
      </li>
      <li class="bullet-list__item">
        If claiming on behalf of a child, the three year time limit does not begin until the child reaches the age of 18 in England and Wales or the age of 16 in Scotland.
      </li>
      <li class="bullet-list__item">
        If claiming on behalf of someone who lacks mental capacity, there is no time limit to make a claim.
      </li>
    </ul>
    <a href="/personal-injury-claim/claiming-behalf/" class="button button--secondary">Click here for more information for claiming on behalf of another</a>
</div><div class="inner-block">
      <h2 class="text text--heading text--large">How long will my food poisoning compensation claim take to process?</h2>
      <p class="text">Food poisoning compensation claims vary in circumstances and so it's difficult to pinpoint exactly how long a single case will take to complete. In part, it will depend on how complex the case is and how severe the illness from food poisoning is. Another factor which will determine how long a case will take is whether or not responsibility is accepted by the food outlet who provided the food. In certain severe cases of allergic reaction or food poisoning that resulted in a death, an inquest may be required, which will slow down the claims process.</p>
</div>
