<div class="inner-block">
  <h2 class="text text--heading text--large">How do I start a compensation claim after an accident in a public place?</h2>
  <p class="text">The process of starting a compensation claim is straightforward and won't take hours of your time. All you need to do is make initial contact with a lawyer by calling us on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contacting us online</span></a>. You will need to explain the circumstances of your accident and the extent of your injuries. Your case will then be assessed and passed onto the most appropriate lawyer who will process your details and start the ball rolling with your case.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What evidence will I need to provide to support my claim?</h2>
  <p class="text">Once your compensation claim has been discussed with a lawyer, in order to support your case, you may be asked to supply photographs of the location where your injury took place. For example, if you injured yourself because of an uneven paving stone, you can measure the height of the paving stone with a ruler or tape measure to show how high it is from the ground in relation to the other paving stones. Photographs of your injuries can be helpful too.</p>
  <p class="text">You may also be asked to provide details of any medical appointments you've attended and any medication prescribed to help with the treatment of your injuries. There is also a possibility that you'll need to attend a medical examination with an independent medical expert who specialises in medical reporting to support legal cases, also known as medico legal reports.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will it cost me anything to make a compensation claim?</h2>
  <p class="text">Claims for accidents in public places can be funded under a No Win No Fee Agreement. Meaning if your case is unsuccessful, you won't have to pay a penny which means they'll be no financial risk to you. Fees may apply if you do go onto win your case and receive compensation. </p>
  <a href="/personal-injury-claim/no-win-no-fee-claims/" class="button button--secondary">Click here for more information on No Win No Fee claims</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Can I make a claim for compensation if I had an accident in a public place outside of the UK?</h2>
    <p class="text">If you've been injured in a public place outside the UK, it may still be possible for you to claim personal injury compensation. Depending on the country where your accident took place, there can be conflicts with different jurisdictions and laws. It's very important to ensure that the law firm you choose has experts who specialise in public injury accidents overseas because they'll have an understanding of foreign laws and the ones which may apply to your case. Slater and Gordon have successfully won many compensation claims on behalf of our clients who have suffered injuries abroad.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Does a claim need to be made within a certain time limit after an accident?</h2>
    <p class="text">Generally in England, Wales and Scotland the time limit to make a claim for personal injury after an accident in a public place is three years of the date of the accident. However, there are some variations to these time limits, for example:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        If claiming on behalf of someone who has died, the claim would need to be made within three years from the date of their death.
      </li>
      <li class="bullet-list__item">
        If claiming on behalf of a child, the three year time limit does not begin until the child reaches the age of 18 in England and Wales or the age of 16 in Scotland.
      </li>
      <li class="bullet-list__item">
        If claiming on behalf of someone who lacks mental capacity, there is no time limit to make a claim.
      </li>
      <li class="bullet-list__item">
        If making a claim under The Human Rights Act, the time limit is one year
      </li>
    </ul>
    <p class="text">Different time limits may apply if your accident happened overseas. For more information about claiming for personal injury in a public place whilst abroad, <a href="/personal-injury-claim/holiday-accident-claims/" class="link link--inline"><span class="link__text">visit our page on accidents abroad</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long will my injury compensation claim take to process?</h2>
    <p class="text">Personal injury cases vary in circumstances and so it's difficult to pinpoint exactly how long a single case will take to complete. In part, it will depend on how complex the case is and how severe the injuries are. Another factor which will determine how long a case will take is whether or not responsibility is accepted by the other side.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Will my compensation cover the cost of damaged clothing or personal items affected by the accident?</h2>
    <p class="text">Compensation is awarded so that it allows you to live your life in a way you would have before you were injured. This means any compensation you're awarded will cover any losses and expenses incurred. This includes any lost pay from being unable to work or any costs incurred from having to replace any personal items damaged as a result of your accident. </p>
    <a href="/personal-injury-claim/what-can-i-claim-for/" class="button button--secondary">Click here for more information on what you can claim for</a>
</div><div class="inner-block">
      <h2 class="text text--heading text--large">Can I make a claim on behalf of someone else who has been injured in an accident in a public place?</h2>
      <p class="text">Children are unable to bring a claim and therefore, a responsible adult will have to make a claim on their behalf, which is usually a parent or guardian. This trusted adult will then be known as a 'Litigation Friend'.</p>
      <p class="text">In cases where someone has passed away due to injuries caused by an accident in a public place, you may be able to claim for compensation on their behalf. If a will was made, the Executor of the Estate would be able to make the claim. If there isn't a will, only certain relatives will be able to pursue a claim on behalf of their loved one.</p>
      <p class="text">In cases where the injured person lacks mental capacity and is unable to pursue their own personal injury claim, someone who has Power of Attorney or is a Deputy for that person will be able to claim on their behalf. </p>
      <a href="/personal-injury-claim/claiming-behalf/" class="button button--secondary">Click here for more information on claiming on behalf of another</a>
</div>