<div class="inner-block">
  <h2 class="text text--heading text--large">Will it cost me anything to make a compensation claim?</h2>
  <p class="text">Slater and Gordon understand that the cost of legal services can be a worry, but there are <a href="/personal-injury-claim/funding-your-case/" class="link link--inline"><span class="link__text">options available to fund personal injury cases</span></a> involving military injuries. You may have legal expense insurance under an existing insurance policy which will entitle you to free representation. We can check whether your policies have this cover included.</p>
  <p class="text">If you don't have any legal expense insurance under an existing policy, we may be able to conduct your case under a No Win No Fee agreement. This means, if your case is unsuccessful, they'll be no financial risk to you. Fees may apply if you do go on to win your case and receive compensation. For more information, visit our <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee page</span></a>. We'll be able to explain the funding options available once we've reviewed your case.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if the incident happened overseas?</h2>
  <p class="text">Whilst you can't claim for incidents that occurred in combat, you can claim for incidents that happened during training exercises abroad. A number of our clients have claimed for injuries that occurred in Cyprus and Estonia, for example.</p>
  <p class="text">An exception to this is mistreatment following an incident in combat. For example, if there was a failure to diagnose and treat <a href="/personal-injury-claim/accident-at-work-compensation/military/ptsd/" class="link link--inline"><span class="link__text">PTSD </span></a>then you may have a claim if the delay adversely affected your recovery. If this has happened to you, please call one of our experts for a confidential chat.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Is there a time limit on making a claim?</h2>
  <p class="text">There are laws in place which set out time limit rules for when compensation claims should be made. It's therefore important that you seek advice from a lawyer who specialises in military injury claims as soon as possible if you believe you have a claim.</p>
  <p class="text">Generally, claims should be made within three years from the date of the incident or the date you were first aware you had suffered an injury or illness due to negligence. There are exceptions to this rule however, so it's always best to speak to a specialist military claims lawyer as soon as possible. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will I have to go to court?</h2>
  <p class="text">It's very rare that military injury claims will actually go to trial, a large majority settle before a trial takes place. However, if your case doesn't settle before trial, attendance at court may be necessary. We will however be by your side at all times.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim on behalf of someone who has died as a result of a military injury?</h2>
  <p class="text">In the event that a loved one has passed away due to a military injury, <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">a claim can be made</span></a> by the person named as executor in the will if there is one or by a spouse/family member.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will my lawyer help me source the right treatment or rehabilitation should I need it?</h2>
  <p class="text">Yes. Slater and Gordon have many years' experience working on behalf of people who have suffered serious military injuries. We see it as an important part of our role to ensure our clients get the best quality support to maximise the chances of recovery and future independence.</p>
  <p class="text">We work closely with case managers, medical experts and approved <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation providers</span></a> to make sure a tailored programme is put in place and an immediate needs assessment is undertaken as soon as possible so that treatment can begin without delay.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if I need to pay for treatment, adaptations or other things to aid my recovery before the case has settled?</h2>
  <p class="text">There's no telling how long a case will take to settle but Slater and Gordon understand that our clients may need to pay for treatment or <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">adaptations to a property</span></a> to aid recovery and future independence as soon as possible.</p>
  <p class="text">Where we've proved that the other side was partly or fully to blame for your injuries, we can obtain financial assistance in the form of 'interim payments'. These are payments which are made to you before your case reaches settlement.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do the MOD have immunity from certain claims being brought against them?</h2>
  <p class="text">There are certain cases where the MOD would be immune from having a claim brought against them:</p>
  <p class="text"><span class="text--bold">Crown Immunity:</span> The MOD is immune from any claim by service personnel where an injury/incident, caused by their negligence, took place before 15 May 1987. This means even if the incident occurred before 1987 but the injury was not apparent until after that date, e.g. an asbestos related illness, you can't make a claim.</p>
  <p class="text"><span class="text--bold">Combat Immunity:</span> The MOD is immune from any claim by service personnel in respect of an injury/incident which has occurred during the course of combat. However, the MOD have sometimes been known to make ex-gratia payments in certain situations, so you should always seek legal advice.</p>
</div>
