<div class="inner-block">
  <h2 class="text text--heading text--large">I've been diagnosed with an asbestos related condition, can I make a compensation claim?</h2>
  <p class="text">If you've been diagnosed with an asbestos related condition, such as mesothelioma, asbestos related lung cancer, asbestosis or pleural thickening, you may have the right to claim compensation. </p>
  <p class="text">Pleural plaques is no longer compensatable in England and Wales. However, it is still compensatable in Scotland. Read our page on <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/scottish-pleural-plaques" class="link link--inline"><span class="link__text">Scottish pleural plaques claims </span></a>for more information. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Where would I have been exposed to asbestos?</h2>
  <p class="text">The vast majority of people who have developed an asbestos related illness, were exposed to asbestos during their employment when working in trades such as the building trade, However, there has been an increasing number of people who have suffered second hand exposure to asbestos, such as family members who washed the overalls of people who had worked with asbestos all day and those who lived near asbestos factories. There have also been a number of teachers and lecturers who have developed an asbestos related disease from asbestos in schools where the asbestos has been disturbed. Read our <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/am-i-at-risk/" class="link link--inline"><span class="link__text">Am I at Risk </span></a>page for more information about where you may have been exposed to asbestos</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I start a compensation claim after being diagnosed with an asbestos related condition?</h2>
  <p class="text">The process of starting a compensation claim is straightforward and won't take hours of your time. All you need to do is get in touch with us via freephone number {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> explaining the circumstances of your diagnosis and your exposure. Your case will then be assessed and allocated to a specialist asbestos lawyer who will contact you to take some further information and to arrange to visit to you at home to discuss the process of making a claim in more detail.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will it cost me anything to make an asbestos compensation claim?</h2>
  <p class="text">We offer to conduct all cases under a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee Agreement</span></a> which means if your case is not successful, you won't have to pay a penny and there is therefore no financial risk. Additionally, Slater and Gordon will not charge any additional fees to those who have been diagnosed with an asbestos related condition if they win their case. So if you go on to win your case, you will keep 100% of your compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do I need to make my asbestos compensation claim within a certain time after diagnosis?</h2>
  <p class="text">The law states that an asbestos compensation claim generally needs to be made within three years from the date you were diagnosed with an asbestos related condition. In the unfortunate event that a loved one has passed away as a result of an asbestos related condition, you would generally have to make a claim within three years from the date they passed away. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long will my asbestos compensation claim take to process?</h2>
  <p class="text">Asbestos cases vary in circumstances so it's difficult to pinpoint exactly how long a single case will take to complete. One factor which will help determine how long a case will take is whether or not responsibility is accepted by the other side. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">If the company I worked for has ceased trading, can I still make an asbestos compensation claim?</h2>
  <p class="text">It doesn't matter if the company you worked for has gone out of business, even if they went out of business many years ago. At the time you were exposed to asbestos, the company would have had <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">employers' liability insurers</span></a> and it is those insurers who will be responsible for the compensation. Slater and Gordon has an excellent success rate of tracing companies and their insurers due to many years' experience dealing with asbestos related illness cases, so you needn't worry.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I make an asbestos compensation claim if I no longer live in the UK?</h2>
  <p class="text">If you were exposed to asbestos in the UK but live outside of the UK, you can still make a claim for compensation and may be entitled to payments from the UK Government. <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/guide-to-expats/" class="link link--inline"><span class="link__text">We cover this topic in more detail here</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I make a compensation claim on behalf of someone who has died from an asbestos disease?</h2>
  <p class="text">You can make a claim on behalf of a loved one who has passed away from an asbestos disease. However, you must make the claim within three years of the date they passed away so you should speak to an experienced lawyer without delay. <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">Click here to learn more on claiming on behalf of a loved one</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">More information</h2>
  <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
