<div class="inner-block">
  <h2 class="text text--heading text--large">What sorts of farm injuries can I claim for?</h2>
  <p class="text">While tractor accidents are those that usually make the headlines, there are a large number of other hazards on most modern farms, making farming an extremely dangerous industry in Britain. Some of the hazards that cause serious injuries to farm workers include:</p>
  <p class="text">·      <a href="/personal-injury-claim/accident-at-work-compensation/forklift/" class="link link--inline"><span class="link__text"> </span></a><a href="/personal-injury-claim/accident-at-work-compensation/forklift/" class="link link--inline"><span class="link__text">Tractors, trailers and forklift trucks</span></a></p>
  <p class="text">·       Quad bikes</p>
  <p class="text">·       Cattle and other livestock</p>
  <p class="text">·       Falls from barns and haystacks</p>
  <p class="text">·       Falling objects in stores and barns</p>
  <p class="text">·       Dangerous chemicals</p>
  <p class="text">·       Falling into grain silos and slurry pits</p>
  <p class="text">There are many more hazards, which require proper <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">health and safety procedures to be followed</span></a> in order to avoid injuries. If you or a loved one have been harmed as a result of working on a farm, talk to one of our farming industry specialists about making a No Win No fee compensation claim today.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who is responsible for safety on the farm?</h2>
  <p class="text">As you can hear in the video above, Ian was injured because the farm owner didn't have a gate in place to keep between workers and livestock. This is fairly typical of farm injuries, where corners are being cut and injuries occur as a result. In every case, your employer - usually the farm owner – has a duty of care to keep you free from harm by ensuring that health and safety procedures are in place. Where this hasn't happened, and you or a loved one have been injured as a result, you may be able to claim compensation for loss of earnings, <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment and rehabilitation</span></a>, as well as for the pain and distress caused by the accident.</p>
  <p class="text">If you've been <a href="/personal-injury-claim/injury-in-public/animals/" class="link link--inline"><span class="link__text">injured by an animal</span></a><span class="text--bold"> </span>but not whilst working you may still have a claim.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much is my farming injury claim worth?</h2>
  <p class="text">Every injury claim is different, and the final figure for compensation <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">depends upon the seriousness of the injury</span></a>, as well as how much it might affect your ability to work in the future, and how much any rehabilitation might cost. However, we take most farming injury cases on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>, and seek interim payments to help you avoid hardship if you are prevented from working by your injuries.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
  <p class="text">The general rule is that a claim must be brought within three years of the date of the accident. However, there are exceptions, such as if you're claiming on behalf of someone who has diminishing mental capacity, in the event the accident happened abroad, or in the tragic circumstances where there is a death. It's therefore important that you speak to a specialist accidents at work solicitor as soon as you are able. </p>
</div>
