<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading car accident claim firms. Most of the injury claims we handle are on a No Win No Fee basis: even those we fast track. Call freephone {{{meta.phonenumber.contentLink}}} now or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your accident</span></a> and we will call you.</p>
</div>
