<div class="inner-block">
  <h2 class="text text--heading text--large">What is our fast track process?</h2>
  <p class="text">When we believe that compensation will not exceed £25,000 and the case is relatively straightforward, we involve our fast track team in order to speed the compensation process up and get you the compensation you deserve as quickly as possible.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long does a fast track injury claim take?</h2>
  <p class="text">When we believe that an injury claim is reasonably straightforward and meets the fast track criteria, we put those claims into our fast track system. This uses a secure electronic portal and streamlined case management software to make sure that every piece of 'paperwork' is handled as quickly as possible. From the outside it might make little difference, the only thing you will notice is the quick and efficient handling of your case.</p>
  <p class="text">So why wait longer than you have to, when your injury claim could be handled by our fast track team?</p>
  <a href="/contact-us/" class="button button--secondary">Claim today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Why are large claims treated differently?</h2>
    <p class="text">Naturally, we want every injury compensation claim to be settled as quickly as possible. But where a <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">very serious injury has occurred</span></a>, the need to assess and understand the long-term consequences for the client means that even after a final financial settlement has been agreed, we can remain involved in things like <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation and nursing</span></a> care for many years. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Do I qualify for No Win No Fee?</h2>
    <p class="text">The vast majority of the personal injury cases we put into the fast track system are handled under a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee agreement</span></a>. This means that we believe your case has merit, and also that even if it is ultimately unsuccessful, you won't owe us a penny, so there is no financial risk to you.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How does our fast track claims process work?</h2>
    <p class="text">We use a custom-designed and completely secure IT portal that was created purely for the purpose of making personal injury claims run as smoothly and efficiently as possible. Once we have all of the facts we need from you to start your claim, every piece of 'paperwork' associated with your claim passes through this digital portal to make the process as quick as possible.</p>
    <a href="/contact-us/" class="button button--secondary">Get in touch about your claim</a>
</div>