<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading personal injury law firms, with the experience and understanding you need when you've lost a loved one to a fatal incident. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">complete the contact form</span></a> and we will call you.</p>
</div>
