<div class="inner-block">
  <h2 class="text text--heading text--large">We offer understanding as well as legal expertise</h2>
  <p class="text">We understand from our extensive experience of dealing with bereaved families that when you've lost a loved one due to someone else's negligence, financial compensation is probably the last thing on your mind. However, the harsh reality is that such a loss may have left you in a difficult financial position, and seeking rightful compensation may be a necessity. If this is the situation you find yourself in, we have the understanding and the experience to handle any claim with the utmost sensitivity. If someone else's actions or negligence were to blame - or even partly to blame - for your loss, please get in touch with us as soon as you feel able to. </p>
  <a href="/contact-us/" class="button button--secondary">Speak to an expert</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Am I entitled to claim fatal accident compensation?</h2>
    <p class="text">If someone or something other than natural causes was to blame for the loss of a loved one, <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">the law allows you to claim if you were a dependent</span></a>. This means anyone who was in any way dependent upon the deceased prior to their death, such as children or a spouse.Those who may be able to make a claim when a loved one dies includes:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        A spouse or financially dependent former spouse
      </li>
      <li class="bullet-list__item">
        Cohabitees or civil partners of at least two years' standing
      </li>
      <li class="bullet-list__item">
        Children, grandchildren and other descendants
      </li>
      <li class="bullet-list__item">
        Adopted children or those from a marriage or civil partnership
      </li>
      <li class="bullet-list__item">
        Parents, grandparents and others with parental responsibility
      </li>
      <li class="bullet-list__item">
        Close relatives including siblings, aunts, uncles, nieces and nephews
      </li>
    </ul>
    <p class="text">If you believe that you are entitled to claim compensation for your loss, please contact us to speak to a legal expert who can advise you of the next steps. .</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Who might be responsible for the fatality?</h2>
    <p class="text">Having responsibility for someone's death is a terrible thing. Unfortunately, there are any number of circumstances that can lead to causing someone's death, including:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        <a href="/clinical-and-medical-negligence-solicitors/" class="link link--inline"><span class="link__text">Medical negligence</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Dangerous driving (road traffic collision)</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Industrial accidents</span></a>
      </li>
      <li class="bullet-list__item">
        Criminal assaults
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/injury-in-public/sports-injury/" class="link link--inline"><span class="link__text">Sporting accidents</span></a>
      </li>
    </ul>
    <p class="text">In fact, whenever someone dies and natural causes, such as old age, are not clearly at fault, it's important to consider whether someone's actions or negligence may be to blame. That's when you may wish to speak to one of our legal experts to see if a compensation claim is the most appropriate course of action.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How much will it cost to make a claim?</h2>
    <p class="text">The vast majority of cases at Slater and Gordon are funded under a No Win No Fee agreement. This allows you to seek justice without having to worry about the cost, as if you were to lose your case, you would not have to pay anything, meaning there's no financial risk to you. </p>
    <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
      <h2 class="text text--heading text--large">Who can I talk to about bereavement?</h2>
      <p class="text">We know from experience that money can seem unimportant at a time like this. So we understand that you need understanding and support more than anything else when a loved one has passed on. Please rest assured that when you talk to one of our specialist lawyers, they'll be conscious of the need to get you the emotional support you need, just as much as whatever financial compensation you are entitled to receive. </p>
</div>
