<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of injuries do defective products cause?</h2>
  <p class="text">Manufacturers have a duty to test the products they sell to ensure that they are both safe and fit for purpose. When a company has been negligent in design, testing or manufacture, serious injuries can occur. Slater and Gordon has acted for injured parties in a wide range of product liability cases. Examples of defective product injury cases we have dealt with in the past include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      A broken arm caused by falling off a defective ladder
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/illness/food-poisoning/" class="link link--inline"><span class="link__text">Poisoning caused by contaminated food</span></a> bought in a shop
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/serious/burns-scars-lascerations/" class="link link--inline"><span class="link__text">Burns caused by electrical goods</span></a> breaking or catching fire
    </li>
    <li class="bullet-list__item">
      Scarring caused by contaminated or untested cosmetics
    </li>
    <li class="bullet-list__item">
      Hair loss and scarring caused by defective hair products used in salons
    </li>
  </ul>
  <p class="text">So if you or a loved one has been injured due to any faulty product - from a ladder to a lipstick - you may be able to claim compensation on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No fee basis</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Why do product liability claims arise?</h2>
  <p class="text">Broadly speaking, product liability claims arise when someone has been injured by a faulty product. Yet it isn't simply a lack of testing or an intrinsically dangerous product design that leads to product liability injury compensation claims. Other common reasons for injury claims arising from defective products include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      A manufacturer failing to recall a product it knows is faulty
    </li>
    <li class="bullet-list__item">
      Contamination that occurs during manufacturing
    </li>
    <li class="bullet-list__item">
      Failure to display a necessary warning on a product
    </li>
  </ul>
  <p class="text">Importantly, <a href="https://www.gov.uk/guidance/product-safety-advice-for-businesses" class="link link--inline" target="_blank"><span class="link__text">manufacturers can't escape responsibility</span></a> just because a product comes with terms and conditions or a contract that exonerates them of all blame for injuries or any other losses. Every product must be of satisfactory quality, fit for purpose and as described. Whether it's you or a loved one who has been injured, you should talk to us about making a No Win No Fee compensation claim.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who is to blame - the manufacturer or the shop?</h2>
  <p class="text"><span class="text--bold"></span>If you've bought something that's faulty, but hasn't caused an injury, you have every right to return it to the shop it came from and ask for a refund or replacement under the <a href="https://www.which.co.uk/consumer-rights/regulation/consumer-rights-act" class="link link--inline" target="_blank"><span class="link__text">Consumer Rights Act</span></a>. Where a faulty product has caused an injury, you can seek redress and compensation from the manufacturer, under <a href="https://www.legislation.gov.uk/ukpga/1987/43" class="link link--inline" target="_blank"><span class="link__text">the Consumer Protection Act 1987</span></a>. There are cases in which the shop may also be at fault for the injury. However, Slater and Gordon's defective product liability experts can advise you once they know the circumstances of the case and in the vast majority of cases, can fund your claim on a No Win No Fee basis..<span class="text--bold"></span></p>
</div>
