<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's best-known defective product injury claim firms, with the expertise to help you receive the compensation you deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> and one of our legal experts will be in touch.</p>
</div>
