<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's best-known food poisoning claim firms, so we're here to help you receive the compensation you deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> and one of our expert lawyers will be in touch with you.</p>
</div>
