<div class="inner-block">
  <h2 class="text text--heading text--large">What sorts of food poisoning can I claim for?</h2>
  <p class="text">Food poisoning takes many forms in the UK and can have very serious consequences. So if you have suffered food poisoning that was caused by any of these viral, bacterial or parasitic conditions, you may have grounds for claiming food poisoning compensation:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Salmonella
    </li>
    <li class="bullet-list__item">
      Shigella
    </li>
    <li class="bullet-list__item">
      E.coli
    </li>
    <li class="bullet-list__item">
      Giardia
    </li>
    <li class="bullet-list__item">
      Norovirus
    </li>
    <li class="bullet-list__item">
      Rotavirus
    </li>
    <li class="bullet-list__item">
      Campylobacter
    </li>
    <li class="bullet-list__item">
      Cryptosporidium
    </li>
  </ul>
  <p class="text">Unusually, you do not have to prove negligence in order for your food poisoning claim to succeed, only that:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      The food was not safe
    </li>
    <li class="bullet-list__item">
      You have been ill
    </li>
    <li class="bullet-list__item">
      The unsafe food made you ill
    </li>
  </ul>
  <p class="text">In fact, under the terms of the The Consumer Protection Act 1987, if you can establish the source of the food poisoning, infection or allergic reaction, then the law imposes a 'strict liability' rule on the offending restaurant, shop or supplier. Here's what to do <a href="/personal-injury-claim/illness/food-poisoning/causes-prevention/" class="link link--inline"><span class="link__text">if you are worried about contaminated food</span></a>.</p>
  <a href="/personal-injury-claim/illness/guide/" class="button button--secondary">Food poisoning claims guide</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How is food poisoning caused?</h2>
    <p class="text">Whether food poisoning stems from a snack or meal you ate in a restaurant, or one you bought in a supermarket, the reasons behind it are usually:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        Food has been insufficiently cooked to kill bacteria
      </li>
      <li class="bullet-list__item">
        Food has not been refrigerated or covered
      </li>
      <li class="bullet-list__item">
        Bacteria has passed from food to food
      </li>
      <li class="bullet-list__item">
        Poor hygiene standards have affected preparation
      </li>
    </ul>
    <p class="text">You can find out more about the causes of food poisoning on the <a href="https://www.food.gov.uk/" class="link link--inline" target="_blank"><span class="link__text">food standards agency website</span></a>. You will also receive useful advice and possibly even support in gathering evidence for a compensation claim from your local <a href="https://www.food.gov.uk/about-us/local-authorities#.UMhsx6xm6_I" class="link link--inline" target="_blank"><span class="link__text">Environmental Health Officer</span></a>. We also offer guides on what restaurants should be doing in an effort to <a href="/personal-injury-claim/illness/food-poisoning/restaurant-guidelines/" class="link link--inline"><span class="link__text">reduce the risk of food poisoning here</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Can I claim for a food allergy reaction?</h2>
    <p class="text"><span class="text--bold"></span>Sadly, the tragic story featured in the video below is not as rare as you might hope. The law states that all food and drink sold in the UK is required to clearly declare the presence of known allergens including nuts or dairy products in signage and packaging. Where this has not been done satisfactorily and an allergic reaction has occurred - whatever its level of seriousness - a claim for rightful compensation may be in order.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How do I claim for food poisoning?</h2>
    <p class="text"><span class="text--bold"></span>Whether you have suffered food poisoning or an allergic reaction to food, gathering evidence as early as possible is essential. So if you believe you have been the victim of someone else's negligence, take these steps as soon as possible:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        Seek immediate medical assistance
      </li>
      <li class="bullet-list__item">
        Inform your local <a href="https://www.food.gov.uk/about-us/local-authorities#.UMhsx6xm6_I" class="link link--inline" target="_blank"><span class="link__text">Environmental Health Department </span></a>
      </li>
      <li class="bullet-list__item">
        Stay off work or school for 48 hours to avoid contagion
      </li>
      <li class="bullet-list__item">
        Write a list of everything you ate in the previous 24 hours
      </li>
      <li class="bullet-list__item">
        Keep suspect food, if you still have it, in its packaging
      </li>
      <li class="bullet-list__item">
        Preserve the food (i.e. freeze it) but seal it in polythene first
      </li>
      <li class="bullet-list__item">
        Keep all relevant receipts from restaurants or supermarkets
      </li>
      <li class="bullet-list__item">
        Collect names and contact details of witnesses
      </li>
    </ul>
    <p class="text">You will also need to keep this evidence, and have medical evidence from a gastroenterologist in order to help us prove your illness and its seriousness. Once this is done, it's time to ask Slater and Gordon about starting a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a>. </p>
</div>
