<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading forklift injury compensation firms, with the expertise to help you claim the compensation you deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>.</p>
</div>
