<div class="inner-block">
  <h2 class="text text--heading text--large">What sorts of forklift truck accidents can I claim for?</h2>
  <p class="text">Forklift trucks are the workhorses of many industries. But working at pace in tight or crowded spaces means that safety corners are sometimes cut, and that's when accidents happen. These are some of the most common types of forklift accident:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Forklift <a href="/personal-injury-claim/road-traffic-accidents/pedestrian-accident-claims/" class="link link--inline"><span class="link__text">collisions with pedestrians</span></a>
    </li>
    <li class="bullet-list__item">
      Loads falling from trucks
    </li>
    <li class="bullet-list__item">
      Unsafe driving leading to topples
    </li>
    <li class="bullet-list__item">
      Personnel being crushed
    </li>
    <li class="bullet-list__item">
      Collisions with other objects/vehicle
    </li>
  </ul>
  <p class="text">If you've been injured in any of these scenarios – as a driver or a pedestrian – then safe working practices may have been breached and negligence may have been the cause of your injuries. Talk to a specialist solicitor about starting a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee injury compensation claim</span></a> today.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Does my employer have a duty of care?</h2>
  <p class="text">Whether you work in a warehouse or a steel works, the site operator has a duty of care to ensure that all forklift drivers are fully trained and that all safety procedures are followed. This is a duty that is owed to drivers, fellow workers, and site visitors alike, and requires due care with regard to:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Driver training
    </li>
    <li class="bullet-list__item">
      Safety equipment.
    </li>
    <li class="bullet-list__item">
      Experience in the duties required
    </li>
    <li class="bullet-list__item">
       Forklift maintenance
    </li>
    <li class="bullet-list__item">
      Awareness of working and safety procedures
    </li>
  </ul>
  <p class="text">Where this duty of care has not been met, negligence may have occurred, and anyone injured as the result of a forklift accident may be able to claim compensation for their injuries. </p>
  <a href="/contact-us/" class="button button--secondary">Start a claim</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What is employers' liability insurance?</h2>
    <p class="text">This is an insurance policy that every employer is required to have, by law. It ensures that money is available to compensate workers for illness or injuries that were not their fault. Read more about <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">employers liability insurance</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How much is my forklift accident claim worth?</h2>
    <p class="text">Every injury claim is different, and the final figure for compensation depends upon the <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">seriousness of the injury</span></a>, as well as how much it might affect your ability to work in the future, and how much any rehabilitation might cost. However, we take most forklift injury cases on a No Win No Fee basis, and seek interim payments to help you avoid hardship if you're prevented from working by your injuries.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
    <p class="text">The general rule is that a claim should be made within three years from the date of the accident at work. However, there are exceptions, such as if the person injured now has a lack of mental capacity, if the accident at work took place whilst abroad, or in the tragic circumstances when a death has occurred. It's therefore important that as soon as you're able to, you contact a solicitor who specialises in accidents at work. </p>
</div>
