<div class="inner-block">
  <h2 class="text text--heading text--large">No Win No Fee</h2>
  <p class="text">The vast majority of the personal injury compensation <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">claims we handle are on a No Win No Fee basis</span></a>, which means there's no financial risk to you in the event that your claim isn't successful. However, a No Win No Fee agreement isn't the only way of funding your personal injury claim. </p>
  <p class="text">So here are just a few of the alternatives you might want to consider. When you're ready to proceed, we'll be happy to <a href="/contact-us/" class="link link--inline"><span class="link__text">talk to you</span></a> about your chosen funding option.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Could I get Legal Aid for my injury claim?</h2>
  <p class="text">Unfortunately for the vast majority of cases, Legal Aid is not available for personal injury. There is a small exception. When claiming a personal injury claim for abuse which has been suffered, a small amount of cases may qualify for Legal Aid. Once your lawyer has discussed your case with you, they will advise you on whether or not Legal Aid is available to you.</p>
  <p class="text">If your claim is a medical negligence case rather than a personal injury case, Legal Aid is limited to children who have a neurological injury that has resulted in severe disability, which has been sustained either through pregnancy, during the birth or the first eight weeks of the child's life. For more information about funding a <a href="/clinical-and-medical-negligence-solicitors/" class="link link--inline"><span class="link__text">medical negligence claim, </span></a><a href="/clinical-and-medical-negligence-solicitors/" class="link link--inline"><span class="link__text">click here</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Would my own insurance pay for an injury claim?</h2>
  <p class="text">Many people are surprised to find that policies like home contents, motor and travel insurance policies sometimes include legal expenses cover. It's often an optional extra, but it's always worth checking all of your insurance policies to see if they do offer legal expenses cover. In some cases, it is also included with your bank account or credit card. If so, it's worth checking with your bank, card company or insurers to see if they will pay for a personal injury compensation claim. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I get Trade Union funding for my injury claim?</h2>
  <p class="text">If you're a member of a Trade Union you may be entitled to advice and representation as part on your membership subscription. In the first instance we would advise contacting your Trade Union representative.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I fund my own personal injury claim?</h2>
  <p class="text">Although you're entitled to fund your own personal injury claim, we would usually advise against this. All cases carry an element of risk and there's no 100% guarantee that even if you win your case, you'll be awarded all of your legal costs as well as the full amount of compensation you were seeking. Slater and Gordon would therefore advise that if you're looking to pursue a claim, you do this under a No Win No Fee agreement so there's no financial risk involved in pursuing your claim. </p>
  <a href="/contact-us/" class="button button--secondary">Contact a legal expert today</a>
</div>