<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's best-known asbestosis compensation legal firms, offering expert knowledge of the disease and the claims process for UK expats. Call Slater and Gordon on +44 20 7657 1555 if you're calling from overseas, or on freephone {{{meta.phonenumber.contentLink}}} from the UK, or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to a legal expert today.</p>
</div>
