<div class="inner-block">
  <p class="text"> Slater and Gordon is here to help you claim the illness compensation you deserve: with one simple guide and a team of highly trained solicitors. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to talk to one of our legal experts.</p>
</div>
