<div class="inner-block">
  <h2 class="text text--heading text--large">What motor insurance policies are available?</h2>
  <p class="text">All vehicles need to have valid insurance when in use on the roads. There are three main types of motor insurance policies which you can purchase.</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Third Party Cover: </span>The minimum level of insurance that's required by law in the UK is Third Party insurance. In basic terms, if you were to blame for the accident, this policy only covers damage to property or compensation for any injuries sustained by third parties (i.e. other road users who were involved in the accident). It wouldn't cover the cost of repairs to your vehicle or the cost of a replacement vehicle if it was beyond repair.
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Third Party, Fire and Theft Cover:</span><span class="text--bold"> </span>This cover works the same way as the Third Party Cover as it doesn't cover the cost of any repair to your vehicle. However, it adds an additional cover for your vehicle, meaning if it was damaged by fire or stolen, you could make a claim on your policy.
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Fully Comprehensive Cover:</span> This is the highest level of insurance available in the UK. It covers everything included in Third Party, Fire and Theft insurance cover but additionally covers any damage to your vehicle caused by an accident that was your fault, medical expenses and accidental damage and damage or theft of contents in the vehicle
    </li>
  </ul>
  <p class="text">If you use your vehicle for work purposes or carry paying passengers, you may need additional insurance. You should always speak to an insurance broker to ensure you have the right policies in place as if you have an accident and don't have the right cover, your claim may be invalid.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is an insurance policy excess?</h2>
  <p class="text">Most insurance policies have an "excess" which is an amount of the claim which you're responsible for. For example, if you make a claim for the repair of your vehicle, which the garage has confirmed will cost £4,000 and you have an excess of £200, you will have to make a payment for the first £200 of the claim and the insurance company will pay the additional £3,800. </p>
  <p class="text">In most cases, you will choose the amount of excess you pay when you initially take out your policy. In general, the higher the excess you agree to be responsible for, the lower the cost of the insurance premium.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Is there criteria that must be met when making a claim on an insurance policy?</h2>
  <p class="text">Policies usually have different criteria which must be met, for example, it may state that you must make a claim within a specific time frame. It's therefore important that you read your insurance policy carefully.</p>
  <p class="text">It's a condition with most policies however, that you cooperate with them at all times. Failure to cooperate with them may result in a breach of your policy.</p>
  <p class="text">It's important that you remain at the scene when you've had an accident and exchange details with the other parties involved in the accident. If you don't exchange details at the scene, you must ensure you attend a police station to report the accident and provide your details within 24 hours following the accident.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What will happen if you don't exchange your details?</h2>
  <p class="text">If you don't exchange details at the scene or report the accident and provide your details to the police within 24 hours, you're at risk of being charged with failing to stop after the accident or failing to report an accident, both of which are offences.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">When exchanging details, what information should you record?</h2>
  <p class="text">If you're medically able, you should record the following information:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      The name, address and contact details of the other party
    </li>
    <li class="bullet-list__item">
      The other party's insurance details (where they have them) such as name of insurance providers and insurance policy number
    </li>
    <li class="bullet-list__item">
      The make, model and registration number of the other vehicle
    </li>
    <li class="bullet-list__item">
      The date and time of the accident
    </li>
    <li class="bullet-list__item">
      The exact location of the accident
    </li>
    <li class="bullet-list__item">
      Details of any damage to either vehicle
    </li>
    <li class="bullet-list__item">
      Details of any injuries to either party
    </li>
    <li class="bullet-list__item">
      The name and contact details of any witnesses
    </li>
    <li class="bullet-list__item">
      The name and number of the police officer (if one attended the scene)
    </li>
  </ul>
  <p class="text">If you're able to take photographs of the accident location and damage to any of the vehicles, these may also assist. <a href="/personal-injury-claim/road-traffic-accidents/what-to-do-in-accident/" class="link link--inline"><span class="link__text">Click here for more information</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">When do you report the accident to your insurance company?</h2>
  <p class="text">You must notify your insurance company as soon as possible after the accident takes place regardless of whether you're notifying them for information purposes or whether you intend to make a claim as the other driver may intend to make a claim against you.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">A guide to motor insurance legal policy</h2>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/guide-to-insurance-and-motor-claims/" class="link link--inline"><span class="link__text">Step 1: Taking out motor insurance and what to do if you are involved in an accident</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/legal-expense-insurance-claims/" class="link link--inline"><span class="link__text">Step 2: How can I pay for my claim and what can I claim for?</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/accident-fault/" class="link link--inline"><span class="link__text">Step 3: Determining who was at fault for a road traffic accident</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/process/" class="link link--inline"><span class="link__text">Step 4: Road traffic accident claims process</span></a></p>
</div>
