<div class="inner-block">
  <h2 class="text text--heading text--large">Can expats claim for asbestos related illnesses?</h2>
  <p class="text">Asbestos related illnesses affect many thousands of people who worked in the UK in the years up to 1999, when asbestos was finally banned. Asbestos related illnesses can take up to 20 years to develop following exposure to asbestos fibres, so many workers are only now becoming ill. <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/benefits/" class="link link--inline"><span class="link__text">Benefits and one-off payments </span></a>are available as well as compensation to help those affected - whether you still live in the UK or abroad - and we specialise in helping British expats to claim the compensation and benefits that are rightfully theirs. To find out more and talk to an expert in helping expats to make asbestos illness compensation claims in the UK, contact us today.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Why call us for an expat asbestosis claim?</h2>
  <p class="text">Slater and Gordon has successfully represented thousands of people who've been diagnosed with an asbestos related illnesses over the years, giving us unsurpassed knowledge of both these distressing conditions and the claims process. In addition to this, we're pleased to offer help and advice on a number of related areas, including how to claim the relevant benefits when you're living as an expatriate.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Which countries can I claim from as an expat?</h2>
  <p class="text">Over the last 20 years or so, we have represented expats with asbestos related illnesses in all of the below countries:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Australia
    </li>
    <li class="bullet-list__item">
      New Zealand
    </li>
    <li class="bullet-list__item">
      USA
    </li>
    <li class="bullet-list__item">
      Canada
    </li>
    <li class="bullet-list__item">
      South Africa
    </li>
    <li class="bullet-list__item">
      Spain
    </li>
    <li class="bullet-list__item">
      Cyprus
    </li>
    <li class="bullet-list__item">
      Malta
    </li>
  </ul>
  <p class="text">However, we can provide help and representation to anyone who has contracted an asbestos related illness while in the UK, wherever you're now living. <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/support/" class="link link--inline"><span class="link__text">Speak to an expert solicitor today </span></a>to start your expat compensation claim and find out which benefits might be available to you.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">More information</h2>
  <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
