<div class="inner-block">
  <h2 class="text text--heading text--large">How do I claim for an illness caused by food or drink?</h2>
  <p class="text">If you have been made ill by food poisoning, water contamination or a serious reaction to undeclared allergens in the UK, it's quite possible that you may be able to claim compensation. Whether you have eaten or drank in a hotel, restaurant, pub, or café; or taken food or drink away from a street food establishment, sandwich shop, supermarket or any other retailer, that food retailer is responsible for making sure that the food and drink is fit for human consumption and free of undeclared allergens. </p>
  <p class="text">Naturally, making a compensation claim for an illness like this is made more difficult by the fact that you may already have eaten all of whatever made you ill. However, following a few simple rules can make it possible to prove the liability of the food retailer.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What evidence do I need to make an illness claim?</h2>
  <p class="text">In the first instance, make sure that you keep as much evidence as possible of the food or drink that made you ill. If it was a sandwich, keep the wrapper and the receipt. If it was a meal, make sure to keep a copy of your bill. Where you still have some of the food or drink, keep it in the fridge until it can be analysed. And if you had to see a doctor as a result of the illness or allergic reaction, make sure that you have copies of any notes they made or test results from stool or urine samples that they requested.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Make notes to keep the facts straight</h2>
  <p class="text">Noone's memory is perfect, so it's very important to write everything down while it's still fresh in your memory. That means taking notes about what you ate or drank, where you were, how soon you felt ill, when you sought medical help, what your symptoms were, and when they finally subsided. You should also take photos of anything that's relevant, from allergy advice displayed in the venue to evidence of unhygienic conditions.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Make the food retailer aware of your illness</h2>
  <p class="text">You should alert the food retailer to your illness as soon as possible. Face to face is best, but even if you can only manage a phone call - by you or a friend or family member - make sure you have a record of it. You should also try to speak to a manager or supervisor if possible, making sure you get their name and job title, and request that they log your illness. Every food and drink retailer should have a log for accidents or illness complaints, and you should insist that they make a record that includes your name and contact details.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Get all the evidence to your solicitor</h2>
  <p class="text">While claiming compensation for illnesses is less straightforward than, for example, a broken leg due to a slip or trip, our specialist solicitors can often make a case for compensation as long as they have enough evidence to prove: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      The food was not safe
    </li>
    <li class="bullet-list__item">
      You have been ill
    </li>
    <li class="bullet-list__item">
      The unsafe food made you ill
    </li>
  </ul>
  <p class="text">There is no need to prove negligence however. In fact, as we explain on our <a href="/personal-injury-claim/illness/food-poisoning/" class="link link--inline"><span class="link__text">food poisoning page</span></a>, The Consumer Protection Act 1987 says that as long as you can establish the source of the food poisoning, infection or allergic reaction, the law imposes a 'strict liability' rule on the food retailer in question.</p>
  <p class="text">So, as long as they have all of the facts, notes, photographs and medical records you've gathered, there is every chance that a specialist illness claims solicitor will be able to claim compensation for your illness.</p>
  <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div>