<div class="inner-block">
  <h2 class="text text--heading text--large">We can help you with the challenges of head and brain injuries</h2>
  <p class="text">Medical professionals treat every head injury seriously, as they know how far-reaching the effects can be. While many sufferers go on to make a full recovery, some will require special care for the rest of their lives. As lawyers with extensive experience of head and brain injury cases, we know how difficult it can be and what's required for both the sufferer and their family. We understand the importance of <a href="/personal-injury-claim/serious/interim-payments/" class="link link--inline"><span class="link__text">seeking interim payments</span></a> in advance of a final settlement, make sure you have the <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">funding to pay for rehabilitation</span></a>, ongoing expenses and perhaps even <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">specially adapted housing</span></a>. If you're <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claiming on behalf of a loved one</span></a> because they have been left with a diminished mental capacity, we're here to listen, and help.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much can I claim for a head or brain injury?</h2>
  <p class="text">It goes without saying that every head or brain injury is different, and the amount of compensation that may ultimately be paid depends on a variety of factors: from long-term prognosis to the cost of any care required. However, where head or brain injuries leave the sufferer with impaired mental capacity, or requiring a high level of care, compensation payments in the millions of pounds are not unheard of where someone else's negligence is to blame. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to a legal expert today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How will we pay for long-term care?</h2>
    <p class="text">It's quite natural for the families of those with serious head or brain injuries to worry about where the money for long-term care will come from. That's why the cost of long-term care, medical costs, and aftercare over the injured party's lifetime is factored into the calculation of the compensation settlement. We're also aware of the need for other expenses such as any necessary home modifications and the full cost of rehabilitation to be included in your claim.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How do head and brain injuries happen?</h2>
    <p class="text">Sadly, head and brain injuries can be very serious, and can be caused in a variety of ways, from collisions on the sports field to accidents on the road. If you would like more information, you will find links to resources on a number of types of personal injury below:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Road traffic accident</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/injury-in-public/sports-injury/" class="link link--inline"><span class="link__text">Sports injury</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Work accident</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Accidents abroad</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/faulty-products/" class="link link--inline"><span class="link__text">Defective products</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">Illness</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">Industrial disease</span></a>
      </li>
    </ul>
    <p class="text">Yet however, it occurred, if you or a family member has suffered a head or brain injury that was caused by someone else's negligence, it is essential for you to claim compensation as soon as possible, all of you live your lives to the greatest possible extent.</p>
</div>
