<div class="inner-block">
  <h2 class="text text--heading text--large">I've been injured by dangerous health and safety practices.</h2>
  <p class="text">Health and safety laws exist to keep everyone safe in the workplace. Yet the sad truth is that many firms allow or even encourage dangerous health and safety practices where these can save them time or money. You may also find yourself working with colleagues who don't follow proper safety practices: either to save time or because they simply don't see the need for things like goggles, safety rails and scaff tags. If you've been injured at work due to either of these scenarios, you need to talk to a specialist injury claims solicitor as soon as possible about making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee claim</span></a>.</p>
  <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="button button--secondary">More on the health and safety regulations that protect all UK workers</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What are dangerous health and safety practices?</h2>
    <p class="text">If you're working for - or even with - people who like to cut corners when it comes to safety, there are many different ways for them to do so. These are some of the most common dangerous health and safety practices we have come across:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        <span class="text--bold">Inadequate workplace training: </span>where workers aren't trained in the safe use of equipment
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">Non-adherence to health and safety measures:</span> such as removing safety guards from machinery and failing to provide personal protection equipment 
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">Co-worker negligence:</span> where a colleague or colleagues flout the safety rules your employer has trained you all to follow
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">Dangerous practices in the workplace: </span>such as poor lighting, blocked exits and unsafe floors
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">Poor manual handling: </span>due to a lack of training in the proper ways to lift and handle heavy or hazardous objects
      </li>
    </ul>
    <p class="text">If you've been injured or made ill at work due to these or any other dangerous working practices, you may be able to make a No Win No Fee compensation claim against your employer's liability insurance. Talk to a specialist solicitor now to find out if you may have a claim.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What is employers' liability insurance?</h2>
    <p class="text">This is an insurance policy that the law requires every employer to have. It ensures that money is available to compensate workers for illness or injuries that were not their fault. Read more about <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">employers liability insurance</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How much is my injury claim worth?</h2>
    <p class="text">Every dangerous health and safety practice injury claim is different, and the final amount of compensation you could receive depends upon the <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">seriousness of the injury</span></a>, as well as how much it might affect your ability to work in the future, and <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">how much any rehabilitation might cost</span></a>. However, we take almost all accident at work cases on a No Win No Fee basis, and will often seek interim payments to help you avoid financial hardship if you're prevented from working by your injuries. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
    <p class="text">There's a general rule that claims must be brought within three years from the date date the accident at work occurred. However, there are exceptions, such as whether or not the injured person has diminished capacity as a result of the accident, whether the accident happened abroad or whether or not the accident resulted in death. It's therefore important that you speak to a lawyer specialising in accidents at work as soon as you are able. </p>
</div>
