<div class="inner-block">
  <h2 class="text text--heading text--large">Reporting the incident</h2>
  <p class="text">If you or someone you know has suffered physical or sexual abuse you should report it to the police. <a href="https://www.police.uk/contact/101/" class="link link--inline" target="_blank"><span class="link__text">101 is the central contact number</span></a> for the police, in non-emergency situations and can provide you with details of your local station.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">NSPCC</h2>
  <p class="text">The NSPCC is a UK registered children's charity fighting against child abuse. They help protect children from child abuse and also help those who have been abused to rebuild their lives.</p>
  <p class="text"><a href="https://www.nspcc.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.nspcc.org.uk/</span></a></p>
  <h3 class="text text--heading text--medium">Samaritans</h3>
  <p class="text">The Samaritans is a charity which provides confidential emotional support, 24 hours per day, 7 days per week, to anyone suffering emotional distress or struggling to cope, across the UK.</p>
  <p class="text"><a href="https://www.samaritans.org/" class="link link--inline" target="_blank"><span class="link__text">https://www.samaritans.org/</span></a></p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">NAPAC</h2>
  <p class="text">NAPAC is a UK registered charity which was set up to offer a range of services and support to adult survivors of all types of childhood abuse including neglect and physical, sexual and emotional abuse.</p>
  <p class="text"><a href="https://napac.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://napac.org.uk/</span></a> </p>
  <h3 class="text text--heading text--medium">HAVOCA</h3>
  <p class="text">HAVOCA, or Help for Adult Victims of Child Abuse, is a forum run by adult survivors of child abuse, which offers support, friendship and advice to those who have been affected by childhood abuse.</p>
  <p class="text"><a href="http://www.havoca.org/" class="link link--inline" target="_blank"><span class="link__text">http://www.havoca.org/</span></a> </p>
  <h3 class="text text--heading text--medium">Male Survivor</h3>
  <p class="text">Male Survivor is an organisation which provides life-changing support including forums and a range of recovery therapies to male adult survivors of child abuse.</p>
  <p class="text"><a href="https://malesurvivor.org/" class="link link--inline" target="_blank"><span class="link__text">https://malesurvivor.org/</span></a></p>
  <h3 class="text text--heading text--medium">Action on Elder Abuse</h3>
  <p class="text">Action on Elder Abuse, or AEA, is a specialist organisation in the UK focusing on the issue of elder abuse and offering a range of guidance and support services to those who have been affected by elder abuse.</p>
  <p class="text"><a href="https://www.elderabuse.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.elderabuse.org.uk/</span></a></p>
  <h3 class="text text--heading text--medium">NWG</h3>
  <p class="text">NWG is a UK based charitable organisation, whose aim is to offer support and advice to those working with children and young people under 18 who are affected by abuse through sexual exploitation.</p>
  <p class="text"><a href="https://www.nwgnetwork.org/" class="link link--inline" target="_blank"><span class="link__text">https://www.nwgnetwork.org/</span></a></p>
  <h3 class="text text--heading text--medium">SupportLine</h3>
  <p class="text">SupportLine provides a confidential telephone helpline offering emotional support to anyone on any issue. The service is mainly aimed at those who are socially isolated, vulnerable at risk and also offers support to victims of any form of abuse.</p>
  <p class="text"><a href="https://www.supportline.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.supportline.org.uk/</span></a></p>
  <h3 class="text text--heading text--medium">Safeline</h3>
  <p class="text">Safeline is a charity designed to prevent sexual abuse as well as help anyone who has been affected by it.</p>
  <p class="text"><a href="https://www.safeline.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.safeline.org.uk/</span></a></p>
</div>
