<div class="inner-block">
  <h2 class="text text--heading text--large">Your guide to claims for accidents abroad</h2>
  <p class="text">Accidents that lead to injuries are never good, and especially if they happen when you're in another country. After all, you can't always rely on everyone speaking English in Europe, and medical attention can be remarkably expensive in the USA. However, the good news is that as long as you follow a few simple guidelines, it is usually possible to make an injury compensation claim for all of these circumstances once you are back in the UK:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/road-traffic-accidents/public-transport/" class="link link--inline"><span class="link__text">Road accidents </span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/road-traffic-accidents/cycling-accident-claims/" class="link link--inline"><span class="link__text">Cycling accidents</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/injury-in-public/" class="link link--inline"><span class="link__text">Trips and slips</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/holiday-accident-claims/winter-skiing/" class="link link--inline"><span class="link__text">Skiing or other winter sports</span></a><span class="text--bold"> </span>(or any other sporting activity)
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Accidents whilst working abroad</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/holiday-accident-claims/air/" class="link link--inline"><span class="link__text">Flight-related injuries</span></a>
    </li>
    <li class="bullet-list__item">
      And many more...
    </li>
  </ul>
  <p class="text">Even if you are still abroad as you read this, we have the expertise and the contacts to assist you with International legal representation, medical treatment and rehabilitation support anywhere in the world.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What do I do immediately after an accident?</h2>
  <p class="text">Wherever you are in the world, and whatever has happened, having evidence of where and how an injury occurred is crucial if you're to successfully claim compensation. So as soon as any injury has occurred – from a poolside slip to a minor road traffic accident – it's essential to:</p>
  <p class="text">• <span class="text--bold">Seek medical attention:</span> especially if you don't know how bad an injury might be, and make sure you get a copy of any medical records and x-rays</p>
  <p class="text">• <span class="text--bold">Take photographs: </span>of the location of the accident, making sure that if you have slipped on a wet floor, for example, the picture demonstrates an absence of warning signs, or any other relevant facts</p>
  <p class="text">• <span class="text--bold">Get photographs:</span> of any injury or bruising as it develops, as well as any damage to your belongings</p>
  <p class="text">• <span class="text--bold">Alert staff or officials:</span> and make sure that they make a record of the incident</p>
  <p class="text">• <span class="text--bold">Get the contact details of any witnesses:</span> it doesn't matter if they're locals or fellow Britons</p>
  <p class="text">• <span class="text--bold">Put a report of what happened in writing:</span> this is a good aid for your memory, and it will also be useful to email this to the venue where the incident occurred, to help create a trail of information for your claims solicitor</p>
  <p class="text">• <span class="text--bold">Keep any receipts:</span> these can be for medical bills, taxis, additional accommodation or any expenses that are a direct result of the accident</p>
  <p class="text">• <span class="text--bold">Speak to a lawyer as soon as possible:</span> you can call Slater and Gordon from abroad on  +44 20 7657 1555, or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your accident online</span></a> and we will call you.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who do I need to claim against?</h2>
  <p class="text">If you were in an road traffic accident, any claim will be made against the insurance company of the driver that caused the accident. However, if you booked a package holiday and have sustained an injury at your hotel or resort, this may be the responsibility of the tour operator or UK-based travel agent you booked with. Alternatively, if you booked your accommodation directly, a claim may have to be made against the hotel or resort itself.</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/holiday-accident-claims/hotel-resort/" class="link link--inline"><span class="link__text">More on claiming against a hotel or resort</span></a>
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if I was injured on a flight or a cruise?</h2>
  <p class="text">Surprisingly, many compensation claims arise from incidents and injuries occurring on aeroplanes and cruise ships. In these cases, <a href="/personal-injury-claim/holiday-accident-claims/travel-conventions-treaties/" class="link link--inline"><span class="link__text">international legal conventions</span></a> can be very helpful. Where you are injured on an aeroplane, the Montreal Convention 1999, applies, which allows you to pursue a claim from your home country and makes airlines 'strictly liable' for injuries you sustain in an accident. If you were injured on a cruise ship, the Athens Convention 1974 applies, though this does require you to prove negligence when making a claim for compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
  <p class="text">There is no set rule for how much compensation you might receive for an injury abroad. This all depends on the extent of your injuries and how long it is expected that a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">cost of any medical treatment or rehabilitation</span></a> that may be required.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long do I have to make a claim?</h2>
  <p class="text">UK law generally sets a time limit of three years from the date of an accident in which to start a claim, however this may be extended when <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claiming on behalf of a child or someone who lacks mental capacity</span></a>. However, the laws vary in other countries, and some compensation claims need to be made in a matter of months, so it is usually advisable to talk to us about starting a claim as soon as possible. </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How long does a compensation claim take?</h2>
    <p class="text">This very much depends on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a> as well as the laws and compensation guidelines in whichever country the incident occurred. However, we always aim to pursue justice for our clients as efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation</span></a> as soon as possible. </p>
</div>
