<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for an accident abroad?</h2>
  <p class="text">Whether you are working or holidaying abroad, accidents are just as likely to happen due to someone else's negligence overseas as they are in the UK. That can cause complications while you're abroad, especially if you have to pay for additional travel expenses or even medical care. However, once you're back in the UK, it's perfectly possible to make an injury compensation claim for all of these eventualities and more:</p>
  <p class="text">If you can't wait until your return to the UK before starting your claim, we also have the expertise and the resources to provide you with International legal representation, <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatments and rehabilitation support</span></a>. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Can I claim compensation if I was on a package holiday?</h2>
    <p class="text">In some cases, accidents abroad will be the responsibility of the tour operator or UK-based travel agent you book with. So if your claim related to some element of a package holiday, it may be easier to claim for an accident abroad than if you simply slipped on a wet floor in a shopping centre. However, as long as you <a href="/personal-injury-claim/holiday-accident-claims/holiday-claim-guide/" class="link link--inline"><span class="link__text">gather evidence to support your claim</span></a><span class="text--bold"> </span>and report it to a member of staff wherever the accident occurs, it's possible to make <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee claim</span></a> for many accidents abroad.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
    <p class="text">There is no set rule for how much compensation you might receive for an injury abroad. This all depends on the extent of your injuries and how long it is expected a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">cost of any medical treatment or rehabilitation</span></a> that may be required.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long do I have to make a claim?</h2>
    <p class="text">In the UK, the law generally sets a time limit, in most cases, of three years from the date of an accident in which to start a claim. However, different countries have different time limits, so it's always best to contact a specialist accidents abroad solicitor as soon as practically possible.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long does a compensation claim take?</h2>
    <p class="text">This very much depends on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a> as well as whether the negligent party's insurers accept responsibility. However, we always aim to pursue justice for our clients as quickly and efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin rehabilitation as soon as possible.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What are the most common form of accidents abroad?</h2>
    <h3 class="text text--heading text--medium">Road traffic accidents overseas</h3>
    <p class="text">Our personal injury solicitors can help if you were injured abroad in a road traffic accident that was not your fault. Whether you were injured as a pedestrian or if your injuries occurred in car crash, on a coach trip, in a motorbike accident or whilst you were riding a bicycle, a scooter or a horse; you can claim compensation by calling our No Win No Fee solicitors and <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">providing the details about the accident</span></a>.</p>
    <h3 class="text text--heading text--medium">Slips, trips and falls abroad</h3>
    <p class="text">You can claim compensation if you slipped, tripped and fell injuring yourself in a hotel or on the grounds of a resort; slips and trips are quite common near swimming pools and also occur when boarding or leaving an aeroplane or a train. Falls from balconies are unfortunately another common accident which can occur abroad. <a href="/personal-injury-claim/injury-in-public/" class="link link--inline"><span class="link__text">Click here for more on injuries in public places</span></a>.</p>
    <h3 class="text text--heading text--medium">Accidents at sea</h3>
    <p class="text">Compensation claims for accidents at sea include cruise ship and boating accidents, scuba diving and water sports accidents. <a href="/personal-injury-claim/holiday-accident-claims/cruise-ship/" class="link link--inline"><span class="link__text">Click here for more information see Accidents at Sea.</span></a></p>
    <p class="text">Need more advice on accidents abroad? Read our help and support FAQs below.</p>
</div>
