<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's foremost injury compensation firms, with a record of success in claims for injuries that occurred in hotels, resorts and on excursions. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or if you're calling from overseas, on +44 20 7657 1555, or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to a legal expert today.</p>
</div>
