<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for an accident abroad?</h2>
  <p class="text">Whether you've been staying at a hotel or in a resort, it's easy for injuries to arise due to someone else's negligence. From slippery pool-sides to badly-lit footpaths, there are many reasons why you could come to harm on holiday: including while you're out on an excursion. In fact, we have made successful claims for injuries resulting from  circumstances such as:</p>
  <p class="text"><a href="/personal-injury-claim/injury-in-public/slips-trips-falls/" class="link link--inline"><span class="link__text">Slips and trips</span></a><span class="text--bold">:</span> due to wet floors, uneven surfaces, and worn carpeting within hotels</p>
  <p class="text"><span class="text--bold">Swimming pool accidents:</span> including slipping over at the poolside and drowning</p>
  <p class="text"><span class="text--bold">Falls from balconies: </span>resulting in serious injury or even death</p>
  <p class="text"><span class="text--bold">Defective equipment injuries:</span> due to hotel furniture or apparatus such as broken sun loungers</p>
  <p class="text">However, there are almost as many causes of injuries as there are places to go on holiday. So no matter how you've been harmed on an excursion or holiday, ask us about making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee claim today</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who is liable if I'm injured on holiday?</h2>
  <p class="text">This very much depends on how you booked your holiday. If you prefer to book your own flights and accommodation separately, and were injured at your hotel, then any compensation claim would have to made against the hotel, under the laws of the country you were visiting. However, if you booked a package holiday from the UK, you may be able to make a claim against the tour operator or travel agent holiday under <a href="/personal-injury-claim/holiday-accident-claims/travel-conventions-treaties/" class="link link--inline"><span class="link__text">the Package Travel and Linked Travel Arrangements Regulations 2018</span></a>. If you aren't sure whether or not you were actually on a package holiday, feel free to talk to one of our holiday claims experts today. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
  <p class="text">If you booked a package holiday in the UK, you should have up to three years to begin your claim. However, if you booked your holiday directly with a hotel or resort abroad, time limits vary and you may only have a few months in which to act. So if you have been injured at a hotel, resort or on an excursion abroad and wish to make a No Win No Fee compensation claim from the UK, you should begin your claim as soon as possible.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
  <p class="text">The amount of compensation you may receive can differ depending on the extent of your injuries as well as the laws governing compensation claims in the relevant country. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment or rehabilitation</span></a> that may be required.</p>
</div>
