<div class="inner-block">
  <h2 class="text text--heading text--large">How we can help</h2>
  <p class="text">If you or a family member has suffered a serious injury, it might be necessary to adapt your home to make it easier for them to live in. Slater and Gordon is one of the UK's leading personal injury law firms, with extensive experience of compensation claims to pay for house adaptations.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">We understand the need for house adaptations</h2>
  <p class="text">If you or a family member suffered a severe injury and now has a disability, it may be that the home they live in is no longer entirely suitable for them. That's why some compensation claims include a sum of money to fund the purchase of specially adapted housing, or to make an existing home easier to live in. If you or a loved one have sustained an injury that requires <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation</span></a> or specially adapted housing, please speak to one of our experienced personal injury solicitors about <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">making a No Win No Fee compensation claim</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of house adaptations are possible?</h2>
  <p class="text">Everyone has the right to live in their own home and enjoy an independent life. So when you or a loved one has sustained a serious injury that wasn't your fault, if compensation is payable, it should ideally include money to fund any necessary house adaptations. Some of the common house adaptations that our solicitors seek compensation to pay for include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Wheelchair ramps
    </li>
    <li class="bullet-list__item">
      Handrails
    </li>
    <li class="bullet-list__item">
      Walk-in baths
    </li>
    <li class="bullet-list__item">
      Lever taps
    </li>
    <li class="bullet-list__item">
      Accessible doorways
    </li>
    <li class="bullet-list__item">
      Overbath showers
    </li>
  </ul>
  <p class="text">If you or a loved one has suffered a serious injury that might require some of these common house adaptations, talk to us to see if a claim for injury compensation might be possible, due to someone else's actions or negligence.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to an expert</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Watch David's story</h2>
    <p class="text"><a href="https://www.youtube.com/watch?v=IiqP2N90HCc" class="link link--inline" target="_blank"><span class="link__text">https://www.youtube.com/watch?v=IiqP2N90HCc</span></a></p>
    <p class="text">Slater and Gordon help secure funds so that David could purchase and adapt a house to meet his exact needs after doctors failed to diagnose his tumor.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What other equipment might injury compensation pay for?</h2>
    <p class="text">While major house adaptations are a key part of making life as independent as possible for those who've suffered serious injuries - and of course their families - we never overlook the need for other necessary aids to be covered by serious injury compensation claims. Many useful items of equipment are available, including:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        <span class="text--bold">For independent hygiene: </span>grab rails, bath boards, electric bath lifts and wheelchair access showers 
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">For easier toileting:</span> raised toilet seats, toilet frames, grab rails and commodes  
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">For food preparation:</span> adapted kitchen utensils and cookers
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">For help with sleep:</span> bed raisers, bed rails, machines to help you sit up and slide sheets to help you move position 
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">For more comfortable sitting:</span> riser/recliner chairs, chair raisers  
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">For pressure care:</span> pressure relieving cushions  
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">For help with transfers:</span> mobile electric hoists 
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">For added mobility:</span> standing/turning/walking frames 
      </li>
      <li class="bullet-list__item">
        <span class="text--bold">For easier access:</span> portable wheelchair ramp
      </li>
    </ul>
    <p class="text">While this list isn't exhaustive, it hopefully gives you an idea of some of the aids to more independent living that are available when home adaptation becomes necessary. It may also help you to understand the necessity for every aspect of life after a serious injury to be taken into account when considering a claim for serious injury compensation. </p>
</div>
