<div class="inner-block">
  <h2 class="text text--heading text--large">Provide evidence of the accident</h2>
  <p class="text">If you want to claim compensation after an accident, you have to prove that the accident was due to someone else's negligence. This is why it is so important to collect as much evidence as possible. Whether it was a road traffic accident, an accident in a public place or an accident at work, try to do the following:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Photographs: </span>If possible, take photographs before the scene is cleared, the slippery area cleaned or the car moved. If you are unable to take photographs yourself, ask a witness to do so. Ask them to send the data to you immediately so it can't get lost.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Witnesses: </span>Witnesses are very valuable evidence. Try to get the names and addresses of all possible witnesses. We can then assist you collecting witness statements. If a witness doesn't want to give their address, ask them to give a witness statement on the scene and have it signed. Whilst this may not be quite as reliable in court there may still be ways that we can use this information.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Notes: </span>It is important that you make detailed notes of your accident while your memories are still fresh. Don't forget to mention details that might seem meaningless at the time:
    </li>
    <li class="bullet-list__item">
       For a road traffic accident, note the time, where the sun was and if something, e.g. a bush or a house, obscured your view. Other details, such as whether your car window was open or whether you played music can be important too.
    </li>
    <li class="bullet-list__item">
      For an accident at work, note when your last break was, what work hours you had the past few days or weeks, what PPE you have been issued, who asked you to perform this task etc.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Medical reports: </span>Collect all medical reports. Try to collect your older medical reports too, they can come in useful to prove that a condition isn't pre-existent. If required we will also <a href="/personal-injury-claim/medical-assessment/" class="link link--inline"><span class="link__text">help by organizing a medical assessment</span></a>.
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Don't fight alone</h2>
  <p class="text">Your chances of winning a case will be much higher if you work with an expert solicitor. Choose a firm with experience and expertise to withstand the legal departments of insurance companies. Don't be afraid to ask your legal advisor all your questions, they should take the time to answer them.</p>
  <p class="text">Make sure to choose a lawyer you can trust. You should be able to talk to him about sensitive topics such as mental symptoms that you might experience, e.g. nightmares. A good lawyer will handle your case with the utmost sensitivity and will not make you feel uncomfortable. </p>
  <p class="text">If you have a strong case, a professional law firm will take your case on a No Win No Fee basis, which means you only have to pay a fee if they win compensation on your behalf. If your case is taken on as a No Win No Fee case, your solicitor will work hard to win you compensation.</p>
  <p class="text">Contact us as soon as you feel comfortable, we will help you establish your full legal position and keep track of your timeline.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Provide evidence of damages</h2>
  <p class="text">Usually, you have to bring a case forward within 3 years after the accident happened. The sooner you start it, the better. However, if possible, we will wait for a full recovery, or at least a final medical advice before settling the case. We are aware that this is not always possible as there are time limits in place. However, only after a full recovery you know the extent of your damages for sure.</p>
  <p class="text">Keep records of all damages such as financial loss, house modification, medical expenses and other costs that you are faced with because of the accident, e.g. childcare. The more evidence you have, the better are the chances that you will receive compensation for it.</p>
  <p class="text"><a href="" class="link link--inline" target="_blank"><span class="link__text"></span></a>Our most honest advice for you is: Seek legal advice as soon as possible. A professional legal advisor will help you with all of the above steps and keep track of the timeline. If you don't feel comfortable with your legal advisor, you are free to change the law firm during an ongoing case. Contact us now to establish your full legal position.</p>
</div>
