<div class="inner-block">
  <h2 class="text text--heading text--large">Illness compensation claim explained</h2>
  <p class="text">Slater and Gordon have extensive experience in compensation claims from a wide variety of different illnesses caused by negligence, such as:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Food poisoning
    </li>
    <li class="bullet-list__item">
      Carbon monoxide poisoning
    </li>
    <li class="bullet-list__item">
      Water contamination
    </li>
    <li class="bullet-list__item">
      Norovirus
    </li>
    <li class="bullet-list__item">
      Legionnaires' disease
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">Industrial disease</span></a>
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for work-related illnesses?</h2>
  <p class="text">Whether your illness was work related or caused in a public place, if it was due to someone else's negligence, you can claim compensation.</p>
  <p class="text">Work related illnesses often start with minor symptoms and the full extent of the illness may only be diagnosed after you've already retired. However, you can still claim compensation from your former employer. You have up to three years from the point your illness was diagnosed to start a compensation claim. We have successfully helped clients with the following illnesses:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Repetitive strain injuries from repetitive movements or continuous vibration
    </li>
    <li class="bullet-list__item">
      Silicosis from working in factories or on construction sites
    </li>
    <li class="bullet-list__item">
      Noise-induced hearing loss from working in noisy areas such as factories or construction sites
    </li>
    <li class="bullet-list__item">
      Dermatitis from working with cleaning agents or detergents
    </li>
    <li class="bullet-list__item">
      Musculoskeletal injuries from continuous heavy lifting
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">No Win No Fee</h2>
  <p class="text">In the vast majority of cases we will be able to offer the option of claiming on a No Win No Fee basis. This means you only have to pay us a fee if we win compensation on your behalf.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much can I claim for?</h2>
  <p class="text">Your compensation depends on your illness and the consequences it has on your life. Some illnesses can cause long term effects such as chronic fatigue, rheumatologigal conditions or psychological problems. These are factored into the calculation of your final compensation settlement. Your claim for pain and suffering could be worth several thousand pounds. Contact us to establish your full legal position.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim on behalf of a loved one?</h2>
  <p class="text">Losing a loved one due to someone else's negligence is one of the worst things that can happen. Slater and Gordon have the understanding and experience to handle any claim with the utmost sensitivity. We understand that seeking rightful compensation may be a necessity if the loss of your loved one has left you in a difficult financial position.</p>
  <p class="text">Take your time to grieve and feel free to contact us when you are ready to do so.</p>
</div>
