<div class="inner-block">
  <h2 class="text text--heading text--large">Handling asbestos correctly</h2>
  <p class="text">When handling asbestos materials, not only do you need to ensure that you're being lawful, but also that you're not risking the lives of yourself and others. It's therefore important to know exactly what you should and should not do when you come across asbestos materials.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Why was asbestos banned?</h2>
  <p class="text">The use of asbestos was banned in the UK and no longer used from 1999. Before it was banned it was used everywhere because of its fireproof qualities and was said to be a 'wonder substance'. However, upon discovery of its carcinogenic - cancer causing - properties, which if disturbed, exposure to asbestos dust can lead to asbestos related illnesses such as <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/mesothelioma/" class="link link--inline"><span class="link__text">mesothelioma</span></a>, <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestos-lung-cancer" class="link link--inline"><span class="link__text">asbestos related lung cancer</span></a>, <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestosis/" class="link link--inline"><span class="link__text">asbestosis</span></a> and <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/pleural-thickening/" class="link link--inline"><span class="link__text">pleural thickening</span></a>, it was banned in the UK. However, it's still legal in some countries. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who can carry out the removal of asbestos?</h2>
  <p class="text">Given that when disturbed, the dust from the asbestos can lead to fatalities, the removal of asbestos from a property should strictly be carried out by asbestos removal specialists. They have professional processes to ensure the safe removal of asbestos and to protect others from harm. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I need some building work carrying out but I'm not sure whether there's asbestos. What should I do?</h2>
  <p class="text">As the use of asbestos was only banned in the UK in 1999, any properties built prior to 2000 may contain asbestos. It's essential that any building work you carry out doesn't disturb any asbestos as this could result in devastating consequences. If you do need to undertake any building work to a property which may contain asbestos you should first arrange for professionals to conduct a survey and if there are any signs of asbestos, arrange for its safe removal by the asbestos removal specialists.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I was walking through my local park recently when I noticed some building materials which had been dumped and it looked like it contained asbestos. What should I do?</h2>
  <p class="text">Ignorance to the dangers of asbestos extends far beyond the crime of fly-tipping as those actions can put many people's lives at risk. </p>
  <p class="text">If you come across any materials which have been dumped and potentially contain asbestos materials, don't go near them. Leave the area and immediately contact your local council who will assess the situation and arrange for the safe removal of the potentially hazardous waste. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are fines issued to anyone who acts irresponsibly with the removal of asbestos?</h2>
  <p class="text">Yes. In 2015 the HSE inspectors visited the site of an indian restaurant in Cleeve which was being refurbished, as there was a concern that asbestos had been spread when the roof insulation was disburbed. Despite the owner's defence was of "naivety and a clear lack of understanding in regard to that area of the law" he pleaded guilty to 'failing to reduce the exposure of asbestos to his co-workers and members of the public' and was also issued with a further charge of breaching the Notice issued by the Health Executive, and was fined £15,500. </p>
  <p class="text">Also in 2015, a man from Dagenham was found guilty of dumping asbestos on a busy public street and was sentenced to 16 weeks in jail, suspended for 18 months, for what the judge called "a serious offence of fly-tipping waste." Where fly-tipping in itself is an offense, an investigation revealed a much more severe crime that placed the public at risk of the carcinogenic effects of asbestos. The dumped rubbish contained corrugated sheets of asbestos, with some of the blue asbestos left on a pavement near a school. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I've been diagnosed with an asbestos related illness What do I do?</h2>
  <p class="text">If you've been diagnosed with an asbestos related illness, speak to one of our specialists about making a claim for compensation. Call our asbestos experts today on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
