<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading Noise Induced Hearing Loss (NIHL) claims specialists, with unsurpassed knowledge of the causes and the claims process. Talk to us right away on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to tell us about your condition.</p>
</div>
