<div class="inner-block">
  <h2 class="text text--heading text--large">What is Noise Induced Hearing Loss (NIHL)?</h2>
  <p class="text">Noise Induced Hearing Loss (NIHL) is the term used to describe hearing loss, deafness or tinnitus that has been caused by excessive noise at work where there hasn't been proper ear protection or training. As you might expect, workers in heavy industry are often sufferers of NIHL. So if you believe your hearing problems could have been caused by negligence in the workplace, you may be able to claim compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is tinnitus?</h2>
  <p class="text">Tinnitus is most commonly described as a constant ringing in the ears, though some sufferers hear buzzing, white noise or other sounds. It occurs when part of the inner ear called the Cochlea is damaged. This carries thousands of tiny cells that detect sound, so when these are damaged, the brain seeks sound from elsewhere in the body, causing tinnitus. There are a number of medical conditions that can cause this, as the <a href="https://www.nhsinform.scot/illnesses-and-conditions/ears-nose-and-throat/tinnitus#about-tinnitus" class="link link--inline" target="_blank"><span class="link__text">NHS website points out</span></a>, but excessive noise in the workplace is the most likely cause for sufferers who have worked in these and other noisy industries:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Construction and engineering
    </li>
    <li class="bullet-list__item">
      Factories and mills
    </li>
    <li class="bullet-list__item">
      Processing
    </li>
    <li class="bullet-list__item">
      Shipbuilding
    </li>
    <li class="bullet-list__item">
      Stone cutting and quarrying
    </li>
    <li class="bullet-list__item">
      Textile mills
    </li>
    <li class="bullet-list__item">
      Power stations
    </li>
    <li class="bullet-list__item">
      Steelworks
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the signs of work-related hearing loss?</h2>
  <p class="text"><span class="text--bold"></span>While it's natural for your hearing to get slowly worse as you age, there are distinct signs that can indicate noise induced hearing loss. These include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Mishearing words when you're in conversation
    </li>
    <li class="bullet-list__item">
      Being unable to hear conversations where there is background noise
    </li>
    <li class="bullet-list__item">
      Having to turn the television up more than others find necessary or needing subtitles 
    </li>
    <li class="bullet-list__item">
      Missing out on lots of things your partner tells you in passing
    </li>
  </ul>
  <p class="text">If you recognise any of these signs of hearing loss - and believe that your job, or a previous job may be to blame - it's worth asking your GP to arrange a proper hearing test. If you're lucky, you may just have a little wax in the ears. And if not, it may be worth talking to a specialist solicitor about claiming for compensation on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Does my employer have a duty of care?</h2>
  <p class="text">The law says that every employer has a duty of care to protect employees from suffering harm in the workplace. Where your employer failed to foresee the harm that could be caused by your occupation, or to ensure that you were protected from damaging noise levels, they could be said to have failed in their duty of care. <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">Read more on the health and safety regulations</span></a> that your employer should be adhering to in the workplace and talk to a specialist solicitor to find out if you believe your employer failed in their duty of care. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to a specialist today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Do I need a specialist industrial deafness compensation lawyer?</h2>
    <p class="text">Industrial deafness claims are a specialised area of the law, so it makes sense to deal with solicitors who have extensive experience and a track record of success. Slater and Gordon employs specialist lawyers in every area of industrial disease compensation. Just as importantly, we understand the need to take every industrial disease claim seriously and get our clients the compensation and medical treatment they deserve.</p>
</div>
