<div class="inner-block">
  <h2 class="text text--heading text--large">Being injured or unwell as a result of your employment</h2>
  <p class="text">When your injured or are unwell as a result of your employment, it can affect you financially, especially if you're unable to work for any length of time. Therefore, you may have the right to claim Industrial Injuries Disablement Benefit as well as compensation to ease any financial burden.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is Industrial Injuries Disablement Benefit (IIDB)?</h2>
  <p class="text">IIDB is a weekly Government benefit which is paid to those who've been left unable to work due to an accident or an illness caused by work. The scheme also covers people who were not employees, but were on an approved training course when the incident took place. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who's eligible for Industrial Injuries Disablement Benefit (IIDB)?</h2>
  <p class="text">If you've suffered an accident at work, you'll be able to claim IIDB if you were employed in the UK when the accident happened or you were on an approved training course. </p>
  <p class="text">If you've suffered an industrial disease you'll be able to claim IIDB if the disease you've been diagnosed with is covered in the scheme. There are over more than 70 diseases covered by the scheme. These include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Work related asthma
    </li>
    <li class="bullet-list__item">
      Silicosis 
    </li>
    <li class="bullet-list__item">
      Vibration white finger 
    </li>
    <li class="bullet-list__item">
      Occupational deafness 
    </li>
    <li class="bullet-list__item">
      Asbestos related diseases
    </li>
  </ul>
  <p class="text">A full list of the diseases you can claim IIDB for are listed on the <a href="https://www.gov.uk/government/publications/industrial-injuries-disablement-benefits-technical-guidance/industrial-injuries-disablement-benefits-technical-guidance#appendix-1-list-of-diseases-covered-by-industrial-injuries-disablement-benefit" class="link link--inline" target="_blank"><span class="link__text">GOV.UK</span></a> website.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How is disability assessed and quantified?</h2>
  <p class="text">Under the Industrial Injuries Disablement Benefit, claimants are assessed to help understand the degree to which they have become disabled. The minimum disability covered is 14% of a fully abled person's ability to work. This would therefore enable you to receive 14% of the full monthly benefit. However, if you were assessed as being 100% disabled, you would be entitled to receive 100% of the current monthly benefit.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I apply for Industrial Injuries Disablement Benefit (IIDB)?</h2>
  <p class="text">To apply for IIDB after an accident, you have to submit a form <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/755522/bi100a_print.pdf" class="link link--inline" target="_blank"><span class="link__text">BI100A to the Department for Work and Pensions</span></a>. Different application forms are available for specific industrial diseases, which you can obtain from your local Jobcentre Plus, or <a href="https://www.gov.uk/government/publications/industrial-injuries-disablement-benefit-claim-forms" class="link link--inline" target="_blank"><span class="link__text">downloaded from the GOV.UK website</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will I be entitled to other benefits?</h2>
  <p class="text">Yes. There are a number of other benefits which you may be entitled to depending on the severity of your disability and your needs. Other benefits include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Carers Allowance
    </li>
    <li class="bullet-list__item">
      Constant Attendance Allowance 
    </li>
    <li class="bullet-list__item">
      Exceptionally Severe Disablement Allowance 
    </li>
    <li class="bullet-list__item">
      Reduced Earnings Allowance  
    </li>
    <li class="bullet-list__item">
      Attendance Allowance 
    </li>
    <li class="bullet-list__item">
      Personal Independence Payment 
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will I be entitled to receive a Blue Badge for parking?</h2>
  <p class="text"><span class="text--bold"></span>If your injury or illness has left you with limited mobility, it may be possible that your local council will consider you eligible for a Blue Badge which enables you to use disabled parking spaces and to park on some yellow lines. You can find out how to apply to your local council on the <a href="https://www.gov.uk/apply-blue-badge" class="link link--inline" target="_blank"><span class="link__text">Government's</span></a> website.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I have an asbestos related disease. What other benefits am I entitled to?</h2>
  <p class="text">There are a number of benefits available to those who have an asbestos related disease but there are also one-off payments in certain cases. Visit our <a href="/personal-injury/industrial-disease/asbestos-mesothelioma/benefits" class="link link--inline"><span class="link__text">benefits and payments page </span></a>for asbestos related illnesses for more information about what you're entitled to.</p>
</div>
