<div class="inner-block">
  <h2 class="text text--heading text--large">What is an industrial disease?</h2>
  <p class="text">The term 'industrial disease' describes more than simply diseases; it's a term for almost any illness or condition caused by your employment. If your employer has failed in their duty of care to keep you safe from harm, it's usually possible to make a claim for industrial disease compensation, even when the company you worked for is no longer in business. The most common types of industrial disease giving rise to <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claims</span></a> include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Asbestos diseases:</span> including a number of lung conditions caused by exposure to asbestos fibres, including mesothelioma, asbestos-related lung cancer, asbestosis and pleural thickening. <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/" class="link link--inline"><span class="link__text">Read more</span></a>.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Hand-Arm Vibration Syndrome (HAVS): </span>the collective term for conditions including: Vibration White Finger (VWF) and Carpal Tunnel Syndrome (CTS). <a href="/personal-injury-claim/industrial-disease/vibration-injury/" class="link link--inline"><span class="link__text">Read more</span></a>.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Repetitive Strain Injury (RSI)</span>: a condition caused by repeating the same movements over a long period, causing pain in the muscles, nerves and tendons. <a href="/personal-injury-claim/industrial-disease/repetitive-strain-injury/" class="link link--inline"><span class="link__text">Read more</span></a>.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Hearing loss and deafness: </span>hearing loss and conditions such as tinnitus can be caused by exposure to loud noise in the workplace. <a href="/personal-injury-claim/industrial-disease/industrial-deafness-tinnitus/" class="link link--inline"><span class="link__text">Read more</span></a>.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Skin conditions/occupational dermatitis: </span>exposure to dangerous chemicals at work can lead to a number of skin conditions, including dermatitis. <a href="/personal-injury-claim/industrial-disease/skin-conditions-dermatitis/" class="link link--inline"><span class="link__text">Read more</span></a>.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Occupational asthma, respiratory and lung disease:</span> exposure to dust or fumes containing irritants can cause silicosis, occupational asthma, lung cancer and asbestosis. <a href="/personal-injury-claim/industrial-disease/occupational-asthma/" class="link link--inline"><span class="link__text">Read more</span></a>.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Occupational cancers: </span>caused by carcinogenic chemicals and hazardous dusts, leading primarily to lung cancer, nasal cancer, skin cancer and bladder cancer. <a href="/personal-injury-claim/industrial-disease/work-related-cancer/" class="link link--inline"><span class="link__text">Read more</span></a>.
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do I need a specialist industrial disease compensation lawyer?</h2>
  <p class="text">Industrial disease claims are a specialised area of the law, so it makes sense to deal with solicitors who have extensive experience and a track record of success. Slater and Gordon employs specialist lawyers in every area of industrial disease compensation. Just as importantly, we understand the need to take every industrial disease claim seriously and make sure our clients receive the compensation and medical treatment they deserve whilst dealing with every case with understanding and compassion.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to a legal expert today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What is the Health and Safety Act and COSHH?</h2>
    <p class="text">The Health and Safety at Work etc Act 1974 is the primary piece of legislation protecting workers in the UK. You can <a href="http://www.legislation.gov.uk/" class="link link--inline" target="_blank"><span class="link__text">find out more about it on the legislation.gov.uk website</span></a>. The <a href="/personal-injury-claim/industrial-disease/coshh/" class="link link--inline"><span class="link__text">Control of Substances Hazardous to Health (COSHH) law</span></a> is designed to ensure that the health of employees is not affected by dangerous substances. You can find out more about COSHH on the <a href="http://www.hse.gov.uk/coshh/basics.htm" class="link link--inline" target="_blank"><span class="link__text">Health and Safety Executive</span></a> (HSE) website. </p>
</div>
