<div class="inner-block">
  <h2 class="text text--heading text--large">Who was to blame for my injury?</h2>
  <p class="text">Some accidents in public places are no-one else's fault. For instance, if you are not looking where you are going and fall down a kerb. However, if that accident could have been avoided by the land or business owner ensuring the area was safe - from a shop to a car park to an airport - you may be entitled to claim compensation for your injury.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is Public Liability Insurance?</h2>
  <p class="text">If you trip on a faulty pavement, the local council will usually be responsible, whereas if you are in a public building, the owner will generally be liable. That's why most councils, landowners and even dog owners carry <a href="/personal-injury-claim/injury-in-public/public-liability-insurance/" class="link link--inline"><span class="link__text">Public Liability Insurance</span></a><span class="text--bold">.</span></p>
  <p class="text">This is an essential insurance policy, which ensures that money is available to pay for financial compensation and any necessary rehabilitation or medical expenses that arise from slips, trips or falls caused by negligence on the policyholder's land or premises.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I make a compensation claim?</h2>
  <p class="text">In the first instance, it's important to make sure you can <a href="/personal-injury-claim/injury-in-public/public-injury-guide/" class="link link--inline"><span class="link__text">prove that your injury was caused by someone else's negligence</span></a>. You should take photos of the location the incident took place, making sure that you capture the direct cause of your accident, such as an uneven paving stone for example. You should also try to get the contact details of any witnesses, as well as photographs of your injuries, and details of any medical treatment you received. If you are in a public building, you should also try to find out who owns it, and if you were bitten by a dog, the same applies.  Once you have gathered all of this evidence, it's time to discuss the possibility of making a No Win No Fee compensation claim with a specialist claims solicitor.</p>
  <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
    <p class="text">There is no set rule for how much compensation you might receive for a public injury. This all depends on the extent of your injuries and how long it is expected that a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment or rehabilitation</span></a><span class="text--bold"> </span>that may be required.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long do I have to make a claim?</h2>
    <p class="text">The law generally sets a time limit of three years from the date of an accident in which to start a claim, though longer may be allowed if you are <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claiming on behalf</span></a><a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text"> </span></a><span class="text--bold"></span><a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">of a child or someone with mental impairment</span></a><span class="text--bold">.</span></p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long does a compensation claim take?</h2>
    <p class="text">This usually depends on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a> as well as whether the negligent party's insurers accept liability. However, we always aim to pursue justice for our clients as efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin rehabilitation<span class="text--bold"> </span>as soon as possible.</p>
</div>
