<div class="inner-block">
  <p class="text">In the event of an accident where there has been damage to your vehicle or you've suffered a personal injury, you expect your motor insurers to deal with everything to your satisfaction. However, there are occasions when you may be unhappy with what your insurance company offers. These are some of the most common complaints from customers about their insurance company's offer.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Rejecting your claim</h2>
  <p class="text">There are several reasons why your insurer could reject your insurance claim. One example may be that you provided incorrect information in your application, from describing how the accident happened to how a certain aspect of your vehicle became damaged. Another possibility could be that your insurance policy doesn't actually cover you for the claim you are making.</p>
  <p class="text">It is therefore important if your claim is rejected that you read through your motor insurance policy and check that you are entitled to make a claim, and also read through your application and check that the information you've provided is correct and up to date.</p>
  <p class="text">It's important to note that if you have an accident that is your fault and you only have Third Party or Third Party Fire and Theft cover, your insurance company will only cover damage or personal injury to any other parties involved in the accident. It will not cover yours.</p>
  <p class="text">If you read through your policy documents and your application to make a claim and you believe that your motor insurer's decision to reject the claim is invalid, you should appeal the decision and provide them with your reasons and any additional information you have. If they still reject your claim and you still disagree, you can <a href="https://www.financial-ombudsman.org.uk/contact/index.html" class="link link--inline" target="_blank"><span class="link__text">contact the Financial Ombudsman</span></a>, who will take details and may investigate the matter further.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Stating that you're at fault</h2>
  <p class="text">Another common complaint is when customers are found to be at fault for the accident and see an increase in premiums, without their motor insurers first discussing it with them, and when they believe blame lies with the other party.</p>
  <p class="text">This can often be the case because insurers have investigated the matter thoroughly and found that there was not enough evidence to win the case at court; and not simply a case of your insurers believing that you are to blame for the accident.</p>
  <p class="text">It's also the case with most insurance providers that the policy will state that the insurance company is able to make an admission of fault and settle any claim without your consent, so it's important that you first check the wording within your motor insurance policy.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Getting your vehicle repaired by your insurer if the accident wasn't your fault</h2>
  <p class="text">After being involved in a car collision, arranging repairs for your vehicle through your insurers can be difficult, especially when you're not happy with their suggestion of garage. You do have the right to request that another garage carry out repairs to your vehicle if you don't approve of the one offered by your insurers.</p>
  <p class="text">If your car is repaired by a garage that was chosen by your insurer and you're not happy with the work that has been done, you can ask them to correct the issues. Your car should be repaired to a sufficient standard and if the garage are unable to correct the issues, you are well within your rights to ask them for a schedule of repairs and ask your insurer to  commission an independent engineer's report. Once the report is received, you can check the faults the engineer has highlighted and request they are rectified.</p>
  <p class="text">You may find yourself in a situation where your insurance company deem your car a write-off due to irreparable damage. If this is the case, your insurance company should compensate you with the value of the same or a similar vehicle on the market and not simply a trade valuation. The sum from your insurers should allow you to buy a replacement car in the same way you purchased your original vehicle. If this is not the case, you should request your insurer pay you the appropriate amount.</p>
  <p class="text">If you know your car is worth more than what your insurance is offering due to for example, pristine condition, low mileage or expensive modifications, it helps to provide evidence, such as receipts of work done and photographic evidence of your mileage and the condition of your car so your insurer can compensate you these additional costs.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Getting your vehicle repaired if the accident was your fault</h2>
  <p class="text">If your insurer deems that you were responsible for the accident and subsequent damage to your own and the other party's vehicle, depending on which insurance cover you have in place, you may have to pay for your own vehicle repairs. </p>
  <p class="text">The cost of repairs for the other driver's vehicle will be paid by your insurer, unless you agree with the other party that you will pay for repairs to their vehicle yourself. If your insurer pays for repairs to the other driver's vehicle, your insurance premiums may increase.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Paying the excess when the accident wasn't your fault</h2>
  <p class="text">When you take out motor insurance, you'll usually be asked what excess you wish to pay. An excess is the initial amount that you will be responsible for if you make a claim through your insurance company. For example, if you choose a £100 excess, are involved in an accident and repairs to your vehicle have been quoted at £900, you will have to pay the first £100 and your insurance company will pay the other £800. Or, if you choose a £200 excess and repairs to your vehicle are quoted at £190, you will be responsible for the full amount of £190.</p>
  <p class="text">If you've been involved in an accident that wasn't your fault and your vehicle needs repairs, you may still have to pay the initial excess on repairs to your vehicle and the cost of a replacement vehicle whilst repairs are taking place. However, if the other driver's insurer admits fault, your insurance company should be able to claim this back on your behalf once the claim has been settled.</p>
  <p class="text">In some cases, where the other driver's insurers have already admitted fault, they may arrange to have your vehicle repaired and provide a hire vehicle until the repairs have been made. However, if this is not the case, and you wish to avoid paying the initial excess, you could use a credit hire company instead of going through your own insurance company. A credit hire company will arrange for your vehicle to be repaired and, in the meantime, supply you with a replacement hire vehicle. They will then claim the cost of the repairs and vehicle hire back directly from the other driver's insurers.</p>
  <p class="text">If you do decide to use a credit hire company, you still need to inform your insurers about the accident; although in some cases, the credit hire company can arrange to do this on your behalf.</p>
  <p class="text">It's important if you decide to use a credit hire company, that you read the small print before deciding to sign any agreement with them, as it may state that you're responsible for any costs they are unable to recover from the other driver's insurers or may ask that you pay a small insurance fee to cover this.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Choosing your solicitor</h2>
  <p class="text">If you've suffered injuries as a result of an accident that wasn't your fault, you may be entitled to make a claim for personal injuries. Most insurers will have a panel of solicitors that you can choose from. However, you may prefer to choose your own, perhaps one that is a specialist in a specific area of expertise.</p>
  <a href="/personal-injury-claim/road-traffic-accidents/choosing-car-insurance-law-firm/" class="button button--secondary">Read more about choosing your own solicitor</a>
</div><div class="inner-block">
    <p class="text">Unless it's otherwise stated in your policy, you have every right to choose your own solicitor and therefore get the right one for you. Slater and Gordon is one of the UK's leaders in personal injury, with specialists in road traffic accidents in offices across the UK. We also have a specialist serious injury team who have specific expertise in catastrophic and life changing injuries. So if you are not happy with the law firm your insurers have suggested to you, please don't hesitate to call us on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> today.</p>
</div>
