<div class="inner-block">
  <h2 class="text text--heading text--large">How do interim payments work?</h2>
  <p class="text">Interim payments are payment which may be paid to you before our final compensation settlement is agreed. These payments are designed to help people who've been seriously injured as a result of personal injury or medical negligence and who may need financial assistance in order to pay for medical care, lost earnings and other related costs.</p>
  <p class="text">You can only request interim payments if the other side, the defendant, admits that they were responsible for the incident which caused your injuries. The court can also order an interim payment to be made if certain criteria are met after the case has started, such as:</p>
  <p class="text">The other party admits liability or there's a reasonable chance that the other party will be found to be at fault if the case goes to trial</p>
  <p class="text">You've a good reason for requesting the payment (such as urgent medical bills or a significant adjustment needed to accommodation) You've requested a reasonable amount as an interim payment, one that's less than your total compensation payment</p>
  <p class="text">Interim payments can continue throughout the course of a serious injury compensation claim. You can request more than one if you need to, but the court will need to be satisfied on the same set of criteria for each payment.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Why claim interim payments for serious injuries?</h2>
  <p class="text">money from interim payments can be incredibly important for victims of serious injuries. It can be used to pay for private medical treatments, as well as rehabilitation support and equipment if needed. You can use the money to adapt your accommodation to ensure you're more comfortable at home and find it easier to get around. Personal injury or medical negligence interim payments can also cover loss of earnings and help you to set up a care regime. From our own experience as specialist personal injury lawyers, we know that interim payments also help to facilitate recovery and to improve quality of life.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to us today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much can I claim and how often?</h2>
    <p class="text">The amount in interim payments you receive depends on your particular case, but it won't be more than 'a reasonable proportion' of the overall amount of compensation that's likely to be paid. There's no restriction on the number of applications for an interim payment you can make, but the total must be within the 'reasonable proportion' rule.</p>
    <p class="text">Our solicitors can advise you on the right amount to request from a court, as reasonable requests and a persuasive reason for requesting the money can make it more likely that the payment is awarded.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How do interim payments affect the final amount of compensation?</h2>
    <p class="text">When your final award of compensation is made, the interim payments will be deducted from the total amount of compensation paid. This will mean that the final sum you receive is smaller, but one of the main benefits of interim payments is that they allow you to spread compensation payments out. This means that you don't have to wait to access funds you need now.</p>
</div>
