<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading serious injury specialists, with an unmatched track record of success. Contact us right away on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your injury</span></a> and we will call you.</p>
</div>
