<div class="inner-block">
  <h2 class="text text--heading text--large">How we can help</h2>
  <p class="text">Many people worry that winning a personal injury compensation claim will land them with an unexpected tax bill. We're here to reassure you that not only could you claim injury compensation under a No Win No Fee agreement with Slater and Gordon, you won't owe the taxman a penny either.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will my personal injury compensation be taxable?</h2>
  <p class="text">We know that you have enough to worry about if you've been injured in an accident that wasn't your fault. So the good news is that the taxman isn't interested in charging you tax on any compensation payments you receive for an illness or injury that was caused by someone else's negligence. That's because most tax is based on earnings, or income, and the damages you receive as compensation don't fall into that category. So if the thought of having to deal with a tax bill has been putting you off making a compensation claim, you don't have to delay any longer. Talk to us now about a tax-free compensation claim, which we may even be able to help you make on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will I have to pay tax on interest?</h2>
  <p class="text">This is an area that causes a lot of confusion, so let's break it up into two answers:</p>
  <p class="text">But rest assured that in the event of a successful injury compensation claim, we will be happy to advise you on how best to legally avoid paying any more tax than you need to. </p>
  <p class="text">Talk to one of our legal experts today for help with all your personal injury compensation claims needs.</p>
  <a href="/contact-us/" class="button button--secondary">Contact us today</a>
</div>