<div class="inner-block">
  <p class="text">Slater and Gordon is one of Britain's leading personal injury claims firms, so we can help you to receive the compensation you deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts today.</p>
</div>
