<div class="inner-block">
  <h2 class="text text--heading text--large">What is required from landlords?</h2>
  <p class="text">In order to protect tenants, landlords are required to ensure that working smoke alarms are installed on each storey of rented residential accommodation, with the addition of carbon monoxide alarms in any rooms where a solid fuel appliance is present. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Why has the law for landlords changed?</h2>
  <p class="text">The regulations for Landlords with regard to smoke alarm and carbon monoxide alarm installation changed in 2015, in response to a high level of fatalities in rental property. Government figures show that up to 2015, there were around 50 deaths in the UK every year due to carbon monoxide poisoning. They also reveal that people are four times more likely to die in a house fire where working smoke alarms aren't present. To underline the seriousness of the issue, non-compliance is punishable by fines of up to £5,000.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What do the new regulations demand of landlords?</h2>
  <p class="text"><a href="https://www.gov.uk/government/publications/smoke-and-carbon-monoxide-alarms-explanatory-booklet-for-landlords/the-smoke-and-carbon-monoxide-alarm-england-regulations-2015-qa-booklet-for-the-private-rented-sector-landlords-and-tenants" class="link link--inline" target="_blank"><span class="link__text">The Smoke and Carbon Monoxide Alarm (England) Regulations 2015</span></a> require landlords to have a working smoke alarm fitted on every storey of a rental property, and in every room that contains a solid fuel-burning appliance, such as a coal fire or wood-burning stove. Landlords are also required to test that these appliances are working on the first day of each new tenancy, after which the tenants are responsible for regular testing.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What do the new regulations ask of tenants?</h2>
  <p class="text">If you are renting in a residential property - whether a house or a room in a House of Multiple Occupancy (HMO) - you should make sure that your landlord has installed a working smoke alarm on each storey of the property you are renting, and a working carbon monoxide alarm in every room that has an open fire or solid fuel stove.You should do this on the day you move in, and make sure you know how to conduct future tests yourself. After this, the Fire Service advises that you should check that smoke alarms and carbon monoxide alarms are working at least once a month, and change the batteries once a year. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What do I do if my landlord won't fit alarms?</h2>
  <p class="text">You should really make sure that smoke detectors and carbon monoxide alarms are present and working on the day you move in. However, if this hasn't happened - and your landlord either prevaricates or refuses to act - you should complain to your <a href="https://www.gov.uk/find-local-council" class="link link--inline" target="_blank"><span class="link__text">local council's Environmental Health Department</span></a> who will issue an enforcement notice to your landlord, telling them to fit the appropriate alarms within 28 days. If they fail to do so, they can be fined up to £5,000 and your local council will take responsibility for fitting the alarms you need. </p>
</div>
