<div class="inner-block">
  <h2 class="text text--heading text--large">What is legal expense insurance?</h2>
  <p class="text">All vehicles need to have valid motor insurance when in use on the roads in the UK. Legal expense insurance (LEI) is an additional insurance benefit which can either be automatically included within that policy or can be purchased as an extra benefit. LEI covers the cost of legal fees if you're making a claim for compensation. As well as being included in a motor insurance policy, LEI can also be included in other policies, such as home buildings and contents insurance. There is usually a limit on LEI policies as to the amount of legal fees they cover. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if legal fees are likely to be higher than the amount of fees the legal expense insurance cover?</h2>
  <p class="text">If your LEI policy only covers a small amount of legal fees and your case is likely to cost more, you may be able to fund your claim on a No Win No Fee basis. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is the criteria which needs to be met to activate legal expense insurance cover?</h2>
  <p class="text">In most cases there are three conditions which need to be met in order to activate LEI:</p>
  <p class="text">The accident must not have been your fault, or at least you must only be partially to blame. If you were to blame for the accident, the LEI policy will not be activated.</p>
  <p class="text">The claim must have a reasonable chance of success in order for the policy to be activated. Your insurers and/or your lawyers will review the case and determine whether or not the case has reasonable prospects of succeeding. The prospects of success need to be greater than the prospects of losing, i.e. usually more than 51%. For example, if the prospects of success are considered to be 65% in your favour, your insurance company are likely to activate your LEI policy. Whereas, if it's considered that you only have a 45% prospect of succeeding, your insurance company might refuse the claim.</p>
  <p class="text">In order for the insurance company to activate your LEI policy, they may require your legal costs to be proportionate to the amount of compensation you're likely to receive. For example, if the case is a rather complex one to prove, and therefore many hours of work need to be undertaken by your lawyer, yet the value of your compensation is estimated to be extremely low based on your injuries, then your insurers may refuse to activate your LEI policy.</p>
  <p class="text">The criteria above should be reviewed at the onset of your case from the evidence to hand at that time. As further evidence is gathered, outcomes to the criteria can change.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What happens to the legal expense insurance if any of the outcomes to the criteria change?</h2>
  <p class="text">As evidence for your case is gathered the outcomes to the criteria which initially activated your LEI policy can change. A case may seem quite straightforward upon initial review, for example, you have suffered a severe injury to your shoulder and the other driver was to blame.</p>
  <p class="text">However, the medical report may find that your shoulder injury is a pre-existing condition which has been slightly exacerbated by the accident or the engineer's report may find that in fact you were to blame for the accident.</p>
  <p class="text">This evidence may mean that the chances of winning your claim are lower than first thought and may result in your insurers withdrawing your LEI.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if the person to blame for the accident doesn't have insurance?</h2>
  <p class="text">If the person to blame for the accident doesn't have insurance to make a payment of compensation, you may be able to make a claim with the Motor Insurers Bureau (MIB).</p>
  <p class="text">The MIB will consider claim for damage to your vehicle, damage to any property and also any claim for personal injury under the "Uninsured Drivers Agreement".</p>
  <p class="text">If the person to blame for the accident fails to stop at the scene or they're in a stolen vehicle, you can make an application for compensation with the MIB.</p>
  <p class="text">Claims made with the MIB for untraced drivers are made under the "Untraced Drivers Agreement". It's a condition when making a claim under this agreement that the incident must be reported to the police within five days if the claim is for property damage or within 14 days if the claim is for personal injury. Failing to do this may jeopardise the claim.</p>
  <p class="text">It's important to note that MIB claims can be rather complex and we would therefore suggest obtaining advice from an expert lawyer who specialises in road traffic accidents.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What should someone with legal expense insurance do following a road traffic accident?</h2>
  <p class="text">Regardless of whether or not you have LEI, of course, the most important thing to do is call for medical assistance where you are, or someone else at the scene is, injured. If you're medically able you should also:</p>
  <p class="text">Take details of the other driver/drivers involved in the accident</p>
  <p class="text">Contact the police</p>
  <p class="text">Take details of anyone who witnessed the accident</p>
  <p class="text">Take photographs of the scene of the accident</p>
  <p class="text">You should also contact your insurance company and let them know about the accident and provide them with any details or evidence you've managed to obtain.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How is a lawyer chosen when you have legal expense insurance?</h2>
  <p class="text">If you have LEI and contact your insurance company, they may recommend a law firm on their legal panel. If you already have a law firm in mind or have already contacted a law firm which is not on their panel, you can make a request with your insurance company to instruct the firm of your choice.</p>
  <p class="text">Whether you choose a firm from the panel or a firm of your choice, you should ensure that they're experts in road traffic accidents. Where your injuries are life changing, you should also ensure that the law firm you choose specialises in dealing with claims arising from <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">serious injuries</span></a>, for example, brain injuries or spinal cord injuries. Ensuring the firm has this specialism can have a significant impact on the outcome of your claim.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">If you have legal expense insurance what happens initially when you instruct a lawyer in a road traffic accident claim?</h2>
  <p class="text">Whether your lawyer has been chosen by you independently or chosen from your insurers' panel the first thing your lawyer should do is take a full account from you as to what happened and the evidence that is currently available, such as any photographs you were able to obtain from the site of the accident or a police report if one is available.</p>
  <p class="text">From this, your lawyer will be able to provide your insurance company with information to enable them to review their criteria for the LEI policy.</p>
  <p class="text">As soon as your insurance company have confirmed that they're happy for your lawyer to proceed, further evidence, such as a medical report, can be sought.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What compensation can be claimed if your case is funded by legal expense insurance?</h2>
  <p class="text">Compensation for a road traffic accident claim is split into the following categories:</p>
  <p class="text"><span class="text--bold">General damages</span></p>
  <p class="text">General damages are awarded based on the pain and suffering and you've suffered as a result of the accident and also on any effect this has had on your quality of life. This amount can vary significantly depending on the severity of your injuries. Lawyers use previous cases similar to yours and guidelines in order to value the general damages of your case.</p>
  <p class="text"><span class="text--bold">Special damages</span></p>
  <p class="text">Special damages are expenses which have, or will, put you out of pocket as a result of your road traffic accident. Such expenses include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Travelling expenses
    </li>
    <li class="bullet-list__item">
      Replacement of property or clothing, where lost/damaged
    </li>
    <li class="bullet-list__item">
      Loss of earnings
    </li>
    <li class="bullet-list__item">
      Loss of pension
    </li>
    <li class="bullet-list__item">
      Treatment and rehabilitation costs
    </li>
    <li class="bullet-list__item">
      Care costs
    </li>
    <li class="bullet-list__item">
      Aids and equipment
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">Property or adaptations </span></a>
    </li>
  </ul>
  <p class="text">Where the injuries are such that you will continue to have losses in the future, these can also be included. For example, if you're no longer able to work, future loss of earnings and future loss of pension can be included, and where you need future treatment, care and rehabilitation, the cost of this can also be included. Read more on <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">what you can claim for here</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if you don't have legal expense insurance?</h2>
  <p class="text">If you find that you don't have LEI, you can still obtain funding for a road traffic accident under a Conditional Fee Agreement (CFA), also known as a No Win No Fee agreement. This essentially means that if your case is unsuccessful, you'll not have to pay for any of your legal costs, meaning there's no financial risk to you. For more information about <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee agreements, click here</span></a>. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">A guide to motor insurance legal policy</h2>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/guide-to-insurance-and-motor-claims/" class="link link--inline"><span class="link__text">Step 1: Taking out motor insurance and what to do if you are involved in an accident</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/legal-expense-insurance-claims/" class="link link--inline"><span class="link__text">Step 2: How can I pay for my claim and what can I claim for?</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/accident-fault/" class="link link--inline"><span class="link__text">Step 3: Determining who was at fault for a road traffic accident</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/process/" class="link link--inline"><span class="link__text">Step 4: Road traffic accident claims process</span></a></p>
</div>
