<div class="inner-block">
  <h2 class="text text--heading text--large">Why would I need a medical assessment of my injury?</h2>
  <p class="text">If you've been injured in an accident that wasn't your fault, you deserve to receive the appropriate amount of compensation. But that figure can only be calculated if we know exactly how serious that injury is, how long it's likely to take to settle down and if there will be any long lasting or permanent effects of your injury. That's why medical assessments are crucial to every injury compensation claim. </p>
  <a href="/contact-us/" class="button button--secondary">Contact us online</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Do you need permission to see my medical records?</h2>
    <p class="text">Absolutely. We take your privacy very seriously - as does the law - so we'll always ask permission for us to access your medical records and to provide them to the health professional carrying out the assessment.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What happens at a medical assessment?</h2>
    <p class="text">Before we agree a final compensation figure on your behalf, we need to know that it will be enough to compensate you for the <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">injuries you have suffered</span></a>, as well as for any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation or medical treatment</span></a> that might be necessary in the future. So we will usually arrange for you to see an independent medical expert, who will spend 20 minutes or so examining you to assess the seriousness of your injuries, how long they might take to settle, if there will be any long lasting or permanent effects of the injuries and also, whether a course of physiotherapy or another type of rehabilitation would be advisable. The medical expert will then send us their assessment and recommendations - with your permission of course - which we will rely on to help negotiate a settlement on your behalf, or present as evidence in court.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Do I have to pay for my medical assessment?</h2>
    <p class="text">We handle the vast majority of our personal injury compensation claims on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>. So when this is the case, we will pay for your medical assessment as part of our service, and reclaim the cost from the other side.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How should I approach my medical assessment?</h2>
    <p class="text">There's absolutely no need to be nervous about a medical assessment to help with your injury claim. All of the medical professionals we might send you to are hugely experienced, and will only perform the tests needed in order for them to understand your condition. The important thing is just to be honest about your injury, which will help them to make the right assessment, and us to get you the compensation you deserve.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How do I start a personal injury claim?</h2>
    <p class="text">If you've been injured through the negligence or recklessness of someone else, you may well be entitled to claim compensation for your injuries. As one of Britain's leading personal injury firms, we can handle everything on your behalf, including any necessary medical assessment to help you achieve the compensation you deserve. We also handle the majority of personal injury cases on a No Win No Fee basis, to give you as much security as possible. Start your claim today by talking to us about your injury. </p>
    <a href="/contact-us/" class="button button--secondary">Talk to us today</a>
</div>