<div class="inner-block">
  <p class="text">If you've been injured, it's essential that we have a professional medical assessment of how serious the injuries are, and how long you'll take to recover. Here's all you need to know about Slater and Gordon arranging a free medical assessment on your behalf.</p>
  <p class="text">Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your injury online and we will contact you</span></a>.</p>
</div>
