<div class="inner-block">
  <p class="text">Mesothelioma is a serious illness caused by exposure to asbestos. If you've been exposed to asbestos, even if it was many years ago, there is a risk that you may develop mesothelioma. This is a guide which gives you as much information as possible about this asbestos related illness. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is mesothelioma?</h2>
  <p class="text">Mesothelioma is a form of cancer which can occur in the mesothelium which is the membrane that lines the inner surface of the chest wall, known as the pleura and also the abdomen, known as the peritoneum and the testicles. </p>
  <p class="text">Mesothelioma is caused by breathing in asbestos dust. Inhalation of asbestos dust causes damage to the cells of the pleura, the outer lining of the lungs and the internal chest wall, and it's thought that over time this damage results in changes which can eventually turn them into cancerous cells.</p>
  <p class="text">Although mesothelioma of the pleura is the most common form, mesothelioma of the abdomen, or peritoneum can also occur. This is because the mesothelium also surrounds the heart and intestines.  </p>
  <p class="text">The average time for mesothelioma to develop after exposure to asbestos dust is around 40 years, but it can develop (or cause symptoms) after 10 years from the initial exposure.</p>
  <p class="text">There are approximately 2,500 people a year in the UK who are diagnosed with mesothelioma, the majority of which are men. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of mesothelioma?</h2>
  <p class="text">The most common symptoms of mesothelioma include breathlessness, a persistent cough, chest pain, tiredness, loss of appetite and weight loss. However, as mesothelioma can also affect the stomach, heart and testes, you should also be aware of any new pains or changes to any of these parts of the body. </p>
  <p class="text">If you are suffering from any of these symptoms, particularly if you have been exposed to asbestos in the past, you should see your GP right away. In the event of a diagnosis mesothelioma, you should also consider making a claim for compensation. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How is mesothelioma usually diagnosed?</h2>
  <p class="text">While some of the symptoms of mesothelioma may be apparent with just a stethoscope, it's likely that your GP will send you for further tests to determine if the linings of the lungs, heart or stomach show signs of mesothelioma, including:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      X-Rays
    </li>
    <li class="bullet-list__item">
      CAT Scans
    </li>
    <li class="bullet-list__item">
      Ultrasound Scans
    </li>
    <li class="bullet-list__item">
      Biopsies
    </li>
    <li class="bullet-list__item">
      Analysis of pleural and peritoneal fluid
    </li>
  </ul>
  <p class="text">These tests will either confirm a diagnosis of mesothelioma, or rule it out. In the case that mesothelioma is diagnosed, it will be graded on a scale of one to four using the <a href="https://imig.org/" class="link link--inline" target="_blank"><span class="link__text">International Mesothelioma Interest Group (IMIG)</span></a> staging system, to determine how far the disease has advanced and what sort of treatment may be possible. In the event of such a diagnosis, you may wish to speak to an experienced solicitor to discuss the possibility of compensation for your illness. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What treatment is available for mesothelioma?</h2>
  <p class="text">Although there's no known cure for mesothelioma, there are treatments which may be available to help ease suffering, such as:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Talc pleurodesis - This procedure is performed to relieve breathlessness by draining fluid from around the lungs and talc or a chemical powder is put into the body cavity surrounding the lungs to prevent further build-up of fluid
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Radiotherapy - This treatment is performed to try to relieve breathlessness, pain and discomfort
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Chemotherapy – This treatment is performed to try to reduce symptoms. It's only sometimes helpful and only recommended in certain cases
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Extrapleural pneumonectomy – This surgery aims to remove the visible tumour, or as much as possible. It's a radical surgery and is only suitable for a small number of patients
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Pleurectomy-decortication - This operation usually leads to better lung function. However, it's only rarely recommended. It aims to remove all or part of the pleura and lung tissue close to it to reduce the mesothelioma
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      New treatments - Clinical trials are carried out to research new treatments all the time. Participation in clinical trials is an important treatment option for many patients but you should discuss the option with their doctor first
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Physiotherapy - Physiotherapy is often recommended to help maintain exercise tolerance, strength and functional ability as much as possible
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Cordotomy - To relieve symptoms of pain
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Analgesics - To control symptoms of pain
    </li>
  </ul>
  <p class="text">It's important to note that treatments and clinical trials change often and it's therefore important that you speak to your consultant about your treatment options.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are there benefits available for people with mesothelioma?</h2>
  <p class="text">Yes. There are a number of benefits available to people who have mesothelioma. There are also one-off payments which may be available depending on your circumstances, such as: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Pneumoconiosis Etc. (Workers Compensation) Act 1979
    </li>
    <li class="bullet-list__item">
      The Diffuse Mesothelioma 2018 Scheme
    </li>
    <li class="bullet-list__item">
      The Diffuse Mesothelioma Scheme (DMPS)
    </li>
  </ul>
  <p class="text">For more information about the benefits and payments you may be entitled to, read our <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/benefits/" class="link link--inline"><span class="link__text">Benefits and Payments guide</span></a>. </p>
  <p class="text">As well as benefits and payments from the Government, you may be entitled to compensation for your pain and suffering. </p>
  <p class="text">Slater and Gordon has a team of experts who have specialised in asbestos related illness for many years and understand the complexities which can be faced. We have a strong reputation when it comes finding insurers of companies which have been out of business for many years and securing the best possible outcome to your case. </p>
  <p class="text">We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
  <a href="/contact-us/" class="button button--secondary">Contact one of our experts today</a>
</div>