<div class="inner-block">
  <h2 class="text text--heading text--large">Where and when is Action Mesothelioma Day?</h2>
  <p class="text">Action Mesothelioma Day usually takes place each year on the first Friday of July at a number of towns around the country, which include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Liverpool (<a href="https://mavsg.org/" class="link link--inline" target="_blank"><span class="link__text">Merseyside Asbestos Victims Support Group</span></a>)
    </li>
    <li class="bullet-list__item">
      Manchester (<a href="http://www.asbestos-victims-support.org/" class="link link--inline" target="_blank"><span class="link__text">Greater Manchester Asbestos Victims Support Group</span></a>)
    </li>
    <li class="bullet-list__item">
      Newcastle (<a href="https://www.blf.org.uk/support-for-you/mesothelioma/mkmrf" class="link link--inline" target="_blank"><span class="link__text">Mick Knighton Mesothelioma Research Fund</span></a>)
    </li>
    <li class="bullet-list__item">
      Leeds <a href="https://messy.org.uk/" class="link link--inline" target="_blank"><span class="link__text">(MESSY Lung Cancer Support Group)</span></a>
    </li>
    <li class="bullet-list__item">
      Cardiff (<a href="https://a-a-s-c.org.uk/" class="link link--inline" target="_blank"><span class="link__text">Asbestos Action Cymru</span></a>)
    </li>
    <li class="bullet-list__item">
      Birmingham (<a href="http://www.asbestossupportwm.org/" class="link link--inline" target="_blank"><span class="link__text">Asbestos West Midlands Support Group</span></a>)
    </li>
    <li class="bullet-list__item">
      London
    </li>
    <li class="bullet-list__item">
      Sheffield (<a href="http://saragasbestossupport.org/" class="link link--inline" target="_blank"><span class="link__text">Sheffield Yorkshire Asbestos Victims Support Group</span></a>)
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Supporting Action Mesothelioma Day</h2>
  <p class="text">Slater and Gordon has an extremely specialised asbestos related illness team, which are based nationwide, throughout England, Scotland and Wales. They have a vast amount of experience in assisting clients of those suffering from mesothelioma and their families. </p>
  <p class="text">Over the years, our specialist team have been involved in some of the most important and groundbreaking asbestos and industrial disease cases. </p>
  <p class="text">We therefore believe that Action Mesothelioma Day is a great opportunity to raise awareness in the wider public consciousness of the dangers of asbestos exposure and to campaign for better treatment for those who have been diagnosed with mesothelioma.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Client testimonials</h2>
  <p class="text">One of our specialist asbestos lawyers recently received a letter thanking them for their help bringing a mesothelioma compensation claim for a gentleman:</p>
  <p class="text">"I really want to thank you from the bottom of my heart for the kindness, empathy and wonderful support you have given to me over the past year. Having you supporting me in my corner has helped to make the process so much easier. Your way of dealing with such delicate matters has been truly humanistic. I would highly recommend you to anyone who may be unfortunate enough to have to go through a similar experience".</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">More information</h2>
  <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
