<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's best-known mesothelioma compensation claims firms, offering extensive knowledge of asbestos-related diseases and the claims process. Contact us right away on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your disease</span></a> and we will call you.</p>
</div>
