<div class="inner-block">
  <h2 class="text text--heading text--large">What rights do migrant workers have?</h2>
  <p class="text">Migrant and agency workers in the UK are protected by all <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">UK employment laws</span></a>. This means that even if you're in the country on a temporary basis, whoever hired you and pays you has a duty of care to make sure that you're not harmed in the workplace. If you've been injured or made ill by <a href="/personal-injury-claim/accident-at-work-compensation/health-safety-dangerous-practices/" class="link link--inline"><span class="link__text">unsafe working practices</span></a> or negligence, you have every right to make a claim for compensation. Speak to a legal expert about starting a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a> today.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much can I claim for my injury?</h2>
  <p class="text">This all depends upon the <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">seriousness of the injury</span></a>, as well as how much it might affect your ability to work in the future, and how much any r<a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">ehabilitation such as occupational therapy or physiotherapy</span></a> might cost. However, we take most migrant and agency injury cases on a No Win No Fee basis, and seek interim payments to help you avoid financial hardship if you are unable to work because of your injuries.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
  <p class="text">Generally, the rule is that you have three years from the date you were injured in which to make a claim. There are exceptions however, such as if the injured person has diminished mental capacity as a result of the accident, if the accident causing injury was abroad, or in the tragic circumstances that the person dies. You should therefore speak to an accidents at work specialist as soon as you are able. </p>
</div>
