<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading injury claims firms, with specialist expertise to help migrant and agency workers receive the compensation they deserve in the event of an accident at work. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> for more information. </p>
</div>
