<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for a military accident?</h2>
  <p class="text">Serving personnel have just as much right to claim compensation for injuries sustained in accidents - or as the result of negligence - as anyone else. We have considerable experience of claiming compensation against the MoD and other organisations for accidents suffered by military personnel, including serving members of the RAF, Army, Navy and Reserve Forces, as well as for retired military personnel and their families. </p>
  <p class="text">Over the years, we've helped clients bring claims for injuries caused by everything from defective equipment and military training accidents to road traffic accidents. Whether the consequences of a military accident are relatively mild or totally catastrophic, you deserve a prompt and understanding service to obtain your rightful compensation as quickly as possible. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What sort of injuries can I claim for?</h2>
    <p class="text">There are various circumstances in which military personnel can bring a claim for compensation as a result of a military accident or injury, including:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        Training accidents and unsafe working practices
      </li>
      <li class="bullet-list__item">
        Injury caused by <a href="/personal-injury-claim/accident-at-work-compensation/defective-equipment/" class="link link--inline"><span class="link__text">unsafe or defective military equipment</span></a>
      </li>
      <li class="bullet-list__item">
        Injury from unsafe or defective military accommodation
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/industrial-disease/industrial-deafness-tinnitus/" class="link link--inline"><span class="link__text">Noise induced hearing loss (deafness)</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/serious/fatal/" class="link link--inline"><span class="link__text">Fatal accidents</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Road traffic accidents</span></a> during manoeuvres
      </li>
      <li class="bullet-list__item">
        <a href="/clinical-and-medical-negligence-solicitors/" class="link link--inline"><span class="link__text">Clinical negligence</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/accident-at-work-compensation/military/ptsd/" class="link link--inline"><span class="link__text">PTSD</span></a>
      </li>
    </ul>
    <p class="text">We can also help with <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">claims where rehabilitation is needed</span></a>.</p>
    <p class="text">However your military accident - or that of a loved one - occurred, our military compensation claims specialists are ready and waiting to talk to you. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">The Law and Injury Claims Against the MoD</h2>
    <p class="text">Since 1987, <a href="http://www.legislation.gov.uk/ukpga/1987/25/introduction" class="link link--inline" target="_blank"><span class="link__text">the Crown Proceedings (Armed Force) Act 1987</span></a>, has allowed military personnel to claim for personal injuries sustained during service, where the MoD failed in its legal duty of care or health and safety duties.</p>
    <p class="text">So while injuries sustained during an active operation or ongoing combat can't be claimed for, as they're covered by 'combat immunity', circumstances surrounding injuries you are able to claim for can be complex. That's why you should feel free to talk to our military compensation experts whenever you feel that negligence may have played a part in any military injury.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">The Armed Forces Compensation Scheme (AFCS)</h2>
    <p class="text">There are a number of Government compensation schemes for injured forces personnel, which are administered by Veterans UK. Slater and Gordon have military experts who <a href="/personal-injury-claim/accident-at-work-compensation/military/armed-forces-compensation-scheme/" class="link link--inline"><span class="link__text">specialise in making AFCS claims</span></a> on behalf of those who have suffered injury or illness as a result of their military service. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What are the time limits for a military claim?</h2>
    <p class="text">For most claims in the UK, there is a strict time limit of three years in which to begin your claim, so you should ask for legal advice as soon as possible after an accident or after becoming aware of health problems resulting from your military service. Please note however that there are exceptions to this rule. It's therefore best practice to speak to a specialist lawyer as soon as practically possible.  </p>
    <a href="/contact-us/" class="button button--secondary">Contact us</a>
</div><div class="inner-block">
      <h2 class="text text--heading text--large">Inquests for Military Personnel</h2>
      <p class="text">We can represent and support the families of deceased military personnel at Inquests, to help you understand all of the circumstances surrounding the loss of a loved one.</p>
      <p class="text">As an example, we represented families at a week-long inquest into the events surrounding the death of four soldiers who were killed in a Snatch Land Rover in Afghanistan.</p>
</div>

<div class="inner-block">
      <h2 class="text text--heading text--large">How much is my military accident claim worth?</h2>
      <p class="text">As you would expect, every injury claim is different, with the final figure for compensation dependent upon the <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">seriousness of the injury</span></a> as well as the extent of recovery that may be possible. Yet our expertise is not just in winning significant compensation for our clients, it's also in understanding the need for rehabilitation and the support that you and your family will need right away, and perhaps for the rest of your lives. That's why we take the majority 9of military injury cases on a No Win No Fee basis, and why obtaining interim payments to help you avoid hardship is often central to our approach.</p>
</div>
