<div class="inner-block">
  <h2 class="text text--heading text--large">How long do I have to claim for motorcycle accident injuries?</h2>
  <p class="text">The law states that you have three years in which to begin your claim, though you may have longer if you're claiming on behalf of a child, someone of diminished mental capacity. Time limits may vary if you claim through the <a href="/personal-injury-claim/sexual-criminal-abuse/abuse-criminal-injury/cica-faq/" class="link link--inline"><span class="link__text">Criminal Injuries Compensation Authority</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim if the accident was partly my fault?</h2>
  <p class="text">Not every motorcycle accident is caused entirely through the inattention of drivers. Even if you believe that you may have been partly responsible for an accident, you should still talk to us to establish the full legal position. Even where you are partly to blame, you may still be able to receive compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long does a motorcycle injury claim take?</h2>
  <p class="text">As you might expect, this depends largely on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a>, and whether the responsible party's insurer accepts liability. However, if your injuries are considered minor, and your case relatively straightforward, we handle every <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee</span></a> motorcycle accident claim through our <a href="/personal-injury-claim/road-traffic-accidents/fast-track/" class="link link--inline"><span class="link__text">fast track team</span></a> to help you receive the compensation you deserve as quickly as possible.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much compensation can I claim?</h2>
  <p class="text">Obviously, the level of compensation you might expect will depend on the seriousness of your injuries. You should also consider claiming for related losses, such as general damages, travel expenses and even loss of earnings. If necessary, we can also claim on your behalf for medical expenses or any essential <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation</span></a>.</p>
</div>
