<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's foremost needlestick injury compensation firms, with the expertise and understanding you need to help you claim rightful compensation. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to talk to one of our legal experts today.</p>
</div>
