<div class="inner-block">
  <h2 class="text text--heading text--large">What is a needlestick injury?</h2>
  <p class="text">Needlestick injuries occur in any situation where your skin has been accidentally pierced by a hypodermic needle. They most commonly occur in high-pressure medical situations, when a professional receives an injury from a hypodermic needle that's intended for a patient. However, it's also possible to receive a needlestick injury from carelessly discarded needles as well as from criminal intent. Naturally, in these cases, there is a risk of serious infection as well as what can be a nasty puncture wound. If this has happened to you, you need medical and legal help as soon as possible.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What do I do first if I have a needlestick injury?</h2>
  <p class="text">Regardless of whether the injury was caused by a sterile needle or one of unknown status, it's essential to treat every needlestick injury immediately, wherever you are, and then to seek urgent help from medical experts. If you've suffered a needlestick injury, you initially need to follow these six simple steps:</p>
  <p class="text">1. Put the needle down somewhere safe, if it's in your possession</p>
  <p class="text">2. Rinse the wound with clean water, allowing blood to flow freely</p>
  <p class="text">3. Place antiseptic liquid or soap on the wound, but don't rub it in</p>
  <p class="text">4. Dry the wound with a sterile pad or dressing</p>
  <p class="text">5. Cover the wound with a sterile pad, dressing or plaster</p>
  <p class="text">6. Seek urgent help from your GP or nearest A&E department</p>
  <p class="text">Importantly, if it can be done safely, you should also try to preserve the needle so that it can be analysed later, especially if it was not sterile.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What after-effects might there be from needlestick injuries?</h2>
  <p class="text">Even a needlestick injury from a sterile needle can cause a nasty wound and severe bruising, and that's assuming that you did not receive any of the solution that may have been in the syringe. Where you've received a needlestick injury from a needle of uncertain origin, or one that has been used by someone else, there are clear risks of serious infection.</p>
  <p class="text">In cases like these serious illnesses such as <a href="https://www.nhs.uk/common-health-questions/accidents-first-aid-and-treatments/what-should-i-do-if-i-injure-myself-with-a-used-needle/" class="link link--inline" target="_blank"><span class="link__text">Hepatitis and HIV are all potential risks</span></a>. That's why it is essential to seek medical treatment, and analysis of the needle concerned, whenever you have received a puncture wound from a needle. You should also seek legal advice at the earliest opportunity, in case you need to make a claim for compensation.</p>
  <a href="/contact-us/" class="button button--secondary">Contact a legal expert today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What are the most common causes of needlestick injuries?</h2>
    <p class="text">Most needlestick injuries occur in a medical setting, where failure to follow correct procedures – or sometimes a fraught, stressful, situation arising – can lead to medical professionals inadvertently receiving needle wounds. However, needlestick injuries happen in all these scenarios, and more besides:</p>
    <p class="text">• Accidentally touching an infected needle in a public place</p>
    <p class="text">• Retrieving a needle without protective gloves in a medical setting</p>
    <p class="text">• Picking up rubbish containing needles <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">without proper personal protective equipment</span></a></p>
    <p class="text">• Careless discarding of 'sharps' containers</p>
    <p class="text">• Malicious needlestick injuries caused by criminals</p>
    <p class="text">However, if you've received a needlestick injury, you need medical attention and possibly immunisation against Tetanus and Hepatitis B immediately; and then you need to seek legal advice from an expert in needlestick injury compensation claims.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Is my employer liable for an injury like this?</h2>
    <p class="text">Every employer has a duty of care to ensure that you are protected by proper health and safety procedures and protective equipment wherever there is any possibility of a needlestick injury. Where this has not been the case, you may have a case for claiming compensation on the grounds of your employer's negligence. Most employers carry <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">employers' liability insurance</span></a> to help provide compensation and rehabilitation in cases like these. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How much is my needlestick injury claim worth?</h2>
    <p class="text">Every injury claim is different, and depends on the long-term prognosis. However, where negligence has been a factor, you may be eligible to claim for loss of earnings, medical treatment and travel expenses as well as for your pain and suffering. We handle most cases of this sort on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>, and seek interim payments to help you avoid financial hardship if you are prevented from working by your injury.</p>
</div>
