<div class="inner-block">
  <h2 class="text text--heading text--large">What is No Win No Fee?</h2>
  <p class="text">The legal term for this is Conditional Fee Agreement (CFA), which is also commonly known as No Win No Fee. Basically, it allows you to pursue an injury compensation claim secure in the knowledge that if the claim is unsuccessful, you won't owe us any money. So it's really just a way of helping you to seek rightful compensation, even if you don't want to take any financial risks. </p>
  <p class="text"><a href="/personal-injury-claim/how-to-make-a-claim/" class="link link--inline"><span class="link__text">Start a claim</span></a></p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What can I use a No Win No Fee agreement for?</h2>
  <p class="text">While we're happy to discuss No Win No Fee agreements for all sorts of cases, they usually involve some sort of injury. It doesn't matter whether your injury happened at work or in the street, or as the result of anything from a road accident to a food poisoning incident. The essential point is that someone else must be to blame for your illness or injury in order for you to claim compensation from them, or, more usually, their insurers.</p>
  <p class="text">Below are the most common types of injury we can help you claim for:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Road traffic accidents</span></a>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/accident-at-work-compensation/health-safety-dangerous-practices/" class="link link--inline"><span class="link__text">Accidents at work</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/holiday-accident-claims/" class="link link--inline"><span class="link__text">Accidents and injuries abroad</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/injury-in-public/" class="link link--inline"><span class="link__text">Injuries in public places</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">Industrial disease</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/faulty-products/" class="link link--inline"><span class="link__text">Faulty product claims</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/illness/" class="link link--inline"><span class="link__text">Illness claims</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/sexual-criminal-abuse/" class="link link--inline"><span class="link__text">Sexual and physical abuse</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/" class="link link--inline"><span class="link__text">Asbestos related illness</span></a><span class="text--bold"></span>
    </li>
    <li class="bullet-list__item">
      <span class="text--bold"></span><a href="/personal-injury-claim/accident-at-work-compensation/military/" class="link link--inline"><span class="link__text">Military accidents</span></a><span class="text--bold"></span>
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will you act for me on a No Win No Fee basis?</h2>
  <p class="text">We handle the vast majority of all our personal injury compensation cases on a No Win No Fee basis, because we have the experience to know when you have a strong case, and a lot of confidence in our own abilities. So if you have been injured and someone else was clearly at fault, we'll be happy to talk to you about claiming on a No Win No fee basis. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to one of our experts</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What happens if I lose a No Win No Fee claim?</h2>
    <p class="text">A No Win No Fee agreement covers you from having to pay your legal fees should you lose your case. This means in the event that you did lose your case, you would not be charged. When funding your case through a No Win No Fee agreement, we also take out an insurance policy known as After the Event insurance (ATE) on your behalf to cover any additional costs, such as court fees. Again, if you did lose your case, you wouldn't have to pay the premium of this policy, meaning you will not have to pay a penny. </p>
    <p class="text">An exception to this rule would be if the court decided that you had acted dishonestly or maliciously in making the claim and if you're found in breach of your agreement. In this case, you might be liable to pay costs. However, we always discuss every case thoroughly with our clients before pursuing them, and always make sure that we all have the facts straight from the very beginning.</p>
    <a href="/contact-us/" class="button button--secondary">Start your claim</a>
</div><div class="inner-block">
      <h2 class="text text--heading text--large">How much will my solicitor get paid if I win?</h2>
      <p class="text">If you win your case, the other side will pay our costs. The amount of costs we would charge the other side would depend on how many hours of work had been undertaken in order to win the case. It could be a straightforward case which takes several months to come to a conclusion, or it could be a complex case with serious injuries which takes several years.</p>
      <p class="text">When lawyers take on cases on a No Win No Fee basis, they run the risk that if the case is lost, they won't get paid for any of the work they have done. This is why when taking on that risk, if successful, law firms can charge a fee, known as a success fee. However, we like to agree a success fee at the start of any No Win No Fee claim. This is usually a small percentage of the eventual damages that might be won. </p>
      <p class="text">There are certain cases where we don't charge a success fee, for example, if you have an asbestos related illness. There are also certain organisations where members of those organisations are not charged a success fee, such as Cycling UK and a number of Trade Unions. If you are a member of an organisation, please tell your solicitor so we can advise whether you're eligible. </p>
</div>

<div class="inner-block">
      <h2 class="text text--heading text--large">Why choose Slater and Gordon for a No Win No Fee claim?</h2>
      <p class="text">Well, we're one of Britain's biggest specialist injury claims firms, with offices in most major cities filled with some of the country's finest lawyers and solicitors. But there's no need to take our word for our abilities. If you watch the video below - or read our <a href="https://uk.trustpilot.com/review/slatergordon.co.uk" class="link link--inline" target="_blank"><span class="link__text">reviews on Trustpilot</span></a> - you'll find out what people just like you think of us.</p>
</div>
