<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for hearing loss suffered when in the military?</h2>
  <p class="text">When working in a noisy environment, your employer should ensure that you're provided with adequate hearing protection to protect you from harm. The same applies when you're in the military, and when you're exposed to excessive noise without adequate protection, this can lead to hearing loss and also tinnitus. </p>
  <p class="text">If you've suffered as a result of hearing loss and/or tinnitus while serving in the military, whether the Army, RAF, Navy, special forces or the reserves, you may have the right to claim compensation. </p>
  <p class="text">Over the years, we've helped clients bring noise induced hearing loss claims caused by explosions and gunfire during training exercises, aircraft and vehicle noise and pyrotechnics, where adequate hearing protection was not provided. Whether the consequences of a military accident are relatively mild or totally catastrophic, you deserve a prompt and understanding service to obtain your rightful compensation as quickly as possible. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the signs of noise induced hearing loss?</h2>
  <p class="text">Naturally, as you get older, your hearing can worsen, so most people put the signs of hearing loss down to their age. However, if you have been exposed to excessive noise in your current job or a previous job, you may have noise induced hearing loss. </p>
  <p class="text">Signs you should look out for include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Mishearing words when you're in a conversation
    </li>
    <li class="bullet-list__item">
      Being unable to hear where there's background noise
    </li>
    <li class="bullet-list__item">
      Having to turn the television up more than others find necessary or needing subtitles 
    </li>
    <li class="bullet-list__item">
      Missing out on a number of things your partner tells you in passing.
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">The Armed Forces Compensation Scheme (AFCS)</h2>
  <p class="text">There are a number of Government compensation schemes for injured forces personnel, which are administered by Veterans UK. Slater and Gordon have military experts who <a href="/personal-injury-claim/accident-at-work-compensation/military/armed-forces-compensation-scheme/" class="link link--inline"><span class="link__text">specialise in making AFCS claims</span></a> on behalf of those who have suffered hearing loss as a result of their military service. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">The Law and Injury Claims Against the MoD</h2>
  <p class="text">Since 1987, <a href="http://www.legislation.gov.uk/ukpga/1987/25/introduction" class="link link--inline" target="_blank"><span class="link__text">the Crown Proceedings (Armed Force) Act 1987</span></a>, has allowed military personnel to claim for personal injuries sustained during service, where the MoD failed in its legal duty of care or health and safety duties.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much is my military hearing claim worth?</h2>
  <p class="text">As you would expect, every military hearing loss injury claim is different, with the final figure for compensation dependent upon the severity of your hearing loss as well as how it has impacted on your everyday life. As well as <a href="/personal-injury-claim/accident-at-work-compensation/military/armed-forces-compensation-scheme/" class="link link--inline"><span class="link__text">claiming compensation</span></a> for your pain and suffering, your claim can also include any expenses incurred as a result of your hearing loss, such as loss of earnings if you've been unable to work because of your injury, hearing aids and equipment, travel to medical appointments etc.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for tinnitus as well as hearing loss?</h2>
  <p class="text">Yes. Tinnitus is a ringing, buzzing, hissing or whistling which can be either intermittent or continuous, in one ear or both ears. Depending on how severe the tinnitus is, can cause you to suffer from sleep deprivation and can also cause stress and depression. If your tinnitus has been caused as a result of inadequate ear protection whilst in the military, you may have the right to claim compensation. </p>
  <p class="text">Dean was discharged from the army on medical grounds due to a hearing loss injury he sustained during infantry training. Head of the Military Injuries Team, Madelene Holdsworth discusses the impact this had on Dean and how Slater and Gordon were able to help him. <a href="https://www.youtube.com/watch?v=mGUxuKTbQ-8" class="link link--inline" target="_blank"><span class="link__text">https://www.youtube.com/watch?v=mGUxuKTbQ-8</span></a></p>
</div>
