<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading personal injury law firms with specialist military accident compensation lawyers. To make sure you get the compensation you deserve, call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to talk to one of our experts today.</p>
</div>
