<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's compensation specialists for occupational asthma claims. We offer expert knowledge of the complications and the claims process. Contact us right away on freephone {{{meta.phonenumber.contentLink}}} or contact us online to speak to one of our legal experts today.</p>
</div>
