<div class="inner-block">
  <h2 class="text text--heading text--large">What is occupational asthma, and what causes it?</h2>
  <p class="text">Occupational asthma is a term used to describe a wide range of lung and breathing problems caused by airborne allergens and irritants in the workplace. Many of these conditions can be extremely prejudicial to your health, so taking precautions to protect workers from breathing in harmful particles or chemicals is a key part of your employer's duty of care. Where they've been negligent in this duty, you may be able to claim compensation for occupational asthma.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the main types of occupational asthma?</h2>
  <p class="text">Broadly speaking, occupational asthma can be split into two main categories:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Allergic occupational asthma:</span> this is the most common type of occupational asthma, which occurs due to airborne allergens. Not only does this cause allergic asthma at the time, it can make you hypersensitive to that substance in the future
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Irritant-induced asthma:</span> less commonly, but even more dangerously, victims will have breathed in airborne chemicals in the form of gas, vapour or smoke. Even a brief exposure to concentrated irritants like these can lead to occupational asthma
    </li>
  </ul>
  <p class="text">If you are concerned about your lungs or breathing, it is also worth reading our <a href="/personal-injury-claim/industrial-disease/silicosis/" class="link link--inline"><span class="link__text">guide to Silicosis</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of occupational asthma?</h2>
  <p class="text">The symptoms of occupational asthma are broadly the same as ordinary asthma, usually including:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Excessive wheezing
    </li>
    <li class="bullet-list__item">
      Tightness in the chest
    </li>
    <li class="bullet-list__item">
      Regular coughing
    </li>
    <li class="bullet-list__item">
      Shortness of breath
    </li>
  </ul>
  <p class="text">If you suffer from these symptoms, you should seek a medical opinion as soon as possible. In the event that your doctor diagnoses occupational asthma, you might then wish to consider making a claim for compensation. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What type of occupation can cause occupational asthma?</h2>
  <p class="text">As occupational asthma is caused by airborne irritants and allergens, workers in many industries can be at risk. However, in addition to any working environment where dust and chemical use is prevalent, occupational asthma claims are most common among workers in these occupations:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Construction and demolition
    </li>
    <li class="bullet-list__item">
      Baking and four processing
    </li>
    <li class="bullet-list__item">
      Vehicle spray painting
    </li>
    <li class="bullet-list__item">
      Metal making
    </li>
    <li class="bullet-list__item">
      Treatment and process operations
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How is my employer responsible?</h2>
  <p class="text">The law says that every employer has a duty of care to protect employees from suffering harm in the workplace. Where your employer failed to foresee the harm that could be caused by your occupation, or provide the necessary protective gear, they could be said to have failed in their duty of care. <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">Read more on the health and safety regulations</span></a> that your employer should be adhering to and talk to a specialist solicitor to find out if you might have a claim.</p>
  <a href="/contact-us/" class="button button--secondary">Contact us today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Do I need a specialist occupational asthma lawyer?</h2>
    <p class="text">Industrial asthma claims are quite a specialised area of the law, so it makes sense to deal with solicitors who have extensive experience and a track record of successful claims. Slater and Gordon employs specialist lawyers in every area of <a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">industrial disease compensation</span></a> claims. Just as importantly, we understand the impact that a diagnosis of occupational asthma can have on those diagnosed and their families, and aim to be as considerate and supportive as possible throughout the claims process.</p>
</div>
