<div class="inner-block">
  <h2 class="text text--heading text--large">How long do I have to claim for pedestrian injuries?</h2>
  <p class="text">If you've been injured as a pedestrian, you have up to three years in which to begin your claim, though you may be given longer if you're claiming on behalf of a child or someone of diminished mental capacity. Time limits may vary if you are claiming through the <a href="/personal-injury-claim/sexual-criminal-abuse/abuse-criminal-injury/cica-faq/" class="link link--inline"><span class="link__text">Criminal Injuries Compensation Authority</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim if the accident was partly my fault?</h2>
  <p class="text">Most accidents involving pedestrians are caused through the recklessness or inattention of drivers or riders. However, even if you feel that you may have been partly responsible, it's always worth talking to us to establish the legal position. Even if you are partly to blame, you may still be entitled to receive compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long does a pedestrian injury claim take?</h2>
  <p class="text">Naturally, this depends on the severity of your injuries, and whether an insurer is prepared to accept liability. However, where your injuries are considered minor and the claim likely to be straightforward, we process every <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee accident claim</span></a> through our <a href="/personal-injury-claim/road-traffic-accidents/fast-track/" class="link link--inline"><span class="link__text">fast track team</span></a> to help you get the compensation you need as soon as possible.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much compensation can I claim?</h2>
  <p class="text">As you might expect, the level of compensation awarded depends on the extent of your injuries and <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious they are</span></a>. At the same time, it's worth bearing in mind that you can claim for other losses caused by your accident, such as general damages, travel expenses and even loss of earnings. Where appropriate, we can also claim on your behalf for treatment such as physiotherapy and other <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation</span></a>.</p>
</div>
