<div class="inner-block">
  <h2 class="text text--heading text--large">How we can help</h2>
  <p class="text">A personal injury that wasn't your fault shouldn't lead to getting into debt. No Win No Fee compensation claims may include interim payments to help you avoid running up debts and there are a variety of other services can help you deal with any debt.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if a personal injury puts me in debt?</h2>
  <p class="text">If you have suffered a personal injury that prevents you from working, debts can start to mount up pretty quickly. That's why, if the injury wasn't your fault, it's important to start an injury compensation claim right away, to help ensure that you aren't left out of pocket by the incident. <a href="https://www.citizensadvice.org.uk/benefits/sick-or-disabled-people-and-carers/employment-and-support-allowance/while-youre-getting-esa/esa-reporting-changes/" class="link link--inline" target="_blank"><span class="link__text">Notifying the Department for Work and Pensions</span></a> as soon as possible may help you to claim essential benefits. But the best thing you can do to avoid debts due to injuries is to talk to expert solicitors who can seek rightful compensation on your behalf: including interim payments whenever possible, to help you avoid financial hardship while your claim is being processed.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are interim payments?</h2>
  <p class="text">When the other side has admitted blame - this is known as accepting liability - it may still take time to determine your full compensation entitlement, especially when your injuries are severe. In this situation, you may be able to make a claim for payments to assist you financially. These payments are known as 'interim payments' and can assist with any immediate costs, such as <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">house or living modifications required</span></a> or any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical or rehabilitation</span></a> expenses, whilst you wait for the full amount to be decided and settled.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of financial losses can I claim for?</h2>
  <p class="text">If a personal injury wasn't your fault, you shouldn't be left out of pocket in any way. So once you suffer an injury, it's essential to start logging all of the extra expenses it causes - from medical treatment to taxis to and from medical appointments - and to write down details of any income you have lost due to the injury. When your claim comes to be settled, our objective is always to make sure that not only do you receive damages that compensate you for your pain and suffering, but you also get back <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">all of the money that the injury has cost you</span></a>. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I'm in debt - what do I do?</h2>
  <p class="text">If you aren't able to claim compensation and interim payments, it's very easy for debts to mount up quickly. In this situation, the most important thing is to act as quickly as possible by seeking expert advice about your debt problems. Organisations like Debt Charity <a href="https://www.stepchange.org/" class="link link--inline" target="_blank"><span class="link__text">Step Change</span></a><span class="text--bold"> </span>can be a big help if you are struggling to manage debts, and you can also seek help from the <a href="https://www.nationaldebtline.org/" class="link link--inline" target="_blank"><span class="link__text">National Debtline</span></a> website. If you're not sure whether you're eligible to claim compensation or not, it's always worth talking to us to receive an honest, impartial opinion. </p>
</div>
