<div class="inner-block">
  <h2 class="text text--heading text--large">What is a personal injury?</h2>
  <p class="text">A personal injury isn't always visible like a bruise or a broken bone; the words 'personal injury' describe many different types of harm that can befall you in your daily life. That's why our personal injury solicitors are experienced in dealing with everything from slips and trips to industrial disease. If a personal injury has been caused by someone else, you will often be able to claim compensation for the injuries sustained. The majority of our personal injury claims are made on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee</span></a> basis.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do I have a claim?</h2>
  <p class="text">Everyone is entitled to go about their everyday life in safety. Unfortunately, the fact is that every year tens of thousands of people in the UK are injured or made ill by the carelessness or negligence of others. When an incident occurs which causes you to be injured or become ill, due to someone else's carelessness or negligence, you may be able to claim compensation. Slater and Gordon handle thousands of personal injury claims, for all types injuries and illnesses.</p>
  <p class="text">In short, if you've sustained a personal injury that wasn't your fault - even if you were partly at fault - we're here to help. Talk to us today about making a No Win No Fee personal injury claim. </p>
  <a href="/contact-us/" class="button button--secondary">Contact a legal expert today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much is my personal injury claim worth?</h2>
    <p class="text">Every personal injury claim is different, so the final figure you might receive depends on a number of factors such as the severity of your injuries and any other damages that need to be claimed for such as loss of earnings. <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">Click here to learn what you can claim for</span></a>.</p>
    <p class="text">We handle a large proportion of personal injury compensation cases on a No Win No Fee<span class="text--bold"> </span>basis, and will often seek interim payments where possible to help you avoid hardship caused by any personal injury or illness that wasn't your fault. </p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What is a No Win No Fee personal injury claim?</h2>
    <p class="text">If you've been harmed and someone else was to blame, you have the right to seek compensation without any financial risk to you. That's why we handle the vast majority of personal injury cases on a No Win No Fee basis, to give you the confidence to ask for rightful compensation but without taking any financial risks. <a href="/personal-injury-claim/no-win-no-fee-claims/faq/" class="link link--inline"><span class="link__text">Click here to learn more about our No Win No Fee claims</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Are Slater and Gordon the right claims firm for me?</h2>
    <p class="text">When you've suffered a personal injury, you need solicitors you can talk to and trust. We are proud of our 90+ years experience we have in house and the many cases we've won, don't take our word for how good we are. Instead, listen to what some of our valued clients have to say about us.</p>
</div>
