<div class="inner-block">
  <p class="text"> When it comes to minor pothole damage to your vehicle or bicycle, you can claim compensation directly from the council or highway authority responsible for taking care of the road where the incident took place. If however you have been injured in a pothole related accident, Slater and Gordon's extensive experience can help you get the compensation you deserve. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts.</p>
</div>
