<div class="inner-block">
  <h2 class="text text--heading text--large">I've been injured by a pothole. What are my rights?</h2>
  <p class="text">If you're a cyclist it's quite likely that hitting a pothole in a badly-maintained road will at least damage your bike, and quite possibly cause you injury as a result.<span class="text--bold"> </span>It's also likely when driving that if you hit a pothole, you may damage your wheel or possibly suspension. In either case, your local council may be liable to pay you compensation. Importantly, if you have sustained any personal injury as a result of hitting a pothole, you should speak to an expert claims solicitor right away. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Tips For Bringing a Legal Claim Following Damages Caused by a Pothole</h2>
  <p class="text"><a href="https://www.youtube.com/watch?v=ho_VjSG3oyA" class="link link--inline" target="_blank"><span class="link__text">https://www.youtube.com/watch?v=ho_VjSG3oyA</span></a></p>
  <p class="text">Senior personal injury lawyer, Michael Hardacre, discusses a local authority's responsibilities for potholes and provides tips for bringing a legal claim following damage caused by a pothole.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is a pothole?</h2>
  <p class="text">Pothole is the standard name for any opening in a road surface caused by water seeping into cracks, before freezing in cold weather causing the water to expand and open up fissures and holes. In some cases, these are so insignificant that you can drive or ride over them with ease; however, some potholes are so deep that they are highly likely to cause damage to vehicles and in some cases cause serious injury, especially if you're cycling. There is no fixed definition for the size of a pothole, but most councils define them as being at least 40mm deep and will resist compensation claims where they are shallower than this.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What do I do if I hit a pothole?</h2>
  <p class="text">Unfortunately, if you are a cyclist you are quite likely to come off your bike and suffer an injury if you hit a pothole. However, it is important to record details of the pothole as soon as possible: to ensure that it can't harm anyone else as much as to enable you to claim for injuries and damage to your bike. So if you are unable to record details of the pothole, you may have to get a friend or family member to carry out the recommended actions below as soon as possible – <span class="text--bold">ensuring that no-one places themselves in harms way to do so.</span></p>
  <p class="text">1. <span class="text--bold">Assess the damage to your car or bike:</span> even if you are not injured, you still need to ensure that your car or bike is safe to proceed.</p>
  <p class="text"><span class="text--bold">• </span>Drivers should make sure that tyres are still intact, with no 'steel belt' showing and no bulges in the sidewalls. You should also grip either side of the tyre with both hands and check that there is no significant movement that could indicate wheel bearing or suspension damage</p>
  <p class="text"><span class="text--bold">• </span>Cyclists should inspect their bikes carefully, making sure that not only are the tyres undamaged, but that forks are straight and handlebars are properly aligned</p>
  <p class="text">If you are satisfied that your car or bike is safe and undamaged, you should then proceed with caution, though drivers should listen for unusual noises, and watch out for other signs of damage, such as the car pulling to one side when braking. You should also note the location of the pothole so that you can inform the local council of its existence as soon as possible to help keep others safe. You can also report the pothole using this<a href="https://www.gov.uk/report-pothole%5D" class="link link--inline" target="_blank"><span class="link__text"> </span></a><a href="https://www.gov.uk/report-pothole%5D" class="link link--inline" target="_blank"><span class="link__text">handy tool</span></a> on the Government's website.</p>
  <p class="text">2. <span class="text--bold">Get the contact details of any witnesses:</span> if there were any witnesses to the accident, it is a good idea to ask them for their names and contact details, as their statements may be crucial to the success of any claim.</p>
</div>
