<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading car accident claim firms, so we can help claim the injury compensation you deserve, even after a collision with an uninsured driver. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your accident</span></a> and we will call you.</p>
</div>
