<div class="inner-block">
  <p class="text">There's a general legal process when dealing with a personal injury claim for a road traffic accident.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Civil procedure rules and personal injury protocol</h2>
  <p class="text">The Civil Procedure Rules or CPR are the rules used by courts in England and Wales on civil cases. In Scotland, the rules are known as the <a href="https://www.gov.scot/policies/civil-courts/" class="link link--inline" target="_blank"><span class="link__text">Scots Civil Procedure</span></a>.</p>
  <p class="text">The personal injury protocol is the court action set out within the CPR with an aim to:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
       Encourage early exchange of information by both parties
    </li>
    <li class="bullet-list__item">
      Encourage early pre action investigations by both parties
    </li>
    <li class="bullet-list__item">
      Try to avoid court proceedings by reaching an agreement before that is necessary
    </li>
  </ul>
  <p class="text">Where court proceedings are necessary, it sets a court timetable of how the case will run.</p>
  <p class="text">Lawyers dealing with cases of road traffic accidents must follow these court rules and if either party fails to comply with this protocol, the court may impose sanctions, such as refusing permission to rely on certain evidence (like medical reports) or striking out the case (which means that the person making the claim won't receive compensation may be ordered to pay legal costs).</p>
  <p class="text">If you're pursuing a road traffic accident claim, the <a href="https://www.justice.gov.uk/courts/procedure-rules/civil/protocol/prot_pic#2.1" class="link link--inline" target="_blank"><span class="link__text">Personal Injury Pre-Action Protocol</span></a> states that your lawyer will have to send a Letter of Claim to the other party. This will set out the facts of the case including the circumstances of the accident, details of the injuries suffered and a basic summary of the financial loss incurred as a result. Once the other party receives the Letter of Claim, they have 21 days in which to respond, identifying their insurers. They will then have three months in which to investigate the claim and then respond confirming whether or not they accept responsibility for the accident.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Negotiations</h2>
  <p class="text">The CPR's Personal Injury Pre-Action Protocol states that negotiations should take place in order to settle the case before issuing court proceedings becomes necessary. If court proceedings are issued, negotiations should continue to take place in order to settle the claim successfully before a trial takes place.</p>
  <p class="text">Your lawyer should, when appropriate, try to negotiate successful settlement of the claim with the other side's insurers or lawyers. How long negotiations take place, and whether they are ultimately successful, will depend on what and how many issues are in dispute.</p>
  <p class="text">If an offer is received from the other party, your lawyer should carefully consider the offer based on the evidence and valuation of the claim. Your lawyer should then advise you on whether or not they believe you should accept the offer. Your lawyer should not accept or reject the offer without first taking instruction from you.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is a part 36 offer?</h2>
  <p class="text">A Part 36 Offer is an offer that either party can make to settle all or part of the claim prior to a final hearing. It's called a Part 36 Offer as it is referred to in Part 36 of the CPR.</p>
  <p class="text">For example, the other side may make an offer to accept 70% responsibility of the accident, or the medical expert may deliver their final prognosis which values your claim at £10,000 and you may want to make that offer to the other side. Whatever the offer by whichever party, your lawyer should provide you with clear advice on the options so that you can make a fully informed decision.</p>
  <p class="text">You should however be aware that if negotiations don't reach a settlement, and the matter goes to court, there may be costs consequences on the party who didn't accept the offer, such that they may have to pay additional costs and compensation. This can happen if, for example, a party fails to beat an offer made by another party.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What medical evidence will I need?</h2>
  <p class="text">In order to support your personal injury claim, your lawyer will need to <a href="/personal-injury-claim/illness/guide/" class="link link--inline"><span class="link__text">obtain medical evidence</span></a>. In order to do this, they will have to obtain your medical records and arrange for you to have an examination with an independent medical expert who specialises in providing medical reports for the court. This is known as a medico legal report.</p>
  <p class="text">The medico legal report will provide details of your injury and the medical expert's prognosis (their opinion as to if and when they believe you are likely to make a full recovery from your injuries).</p>
  <p class="text">During the medical examination, the expert should ask you questions about the accident and about your injuries. They should also ask about the impact the injuries have had on your everyday life, for example, is there anything you now struggle to do or have been unable to do.</p>
  <p class="text">If the medico legal report is unclear or there are elements you disagree with, your lawyer can put questions to the medical expert.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Treatment and rehabilitation</h2>
  <p class="text">When someone suffers an injury as a result of a road traffic accident, it's extremely important to ensure that they're able to access the best and most appropriate treatment and physiotherapy to get them back to, or as near to as possible, the condition they were in prior to the accident.</p>
  <p class="text">In cases where the injuries are more serious, research shows that eventual outcome of an injured person's condition is much better when they've had rehabilitation treatment which can maximise their chance of recovery and future independence. Lawyers who specialise in dealing with claims arising from serious life changing injuries should see it as an important part of their role to ensure that their clients have access to the best quality <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation</span></a>. That's why it's important that you choose your lawyer carefully.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Prognosis</h2>
  <p class="text">A personal injury claim for a <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">road traffic accident</span></a> can be settled before you have a final prognosis but in our expertise, this can lead to someone being undercompensated. This is the prediction of the final course of your medical condition. For example, if you've made a complete recovery from your injuries, a medical expert will report that you have fully recovered. If you've not made a full recovery, a medical expert should be asked to provide a final opinion on what will happen with your condition in the future, whether you'll be left with permanent symptoms and what impact this will have on your life.</p>
  <p class="text">This will allow your lawyer to review guidelines and similar cases in order to value your claim.</p>
  <p class="text">In some instances, it can be difficult to determine what the final prognosis is at an early stage as treatment and rehabilitation can have a significant positive impact on the final prognosis. This is also the case with children as they're still developing both physically and mentally. In such circumstances, your lawyer should not formally request an expert to provide a final prognosis until experts believe you've reached a stage where treatment and rehabilitation is unlikely to impact you further, or in the case of a child, where the child has developed into adulthood, aged at least 18 years.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Court hearing</h2>
  <p class="text">In most cases, negotiations will lead to a successful conclusion of a claim for road traffic accident injuries. However, there are occasions when a successful settlement can't be reached and the matter has to go to court so a judge can decide on the outcome of the case.</p>
  <p class="text">If your claim is valued at up to £25,000 (known in the legal industry as a fast track claim), the hearing is usually informal, with parties and representatives sat around a table with a judge each with questions being asked at various stages. Claims valued above £25,000 (known in the legal industry as multi track claims) are often more formal.</p>
  <p class="text">In either case, the judge will control evidence and restrict cross examination and your lawyer will usually ask you to attend earlier than your allotted court time to meet and run through what will happen.</p>
  <p class="text">Depending on the amount of evidence to be heard, some hearings can last several days. This can sometimes be the case where the nature of the injuries are severe and therefore medical evidence is extensive.</p>
  <p class="text">Once all the evidence has been heard, the judge will summarise the case and provide what is known as a Judgment. This is the Judge's final decision on the outcome of the case. The Judgment will include who wins the case, what monies should be paid and within what time period.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is a litigation friend?</h2>
  <p class="text">As children can't pursue their own claim, someone must be appointed to pursue the claim on their behalf. A person pursuing a claim on behalf of a child is known as a 'Litigation Friend'. </p>
  <p class="text">A Litigation Friend is usually a family member, such as a parent or a grandparent. The person acting as Litigation Friend on behalf of a child must act in the child's best interests. They also must not have any responsibility for the accident, i.e. if the child's father collides to the rear of another vehicle causing injury to his child who is a back seat passenger in his vehicle, he is unable to act as Litigation Friend for his child. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Court Approval</h2>
  <p class="text">A personal injury claim for a child involved in a road traffic accident has a very similar procedure to a claim for an adult. However, if a claim does involve a child, it must go through <a href="/personal-injury-claim/claiming-behalf/children-court-approval/" class="link link--inline"><span class="link__text">court approval in order to be valid</span></a>.</p>
  <p class="text">This means, when negotiations take place and both parties agree a final settlement figure, a hearing is set for a judge to review the medical evidence and approve the figure agreed. At the hearing, the judge may also make a provision that the compensation award, or part of that award, should be invested until the child reaches 18 years old.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who can make a claim on behalf of someone who has died from a road traffic accident?</h2>
  <p class="text">Only certain relations or family members are able to make a <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claim arising from the death of a loved one</span></a>. The people who can bring a claim are prescribed by law but the length is quite extensive. You should therefore contact a lawyer if you think you have a claim as a result of a loved one suffering a fatal injury due to a road traffic accident.</p>
  <p class="text">If the person who has passed away made a will, the Executor of the Estate may be required to pursue the claim on behalf of any dependents.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What compensation can be claimed?</h2>
  <p class="text">There are various claims which can be made in the event of someone's death. Each is dependent upon the circumstances and the person making the claim. These are:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Damages for the Estate: </span>A claim for damages can be brought on behalf of the Estate of your loved one. This includes compensation for their pain and suffering and any out of pocket expenses.<span class="text--bold"> </span>
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Bereavement damages:</span><span class="text--bold"> </span>This is a statutory award for the loss of a loved one. The amount due depends on the date of death. Bereavement damages are only available to specific family members.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Loss of dependency: </span>A person is a dependent if they were reliant upon the person who has died for income and/or services such as assistance with household chores or in caring for a relative. Compensation awarded would be to replace the loss of income and/or to provide alternative assistance.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Human Rights Act: </span>Not all family members are entitled to bring a claim for bereavement damages and where family members are not deemed as dependents of their loved one, this can leave them effectively uncompensated for a negligent death. Therefore, in certain circumstances, a claim can currently be brought under <a href="https://www.citizensadvice.org.uk/law-and-courts/civil-rights/human-rights/the-human-rights-act-1998/" class="link link--inline" target="_blank"><span class="link__text">the Human Rights Act 1998</span></a>. However, there's a special time limit for doing so of one year from the date of the incident that led to death.
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Psychiatric injury: </span>If you witnessed the incident involving your loved one, and have suffered a recognised psychiatric injury, you may be categorised as a secondary victim, and may be able to claim in your own right.
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is an inquest?</h2>
  <p class="text">An inquest is an independent judicial inquiry carried out by a Coroner to establish the identity of the person who has died, the place and time of their death and the cause of their death. It's a fact finding exercise and is not intended to apportion blame to any individual or organisation.</p>
  <p class="text">The length of time an inquest takes depends on what has happened and the issues that need to be explored. In our experience, they can be anything from 15 minutes to several days. <a href="/media-centre/blog/2018/11/what-is-an-inquest/" class="link link--inline"><span class="link__text">Read more here</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What happens at an inquest?</h2>
  <p class="text">Prior to an inquest taking place, the Coroner's staff may interview witnesses, take statements and fix a date for the inquest. The Coroner will request that the family of the person who has died attend the inquest along with those who were directly or indirectly involved with the death.</p>
  <p class="text">The Coroner will call witnesses to give evidence under oath and will ask them questions. Other parties such as the family or their legal representative are also permitted to ask questions.</p>
  <p class="text">Once all the evidence has been heard, the Coroner will record the findings, including the cause of death and in some cases, may decide to give a narrative conclusion which contains more detail about the events leading up to the death.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What will a legal representative do at an inquest?</h2>
  <p class="text">An inquest can be a daunting prospect and bereaved families are therefore entitled to legal representation. You should ensure you instruct a lawyer to represent you who specialises in inquests.</p>
  <p class="text">Legal representatives are instructed by bereaved families to represent their interests at the inquest. They can guide bereaved families through the process, ensuring any questions they have surrounding the death of their loved one are addressed and thoroughly investigated. Following the inquest, they can also explain the outcome of the inquest so the bereaved family have a full understanding.</p>
  <p class="text">In some cases, the Coroner will call a pre-inquest review meeting prior to the inquest taking place to discuss which witnesses are intended to be called and the statements to be admitted as evidence. Legal representatives are able to attend this on behalf of the family.</p>
  <p class="text">The majority of the road traffic accidents Slater and Gordon deal with are funded by way of a No Win No Fee agreement, also known as a Conditional Fee Agreement or CFA. <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">A No Win No Fee agreement</span></a> means exactly what it says – If you don't win your case, you will not have to pay any legal costs.</p>
  <p class="text">This is a fair way for those who've been injured as a result of someone else's negligence, to be compensated for their pain and suffering, as well as their financial losses, without having any financial risk to them.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">A guide to motor insurance legal policy</h2>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/guide-to-insurance-and-motor-claims/" class="link link--inline"><span class="link__text">Step 1: Taking out motor insurance and what to do if you are involved in an accident</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/legal-expense-insurance-claims/" class="link link--inline"><span class="link__text">Step 2: How can I pay for my claim and what can I claim for?</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/accident-fault/" class="link link--inline"><span class="link__text">Step 3: Determining who was at fault for a road traffic accident</span></a></p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/process/" class="link link--inline"><span class="link__text">Step 4: Road traffic accident claims process</span></a></p>
</div>
