<div class="inner-block">
  <p class="text">Public transport operators have a duty of care to ensure passenger safety at all times when travelling on their busses, trains, trams, etc.Public transport companies must ensure that any drivers they employ are suitably skilled, qualified and fit for the driving activities they're employed to do and are not at risk of endangering those that are using that particular mode of transport, pedestrians, other road users or passengers waiting on a platform, etc.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Bus Drivers</h2>
  <p class="text">Although there is no upper age limit, bus drivers are required by law to <a href="https://www.gov.uk/driving-licence-renewal-after-45-lorry-minibus-bus" class="link link--inline" target="_blank"><span class="link__text">renew their licence every year</span></a> and provide a medical report declaring that they are fit to drive. The DVLA's <a href="https://www.gov.uk/government/publications/assessing-fitness-to-drive-a-guide-for-medical-professionals" class="link link--inline" target="_blank"><span class="link__text">minimum medical standards for drivers</span></a> sets out the medical conditions that must be reported.</p>
  <p class="text">A guidance document from the Health and Safety Executive advises employers on <a href="http://www.hse.gov.uk/pubns/indg382.pdf" class="link link--inline" target="_blank"><span class="link__text">managing work-related road safety</span></a> and asks employers the question: "Are your drivers sufficiently fit and healthy to drive safely and not put themselves or others at risk?"</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Train Drivers</h2>
  <p class="text">In order to drive a train, train drivers not only need a licence but also a certificate to accompany it. Licences are valid for 10 years and won't be renewed unless the Office of Rail and Road (ORR) are satisfied that the holder completes any relevant examinations and continuous training. Train drivers also need to pass periodic medical and psychological examinations to ensure they're fit to continue driving trains and still adhere to professional standards.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Tram Drivers</h2>
  <p class="text">Tram drivers need to have held a full UK driving licence for a minimum of three years with no current points. Although there's no specific safety legislation for tramways and light rail, assessments are carried out using the same criteria for heavy rail (trains), but tailored for light weight and lower speed operation. There's also some<a href="http://www.ukroads.org/webfiles/highway_legislation_for_tramcars_technical_guidance_note4.pdf" class="link link--inline" target="_blank"><span class="link__text"> </span></a><a href="http://www.ukroads.org/webfiles/highway_legislation_for_tramcars_technical_guidance_note4.pdf" class="link link--inline" target="_blank"><span class="link__text">safety legislation relating to highways which affects tramways and light rail</span></a>. When there are safety issues on individual systems, these are dealt with by field inspectors who specialise in tramways and light rail.</p>
  <p class="text">Employers should ensure that employees of all ages and abilities not only pass their annual medicals as required by law but also work appropriate shifts to ensure they're not at risk of becoming tired or overworked whilst on duty in charge of operating public transport.</p>
  <p class="text">Slater and Gordon Lawyers offer a free consultation for anyone injured in an<a href="/personal-injury-claim/road-traffic-accidents/public-transport-claims/" class="link link--inline"><span class="link__text"> </span></a><a href="/personal-injury-claim/road-traffic-accidents/public-transport-claims/" class="link link--inline"><span class="link__text">accident on public transport</span></a>. Call us anytime 24/7 on {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>.</p>
  <p class="text">Sources:</p>
  <p class="text"><a href="http://www.hse.gov.uk/pubns/indg382.pdf" class="link link--inline" target="_blank"><span class="link__text">http://www.hse.gov.uk/pubns/indg382.pdf</span></a></p>
  <p class="text"><a href="http://www.hse.gov.uk/pubns/indg382.pdf" class="link link--inline" target="_blank"><span class="link__text"></span></a><a href="https://orr.gov.uk/rail/licensing/train-driving-licences-and-certificates" class="link link--inline" target="_blank"><span class="link__text">https://orr.gov.uk/rail/licensing/train-driving-licences-and-certificates</span></a></p>
  <p class="text"><a href="https://orr.gov.uk/rail/licensing/train-driving-licences-and-certificates" class="link link--inline" target="_blank"><span class="link__text"></span></a><a href="http://www.legislation.gov.uk/uksi/2010/724/contents/made" class="link link--inline" target="_blank"><span class="link__text">http://www.legislation.gov.uk/uksi/2010/724/contents/made</span></a></p>
  <p class="text"><a href="http://www.legislation.gov.uk/uksi/2010/724/contents/made" class="link link--inline" target="_blank"><span class="link__text"></span></a><a href="https://orr.gov.uk/about-orr/who-we-work-with/railway-networks/light-rail-and-tramways" class="link link--inline" target="_blank"><span class="link__text">https://orr.gov.uk/about-orr/who-we-work-with/railway-networks/light-rail-and-tramways</span></a></p>
</div>
