<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading consumer legal firms with PTSD compensation claim experts, helping military personnel to claim the compensation they deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or tell us about your PTSD and we will call you.</p>
</div>
