<div class="inner-block">
  <h2 class="text text--heading text--large">What is Post-Traumatic Stress Disorder?</h2>
  <p class="text">Post-Traumatic Stress Disorder (PTSD) is now recognised as a serious condition that can leave sufferers depressed, anxious and unable to live their lives the way they did before the trauma occurred. As it's caused by the fear of imminent death and other traumas, it is fairly common amongst military personnel and veterans. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for PTSD caused by military service?</h2>
  <p class="text">While danger is inherent in combat operations, you may be eligible to claim compensation for PTSD under certain circumstances, such as where:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Extreme danger resulted from negligence
    </li>
    <li class="bullet-list__item">
      Reasonable precautions weren't taken
    </li>
    <li class="bullet-list__item">
      Officers failed to recognise the symptoms of PTSD
    </li>
    <li class="bullet-list__item">
      Medical Officers failed to correctly diagnose PTSD
    </li>
  </ul>
  <p class="text">So if you believe that your PTSD resulted from these or other failings by others, you owe it to yourself to talk to one of our military experts today.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are there any other causes of PTSD?</h2>
  <p class="text">Many people are affected by PTSD: from fire crews and police officers who deal with death every day,  to those who have simply witnessed an horrific incident or had an unexpected brush with death. So if you suffer flashbacks, depression, anxiety, nightmares, or any other symptoms of PTSD, resulting from events that were not your fault, talk to one of our experienced and understanding solicitors about claiming compensation.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">The Armed Forces Compensation Scheme (AFCS)</h2>
    <p class="text">There are a number of Government compensation schemes for forces personnel suffering from both physical injuries and PTSD. These are administered by Veterans UK and you can find out more about <a href="/personal-injury-claim/accident-at-work-compensation/military/armed-forces-compensation-scheme/" class="link link--inline"><span class="link__text">these schemes here</span></a><span class="text--bold">.</span></p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What can PTSD compensation pay for?</h2>
    <p class="text">There are two ways in which PTSD compensation can help you. Firstly, it can help to compensate you for loss of earnings, if your symptoms are preventing you from working and earning as much as you would be able to without PTSD. Just as importantly, there are a number of therapies that are proven to alleviate the symptoms of PTSD, and any compensation claim we undertake on your behalf will include a sum to help <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">pay for rehabilitation</span></a><a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text"> </span></a><span class="text--bold"></span><a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">treatments</span></a><span class="text--bold"></span> including:</p>
    <p class="text">Eye Movement Desensitisation and Reprocessing (EMDR): helps to prevent difficult memories from causing stress by helping the brain to reprocess them</p>
    <p class="text">Cognitive Behavioural Therapy (CBT): helps you to come to terms with bad experiences by changing the way you see them</p>
    <p class="text">Group Psychotherapy: helps you to deal with difficult memories by confronting them in the company of a group that has shared similar experiences</p>
    <p class="text">If you're suffering from the symptoms of PTSD - as a result of military service or any traumatic events - talk to one of our experienced and understanding legal experts about making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim today</span></a>.</p>
    <a href="/contact-us/" class="button button--secondary">Talk to a specialist today</a>
</div><div class="inner-block">
      <h2 class="text text--heading text--large">How much is my PTSD claim worth?</h2>
      <p class="text">As you would expect, every claim is different, with the final figure for compensation dependent upon the severity of your symptoms as well as the length of time that your recovery may take. Yet our expertise is not just in securing compensation for our clients, it's also in understanding the need for rehabilitation and the support that you and your family will need right away. That's why we take most military injury cases on a No Win No Fee basis, and why obtaining interim payments to help you avoid hardship is often central to our approach.</p>
</div>
