<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading public injury claims firms, with lawyers specialised in claim compensation for injuries caused on public transport. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts.</p>
</div>
