<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of public injuries can I claim for?</h2>
  <p class="text">As we explain on our <a href="/personal-injury-claim/injury-in-public/" class="link link--inline"><span class="link__text">Public Injury Compensation page</span></a>, injuries that are due to the negligence of other people can happen in all sorts of ways, and in all sorts of places. Importantly, if you are injured in a public place, there are a number of key steps you need to follow in order to make a successful injury compensation claim. That's because claims can only succeed if your claims solicitor has the evidence they need. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What should I do immediately after an injury?</h2>
  <p class="text">Amongst the most common forms of accident that give rise to a <a href="/personal-injury-claim/injury-in-public/public-liability-insurance/" class="link link--inline"><span class="link__text">Public Liability Insurance</span></a> claims are:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Slipping on unmarked liquid spillages
    </li>
    <li class="bullet-list__item">
      Tripping over hazards
    </li>
    <li class="bullet-list__item">
      Being hit by falling objects
    </li>
    <li class="bullet-list__item">
      Being harmed by careless cleaning
    </li>
    <li class="bullet-list__item">
      Being injured by faulty equipment
    </li>
  </ul>
  <p class="text">Naturally, if you are badly hurt, the first thing you need to do is to seek medical attention. If you are able to, however, you or a friend should try to take photographs of your injury and whatever caused it as soon as possible, as well as asking for the contact details of any witnesses. </p>
  <p class="text">If you are in a building such as a supermarket or museum, for example, you should also make sure that a member of staff is aware of the incident, and willing to note it in the 'accident book' that most buildings keep to record accidents and injuries. </p>
  <p class="text">If you are in the open, such as in a private car park, you should try to note any address details on signs to help your solicitor when you start your claim, as well as whether there are any CCTV cameras around. You should then write down all the facts you can remember about the incident as soon as possible.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What evidence will my solicitor need?</h2>
  <p class="text">Even the most experienced claims solicitors need evidence to help you claim rightful compensation. So when you instruct your solicitor, you should try to have as much evidence like this to hand as possible:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Photos of the scene of the accident
    </li>
    <li class="bullet-list__item">
      Photos of any injuries
    </li>
    <li class="bullet-list__item">
      Contact details of any witnesses
    </li>
    <li class="bullet-list__item">
      Any medical records that relate to the injury
    </li>
    <li class="bullet-list__item">
      The name of the land/building owner, if known
    </li>
    <li class="bullet-list__item">
      Details of any CCTV cameras in the vicinity
    </li>
    <li class="bullet-list__item">
      The notes you wrote immediately after the incident
    </li>
  </ul>
  <p class="text">Once they have all this, your solicitor will be able to decide if your claim is likely to succeed based on the evidence, and to start investigating to find out who is liable, as well as whether or not they hold Public Liability Insurance.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I choose a solicitor to act for me?</h2>
  <p class="text">When you have been hurt due to someone else's negligence, you are fully entitled to claim compensation for loss of earnings and rehabilitation, as well as for your pain and distress. So you should always seek a legal firm that is not only committed to seeking justice for the victims of negligence, but that also offers its clients peace of mind. At Slater and Gordon, for example, we handle around 98% of <a href="/personal-injury-claim/medical-assessment/" class="link link--inline"><span class="link__text">injury compensation claims on a No Win No Fee basis</span></a>, to avoid people having to worry about owing us money if their claim should be unsuccessful.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
  <p class="text">There is no set rule for how much compensation you might receive for a public injury. This very much depends on the extent of your injuries and how long it is expected that a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment or rehabilitation</span></a> that may be required.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long will I have to make a claim?</h2>
  <p class="text">The law sets a time limit of three years from the date of an accident in which to start a claim, though you may be allowed longer if you are <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claiming on behalf of a child or someone with mental impairment</span></a>. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long will my compensation claim take?</h2>
  <p class="text">This often depends on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries</span></a> are as well as whether the responsible party's Public Liability Insurers accept liability. However, we always aim to pursue claims as efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin rehabilitation immediately.  </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div><div class="inner-block">
    <p class="text">Slater and Gordon is one of Britain's leading compensation firms for injuries sustained in a public place due to others' negligence. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your injury</span></a> and we will call you.</p>
</div>
