<div class="inner-block">
  <h2 class="text text--heading text--large">How could Public Liability Insurance help me?</h2>
  <p class="text">Public liability insurance is there to protect a business in case it or its activities cause injury or damage to a third party during the course of operation. This means that if you are injured and a business is at fault, their public liability insurance will cover the cost of any claim </p>
  <p class="text">In many of these cases, someone will have been negligent in some way or another: from failing to put their dog on a lead to forgetting to clean up a water spill on a shiny floor in an office block. That's why everyone from local authorities to local businesses carry public liability insurance, to make sure that people like you receive appropriate compensation for injuries on their land or premises that were not your fault.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How can I make a Public Liability Insurance claim?</h2>
  <p class="text">If you have been injured through no fault of your own in a public place, it may well be the case that the owner of the building or the land has a public liability insurance policy that you can claim against to receive compensation for your injuries, loss of earnings and <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">the cost of any rehabilitation</span></a>. This is, of course, dependent upon the policy holder having been negligent, as opposed to you being injured by something beyond their control, such as the actions of another member of the public. In the first instance, talk to one of our experts to see if you may be eligible to make a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee claim</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Is it compulsory for businesses to carry public liability insurance?</h2>
  <p class="text">Most public facing businesses will consider this kind of insurance completely essential as a single trip or slip due to negligence could put the company out of business.</p>
  <p class="text">Unlike employers liability insurance which is compulsory for virtually every company in the UK, public liability insurance is not compulsory; however most large suppliers and contractors require some form of public liability insurance before they will agree to work with a business, making it quite common.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What does public liability insurance cover?</h2>
  <p class="text">Public liability insurance is designed to help businesses cover any legal costs and compensation claims made against them by a third party who may have suffered an injury or property damage whilst on the business premises or when a business is conducting business at their premises or home address.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What does it not cover?</h2>
  <p class="text">Public liability insurance is designed to cover the public. So damage to a business's own property for example would not be covered; this would fall under standard business insurance. Another example is if an employee is injured on business premises, this would also not be covered and instead <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">employers liability insurance</span></a> would cover the employee in this scenario; which unlike public liability insurance is mandatory for most companies.</p>
</div>
