<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's foremost legal compensation claim firms for injuries sustained in a public place. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts.</p>
</div>
