<div class="inner-block">
  <h2 class="text text--heading text--large">We can help if you were injured on public transport</h2>
  <p class="text">Injuries on public transport might seem to be rare, however they happen quite frequently. Not only can collisions occur, but public transport such as trains and trams may also have, mechanised doors, luggage racks above head height from which items could fall and various other scenarios that could cause injuries, some of which could be life changing. </p>
  <p class="text">We find many people assume there is no one to blame, and simply get up and get on with their life, even after needing to go to hospital. Our expert lawyers can help advise you to whether or not you may have a claim, so make sure you get in touch today.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the most common injuries on public transport?</h2>
  <p class="text">Injuries on public transport vary massively, there is a wide variety of accidents and equipment that could potentially cause injury, below are the most common scenarios our clients have had to deal with:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      You may have <a href="/personal-injury-claim/road-traffic-accidents/whiplash/" class="link link--inline"><span class="link__text">suffered whiplash</span></a> after the bus or coach you where on collided with another vehicle
    </li>
    <li class="bullet-list__item">
      Injuries sustained during a train crash or a train coming to a sudden stop
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/road-traffic-accidents/claiming-against-uber/" class="link link--inline"><span class="link__text">Crashes whilst in an uber or taxi as a passenger</span></a>
    </li>
    <li class="bullet-list__item">
      Limbs getting trapped between a tram and the platform
    </li>
    <li class="bullet-list__item">
      Violence and abuse from other passengers
    </li>
  </ul>
  <p class="text">No matter how you were hurt, if it was not your fault you may be owed compensation. Our trained team of legal experts are waiting for your call to offer a free telephone consultation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I was hurt at work, can I still claim?</h2>
  <p class="text">In the vast majority of cases if a member of the public is injured on or by a form of transport, the transport company's <a href="/personal-injury-claim/injury-in-public/public-liability-insurance/" class="link link--inline"><span class="link__text">public liability insurance</span></a> can be claimed against to pay for any compensation owed, however this does not cover employees. If you work for a transport company and you were injured at work, legally your employer has to have <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">employers liability insurance</span></a> to cover them against any compensation claims. Therefore you will still be able to make a claim. <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Click here for more information on claiming for an injury at work</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I make a compensation claim?</h2>
  <p class="text">If you have been injured and it was not your fault, it is key to get in touch with a specialist personal injury lawyer as soon as possible because there are time limits on making claims.</p>
  <p class="text">It is important that you note down what happened so that you do not forget the details later on. Any photographs of accidents are also important. Make sure that it is safe to do so before taking any photos near roads for example. It is also worth taking the names and contact details of any witnesses. Lastly copies of medical records and even photographs of injuries are helpful when it comes to claiming.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
  <p class="text">There is no hard and fast rule for how much compensation you might receive for an injury received on or by public transport. This all depends on the extent of your injuries and how long it is expected that a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment or rehabilitation</span></a><span class="text--bold"> </span>that may be required. <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">Click here for more information on what you can claim for</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long do I have to make a claim?</h2>
  <p class="text">The law generally allows a time limit of three years from the date of an accident in which to start a claim, though longer may be allowed if you are <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claiming on behalf of a child or someone with mental impairment</span></a>. </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div>