<div class="inner-block">
  <h2 class="text text--heading text--large">How we can help</h2>
  <p class="text">Access to high quality rehabilitation is one of our top priorities for victims of personal injury. Whilst some injuries might seem minor they can take years of high quality rehabilitation to heal or might even require lifelong management. This is why we make sure rehabilitation is considered in every personal injury case we take on.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How important is rehabilitation after serious injury?</h2>
  <p class="text">It's impossible to underestimate the importance of rehabilitation after a serious injury. Loss of an ability can only become worse if it's left alone in the long term. That's why we make the pursuit of <a href="/personal-injury-claim/serious/interim-payments/" class="link link--inline"><span class="link__text">early interim payments a key part of our strategy</span></a> when handling serious injury cases on behalf of our clients. Often these are necessary to avoid financial hardship to families where the main breadwinner has been rendered unable to work. But in almost every case, these payments make early rehabilitation possible: whether that means physiotherapy, specialist nursing care, a specially adapted vehicle or <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">house adaptations</span></a>. However serious your injury, we're here to help you start living the fullest life possible, as soon as possible. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of rehabilitation is possible?</h2>
  <p class="text">Naturally, rehabilitation means different things to different people, depending on the type and seriousness of your injury. However, we're committed to making rehabilitation available to all of our injury compensation clients, by pursuing early interim payments whenever possible, and by making the cost of rehabilitation a key part of the overall compensation settlement. Here are a few examples of what rehabilitation payments might be used for:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Physiotherapy
    </li>
    <li class="bullet-list__item">
      Specialist nursing
    </li>
    <li class="bullet-list__item">
      Occupational therapy
    </li>
    <li class="bullet-list__item">
      Speech therapy
    </li>
    <li class="bullet-list__item">
      Specially adapted housing
    </li>
  </ul>
  <p class="text">You can read more about the options on our rehabilitation page, and if you would like to discuss a No Win No Fee injury compensation claim with an expert, we're here to help.</p>
  <p class="text">A clinical case manager is someone who typically has a background in occupational therapy, social work or nursing. Their role is separate from the case and requires them to visit the injured client and assess their needs. Their report will contain a variety of recommendations, which can be acted upon with monies from interim payments.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are interim payments?</h2>
  <p class="text">Interim payments are payments that are made in advance while the total of compensation to be awarded is being decided. We can request these interim payments to be awarded when liability has been admitted and where you there may be an inability to work due to the injury sustained resulting in both a loss of earnings and a need for living adaptations and rehabilitation.</p>
</div>
