<div class="inner-block">
  <h2 class="text text--heading text--large">What is a repetitive strain injury?</h2>
  <p class="text">Repetitive strain injury occurs when the same tasks are repeated over and over again. They can occur in a number of workplace situations, including:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Production lines
    </li>
    <li class="bullet-list__item">
      Working in restricted spaces
    </li>
    <li class="bullet-list__item">
      Badly designed desk layouts
    </li>
    <li class="bullet-list__item">
      Repeated heavy lifting
    </li>
    <li class="bullet-list__item">
      Operating machinery
    </li>
  </ul>
  <p class="text">Use of vibrating machinery such as chainsaws and other power tools can also cause repetitive strain injuries and related injuries such as <a href="/personal-injury-claim/industrial-disease/vibration-injury/" class="link link--inline"><span class="link__text">Hand-Arm Vibration Syndrome (HAVS)</span></a>, which is the collective term for a range of conditions including<span class="text--bold"> </span>Vibration White Finger (VWF).</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of repetitive strain injury?</h2>
  <p class="text">Common symptoms include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Tenderness or pain
    </li>
    <li class="bullet-list__item">
      Stiffness
    </li>
    <li class="bullet-list__item">
      Cramp
    </li>
    <li class="bullet-list__item">
      Numbness
    </li>
    <li class="bullet-list__item">
      Throbbing
    </li>
    <li class="bullet-list__item">
      Tingling 
    </li>
    <li class="bullet-list__item">
      Weakness
    </li>
  </ul>
  <p class="text">If you have any of these symptoms in a part of your body that is constantly used at work - such as an elbow that repeatedly bends to pull a lever, for example - you should check out the advice on the <a href="https://www.nhs.uk/conditions/repetitive-strain-injury-rsi/" class="link link--inline" target="_blank"><span class="link__text">NHS website</span></a> or speak to your doctor about it. If diagnosed, you can then talk to one of our experts about claiming for <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">compensation on a No Win No Fee basis</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How might my employer be responsible?</h2>
  <p class="text">The law says that every employer has a duty of care to protect employees from suffering harm in the workplace. Where your employer failed to foresee the harm that could be caused by your occupation, they could be said to have failed in their duty of care.<a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text"> Read more on the health and safety regulations</span></a> ensuring your workplace is safe and talk to a specialist solicitor to find out if your employer failed in their duty of care. </p>
  <a href="/contact-us/" class="button button--secondary">Contact us online today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Do I need a specialist repetitive strain injury lawyer?</h2>
    <p class="text">Industrial disease claims are quite a specialised area of the law, so it makes sense to deal with solicitors who have extensive experience and a track record of successful claims. Slater and Gordon employs specialist lawyers in every area of industrial disease compensation claims. Just as importantly, we understand that a repetitive strain injury can be a distressing condition, and aim to be as considerate and supportive as possible throughout the claims process.</p>
</div>
