<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading repetitive strain injury compensation claim firms, with a wealth of experience in understanding your injury and seeking rightful compensation. Contact us right away on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to a legal expert today.</p>
</div>
