<div class="inner-block">
  <h2 class="text text--heading text--large">What are the laws surrounding allergies when it comes to restaurants and cafes?</h2>
  <p class="text">As of December 2014 restaurants new food allergen labelling and information requirements came into force. These new rules require all businesses serving food to make sure that customers are provided with information about the use of allergenic ingredients, or alternatively, to direct a customer to where that information can be found.</p>
  <p class="text">Before this, in many restaurants you were required to ask staff for further information. However, if they were not trained correctly, it could lead to serious life threatening or sometimes fatal consequences.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are all eateries, even small back street cafes obliged to abide by regulations when it comes to protecting customers who have allergy problems?</h2>
  <p class="text">Yes. What you tend to see in most establishments that serve food, whether large or small, is a direction to the customer, to ask a member of staff.  It's obviously therefore essential that all staff members have full training and understanding of the items on the menu or of what is being sold and what allergenic ingredients they contain. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What food items does the new law cover?</h2>
  <p class="text">According to <a href="https://www.food.gov.uk/business-guidance/allergen-labelling-for-food-manufacturers" class="link link--inline" target="_blank"><span class="link__text">the food standards agency</span></a> there is a list of 14 foods that are required to be correctly labelled, these are:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Celery
    </li>
    <li class="bullet-list__item">
      Cereals containing gluten
    </li>
    <li class="bullet-list__item">
      Crustaceans – e.g. prawns, crabs and lobsters
    </li>
    <li class="bullet-list__item">
      Eggs
    </li>
    <li class="bullet-list__item">
      Fish
    </li>
    <li class="bullet-list__item">
      Lupin (a legume belonging to the same family of plants as peanuts).
    </li>
    <li class="bullet-list__item">
      Milk
    </li>
    <li class="bullet-list__item">
      Molluscs – e.g. mussels and oysters
    </li>
    <li class="bullet-list__item">
      Mustard
    </li>
    <li class="bullet-list__item">
      Tree nuts – e.g. almonds, hazelnuts, walnuts, brazil nuts, cashews, pecans, pistachios and macadamia nuts
    </li>
    <li class="bullet-list__item">
      Peanuts
    </li>
    <li class="bullet-list__item">
      Sesame seeds
    </li>
    <li class="bullet-list__item">
      Soybeans
    </li>
    <li class="bullet-list__item">
      Sulphur dioxide and sulphites (when there is more than a certain amount)
    </li>
  </ul>
  <p class="text">There are also rules around <a href="https://www.food.gov.uk/business-guidance/allergen-guidance-for-food-businesses#pre-packed-and-non-prepacked-foods" class="link link--inline" target="_blank"><span class="link__text">package labelling</span></a> and how clear this needs to be in terms of font size and there are directions on the use of clear, plain english so it is easy to understand and not misleading.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What should I do if I'm eating out and have food allergies?</h2>
  <p class="text">Make it clear to the restaurant staff that you have allergies. Also, do not be afraid to ask questions. Ask the waiting staff if they've had training on food allergies and cross-contamination. Also ask if you can speak to the chef or manager about meal options. Ask about the dishes, whether they're made in-house and if not, ask if the food labels are available to read yourself. Whatever you're unsure about, be confident enough to speak up.</p>
  <p class="text">If you've suffered a reaction to a meal in a restaurant and you believe they are to blame, what can you do?</p>
  <p class="text">If you've suffered an allergic reaction after eating out, make sure you keep the receipt for your purchase if you have one. If your allergic reaction has resolved relatively quickly and you just want to make sure the establishment knows about it, so they can do something about it or improve their training to make sure it doesn't happen again, then give them a call.</p>
  <p class="text">If you wish to take it further, you can. You must be told about potential allergenic ingredients in the food you are being sold. If you've explained clearly to the food establishment what your allergies are, but you've still been served contaminated food, then on the face of it, something has gone badly wrong and you may be able to claim compensation, depending on what injuries, if any, you've suffered as a result.</p>
</div>
