<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading illness claims firms, so we can help you receive the compensation you deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> and one of our legal experts will be in touch to talk to you about your illness.</p>
</div>
