<div class="inner-block">
  <h2 class="text text--heading text--large">What is my claim worth?</h2>
  <p class="text">The amount of compensation you might receive can vary significantly depending on the injury you have sustained. Slater and Gordon are specialists in claiming for everything from fairly minor to <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">serious injuries</span></a>. One common form of injury from car accidents is whiplash, but even this varies in degrees of severity. <a href="/personal-injury-claim/road-traffic-accidents/whiplash/" class="link link--inline"><span class="link__text">Find out more about whiplash claims.</span></a></p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How to claim for a road traffic accident</h2>
  <p class="text">The first step in finding out if you have a road traffic accident claim is to speak to our friendly team of expert solicitors, who can help you through the process from start to finish. We will gather information from you about the accident and quickly be able to assess the best way that we can help you. If we then take your case forward there will be someone there every step of the way.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much will it cost me to claim?</h2>
  <p class="text">The vast majority of our claims for road traffic accidents are conducted on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee</span></a> basis. This means that we bare all the upfront costs, meaning that there will only be a fee if we win your case, so you will never be out of pocket.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What can I claim for?</h2>
  <p class="text">As well as the costs of any medical bills, lost income and vehicle repairs <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">there are a variety of different elements you can claim for</span></a>. The amount of compensation tends to vary on the seriousness of the injury sustained and how much they affect your life.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Injured by a Hit and Run or Uninsured Driver?</h2>
  <p class="text">If you have been injured as a result of a hit and run accident, or a collision with an uninsured driver, we can often help, thanks to the <a href="https://www.mib.org.uk/reducing-uninsured-driving/what-we-do/" class="link link--inline" target="_blank"><span class="link__text">Motor Insurers' Bureau</span></a> (MIB) scheme. Get in touch to ask us about making a No Win No Fee claim through the MIB. </p>
  <a href="/personal-injury-claim/road-traffic-accidents/claim-against-uninsured-driver/" class="button button--secondary">Make an uninsured driver claim</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Fast track team for minor injuries</h2>
    <p class="text">What happens when we accept your case? If we believe that your injuries are not life changing and the claims process is straightforward, we will usually put your case straight through to our <a href="/personal-injury-claim/road-traffic-accidents/fast-track/" class="link link--inline"><span class="link__text">fast track team</span></a><span class="text--bold"> </span>in an effort to hasten you receiving compensation.<span class="text--bold"> </span>This specialist team combines vast experience and a streamlined case management system, to help cut down on everything from paperwork to how long it takes to receive compensation.</p>
    <p class="text">For a free consultation call us on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> and we will call you at your convenience.</p>
</div>
