<div class="inner-block">
  <h2 class="text text--heading text--large">Pleural plaques in Scotland</h2>
  <p class="text">The Scottish Parliament <a href="http://www.legislation.gov.uk/asp/2009/4/section/1" class="link link--inline" target="_blank"><span class="link__text">passed an act in 2009</span></a> which allowed people in Scotland who'd developed pleural plaques as a result of exposure to asbestos at work to claim compensation. This act was challenged but the decision was upheld by the UK Supreme Court in 2011.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are Pleural Plaques?</h2>
  <p class="text">Pleural plaques are scarring on the pleura, which is the protective membrane surrounding the lungs. The scarring is caused by the inhalation of asbestos fibres, over a long period of time, which lodge in the pleura. Pleural plaques are not dangerous in themselves and don't become cancerous.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of pleural plaques?</h2>
  <p class="text">In the majority, pleural plaques don't cause any symptoms, although some people diagnosed with pleural plaques have described slight breathlessness, and pain or discomfort when they're breathing. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How are pleural plaques diagnosed?</h2>
  <p class="text">Pleural plaques are usually diagnosed following an X-ray or CT scan. However, where there are no symptoms, pleural plaques are often found by accident when undergoing tests for another reason. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who can claim for pleural plaques?</h2>
  <p class="text">In 2007 the House of Lords ruled that anyone who had been exposed to asbestos during the course of their employment and had developed pleural plaques would no longer be able to claim compensation as it was not considered a compensatable injury. </p>
  <p class="text">In 2009 the Scottish Parliament passed an act allowing Scottish people to claim compensation for pleural plaques if they've been exposed to asbestos in Scotland. This means that in England and Wales, you're no longer able to claim compensation for pleural plaques. However, if you were exposed in Scotland you can. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can pleural plaques develop into a more serious asbestos related illness?</h2>
  <p class="text">Although pleural plaques can't develop into a more serious asbestos related illness, if you've been diagnosed with pleural plaques, this means that you have been exposed to asbestos and inhaled asbestos fibres and therefore the risk of developing another asbestos illness increases. </p>
  <p class="text">Other more serious asbestos related conditions include: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/mesothelioma/" class="link link--inline"><span class="link__text">Mesothelioma</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestos-lung-cancer" class="link link--inline"><span class="link__text">Asbestos related lung cancer </span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestosis/" class="link link--inline"><span class="link__text">Asbestosis </span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/pleural-thickening/" class="link link--inline"><span class="link__text">Pleural thickening</span></a> 
    </li>
  </ul>
  <p class="text">However, once your GP knows about your condition, it's likely that they'll arrange to carry out regular tests and monitor you to check for early signs of other asbestos related conditions. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What should I do if I've been diagnosed with pleural plaques?</h2>
  <p class="text">If you've been diagnosed with pleural plaques and you live in Scotland, or you've been diagnosed with pleural plaques as a result of exposure to asbestos at work in Scotland, contact us today. Our Scottish team of lawyers will take details of your condition and your exposure to asbestos and will provide expert advice on making a claim. </p>
  <p class="text">Slater and Gordon offer No Win No Fee agreements for pleural plaques claims, meaning if your case is unsuccessful, you won't have to pay a penny and therefore, there'll be no financial risk to you. </p>
  <a href="/contact-us/" class="button button--secondary">Contact a legal expert today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What should I do if I've been diagnosed with pleural plaques and was exposed in England or Wales?</h2>
    <p class="text">Although you're no longer able to make a claim for pleural plaques in England and Wales, Slater and Gordon keep an Asbestos Register for anyone who has been exposed to asbestos. This is so, in the event that you do go on to develop a serious asbestos condition, we'll have the right information to start your claim straight away. </p>
    <p class="text">Therefore, if you've worked with asbestos in the past, please complete our Asbestos Register.</p>
    <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/asbestos-register/" class="button button--secondary">Asbestos register</a>
</div>