<div class="inner-block">
  <h2 class="text text--heading text--large">Serious injury claims</h2>
  <p class="text">In every case, serious injuries can be life-changing - for families as well as those who've suffered a serious injury themselves - so our service is built around the need to provide support, understanding, <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation</span></a> and aftercare just as much as legal expertise.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much is my serious injury claim worth?</h2>
  <p class="text">As you might expect, every serious injury claim is different, with the final figure for compensation dependent upon the severity of the injury and the extent of recovery that may be possible. Our expertise is not just in securing much needed compensation for our clients, it's also in understanding the need for rehabilitation and the support that you and your family need right away, and perhaps for the rest of your lives. That's why we take most serious injury cases on a No Win No Fee basis, and why <a href="/personal-injury-claim/serious/interim-payments/" class="link link--inline"><span class="link__text">obtaining interim payments</span></a> to help you avoid hardship is often central to our approach. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Is there a time limit on my claim?</h2>
  <p class="text">The general rule is that a claim must be brought within three years. However, there are exceptions to that rule, such as if you're claiming on behalf of a child or someone with diminished mental capacity, or if the accident occurred while abroad. As there are exceptions to the three year rule, you should speak to a serious injury specialist as soon as you are able to ensure you're not out of time. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Can I make a No Win No Fee claim?</h2>
  <p class="text">When you or a family member has suffered a serious injury, it can often lead to financial worries too. That's why we undertake the vast majority of serious injury compensation claims on a No Win No Fee basis, so you have one less thing to worry about and don't have to take on any financial risk. </p>
</div>
