<div class="inner-block">
  <h2 class="text text--heading text--large">Why it is possible to claim compensation if you've been abused?</h2>
  <p class="text">If you've been sexually or physically abused, not only has a criminal offence been committed, but you've also suffered as a result. Just like with any other personal injury case, if you've been injured, either physically and/or psychologically, you should be compensated for your suffering. There can also be other costs which have been incurred when you have suffered from abuse, such as loss of earnings if you've been unable to work and treatment such as counselling. It's therefore important that not only do you get the justice you deserve, but also, you're compensated for your suffering and also any financial losses. </p>
  <p class="text">If you or a loved one have suffered from abuse, no matter how long ago it was, contact one of our experienced abuse lawyers. They're all caring people and good listeners, having supported so many people who have suffered abuse for so many years. So when you're ready to talk to someone, they're here to listen. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the most common types of abuse cases?</h2>
  <p class="text">There's never an excuse for physical, sexual or emotional abuse, and you have a right to be compensated for your suffering, no matter what type of abuse case you have. However, some of the most common types of abuse cases include:</p>
  <p class="text">• Abuse suffered as a child in local authority or foster care</p>
  <p class="text">• A failure by Social Services to protect a child from abuse</p>
  <p class="text">• Abuse by a person in a position of trust (such as a priest or teacher)</p>
  <p class="text">• Abuse suffered within the family</p>
  <p class="text">• Abuse of the elderly in a nursing or care home</p>
  <p class="text">• Sexual or physical abuse suffered as an adult</p>
  <p class="text">• A single incident of a sexual or physical assault</p>
  <p class="text">If you, a family member or a friend have been subjected to abuse, regardless of the situation, we are here to listen in confidence and advise you on whether you may be able to seek justice by claiming compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is historic child abuse?</h2>
  <p class="text">When someone has suffered abuse as a child, understandably, it can sometimes take them many years before they feel able to talk to someone about what happened to them, often when they're adults. When abuse happened many years ago, it's known as 'historic abuse'. It's also why the usual time limits for making a compensation claim doesn't always apply to abuse cases. However, it's best to speak to one of our specialist lawyers as soon as you feel able to talk.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Will everyone find out if I claim compensation?</h2>
  <p class="text">The law is very clear on this subject: victims of abuse are entitled to seek criminal and civil justice with total anonymity. So you can rest assured that everyone involved in helping you with your claim will keep everything totally confidential. <a href="/personal-injury-claim/sexual-criminal-abuse/confidentiality-anonymity/" class="link link--inline"><span class="link__text">Click here to find out more</span></a>. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What if the abuser is a high profile / public figure and may attract the media?</h2>
  <p class="text">Slater and Gordon's experts in abuse law have dealt with many high profile abuse cases over the years. We're very experienced when it comes to dealing with the press regarding abuse cases and ensuring anonymity for our clients. We're often asked by the press to comment on high profile cases given our expertise in this area of law. </p>
  <p class="text">We've acted for people who have suffered from abuse in many high profile cases, such as: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Jimmy Savile
    </li>
    <li class="bullet-list__item">
      Rolf Harris
    </li>
    <li class="bullet-list__item">
      Max Clifford
    </li>
    <li class="bullet-list__item">
      Stuart Hall
    </li>
    <li class="bullet-list__item">
      Cyril Smith 
    </li>
    <li class="bullet-list__item">
      Rochdale Exploitation Scandal 
    </li>
    <li class="bullet-list__item">
      Football Coach Scandal 
    </li>
    <li class="bullet-list__item">
      The Catholic Church
    </li>
    <li class="bullet-list__item">
      The Church of England 
    </li>
    <li class="bullet-list__item">
      The Methodist Church 
    </li>
    <li class="bullet-list__item">
      Johovah's Witnesses 
    </li>
    <li class="bullet-list__item">
      Chethams School of Music 
    </li>
    <li class="bullet-list__item">
      Durham Chorister
    </li>
    <li class="bullet-list__item">
      The Scout Association 
    </li>
    <li class="bullet-list__item">
      St John's Ambulance Service 
    </li>
    <li class="bullet-list__item">
      Ashdown House 
    </li>
    <li class="bullet-list__item">
      St Pauls / Colet Court
    </li>
    <li class="bullet-list__item">
      Hillside First
    </li>
    <li class="bullet-list__item">
      St Paul's Cathedral Choir School
    </li>
    <li class="bullet-list__item">
      St George's School
    </li>
    <li class="bullet-list__item">
      Barnardos
    </li>
    <li class="bullet-list__item">
      North Wales Child Abuse Scandal
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is the Criminal Injuries Compensation Scheme?</h2>
  <p class="text">Also <a href="/personal-injury-claim/sexual-criminal-abuse/abuse-criminal-injury/cica-faq/" class="link link--inline"><span class="link__text">known as CICA</span></a>, this is a Government scheme to compensate victims of criminal behaviour for their injuries, suffering and loss of earnings. If your case is suitable for a CICA claim, we may be able to fund it under what's known as a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">Contingency Fee Agreement </span></a>which works in a similar way to a No Win No Fee Agreement. So you can rest assured that there is no financial risk to making a claim for compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who would I have to talk to first?</h2>
  <p class="text">Every sexual abuse or assault claim begins when you feel ready to talk to one of our specialist abuse claims solicitors. Each of them has helped many abuse survivors, and respects the fact that it may be hard for you to talk about your experience. There's no rush and no pressure to start a case until you're absolutely sure it's what you want to do. If you'd like to see what sort of person you might be talking to, why not watch the video below. It doesn't just talk about what we could do for you, it also tells you why it matters to us to help abuse survivors.</p>
</div>
