<div class="inner-block">
  <p class="text">Slater and Gordon is one of Britain's leading injury compensation claim legal firms, offering No Win No Fee agreements in most cases. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your injury</span></a> and we will call you.</p>
</div>
