<div class="inner-block">
  <h2 class="text text--heading text--large">What are waivers for?</h2>
  <p class="text">A lot of people believe that signing a waiver immediately means you are not allowed to sue a venue or establishment if you're injured. However, this is simply not the case. A waiver is intended to inform the participants of an activity of the potential risk of harm. However, this doesn't mean they can be negligent or relinquish the duty of care that many of these establishments will have.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I signed a waiver. Can I still claim for an injury?</h2>
  <p class="text">Waivers are very popular with organisations such as gyms and companies who organise events, such as fun runs and charity abseiling. After all, they don't want to be sued by everyone who accidentally hurts themselves while they're on the premises or at the event. So waivers are perfectly legal and it's entirely reasonable for you to be asked to sign one. However, a waiver doesn't absolve event organisers or gym owners from having a proper duty of care towards people who have signed a waiver. So if you've been injured due to any of these things, you may still be able to claim for your injuries:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Faulty or dangerous equipment
    </li>
    <li class="bullet-list__item">
      Inadequate training
    </li>
    <li class="bullet-list__item">
      Poorly organised events
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/injury-in-public/slips-trips-falls/" class="link link--inline"><span class="link__text">Slips on unexpected wet surfaces</span></a>
    </li>
    <li class="bullet-list__item">
      Trips on uneven surfaces
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/injury-in-public/sports-injury/" class="link link--inline"><span class="link__text">Sporting accidents</span></a> (as a participant or spectator)
    </li>
  </ul>
  <p class="text">Naturally, if you were taking part in a fun run, for example, and you stumbled and fell, that would be simply bad luck. However, if you were hurt tripping over a hidden, man-made obstacle in the starting area, that might well be considered negligence by the organisers. Talk to one of our expert solicitors to see if <a href="https://www.legislation.gov.uk/ukpga/1977/50" class="link link--inline" target="_blank"><span class="link__text">the </span></a><a href="https://www.legislation.gov.uk/ukpga/1977/50" class="link link--inline" target="_blank"><span class="link__text">Unfair Contract Terms Act </span></a>could help you to make a claim, even if you have signed a waiver. </p>
  <a href="/contact-us/" class="button button--secondary">Contact a legal expert today</a>
</div>