<div class="inner-block">
  <h2 class="text text--heading text--large">What is silicosis?</h2>
  <p class="text">Silicosis is a serious industrial disease, in which the lungs are affected by long-term exposure to crystalline silica dust. This occurs in industries including mining, quarrying, sandblasting, stone masonry, construction, demolition, ceramics and glass making. Very fine dust is inhaled into the lungs, leading to inflammation and scar tissue, as well as <a href="/personal-injury-claim/industrial-disease/occupational-asthma/" class="link link--inline"><span class="link__text">occupational asthma</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of silicosis?</h2>
  <p class="text">Most people with silicosis first notice that their cough won't go away and they begin to feel short of breath. This can ultimately lead to persistent feelings of weakness and tiredness. It's important to seek medical advice if you suffer any of these symptoms, as well as to make sure you begin your claim for silicosis compensation within three years of your condition being diagnosed. To find out more about the symptoms of silicosis, <a href="https://www.nhs.uk/conditions/silicosis/" class="link link--inline" target="_blank"><span class="link__text">read more on the NHS website</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the long term effects of silicosis?</h2>
  <p class="text">Unfortunately, silicosis has serious long term effects on the health of sufferers. In some cases, respiratory failure can occur, and it is not unusual for related conditions to develop as a result of silicosis, including:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Tuberculosis
    </li>
    <li class="bullet-list__item">
      Lung cancer
    </li>
    <li class="bullet-list__item">
      Heart failure
    </li>
    <li class="bullet-list__item">
      Chronic Obstructive Pulmonary Disease (COPD)
    </li>
    <li class="bullet-list__item">
      Arthritis
    </li>
    <li class="bullet-list__item">
      Kidney disease 
    </li>
  </ul>
  <p class="text">These are just some of the reasons why it's essential to make a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No fee compensation claim</span></a> if you have been diagnosed with silicosis.</p>
  <a href="/contact-us/" class="button button--secondary">Contact a legal expert today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How might my employer be responsible?</h2>
    <p class="text">The law says that every employer has a duty of care to protect employees from suffering harm in the workplace. Where your employer failed to foresee the harm that could be caused by your occupation, or provide the protective gear specified, they could be said to have failed in their duty of care. <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">Read more on the health and safety regulations</span></a> that should be keeping all employees safe in the workplace.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">Do I need a specialist silicosis lawyer?</h2>
    <p class="text"><span class="text--bold"></span><a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">Industrial disease claims</span></a><span class="text--bold"></span> are quite a specialised area of the law, so it makes sense to deal with solicitors who have extensive experience and a track record of successful claims. Slater and Gordon employs specialist lawyers in every area of industrial disease compensation claims. Just as importantly, we understand the impact that this kind of diagnosis can have on sufferers and their families, and aim to be as considerate and supportive as possible throughout the claims process.</p>
</div>
