<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading silicosis compensation specialists, offering in-depth knowledge of the disease and claims process. Contact us right away on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to talk to a legal expert today.</p>
</div>
