<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading occupational dermatitis compensation specialists, with specialist knowledge of the condition's complications and claims process. Contact us right away on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> and we will call you.</p>
  <p class="text">Occupational dermatitis - also known as eczema - is the generic term used to describe skin irritation in the workplace. While dermatitis can be caused simply by constant exposure to sunshine or even water, the most common cause in the workplace is when chemicals or other irritants come into contact with the skin: sometimes leading to urticaria or even skin cancer. The <a href="http://www.hse.gov.uk/skin/professional/causes/agentstable1.htm" class="link link--inline" target="_blank"><span class="link__text">HSE lists some of the most common agents and irritants</span></a> linked with occupational dermatitis, which includes:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Alcohol
    </li>
    <li class="bullet-list__item">
      Degreasers
    </li>
    <li class="bullet-list__item">
      Cutting oils and coolants
    </li>
    <li class="bullet-list__item">
      Disinfectants
    </li>
    <li class="bullet-list__item">
      Petroleum products
    </li>
    <li class="bullet-list__item">
      Cleaning products
    </li>
    <li class="bullet-list__item">
      Chemicals
    </li>
  </ul>
  <p class="text">In many cases, occupational dermatitis or other skin conditions could have been be avoided simply by your employer issuing gloves or barrier products. This means that in the majority of such cases, an employer has been negligent.</p>
  <p class="text">The <a href="https://www.nhs.uk/conditions/contact-dermatitis/symptoms/" class="link link--inline" target="_blank"><span class="link__text">NHS website</span></a> describes the symptoms of contact dermatitis as being when the skin becomes red, inflamed, blistered, dry, thickened and cracked. These symptoms are similar to those of urticaria, which usually looks like a rash of red welts that itch intensely. In either case, it's wise to get a medical diagnosis in order to ensure prompt treatment and to rule out anything more serious. If your symptoms are caused by irritants at work, you should also consider talking to us about a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a>.</p>
  <p class="text">The law says that every employer has a duty of care to protect employees from suffering harm in the workplace. Where your employer failed to foresee the harm that could be caused by your occupation, or to ensure that you were prevented from having skin contact with harmful substances, they could be said to have failed in their duty of care. Talk to a specialist solicitor to find out if your employer failed in their duty of care and <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">read more on the health and safety regulations</span></a> that govern your safety in the workplace.</p>
  <p class="text">Contact dermatitis claims are quite a specialised area of the law, so it makes sense to deal with solicitors who have extensive experience and a track record of successful claims. Slater and Gordon employs specialist lawyers in every area of <a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">industrial disease compensation</span></a>. Just as importantly, we understand the need to take every industrial disease claim seriously and get our clients the compensation and medical treatment they deserve. </p>
</div>
