<div class="inner-block">
  <h2 class="text text--heading text--large">We're here to help with every slip, trip and fall injury</h2>
  <p class="text">While some people imagine that slipping on a wet floor or tripping over a loose paving stone can't be too serious, the truth is that slips, trips and falls can lead to <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">devastating life changing injuries</span></a>. That's partly because they often catch victims unawares, meaning that you aren't prepared for the impact that's about to happen. Many people assume that no one was to blame and simply put up with the injury. Yet we know that many accidents like this are caused by carelessness. So if you have been injured by a slip, trip or fall that you believe was caused by someone else's negligence, you should <a href="/contact-us/" class="link link--inline"><span class="link__text">speak to an expert</span></a><a href="/contact-us/" class="link link--inline"><span class="link__text"> </span></a><span class="text--bold"></span><a href="/contact-us/" class="link link--inline"><span class="link__text">claims solicitor</span></a><span class="text--bold"></span> today to find out if we can help.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I've been hurt by tripping over, do I have a claim?</h2>
  <p class="text">The most common reason for a slip, trip or fall claim is when you are in a public place where the owners should expect people to be walking around, yet the ground you are walking on is in an unsafe condition due to negligence. This can include:</p>
  <p class="text">·       Wet, slippery floors in public places like supermarkets and airports</p>
  <p class="text">·       Uneven flooring in public places including banks, offices and shops</p>
  <p class="text">·       Cracked, wobbly or uneven pavements</p>
  <p class="text">·       Unexpected obstacles that cause a tripping hazard</p>
  <p class="text">·       Inadequate lighting that makes it hard to see kerbs and other obstacles</p>
  <p class="text">So if you have had a slip, trip or fall in a public place that has led to you being injured, and you believe that it was caused by any of these reasons, you should ask us about making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee injury compensation claim</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">I was hurt at work, can I still claim?</h2>
  <p class="text">A large number of slip, trip and fall claims arise in the workplace; which is why every reputable employer carries <a href="/personal-injury-claim/injury-in-public/public-liability-insurance/" class="link link--inline"><span class="link__text">Public Liability insurance</span></a>, which will cover them in case visitors have an accident on their premises due to their negligence. In fact, you can claim wherever a slip, trip or fall has been caused by negligence: including your rented accommodation, if, for example, your accident has been caused by a tripping hazard that your landlord should have fixed. As long as you were not in your own home, or trespassing on private property, if your accident was caused by someone else's negligence, you may be able to claim compensation for your injuries. </p>
  <p class="text">Where an accident occurs in a public place and the <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">injured person is an employee</span></a>, the property owner's <a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text">Employer's Liability insurance</span></a> will cover them for any compensation claim which may arise. If you have had an accident in a public place where you are an employee, our Accident at Work<span class="text--bold"> </span>specialists can help. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who can I claim against?</h2>
  <p class="text">If you trip on a faulty pavement, the <a href="/personal-injury-claim/injury-in-public/council-highways-agency/" class="link link--inline"><span class="link__text">local council will usually be responsible</span></a>, whereas if you are in a public building, the owner will generally be liable. That's why most councils, landowners and public building owners carry Public Liability Insurance. This is an essential insurance policy, which ensures that money is available to pay for financial compensation and any necessary <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation</span></a><a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text"> </span></a><span class="text--bold"></span><a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">or medical expenses that arise</span></a><span class="text--bold"></span> from slips, trips or falls caused by negligence on the policyholder's land or premises.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I make a compensation claim?</h2>
  <p class="text">In the first instance, it's important to make sure you can prove that your slip, trip or accident occurred due to someone else's negligence. You should take photos of the location the incident took place, making sure that you capture the direct cause of your accident, such as an uneven paving stone for example. You should also try to get the contact details of any witnesses, as well as photographs of your injuries, and details of any medical treatment you received. If you are in a public building, you should also try to find out who owns it. Once you have gathered all of this evidence, it's time to discuss the possibility of making a No Win No Fee compensation claim with a specialist claims solicitor.</p>
  <a href="/contact-us/" class="button button--secondary">Get in touch today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
    <p class="text">There is no hard and fast rule for how much compensation you might receive for a slip, trip or fall injury. This all depends on the extent of your injuries and how long it is expected that a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the cost of any medical treatment or rehabilitation<span class="text--bold"> </span>that may be required.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long do I have to make a claim?</h2>
    <p class="text">The law generally allows a time limit of three years from the date of an accident in which to start a claim, though longer may be allowed if you are <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claiming on behalf of a child or someone with mental impairment</span></a>. However, it's worth noting that most slip, trip and fall compensation claims will require evidence to be presented, so you will need to make sure you have photographs or witnesses in addition to medical evidence, even if the accident occurred up to three years ago.  </p>
    <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div><div class="inner-block">
      <h2 class="text text--heading text--large">How long does a compensation claim take?</h2>
      <p class="text">This will often depend on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a> as well as whether a negligent party's insurers accept liability. However, we always aim to pursue justice for our clients as efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin rehabilitation as soon as possible.</p>
</div>
