<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading compensation claim firms, specialising in injuries caused by slips, trips and falls in public places. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts.</p>
</div>
