<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading personal injury law firms, dedicated to supporting clients as they rebuild their lives. Call us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your spinal injury</span></a> and we will call you.</p>
</div>
