<div class="inner-block">
  <h2 class="text text--heading text--large">We understand the challenges of spinal cord injuries</h2>
  <p class="text">Every spinal cord injury is serious, and some will be life-changing. Many spinal cord injury patients require special care and rehabilitation and in some cases adapted or new property. As lawyers who have secured substantial compensation payments for many people who've suffered a spinal cord injury, we understand the far-reaching changes that a spinal cord injury can mean to you and your family. We also understand the importance of seeking <a href="/personal-injury-claim/serious/interim-payments/" class="link link--inline"><span class="link__text">interim payments</span></a> in advance of a final settlement, to enable rehabilitation, household bills and even specially adapted housing to be paid for.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How much can I claim for a spinal cord injury?</h2>
  <p class="text">Naturally, every spinal cord injury is different, and the final amount of compensation awarded is based on factors including the cost of long-term care and loss of earnings as well as the loss of mobility. However, where spinal cord injuries result in paraplegia or tetraplegia, and are someone else is at fault, compensation payments in the millions of pounds are not uncommon. We can even help you claim for any <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">necessary house adaptations needed</span></a> to get you life back on track.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How am I going to pay for long-term care?</h2>
  <p class="text">One of the biggest worries for spinal injury patients and their families is about how long-term care will be funded. So it's important to understand that the cost of long-term care, medical costs, <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation and aftercare</span></a> over your entire lifetime is part of the overall calculation for the compensation settlement. We also strive to ensure that all your rehabilitation and other expenses such as necessary modifications to your home are taken care of as part of your claim.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do serious spinal cord injuries occur?</h2>
  <p class="text">Unfortunately, there are many serious spinal cord injuries in the UK every year, caused by a wide variety of accidents and eventualities. These are some of the causes we can help you with:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Spinal damage due to road traffic accidents</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Spinal damage due to an accident at work</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/injury-in-public/slips-trips-falls/" class="link link--inline"><span class="link__text">Spinal damage due to slips, trips and falls</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/clinical-and-medical-negligence-solicitors/" class="link link--inline"><span class="link__text">Spinal damage due to medical negligence</span></a>
    </li>
    <li class="bullet-list__item">
      <a href="/personal-injury-claim/accident-at-work-compensation/military/" class="link link--inline"><span class="link__text">Spinal damage due to military accident</span></a>
    </li>
  </ul>
  <p class="text">However it occurred, if your spinal injury was caused by someone else's negligence, you may be able to claim compensation to help you and your loved ones to live your lives to the fullest extent possible.</p>
</div>
