<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of sports injuries can I claim for?</h2>
  <p class="text">Most people play or watch sports for the excitement they bring, so it's hardly surprising that injuries occur almost everywhere that sports are enjoyed. Sometimes these are caused by simple accidents, with no one at fault. But where they are caused by recklessness or negligence, you may be able to claim compensation for your injuries. Sporting activities include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Gyms and sports centres: </span>
    </li>
  </ul>
  <p class="text">Many people can get injured at the gym, or taking part in a sporting activity at a sports centre, as a result of not listening to their doctor's advice or over exerting themselves. However, when training staff don't provide proper instructions, such as how to use equipment safely, and this causes you injury, you may be entitled to make a claim for compensation.  </p>
  <p class="text">Equipment and facilities should also be adequately maintained. If your injury occurs as a result of faulty equipment or slipping on a wet surface, you may be entitled to claim compensation. </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Horse riding:</span> 
    </li>
  </ul>
  <p class="text">Equestrian accidents are unfortunately common across the UK, with an approximate three million horse riders. The equestrian community are well aware that horse riding can be a very dangerous sport, where accidents can occur through no fault of anyone else. However, when instructors, stable owners, other riders or even <a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">road users have been negligent</span></a> and you sustain an injury as a result, you may be able to claim compensation. </p>
  <p class="text">If someone else is to blame for providing faulty saddles and riding equipment or not implementing proper safety procedure, and you suffer an injury as a result, you may be able to make a claim. We can help with a wide variety of <a href="/personal-injury-claim/injury-in-public/animals/" class="link link--inline"><span class="link__text">animal injury compensation claims</span></a>.</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Snow sports: </span>
    </li>
  </ul>
  <p class="text"><span class="text--bold"></span><a href="/personal-injury-claim/holiday-accident-claims/winter-skiing/" class="link link--inline"><span class="link__text">Snow sports, such as skiing and snowboarding</span></a><span class="text--bold"></span>, are popular sports, both in the UK and abroad, and can also be dangerous. If you suffer an injury as a result of faulty equipment, a fall on the slopes, inadequate training, others skiing or snowboarding recklessly, or any other reason which was not your fault, you may be able to make a claim. </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Motorsport: </span>There are many types of motorsports, from Formula 1 racing to go karting. Given the nature of the sport, there is obviously a dangerous element involved when taking part. There are occasions when accidents can occur due to no fault of the driver, but as a result of someone else's negligence. Where this is the case, you may be able to make a compensation claim for any injuries you've sustained as a result. 
    </li>
  </ul>
  <p class="text">The most common causes of motorsport accidents which result from someone else's negligence include: not providing adequate protective equipment for drivers (including helmets, gloves and overalls), not providing adequate supervision, not providing proper instructions of use and safety and not ensuring that the vehicles are properly maintained and are in full working order. </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Football / rugby: </span>
    </li>
  </ul>
  <p class="text">Accidents do happen as part of the game though most occur within the bounds of the rules and what's considered acceptable play. However, if serious incidents occur which are considered outside the bounds of acceptable play, such as dangerous tackles, reckless manoeuvres or violent, retaliatory behaviour, you may be entitled to make a claim. Negligent training such as poor or confusing coaching instructions, reckless training exercises and inadequate warm-up or preparation for matches can also lead to injuries which you may be entitled to claim for compensation. </p>
  <p class="text">Facilities should also be maintained to a good quality. If injuries are caused as a result of poor facilities, such as glass or chemicals on the pitch, spillages on indoor courts, badly maintained pitches which cause slips, trips and falls, you could be entitled to make a claim.</p>
  <p class="text">These are just a few examples however, if you believe you have a claim, speak to one of our sports injury compensation experts today. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to us</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What if I have signed a waiver?</h2>
    <p class="text">It isn't uncommon for sports venues or instructors to <a href="/personal-injury-claim/signed-a-waiver/" class="link link--inline"><span class="link__text">have you sign a waiver that says you accept all responsibility for injuries</span></a> arising out of your presence at or participation in a sport. While these are all well and good, they do not provide any sort of legal defence against negligence such as poor crowd control, faulty equipment or a lack of basic safety measures being taken. So if you have been injured while taking part in even sports such as rock climbing or mountain biking, or while watching a sporting event, talk to us to find out if you may have a claim.</p>
</div>
