<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading accident at work compensation claims law firms. The below guide will help you make sure you take the right steps after an injury at work. However, if you need any help, don't hesitate to contact our legal experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>.</p>
</div>
