<div class="inner-block">
  <h2 class="text text--heading text--large">What to do after an injury at work</h2>
  <p class="text">Accidents happen in the workplace. In the majority of cases, they're due to either employer negligence or a workmate failing to follow <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">health and safety rules</span></a>. If you're injured at work and it wasn't your fault, you may have to make a compensation claim to help make up for your <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">loss of earnings</span></a> and <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">pay for rehabilitation</span></a>. To make that as likely as possible, always follow these seven simple steps after receiving an injury at work:</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I deal with my employer?</h2>
  <p class="text">This is one of the questions we're most commonly asked when someone has had an injury at work. You have no need to worry about this, as your right to claim compensation for injuries caused by someone else's negligence is enshrined in law. That's why every employer is legally required to have at least<a href="/personal-injury-claim/accident-at-work-compensation/employers-liability-insurance/" class="link link--inline"><span class="link__text"> £5 million of employers' liability insurance</span></a> in place: to make sure they can pay any necessary compensation without damaging the company. It's also important to know that while you have to report the injury to your employer so it can go into the Accident Book, you shouldn't sign anything without first speaking to your lawyer, who will be happy to deal with your employer for you.</p>
</div>
