<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's best-known compensation claim firms, and we are here to help if you have been injured or made ill in a supermarket. Call us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to talk to one of our legal experts today.</p>
</div>
