<div class="inner-block">
  <h2 class="text text--heading text--large">I've been injured or made ill in a supermarket. Can I claim?</h2>
  <p class="text">A surprising number of injuries occur in Britain's supermarkets, thanks largely to slips on wet floors and trips on unexpected obstacles. Your natural instinct may be to simply pick yourself up and get on with your day. However, slips and trips like these can lead to long term injury problems, so it's worth getting an expert opinion on your injury, especially if it may mean you having to pay for physiotherapy or other medical treatment at some stage. So if you have been injured in a supermarket and someone else's negligence was to blame, you should talk to us about making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee injury compensation claim</span></a> today.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of accidents happen in supermarkets?</h2>
  <p class="text">Due to the fact that supermarkets are full of bottles and cartons of liquid, spills are inevitable, which are a recipe for disaster when combined with shiny supermarket floors. But spills aren't the only cause of supermarket accidents; uneven floors, hidden obstacles and even unstable shelves and displays can all lead to injuries. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">When might you have a claim for a supermarket accident?</h2>
  <p class="text">As with all compensation claims, the key factor lies in whether someone has been negligent. So if a liquid has just been spilled, for example, and you slip on it, it would be hard to prove that the supermarket owners have been negligent. However, if a spill had occurred some time ago, and hadn't been signposted or cleaned up, that would suggest quite a high degree of negligence. That's because any supermarket has to do the following to keep customers safe:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Follow the guidelines set by the <a href="http://www.hse.gov.uk/retail/slips-and-trips.htm" class="link link--inline" target="_blank"><span class="link__text">Health and Safety Executive</span></a>
    </li>
    <li class="bullet-list__item">
      Clear hazards or spillages quickly
    </li>
    <li class="bullet-list__item">
      Mark hazards or spillages
    </li>
    <li class="bullet-list__item">
      Maintain structures, or any equipment that could cause you harm
    </li>
    <li class="bullet-list__item">
      Keep the overall environment safe and free from contamination
    </li>
  </ul>
  <p class="text">Where they have failed to do so, and you have been harmed as a result, you may well be able to claim injury compensation based on the supermarket's negligence. Find out more about starting a No Win No Fee compensation claim. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I make a supermarket injury claim?</h2>
  <p class="text">Every successful compensation claim rests on being able to prove that the incident occurred and that someone else was negligent. So if you have been injured in a supermarket, it is essential to:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Tell staff immediately and ask them to record the incident
    </li>
    <li class="bullet-list__item">
      Take photographs of the site of the accident immediately, before warning signs are put in place or the obstacle has been removed
    </li>
    <li class="bullet-list__item">
      Take photographs of your injuries
    </li>
    <li class="bullet-list__item">
      Get copies of all medical records that relate to your injury
    </li>
    <li class="bullet-list__item">
      Get details of any witnesses
    </li>
    <li class="bullet-list__item">
      Write a record of what happened as soon as possible
    </li>
    <li class="bullet-list__item">
      Note if there are any CCTV cameras that may aid your case
    </li>
  </ul>
  <p class="text">We offer a more in depth guide of what to do in the <a href="/personal-injury-claim/injury-in-public/public-injury-guide/" class="link link--inline"><span class="link__text">event of an injury in a public place here</span></a>.</p>
  <p class="text">Doing all of this is the best way to prove negligence. That's because if you have slipped on a liquid spillage and there is no sign to warn you of its presence, the supermarket is more likely to be found negligent. You should then give all of this information to your solicitor when you begin your compensation claim.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to us about making a claim today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
    <p class="text">There is no set rule for how much compensation you might receive for a supermarket injury. This all depends on the extent of your injuries and how long it is expected that a full recovery will take. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment or rehabilitation</span></a><span class="text--bold"> </span>that may be required.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long do I have to make a claim?</h2>
    <p class="text">The law generally sets a time limit of three years from the date of an accident in which to start a claim, though longer may be allowed if you are <a href="/personal-injury-claim/claiming-behalf/" class="link link--inline"><span class="link__text">claiming on behalf of a child or someone with mental impairment</span></a>.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long does a compensation claim take?</h2>
    <p class="text">This usually depends on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a> as well as whether the negligent party's insurers accept liability. However, we always aim to pursue justice for our clients as efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin rehabilitation as soon as possible.  </p>
</div>
