<div class="inner-block">
  <h2 class="text text--heading text--large">Court of Protection</h2>
  <p class="text">Slater and Gordon has an experienced Court of Protection team who are there to support clients who have diminished mental capacity and their families during and after their personal injury claim, for however long they need us. We can assist with financial affairs and medical care, whether acting as a Deputy, dealing with Lasting Powers of Attorney, care provision or entitlement to public funding.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Independent Financial Planning Advice</h2>
  <p class="text">The Slater and Gordon Group has an independent financial planning company who can assist you with your future financial goals. They provide a range of services including investment services to ensure your compensation lasts and covers all your future needs, such as care, rehabilitation, treatment and aids or equipment, and enables you to live as full a life as possible after sustaining your injury. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Support Services</h2>
  <p class="text">There are a variety of charities and support service organisations for people who have suffered serious injuries and their families or bereaved families who've lost a loved one due to a fatal accident. These organisations are able to offer a range of additional help and support. </p>
  <p class="text"><span class="text--bold">Brake</span> is a charity that supports people and families affected by road accidents. Their aim is to make the streets and roads safer for everyone by working in schools and communities to educate people on the devastating effects of reckless and dangerous driving. </p>
  <p class="text"><a href="http://www.brake.org.uk/" class="link link--inline" target="_blank"><span class="link__text">http://www.brake.org.uk/</span></a></p>
  <p class="text"><span class="text--bold">CBIT: Child Brain Injury Trust</span> are a charity supporting families who's worlds have been turned upside down after a child has suffered a brain injury. They can help with practical and emotional support needed at such a difficult time.</p>
  <p class="text"><a href="https://childbraininjurytrust.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://childbraininjurytrust.org.uk/</span></a> </p>
  <p class="text"><span class="text--bold">CBUK: Child Bereavement UK</span> offer bereavement support to families when a child dies or is terminally ill, or when a child is facing bereavement after losing a parent or loved one.</p>
  <p class="text"><a href="https://www.childbereavementuk.org/" class="link link--inline" target="_blank"><span class="link__text">https://www.childbereavementuk.org/</span></a></p>
  <p class="text"><span class="text--bold">Disabled Living</span> is a charity dedicated to providing support and advice to disabled children and adults along with their families and carers. They believe in independent living for all and provide support and advice on the right aids and equipment. They also run the Kidz to Adultz exhibitions across the UK annually which are free to attend so everyone can learn about the various services and equipment available. </p>
  <p class="text"><a href="https://www.disabledliving.co.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.disabledliving.co.uk/</span></a></p>
  <p class="text"><span class="text--bold">Headway</span> is a charity that works with people and their families who have been affected with acquired brain injury to help improve lives after brain injury by providing vital support and information about local groups, rehabilitation, residential homes and respite care and much more.</p>
  <p class="text"><a href="https://www.headway.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.headway.org.uk/</span></a></p>
  <p class="text"><span class="text--bold">Once Upon a Smile</span> offer bereavement support to families and help them to deal with their grief and how to adjust to life after losing a loved one.</p>
  <p class="text"><a href="https://www.onceuponasmile.org.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.onceuponasmile.org.uk/</span></a></p>
  <p class="text"><span class="text--bold">Roadpeace</span> support victims of road crashes and those left bereaved. They campaign to fight for justice for victims and to reduce road danger.</p>
  <p class="text"><a href="http://www.roadpeace.org/" class="link link--inline" target="_blank"><span class="link__text">http://www.roadpeace.org/</span></a>  </p>
  <p class="text"><span class="text--bold">SIA: Spinal Injuries Association</span> is a charity who support people and their families affected by spinal cord injury. They understand just how much life can change after a spinal cord injury which is why they have a range of services to help you live a life that is as fulfilled as possible after your injury.</p>
  <p class="text"><a href="https://www.spinal.co.uk/" class="link link--inline" target="_blank"><span class="link__text">https://www.spinal.co.uk/</span></a></p>
</div>
