<div class="inner-block">
  <h2 class="text text--heading text--large">How do I live with mesothelioma, asbestos related lung cancer, asbestosis or pleural thickening?</h2>
  <p class="text">Given their impact on the lungs and other vital organs, asbestos-related illnesses aren't easy to live with. However, there are a number of extremely supportive organisations and charities that offer advice and support to everyone living with asbestos-related disease. They include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <a href="https://a-a-s-c.org.uk/" class="link link--inline" target="_blank"><span class="link__text">Asbestos Awareness and Support Cymru (AASC)</span></a>: 01495 272 2479
    </li>
    <li class="bullet-list__item">
      <a href="http://www.asbestossupportwm.org/" class="link link--inline" target="_blank"><span class="link__text">Asbestos Support West Midlands</span></a>: 0121 678 8853
    </li>
    <li class="bullet-list__item">
      <a href="https://www.cavsg.com/" class="link link--inline" target="_blank"><span class="link__text">Cheshire Asbestos Victims Support Group (CAVSG)</span></a>: 01928 576 641
    </li>
    <li class="bullet-list__item">
      <a href="https://asbestossupport.co.uk/" class="link link--inline" target="_blank"><span class="link__text">Derbyshire Asbestos Support Team (DAST)</span></a>: 01246 380 415
    </li>
    <li class="bullet-list__item">
      <a href="https://disabilityfirst.org/" class="link link--inline" target="_blank"><span class="link__text">Disability First</span></a>: 0125 347 2202
    </li>
    <li class="bullet-list__item">
      <a href="http://www.asbestos-victims-support.org/" class="link link--inline" target="_blank"><span class="link__text">Greater Manchester Asbestos Victims Support Group (GMAVSG)</span></a>: 0161 636 7555
    </li>
    <li class="bullet-list__item">
      <a href="https://www.hasag.co.uk/" class="link link--inline" target="_blank"><span class="link__text">Hampshire Asbestos Support Awareness Group (HASAG)</span></a>: 02380 010 015
    </li>
    <li class="bullet-list__item">
      <a href="https://mavsg.org/" class="link link--inline" target="_blank"><span class="link__text">Merseyside Asbestos Victims Support Group (MAVSG)</span></a>: 0151 236 1895
    </li>
    <li class="bullet-list__item">
      <a href="http://www.readley.co.uk/" class="link link--inline" target="_blank"><span class="link__text">Readley Asbestos Support Awareness Group</span></a>: 07929 391529
    </li>
    <li class="bullet-list__item">
      <a href="http://saragasbestossupport.org/" class="link link--inline" target="_blank"><span class="link__text">South Yorkshire Asbestos Victim Support Group (SARAG)</span></a>: 01709 360 672
    </li>
    <li class="bullet-list__item">
      <a href="https://www.swasag.co.uk/about/" class="link link--inline" target="_blank"><span class="link__text">South West Asbestos Support and Awareness Group (SWASAG)</span></a>: 07446 255524
    </li>
    <li class="bullet-list__item">
      <a href="http://www.asbestosforum.org.uk/" class="link link--inline" target="_blank"><span class="link__text">Asbestos Victims Support Forum UK</span></a> (AVSGF-UK): 0161 636 7555
    </li>
    <li class="bullet-list__item">
      <a href="https://www.blf.org.uk/" class="link link--inline" target="_blank"><span class="link__text">British Lung Foundation</span></a>: 03000 030 555
    </li>
    <li class="bullet-list__item">
      <a href="https://www.cancerresearchuk.org/about-cancer/mesothelioma" class="link link--inline" target="_blank"><span class="link__text">Cancer Research UK for mesothelioma</span></a>: 0808 800 4040
    </li>
    <li class="bullet-list__item">
      <a href="https://www.mesothelioma.uk.com/" class="link link--inline" target="_blank"><span class="link__text">Mesothelioma UK</span></a>: 0800 169 2409
    </li>
  </ul>
  <p class="text">The support these organisations and charities provide is invaluable. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How does mesothelioma affect your life?</h2>
  <p class="text">Any diagnosis of cancer is distressing, for sufferers and their families. It can be a time of great fear and uncertainty. However, advice on living life to the fullest after a diagnosis is available from a number of organisations, including <a href="https://www.mesothelioma.uk.com/" class="link link--inline" target="_blank"><span class="link__text">Mesothelioma UK</span></a><span class="text--bold">.</span></p>
  <p class="text">In addition to specialist help and support, you may need financial help to protect you and your family for the future. For that reason, you may wish to speak to a specialist solicitor to discuss the possibility of making a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Other financial support for mesothelioma sufferers</h2>
  <p class="text">There are a number of benefits and one-off payments available for those diagnosed with mesothelioma. Visit our <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/benefits" class="link link--inline"><span class="link__text">benefits and payments</span></a> page which contains details of all the benefits and payments you may be entitled to if you've been diagnosed with an asbestos related illness. </p>
  <p class="text">Of course, you may also be able to claim compensation from the negligent party for your or your loved one's pain and suffering. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I stop smoking after a mesothelioma diagnosis?</h2>
  <p class="text">One of the most distressing aspects of mesothelioma is that sufferers feel breathless for much of the time. This situation can be made worse if you are a smoker; and being diagnosed with mesothelioma doesn't necessarily make it any easier to quit smoking. That's why the <a href="https://www.nhs.uk/live-well/quit-smoking/nhs-stop-smoking-services-help-you-quit/" class="link link--inline" target="_blank"><span class="link__text">NHS</span></a> provides an enormous amount of support to help mesothelioma sufferers to give up smoking as soon as possible. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">More information</h2>
  <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>
