<div class="inner-block">
  <p class="text">Slater and Gordon is one of Britain's leading personal injury claim firms offering a complete holistic service throughout the claims process and beyond from Court of Protection and benefits advice to independent financial planning. Call us on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your injury</span></a> so we can get back to you.</p>
</div>
