<div class="inner-block">
  <p class="text">These claims for compensation have to be pursued through a trust called the <a href="https://tandnasbestos.org.uk/" class="link link--inline" target="_blank"><span class="link__text">T & N UK Asbestos Trust</span></a> which is administered by the T & N Asbestos Trustee Company Limited. You can't pursue a Turner and Newall company through the courts. </p>
  <p class="text">It's also possible to bring a claim against the T & N UK Asbestos Trust if you were not an employee, but rather you were exposed to asbestos in another way, for example from exposure in the atmosphere, exposure from washing an employee's overalls, or exposure from the use of products manufactured by one of the Turner and Newall companies. </p>
  <p class="text">There are a number of different companies that fall within the remit of the T & N UK Asbestos Trust, some of which are:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Turner Brothers Asbestos (TBA)
    </li>
    <li class="bullet-list__item">
      Turners Asbestos Cement (TAC)
    </li>
    <li class="bullet-list__item">
      J W Roberts 
    </li>
    <li class="bullet-list__item">
      Ferodo
    </li>
  </ul>
  <p class="text">If you're unsure whether your employer was a Turner and Newall company, please contact one of our specialist asbestos lawyers on {{{meta.phonenumber.contentLink}}} who can discuss this with you in more detail. </p>
  <p class="text">When making a claim for compensation under the Trust, your lawyer will advise you whether your claim should be submitted for expedited review or individual review. This decision will be based upon the likely value of your claim. </p>
  <p class="text">Expedited review consists of a standard tariff valuation whereas individual review is suitable for claims in excess of the standard tariff valuation. The value of your claim will depend on a number of different factors which will be discussed with you, including:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      The company you worked for
    </li>
    <li class="bullet-list__item">
      The time you worked for that company
    </li>
    <li class="bullet-list__item">
      <a href="" class="link link--inline" target="_blank"><span class="link__text"></span></a>The asbestos related condition you have been diagnosed with, whether that be mesothelioma, asbestos related lung cancer, asbestosis or pleural thickening.
    </li>
  </ul>
  <p class="text">Sufferers of asbestos related diseases contracted through employment with a Turner and Newall company will unfortunately not receive the full value of their compensation. This is because the T & N UK Asbestos Trust only pays a dividend of the compensation due to a sufferer. Your specialist asbestos lawyer will be able to discuss this with you in more detail. </p>
  <p class="text">It's important to note that Slater and Gordon do not deduct any money for their fees from acting on behalf of sufferers of asbestos related diseases, so you'll therefore keep 100% of any compensation awarded to you by the T & N UK Asbestos Trust. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">More information</h2>
  <p class="text">For more information or to speak to someone about making a claim for compensation for an asbestos related disease, call our asbestos experts on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a>. We offer No Win No Fee agreements to all clients who have been diagnosed with an asbestos related disease and will not charge any additional fees meaning you'll get to keep 100% of your compensation. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do you have more questions on asbestos and mesothelioma claims? Read our expert guides below for more information.</h2>
</div>
