<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for injuries in the USA from the UK?</h2>
  <p class="text">While the USA is a wonderful country, we have acted for a great many clients who have been injured while on business or holiday there. So we have the experience and the contacts to pursue compensation claims in the United States, for all of these eventualities and more:</p>
  <p class="text"><a href="/personal-injury-claim/road-traffic-accidents/" class="link link--inline"><span class="link__text">Road traffic accidents</span></a><span class="text--bold">:</span> where another driver's negligence or a poor road surface was to blame</p>
  <p class="text"><a href="/personal-injury-claim/holiday-accident-claims/hotel-resort/" class="link link--inline"><span class="link__text">Holiday accidents</span></a>: including poolside slips, hotel trips and even theme park ride failures caused by poor maintenance</p>
  <p class="text"><a href="/personal-injury-claim/accident-at-work-compensation/" class="link link--inline"><span class="link__text">Accidents at work</span></a><span class="text--bold">:</span> if you work in the US, your employer has a duty of care to protect you from injury</p>
  <p class="text"><a href="/personal-injury-claim/holiday-accident-claims/winter-skiing/" class="link link--inline"><span class="link__text">Skiing and other sports injuries</span></a><span class="text--bold">:</span> where the venue or another user's negligence has caused an injury</p>
  <p class="text"><span class="text--bold">Assaults and terrorism:</span> where you have been assaulted or caught up in a terrorist incident</p>
  <p class="text"><span class="text--bold">Legionnaires</span>' <span class="text--bold">disease</span>: or indeed<span class="text--bold"> </span>any other illness that has been caused by negligence</p>
  <p class="text">However, the USA is a big country, and there are many more circumstances than we've listed here that could cause injury whilst in the USA. So talk to us about starting a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a> for any injury that you or a family member has suffered while travelling in the USA.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long have I got to make a claim?</h2>
  <p class="text">While UK law allows you up to three years in which to start a compensation claim for an injury that arose from negligence or a deliberate act, the time limits vary greatly from State to State in the USA. So if you've been injured in the USA and wish to make a No Win No Fee compensation claim from the UK, it's advisable to begin your claim as soon as possible. </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much will my claim be worth?</h2>
    <p class="text">It's very difficult to estimate how much compensation you're likely to receive for your injury until we know the circumstances. The amount of compensation you are likely to receive depends on the extent of your injuries as well as the applicable laws in whichever US State the incident occurred. However, in addition to damages for pain and suffering, you may also be able to claim for any loss of earnings as well as for the cost of any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">medical treatment or rehabilitation</span></a><span class="text--bold"> </span>that may be required.</p>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">How long does a compensation claim take?</h2>
    <p class="text">That all depends on <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">how serious your injuries are</span></a> as well as whether a negligent party in the US accepts they were to blame. However, we always aim to pursue justice for our clients as efficiently as possible, and will also seek to claim interim payments where your injury might cause you financial hardship, or where you need to begin rehabilitation as soon as possible.</p>
</div>
