<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading vibration injury compensation specialists, with an impressive record of success in cases involving Hand-Arm Vibration Syndrome, Vibration White Finger, Whole Body Vibration and Carpal Tunnel Syndrome. Contact us right away on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to a legal expert and start your claim.</p>
</div>
