<div class="inner-block">
  <h2 class="text text--heading text--large">What is Hand-Arm Vibration Syndrome (HAVS)?</h2>
  <p class="text">Hand-Arm Vibration Syndrome (HAVS) is a term used for a range of vibration-related injuries that include Vibration White Finger (VWF), Whole Body Vibration (WBV) and Dupuytrens Contracture. Like Carpal Tunnel Syndrome (CTS), these serious industrial diseases affect the hands, wrists, arms or fingers. They're caused by prolonged exposure to handheld vibration tools ranging from power drills to chain saws.</p>
  <p class="text">Most of this equipment is relatively safe when used for short periods, but research shows that using power tools for more than a few hours each day can cause vibration injuries. In fact, the <a href="http://www.hse.gov.uk/vibration/hav/yourhands.htm" class="link link--inline" target="_blank"><span class="link__text">HSE says that using some hammer tools</span></a> for as little as 15 minutes a day can cause a vibration injury.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of HAVS and Vibration White Finger?</h2>
  <p class="text">Both Hand-Arm Vibration Syndrome (HAVS) and Vibration White Finger (VWF) occur when intense vibration causes damage to the nerves, blood vessels and tendons of the hand or arm. The first symptoms most people are aware of include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Tingling and numbness of the fingers 
    </li>
    <li class="bullet-list__item">
      Lost sense of touch in the fingers
    </li>
    <li class="bullet-list__item">
      Loss of strength in your hands 
    </li>
    <li class="bullet-list__item">
      Fingers going white in the cold, then angry red as they heat up again
    </li>
  </ul>
  <p class="text">The symptoms of Carpal Tunnel Syndrome are broadly similar, through this can be caused by <a href="/personal-injury-claim/industrial-disease/repetitive-strain-injury/" class="link link--inline"><span class="link__text">repetitive twisting of the wrist</span></a>, as well as by vibration alone. All of these conditions are serious and give rise to a compensation claim in the event that they're caused by a negligent employer.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Does my employer have a duty of care to prevent HAVS?</h2>
  <p class="text">The law says that every employer has a duty of care to protect employees from suffering harm in the workplace. Where your employer has failed to limit the time you spent using vibrating plant or tools, they could be said to have failed in their duty of care. <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">Read more on the health and safety regulations</span></a> designed to keep you safe in the workplace.</p>
  <a href="/contact-us/" class="button button--secondary">Talk to one of our legal experts</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Do I need a specialist HAVS injury lawyer?</h2>
    <p class="text">Vibration injury claims are quite a specialised area of the law, and it makes sense to deal with solicitors who have extensive experience and a track record of successful claims. Slater and Gordon employs specialist lawyers in every area of <a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">industrial disease compensation claims</span></a>. Just as importantly, we understand the impact that a diagnosis of HAVS can have on victims and their families, and aim to be as considerate and supportive as possible throughout the claims process. </p>
</div>
