<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading contaminated water claims firms, and here to help you receive the compensation you deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to talk to one of our legal experts.</p>
</div>
