<div class="inner-block">
  <h2 class="text text--heading text--large">What is water contamination?</h2>
  <p class="text">The most common cause of water contamination is Cryptosporidium. This bacteria is found in faeces, and then passed on, due to poor hand washing regimes, either in drinking water or through water used to wash food. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms?</h2>
  <p class="text">If you have become ill with a <a href="/personal-injury-claim/illness/food-poisoning/" class="link link--inline"><span class="link__text">Cryptosporidium infection</span></a>, you will often experience a range of symptoms, including:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Diarrhoea
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Stomach cramps 
    </li>
    <li class="bullet-list__item">
      Nausea
    </li>
    <li class="bullet-list__item">
      Vomiting
    </li>
    <li class="bullet-list__item">
      Fever
    </li>
    <li class="bullet-list__item">
      Weight loss
    </li>
  </ul>
  <p class="text">If your doctor takes a stool sample during your illness, they should be able to confirm the presence of Cryptosporidium.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Who is responsible if I become infected?</h2>
  <p class="text">Obviously, it can be hard to prove that a specific glass of water you drank, or food that was washed in contaminated water, caused your illness. However, if you have the receipt for drinks or a meal at the establishment you believe was responsible for the water contamination, we may be able to prove a link, owing to the incubation period of the illness and the proof of your presence at the scene of the infection.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">When do waterborne contaminations occur?</h2>
  <p class="text">These variety of illnesses are usually caused by microorganisms inside the water. The most common causes are:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Untreated sewage entering the water source
    </li>
    <li class="bullet-list__item">
      Animal excrement
    </li>
    <li class="bullet-list__item">
      Poor water filtration and treatment
    </li>
    <li class="bullet-list__item">
      Contamination from old or leaky pipes
    </li>
  </ul>
  <p class="text">In some instances even chemical poisoning from a nearby factory entering the water can also be a cause for illness. </p>
</div>
