<div class="inner-block">
  <h2 class="text text--heading text--large">Serious injury claims</h2>
  <p class="text">Suffering a serious injury can affect your ability to work and support your family. So in addition to claiming compensation, you need to know about all of the welfare benefits you may be entitled to.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Balancing injury compensation and benefits</h2>
  <p class="text">If you've suffered a serious injury due to someone else's negligence, it can have a massive impact on your ability to work, and therefore your long-term financial security. Ultimately, you may be entitled to receive a compensation payment that will stabilise your finances, but you also need to know which welfare benefits you may be entitled to: before and after any compensation payment is received. In addition to offering <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee agreements</span></a> to our clients whenever possible, we're here to help you understand your rights and obligations when it comes to claiming benefits.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What benefits could I claim after an injury?</h2>
  <p class="text">State benefits are sometimes called allowances, pensions, tax credits or entitlements. They're intended to alleviate poverty by providing basic income or 'topping up'  a low income and can be divided into three broad categories: </p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Those intended to replace earnings if you're unable to work due to sickness, disability, unemployment, pregnancy or caring responsibilities
    </li>
    <li class="bullet-list__item">
      Those that compensate for costs - contribute towards the additional costs of disability
    </li>
    <li class="bullet-list__item">
      Those that help alleviate poverty - provide a basic income or top up a low income
    </li>
  </ul>
  <p class="text">There are many benefits which you can claim for when you've suffered an injury, but what you're entitled to depends on your individual circumstances. </p>
  <p class="text">The most common benefits which are claimed when someone has suffered a serious injury are: </p>
  <p class="text"><span class="text--bold">Industrial Injuries Disablement Benefit (IIDB) </span></p>
  <p class="text">This is a benefit available for people who've had an accident at work or suffered an illness as a result of their working environment. </p>
  <p class="text"><span class="text--bold">Employment and Support Allowance (ESA)</span></p>
  <p class="text">ESA is an income replacement benefit to assist people with their living costs if they're too unwell or disabled to work full time. </p>
  <p class="text">. </p>
  <p class="text"><span class="text--bold">Disability Living Allowance (DLA)</span></p>
  <p class="text">This is a benefit available for children aged 15 years or younger who need assistance with their care or their mobility.</p>
  <p class="text"><span class="text--bold">Personal Independence Payment (PIP)</span></p>
  <p class="text">Like DLA, this is a benefit for people who need assistance with their care or mobility but this is for people who are aged 16 to 64. </p>
  <p class="text"><span class="text--bold">Attendance Allowance (AA)</span></p>
  <p class="text">Attendance Allowance is a tax free benefit for people aged 65 and older who need help with personal care or require supervision to remain safe, either due to physical or mental disability or illness. </p>
  <p class="text"><span class="text--bold">Universal Credit (UC)</span></p>
  <p class="text">This is a benefit for people of working age who are on a low income or who are looking for work, are a lone parent, if you care for someone or if you're unable to work due to sickness or a disability.</p>
  <p class="text">These are just a few benefits that you may be entitled to. There are many types of benefits, some of which can be claimed at the same time as others and it's important to know exactly what you're entitled to. That's why it's essential to deal with a legal firm that understands not just how to claim rightful compensation, but also how to advise you on your rights and responsibilities with regard to your benefits entitlements, and how to manage compensation funds sensibly. </p>
  <a href="/contact-us/" class="button button--secondary">Talk to an expert today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">What's the difference between means-tested and non means-tested benefits?</h2>
    <p class="text">Means-tested benefits are payments which are available for people who can demonstrate that their income and capital (i.e. their means) are below specified limits. Non means-tested benefits are payments that don't take into account a person's income and capital. </p>
    <p class="text">Most of the previous means-tested benefits have now been replaced by Universal Credit. Non means-tested benefits include: </p>
    <p class="text">Non means-tested benefits include:</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        Disability Living Allowance (DLA)
      </li>
      <li class="bullet-list__item">
        Attendance Allowance 
      </li>
      <li class="bullet-list__item">
        Carer's Allowance 
      </li>
      <li class="bullet-list__item">
        Personal Independence Payment 
      </li>
      <li class="bullet-list__item">
        State Pension 
      </li>
      <li class="bullet-list__item">
        Industrial Injuries Disablement Benefit (IIDB)
      </li>
      <li class="bullet-list__item">
        Statutory Sick Pay
      </li>
      <li class="bullet-list__item">
        Contributory Employment and Support Allowance 
      </li>
      <li class="bullet-list__item">
        Severe Disablement Allowance 
      </li>
      <li class="bullet-list__item">
        Incapacity Benefit 
      </li>
      <li class="bullet-list__item">
        Contribution Based Job Seekers Allowance 
      </li>
      <li class="bullet-list__item">
        Child Benefit
      </li>
      <li class="bullet-list__item">
        Guardian's Allowance 
      </li>
      <li class="bullet-list__item">
        Maternity Allowance/Statutory Maternity / Paternity/ Shared Parental / Adoption Pay
      </li>
      <li class="bullet-list__item">
        Bereavement Allowance 
      </li>
      <li class="bullet-list__item">
        Widowed Parent's Allowance 
      </li>
    </ul>
    <p class="text">However, in addition to speaking to the DWP, it is always worth asking your claims solicitor for advice about which benefits you might be entitled to, and how any existing or future benefits may be affected by a successful injury compensation claim.</p>
    <p class="text">If you've suffered a serious injury through no fault of your own, Slater and Gordon is one of Britain's leading personal injury legal firms, dedicated to helping people access the financial assistance they need for life after serious injury. Call us now on freephone {{{meta.phonenumber.contentLink}}} or<a href="/contact-us/" class="link link--inline"><span class="link__text"> </span></a><a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your injury</span></a> and we will call you.</p>
</div>
