<div class="inner-block">
  <p class="text"> Slater and Gordon is one of Britain's leading car accident legal firms, so we can help you with any legal problems and make sure you receive the compensation you deserve. Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or<a href="/contact-us/" class="link link--inline"><span class="link__text"> tell us about your accident</span></a> and we will call you.</p>
</div>
