<div class="inner-block">
  <h2 class="text text--heading text--large">How we can help</h2>
  <p class="text">Slater and Gordon is one of Britain's leading specialist legal firms for carbon monoxide poisoning, the below advice will help you deal with the immediate dangers of CO poisoning.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What do I do if I suspect carbon monoxide poisoning?</h2>
  <p class="text">Carbon monoxide is completely odourless and colourless, so the first suspicion that it is present may be if you feel unexpectedly drowsy or develop a sudden headache.</p>
  <p class="text">The full list of symptoms to look out for is as follows:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Headaches
    </li>
    <li class="bullet-list__item">
      Unexpected drowsiness
    </li>
    <li class="bullet-list__item">
      Dizziness or confusion
    </li>
    <li class="bullet-list__item">
      Nausea and sickness
    </li>
    <li class="bullet-list__item">
      Tiredness and lethargy
    </li>
    <li class="bullet-list__item">
      Shortness of breath
    </li>
    <li class="bullet-list__item">
      Clumsiness and loss of coordination
    </li>
    <li class="bullet-list__item">
      Abdominal pain
    </li>
    <li class="bullet-list__item">
      Loss of consciousness
    </li>
  </ul>
  <p class="text">As soon as you suspect there is a problem, you should open the windows and/or doors to get fresh air into the room. You should also turn off any items such as gas fires, stoves or boilers that could be creating the gas. If you feel unwell, you may also wish to <a href="https://www.nhs.uk/conditions/carbon-monoxide-poisoning/" class="link link--inline" target="_blank"><span class="link__text">check the NHS advice online</span></a> to help you decide whether your exposure has been low or high.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Are there other signs of a carbon monoxide buildup?</h2>
  <p class="text">If you suspect that you may have a carbon monoxide buildup in your home, but aren't suffering clear physical symptoms, here are a few tell-tale signs that you might want to watch out for:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Yellow flames on gas fires, boilers or hobs: </span>gas flames burn blue when they are mixed with oxygen and are combusting properly. A yellow or orange flame suggests that not all of the gas is being burned properly and carbon monoxide could be being generated
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Dark staining around hobs, ovens and boilers: </span>gas flames that burn cleanly won't leave sooty deposits, whereas they will on poorly serviced and dangerous appliances
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Pilot lights that go out a lot: </span>the pilot light on a properly serviced fire or boiler will be blue, and should rarely, if ever, blow out. If your pilot light needs frequent re-lighting, it could indicate a problem
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Condensation in windows: </span>natural gas<span class="text--bold"> </span>has a high water content, which will show as condensation on windows and other areas if it is not all being burned off on an appliance
    </li>
  </ul>
  <p class="text">You should also bear in mind that coal fires and wood stoves can cause a buildup of carbon monoxide if the room they are in is not adequately ventilated.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How do I reduce the risk of carbon monoxide poisoning?</h2>
  <p class="text">All gas appliances need to be regularly serviced to keep them safe. So whether you are a homeowner or a renter, make sure that a qualified gas engineer services all of your appliances regularly. </p>
  <p class="text">If you are renting, your Landlord is legally obliged to have all gas appliances, pipework, chimneys and flues checked <a href="https://www.gassaferegister.co.uk/help-and-advice/carbon-monoxide-poisoning/" class="link link--inline" target="_blank"><span class="link__text">every 12 months by a </span></a><a href="https://www.gassaferegister.co.uk/help-and-advice/carbon-monoxide-poisoning/" class="link link--inline" target="_blank"><span class="link__text">Gas Safe engineer</span></a>. So your landlord should always be able to show you a CP12 Certificate to prove that this has been done within the last 12 months. Read about your <a href="/personal-injury-claim/illness/carbon-monoxide/landlord-legal-requirements/" class="link link--inline"><span class="link__text">Landlord's other safety obligations </span></a><a href="/personal-injury-claim/illness/carbon-monoxide/landlord-legal-requirements/" class="link link--inline"><span class="link__text">here</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do you have more worries or concerns about carbon monoxide poisoning?</h2>
  <p class="text">Here at Slater and Gordon our legal experts have put together the following guides to make sure that you have all the information you need to stay safe when it comes to carbon monoxide.</p>
</div>
