<div class="inner-block">
  <h2 class="text text--heading text--large">How we can help</h2>
  <p class="text">If you or a loved one have been injured, and it wasn't your fault, you may be able to make a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee compensation claim</span></a>. Here we explain some of the type of things Slater and Gordon could claim on your behalf as part of your personal injury claim.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What sort of damages can I claim for an injury?</h2>
  <p class="text">When you've suffered an injury or illness which was caused by someone else's negligence, you may be entitled to claim compensation, which is otherwise known as 'damages'. </p>
  <p class="text">In the UK, there are two types of damages which are claimed - general damages and special damages. </p>
  <h3 class="text text--heading text--medium">General damages:</h3>
  <p class="text">The first part of a compensation claim is general damages. This award of compensation relates directly to injury and covers any pain and suffering which you have incurred and also any loss of amenity - meaning any affect your injury has had on your quality of life. The amount of general damages claimed will therefore depend on the extent of your pain, suffering and loss of amenity. There are judicial guidelines in place on the amount of general damages which can be claimed, and these together with previous reported cases relating to similar injuries are relied upon when making a claim for general damages. </p>
  <h3 class="text text--heading text--medium">Special Damages:</h3>
  <p class="text">The second part of a compensation claim is special damages. Special damages are broadly designed to help put you back in the financial position that you would have been in, had you not sustained your injury. They are widely referred to as 'out of pocket expenses' and cover not only expenses that you have already incurred as a result of your injury, but also any expense you may have in the future. These can include:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Loss of earnings - this includes not only any lost earnings you have already incurred but if you're unable to return to work as a result of your injuries, future loss of earnings can also be claimed
    </li>
    <li class="bullet-list__item">
      Treatment, rehabilitation and care costs - this will cover any treatment, rehabilitation and care costs you have already incurred and also any you may need in the future, whether on a temporary basis or for the rest of your life 
    </li>
    <li class="bullet-list__item">
      Aids, equipment and adaptations - this covers aids and equipment which may be necessary both now and in the future. It also covers any necessary <a href="/personal-injury-claim/serious/house-adaptations/" class="link link--inline"><span class="link__text">adaptations you may require to your house</span></a>, for example, having doors widened for wheelchair use, etc. and in some cases where adaptations are not possible in a property, it can also cover the cost of a new home 
    </li>
    <li class="bullet-list__item">
      Loss of property - this covers any loss of property which has incurred as a result of an accident, for example, damaged clothing caused in a road traffic accident. 
    </li>
    <li class="bullet-list__item">
      Travel expenses - this covers any additional travelling expenses which have been incurred as a direct result of the incident. For example, if you have had to get taxis to various medical appointments 
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">When do you receive your compensation?</h2>
  <p class="text">Once your general damages and special damages have been agreed between the parties involved, you will receive your final settlement payment. In some cases, where the other side has accepted responsibility for your injuries, you may be entitled to interim payments. These are payments made prior to final settlement being reached and can help with any ongoing expenses you may have. </p>
  <p class="text">In some cases where there are future costs, such as care costs, payments known as periodical payments may also be awarded as part of the overall settlement of damages. These are regular payments which are paid over a long period, in some cases for a lifetime, to ensure that all future needs are financial secure. </p>
  <p class="text">However, every injury compensation claim is different, so to fully understand what sort of damages you might be entitled to claim, talk to one of our expert claims solicitors</p>
  <a href="/contact-us/" class="button button--secondary">Contact us today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">How much is my serious injury claim worth?</h2>
    <p class="text">Every injury claim is different, with the final figure for compensation <a href="/personal-injury-claim/serious/" class="link link--inline"><span class="link__text">dependent upon the severity of the injury</span></a> and the possible extent of recovery, as this will affect both general and special damages. However, our expertise is not just in winning compensation for our clients, it is understanding the need for rehabilitation and the support that you and your family need. That's why we take most injury cases on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>, and why obtaining interim payments to help you avoid hardship is often a key part of our approach.</p>
</div>
