<div class="inner-block">
  <h2 class="text text--heading text--large">Staying safe and legal after an accident</h2>
  <p class="text">While this article is intended as a brief guide of what to do straight after a motor collision in the UK, the rules are broadly similar abroad. You can find more guidance about <a href="/personal-injury-claim/road-traffic-accidents/a-guide-to-road-safety-abroad/" class="link link--inline"><span class="link__text">driving safely in the EU here</span></a>.</p>
  <p class="text">The most important thing to remember is that you should always, always stop after any traffic collision, however minor it might feel from the driver's seat. That's because the law regards 'failing to stop' and 'failing to report' road traffic accidents very serious. In fact, if you are found guilty of doing either, the punishments include hefty fines, disqualification and even imprisonment.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Make sure you stop, and stay as long as necessary</h2>
  <p class="text">Immediately after even the most minor road traffic accident involving any other vehicle, person or object, and even if your vehicle has not collided with anything, but been <span class="text--bold">in any way related</span> to an incident:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">You must stop completely </span>where safe and get out of your vehicle to make sure that no damage or injuries have been caused. Stopping briefly then driving away without assessing the result of the incident and offering other people the opportunity to exchange details is still regarded as 'failure to stop' in the eyes of the law
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">If you can confirm that there is no damage</span> to any other vehicle or property and no injuries to any other person, and that others involved in the accident - including witnesses - agree with this assessment, you are free to go
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Make sure you exchange details if required</h2>
  <p class="text">While minor incidents, such as clipping wing mirrors, may not result in damage or injury, most collisions do unfortunately lead to vehicle or property damage. Where this is the case you must:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Stop and remain at the scene for as long as necessary
    </li>
    <li class="bullet-list__item">
      Give your name, address, vehicle and insurance details to anyone with an obvious right to ask for them. This includes the drivers of other vehicles involved, the owners of any property damaged, and any interested witnesses where there is not another driver or property owner at the scene to give your details
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">When you need to report an accident to the police</h2>
  <p class="text">Where no injuries have occurred - to people or animals - and you have exchanged details with other drivers or property owners with regard to any damage caused, you are free to go on your way as long as your vehicle is in a safe condition to do so.</p>
  <p class="text">If serious injuries have been sustained at the scene, you should call the emergency services on 999 immediately.</p>
  <p class="text"><span class="text--bold">However, if even minor injuries have been sustained - to people or animals - you must also report the accident to a police officer, or at a police station within 24 hours.</span> You should also produce your certificate of insurance at this point, or at the very least within seven days of the incident.</p>
  <p class="text">Failure to do so is a very serious offence, and saying that another party to the accident offered to report it is not a valid excuse. Every party involved in a car accident involving injuries must report it to the police.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Reporting accidents to your insurers</h2>
  <p class="text">As we discuss in our article on driving safely in the EU, it is important to follow a few simple guidelines in the immediate aftermath of any accident involving damage or injury:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Get everyone to safety: </span>unless anyone is seriously injured, it's best to get everyone out of vehicles, away from other traffic, and ideally onto a pavement or behind a solid barrier
    </li>
  </ul>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      <span class="text--bold">Don't admit liability: </span>even if you believe the accident may have been your fault, or partly your fault, you must not apologise or admit liability, as this can affect your legal and insurance position
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Take photographs: </span>these should show the position of all vehicles, including your own and any parked cars that may have been a factor in causing the accident
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Get witness details: </span>make sure you get the name and address of any witnesses to pass to your insurers and if necessary, the police
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Exchange driver details: </span>these should include the name, registration number, mobile number, address and insurer of every driver involved in the accident
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Write down the events: </span>it's good to record your version of events while they are still fresh in your memory
    </li>
    <li class="bullet-list__item">
      <span class="text--bold">Report the incident to your insurers:</span> and start your claim as soon as possible, complete with all of the details gathered at the scene
    </li>
  </ul>
  <p class="text">In this event, your insurer may make you an early offer of compensation for any injuries, but bear in mind that you are <a href="/personal-injury-claim/road-traffic-accidents/insurance-offering/" class="link link--inline"><span class="link__text">free to take impartial legal advice before you accept</span></a>. The majority of Slater and Gordon clients claim compensation on a<a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text"> No Win No Fee basis</span></a>, so there is no financial risk in doing so.</p>
  <p class="text">Call Slater and Gordon on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">tell us about your accident</span></a> and we will call you.</p>
</div>
