<div class="inner-block">
  <h2 class="text text--heading text--large">What is a whiplash injury?</h2>
  <p class="text">The word 'whiplash' is very accurate. It describes the movement of the neck, when a sudden jolt or impact stretches ligaments and muscles far beyond the limits they can handle. Think of how a whip moves suddenly forwards and backwards when it is 'lashed' and then imagine that happening to your neck.</p>
  <p class="text">Usually occurring when a vehicle you are travelling in is hit from behind - or comes to a very abrupt halt - whiplash injuries can also be caused by a fall or a blow to the head. While many people don't regard 'whiplash' as a serious injury, the fact is that it can have very serious, distressing and long-term effects. </p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the symptoms of whiplash?</h2>
  <p class="text">The first symptoms usually appear a few hours after a car crash or fall, and may begin with a headache, and feelings of stiffness and even a burning sensation in the rear of the neck. These symptoms may prevent you from turning your head from side to side, and may even spread to your arms and shoulders. In any event, it is worth talking to us about whiplash compensation.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Do I need to see a doctor about whiplash?</h2>
  <p class="text">Whiplash symptoms develop over the first few hours and may continue to get worse for some days after an accident. If, at any time you are worried, the whiplash page on the <a href="https://www.nhs.uk/conditions/whiplash/" class="link link--inline" target="_blank"><span class="link__text">NHS website</span></a> is a very useful place to start. You should then call your GP or go to A&E if you become concerned about your own or someone else's whiplash injury.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What is my whiplash injury claim worth?</h2>
  <p class="text">There is no hard and fast rule for what a whiplash compensation claim may be worth. It depends on the severity of the injury, and also how long it is likely to take to settle down. In most cases, you will be referred to a specialist to assess your whiplash injury as part of any compensation claim. You may also wish to claim for loss of earnings and the cost of any physiotherapy you may require. So it's essential to take legal advice before accepting any compensation offer from an insurer; and since most of our whiplash claims are on a <a href="/personal-injury-claim/no-win-no-fee-claims/" class="link link--inline"><span class="link__text">No Win No Fee basis</span></a>, there's no financial risk in doing so.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long have I got to make a whiplash claim?</h2>
  <p class="text">As with most accidents, the law allows you up to three years to start your claim. This is particularly useful in the case of whiplash injuries, as symptoms such as neck stiffness and headaches may not surface for some time after the original injury. However, you may have longer if you are claiming for a child or someone with a mental impairment. The time limits can vary if you are claiming through the <a href="/personal-injury-claim/sexual-criminal-abuse/abuse-criminal-injury/cica-faq/" class="link link--inline"><span class="link__text">Criminal Injuries Compensation Authority</span></a>.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long does whiplash compensation take?</h2>
  <p class="text">With very serious whiplash injuries, it is necessary to see a medical specialist so they can assess how long it will take for the symptoms to stop; or to decide if permanent damage has been done. However, with most compensation claims that are expected to be less than £25,000, we handle every No Win No Fee whiplash claim through our <a href="/personal-injury-claim/road-traffic-accidents/fast-track/" class="link link--inline"><span class="link__text">fast track team</span></a> to get our clients the compensation they deserve as soon as possible. </p>
  <a href="/contact-us/" class="button button--secondary">Start your claim today</a>
</div>