<div class="inner-block">
  <h2 class="text text--heading text--large">Can I claim for a skiing injury?</h2>
  <p class="text">We've helped a wide variety of clients to claim compensation after a skiing or winter holiday accident that was not their fault. Our clients have successfully claimed for everything from serious head and spinal injuries to broken bones resulting from snowboarding injuries. Below are some of the most common examples of accidents that may lead to a claim:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Dangerous skiing or snowboarding practices by others
    </li>
    <li class="bullet-list__item">
      Unkept or poorly maintained skiing equipment
    </li>
    <li class="bullet-list__item">
      Poor quality instructions from a ski instructor 
    </li>
    <li class="bullet-list__item">
      Dangerous signposting or misplacement of equipment on piste
    </li>
    <li class="bullet-list__item">
      Faulty ski lifts
    </li>
  </ul>
  <p class="text">Whatever caused your accident, if it was caused by the negligence of another, Slater and Gordon can help you claim the compensation you deserve.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">Skiing Injury Accident Facts</h2>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Fatigue is one of the most common factors that leads to skiing accidents 
    </li>
    <li class="bullet-list__item">
      The majority of ski injuries are the result of an isolated fall. Most of these are because of user error, loss of control, travelling too fast for the conditions, etc.
    </li>
    <li class="bullet-list__item">
      10% of ski accidents arise from a collision 
    </li>
    <li class="bullet-list__item">
      5% are ski lift related
    </li>
    <li class="bullet-list__item">
      5% of ski accidents are a result of equipment failure (e.g. binding releasing inadvertently)
    </li>
    <li class="bullet-list__item">
      25% of ski accidents are caused by collision with a tree, pylon or other people. Of these 60-70% require hospital admission
    </li>
    <li class="bullet-list__item">
      Skiing off-piste is one of the most surefire ways to end up in danger. If in doubt never ski or snowboard away from marked ski runs.
    </li>
  </ul>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How long do I have to claim?</h2>
  <p class="text">UK law generally states that you have three years from the date of an accident to make a claim for compensation. However, the laws in different countries vary, so the sooner you get in touch with one of our expert solicitors, the better.</p>
  <a href="/contact-us/" class="button button--secondary">Get in touch today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Does it matter if my accident happened abroad?</h2>
    <p class="text">Whilst it can sometimes be more complicated to claim for an accident that happened abroad, there are a wide variety of cross country treaties that ensure it is as easy and painless as possible to make a claim for compensation. Slater and Gordon has a wealth of expertise and experience in helping our clients claim for compensation globally.</p>
    <ul class="bullet-list">
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/holiday-accident-claims/europe/" class="link link--inline"><span class="link__text">Read more on claiming in the US</span></a>
      </li>
      <li class="bullet-list__item">
        <a href="/personal-injury-claim/holiday-accident-claims/europe/" class="link link--inline"><span class="link__text">Read more on claiming in Europe</span></a>
      </li>
    </ul>
</div>

<div class="inner-block">
    <h2 class="text text--heading text--large">What is my claim worth?</h2>
    <p class="text">The amount a claim is worth differs based on multiple factors such as the severity of the injury sustained, if any <a href="/personal-injury-claim/serious/rehabilitation/" class="link link--inline"><span class="link__text">rehabilitation or medical treatment</span></a> is needed and whether or not any other claims can be made for loss of earnings for example. <a href="/personal-injury-claim/what-can-i-claim-for/" class="link link--inline"><span class="link__text">Read more on what you can claim for here</span></a>.</p>
</div>
