<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading consumer law firms, with a wealth of overseas expertise that makes us the natural choice when you wish to claim compensation for winter holiday and skiing injury claims. Talk to us now on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to speak to one of our legal experts.</p>
</div>
