<div class="inner-block">
  <p class="text"> Slater and Gordon is one of the UK's leading occupational cancer compensation specialists, offering in-depth knowledge of the disease and No Win No Fee agreements. Talk to us right away on freephone {{{meta.phonenumber.contentLink}}} or <a href="/contact-us/" class="link link--inline"><span class="link__text">contact us online</span></a> to tell us about your illness and we will call you.</p>
</div>
