<div class="inner-block">
  <h2 class="text text--heading text--large">What is occupational cancer?</h2>
  <p class="text">Occupational cancer is the term used to describe any cancer that has been caused by carcinogens in the workplace. <a href="/personal-injury-claim/industrial-disease/asbestos-mesothelioma/" class="link link--inline"><span class="link__text">Asbestos is one of the prime carcinogens</span></a> responsible for occupational cancer diagnoses, but there are many others. Naturally, your lifestyle or genetic makeup can affect your chances of developing cancer, but all of these carcinogens are also recognised to cause work-related cancers:</p>
  <ul class="bullet-list">
    <li class="bullet-list__item">
      Arsenic
    </li>
    <li class="bullet-list__item">
      Asbestos
    </li>
    <li class="bullet-list__item">
      Benzidine
    </li>
    <li class="bullet-list__item">
      Cadmium
    </li>
    <li class="bullet-list__item">
      Formaldehyde
    </li>
    <li class="bullet-list__item">
      Leather Dust
    </li>
    <li class="bullet-list__item">
      Rubber production
    </li>
    <li class="bullet-list__item">
      Trichloroethylene
    </li>
    <li class="bullet-list__item">
      UV Radiation
    </li>
    <li class="bullet-list__item">
      Vinyl Chloride
    </li>
    <li class="bullet-list__item">
      Wood Dust
    </li>
  </ul>
  <p class="text">So if a current or previous employer has negligently exposed you to any of these carcinogens - or another that's specific to your industry - we may be able to claim compensation on your behalf.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">What are the most common occupational cancers?</h2>
  <p class="text"><span class="text--bold"></span>It's important to understand that 'cancer' isn't a single disease. It develops when cells in the body grow in an abnormal  and uncontrolled manner. One of the reasons that the cause of an occupational cancer can be proven is that certain carcinogens lead to specific cancers. A few examples of these are:<span class="text--bold"></span></p>
  <p class="text"><span class="text--bold">Lung Cancer:</span> commonly caused by exposure to asbestos, but also by carcinogenic chemicals such as cadmium </p>
  <p class="text"><span class="text--bold">Bladder Cancer:</span> sometimes caused by exposure to benzidine as well as other aromatic amines used in dyes and pigments</p>
  <p class="text"><span class="text--bold">Throat/Laryngeal Cancer:</span> linked with exposure to acid mists</p>
  <p class="text"><span class="text--bold">Nasal/sinus Cancer</span>: often associated with exposure to leather and wood dust</p>
  <p class="text"><span class="text--bold">Liver Cancer:</span> exposure to vinyl chloride used to make PVC</p>
  <p class="text"><span class="text--bold">Skin Cancer:</span> associated with exposure to mineral oils and coal-tar distillation</p>
  <p class="text">If you've been diagnosed with cancer and believe it may have been caused by exposure to carcinogens in the workplace, talk to a specialist solicitor today.<span class="text--bold"></span></p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How common is occupational cancer?</h2>
  <p class="text">According to <a href="https://www.iosh.co.uk/books-and-resources/our-oh-toolkit/occupational-cancer.aspx" class="link link--inline" target="_blank"><span class="link__text">figures from the Institution </span></a><a href="https://www.iosh.co.uk/books-and-resources/our-oh-toolkit/occupational-cancer.aspx" class="link link--inline" target="_blank"><span class="link__text">of Occupational Safety and Health (IOSH)</span></a>, 5% of UK cancer deaths  - around 8,000 every year - are caused by exposure to carcinogens in the workplace. This means that 40 times more deaths are attributable to occupational cancer than to accidents in the workplace. If you believe that you or a loved one has developed cancer due to employer negligence in allowing exposure to carcinogens, you may be entitled to claim compensation to assist with medical bills, loss of earnings and other expenses.</p>
</div>

<div class="inner-block">
  <h2 class="text text--heading text--large">How could my employer be responsible?</h2>
  <p class="text">The law says that every employer has a duty of care to protect employees from suffering harm in the workplace. Where your employer failed to protect you from exposure to carcinogens, they could be said to have failed in their duty of care. <a href="/personal-injury-claim/accident-at-work-compensation/big-six-health-safety-regulations/" class="link link--inline"><span class="link__text">Read more on the health and safety regulations</span></a> designed to keep you safe in the workplace and talk to a specialist solicitor to find out if your employer  - past or present - failed in their duty of care.</p>
  <a href="/contact-us/" class="button button--secondary">Contact a legal expert today</a>
</div><div class="inner-block">
    <h2 class="text text--heading text--large">Do I need a specialist occupational cancer lawyer?</h2>
    <p class="text">Occupational cancer claims are a very specialised area of the law, particularly as it may be necessary to prove a link to carcinogenic exposure that occurred many years ago. Slater and Gordon employs specialist lawyers who understand all the complexities and difficulties of these <a href="/personal-injury-claim/industrial-disease/" class="link link--inline"><span class="link__text">industrial disease cases</span></a>. Just as importantly, we understand the devastating impact that a diagnosis of occupational cancer can have on those diagnosed and their families, and strive to be as considerate and supportive as possible throughout the claims process and beyond. </p>
</div>
